{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
		    font-size: 16px;
		    font-weight: bold;
		    margin: 20px 0;
		    padding: 10px 18px 0;
        }

		.se-pre-con1 {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
			opacity: 0.4;
			display: none;
		}

		.form-label{
			padding-top: 7px;
		}
		.form-control{
			width: 100%;
		}

    </style>

{% endblock %}

{% block content %}
	
	<script type="text/javascript">

		$(document).ready(function() {
			function fn_fadeIn(){
				var $getParentEle = window.parent.$("#animated")
				$getParentEle.fadeIn("slow");
			}
	    	$("#Save").on("click",function(e){
	    		fn_fadeIn();
	    		url = "/Morakot/ScheduleDefine/Save/{{ ContractID }}?Resource={{ Resource }}&Amendment={{ Amendment }}&AmtID={{ AmtID }}"
	    		document.forms["frm"].action=url;
				document.forms["frm"].submit();

			});

			$("#Edit").on("click",function(e){
				fn_fadeIn();
				{%if Amendment == "No"%}
					window.location.href="/Morakot/LoanContract/Edit/{{ ContractID }}/";
				{%else%}
					window.location.href="/Morakot/LoanAmendment/Edit/{{ AmtID }}/";
				{%endif%}
			});

			$("#New").on("click",function(e){
				fn_fadeIn();
				{%if Amendment == "No"%}
					window.location.href="/Morakot/LoanContract/New";
				{%else%}
					window.location.href="/Morakot/LoanAmendment/New";
				{%endif%}
			});

			$("#Manual").on("click",function(e){
				fn_fadeIn();
				window.location.href="/Morakot/ScheduleManual/{{ ContractID }}?Amendment={{ Amendment }}&Resource={{ Resource }}&AmtID={{AmtID}}";

			});
			$("#Generate").on("click",function(e){
				fn_fadeIn();
				
			});

		});

    </script>

	<div class="se-pre-con1"></div>

	{% if not Contract %}
		<div class="col-sm-12">
	        {% for message in get_flashed_messages() %}
            	<div class="clearfix">&nbsp;</div>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
	        {% endfor %}
	    </div>
	{% else %}

		<div class="col-sm-12 navbar navbar-default navbar-static-top" style="padding: 10px !important; margin: 0px !important;">
			<div class="form-group" style="margin: 0px !important;">
				<input type="hidden" name="ContractID" id="ContractID" value="{{ ContractID }}">
				<input type="hidden" name="Resource" value="{{ Resource }}">
                <input type="hidden" name="AmtID" id="AmtID" value="{{ AmtID }}">
                <button type="button" class="btn btn-flat btn-labeled btn-success pull-right" id="Manual">
					<span class="btn-label icon fa fa-gear"></span> Manual Schedule
				</button>

                <div style="padding-top: 5px;">

	                <a href="javascript:void(0)" id="New" style="color: #777;">
						<span class="btn-label icon fa fa-file-text-o"></span>&nbsp; New
					</a> &nbsp;&nbsp;&nbsp;

					<a href="javascript:void(0)" id="Save"  style="color: #777;">
					<span class="btn-label icon fa fa-floppy-o"></span> Save
					</a> &nbsp;&nbsp;&nbsp;

					<a href="javascript:void(0)" id="Edit" style="color: #777;">
						<span class="btn-label icon fa fa-pencil-square-o"></span>&nbsp; Edit
					</a> &nbsp;&nbsp;&nbsp;

                </div>
                
			</div>
		</div>

		<div class="clearfix">&nbsp;</div>
		{% include 'msg_error.html' %}
		{% if ListError %}
		<div class="clearfix"></div>
		<div class="col-sm-12" style="padding-top:5px;">

			<div class="alert alert-danger" id="alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<ol>
					{% for message in ListError %}
					<li id="lblTableName">
						<a class="error_pointer" >
							<label for="TableName">
								{{message[0]}} <span style="color:#d38e99;">*	</span>
							</label>
						</a> 

						: {{message[1]}}
					</li>		
					{% endfor %}
				</ol>
				
			</div>
		</div>
		{% endif %}
		
		<div class="col-sm-12">
			<h3 class="header-3 text-center">Schedule Define for {{ ContractID }}</h3>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-8 form-horizontal">
			<form method="POST" id="frm" name="frm" role="form" action="/Morakot/ScheduleDefine/New/{{ ContractID }}?Resource={{ Resource }}&Amendment={{ Amendment }}&AmtID={{ AmtID }}">
				<div class="row">
				<input type="hidden" name="Resource" value="{{Resource}}"></input>
					<div class="col-sm-6">
						<div class="form-group">
				    		<label class="col-sm-5 text-right form-label">
				    			Repayment Mode <span style="color:#d38e99">*</span>
				    		</label>
				    		<div class="col-sm-7">
			                    <select class="form-control" id="RepMode" name="RepMode">
									<!-- <option value=""> --None-- </option> -->
					 				<optgroup label="Repayment Mode">
										<option value="1">Declining</option>
										<option value="2">Annuity</option>
										<option value="3">Flat</option>
										<option value="4">IRR</option>
									 </optgroup>
								</select>
								<script type="text/javascript">
									init.push(function () {
										// Single select
										$("#RepMode").select2({
											allowClear: true,
											placeholder: "Repayment Mode"
										});
									});
								</script>
								
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
				    		<label class="col-sm-5 text-right form-label">
				    			Principal Frequency <span style="color:#d38e99">*</span>
				    		</label>
				    		<div class="col-sm-7">
				    			<input type="number"class="form-control" id="PrincipalFreq" name="PrincipalFreq" value="{{ FrequencyP }}">
							</div>
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-sm-6">
						<div class="form-group">
				    		<label class="col-sm-5 text-right form-label">
				    			Fwd/Bwd Key <span style="color:#d38e99">*</span>
				    		</label>
				    		<div class="col-sm-7">
			                    <select class="form-control" id="FwdBwdKeyID" name="FwdBwdKey">
									<!-- <option value=""> --None-- </option> -->
					 				<optgroup label="Fwd/Bwd Key">
										<option value="1">1. Backward within month</option>
										<option value="2">2. Forward within month</option>
										<option value="3">3. Backward</option>
										<option value="4">4. Forward</option>
									 </optgroup>
								</select>
								<script type="text/javascript">
									init.push(function () {
										// Single select
										$("#FwdBwdKeyID").select2({
											allowClear: true,
											placeholder: "Fwd/Bwd Key"
										});
									});
								</script>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
				    		<label class="col-sm-5 text-right form-label">
				    			Interest Frequency <span style="color:#d38e99">*</span>
				    		</label>
				    		<div class="col-sm-7">
			                    <input type="number"class="form-control" id="InterestFreq" name="InterestFreq" value="{{ FrequencyI }}">
							</div>
						</div>
					</div>

				</div>
				<div class="row">

					<div class="col-sm-6">
						<div class="form-group">
				    		<label class="col-sm-5 text-right form-label">
				    			First Installment Date
				    		</label>
				    		<div class="col-sm-7">
				    			<input type="text" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd" value="{{ FirstInstallmentDate }}" data-date-autoclose="true" id="FirstInstallmentDate" name="FirstInstallmentDate">
								{% if FristDateRequired %} <p class="text-danger"> {{ FristDateRequired }} </p> {% endif %}
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
				    		<label class="col-sm-5 text-right form-label">
				    			Base Date Key <span style="color:#d38e99">*</span>
				    		</label>
				    		<div class="col-sm-7">
								<select class="form-control" id="BaseDateKeyID" name="BaseDateKey">

					 				<optgroup label="Base Date Key">
										<option value="1">1. Value Date</option>
										<option value="2">2. Previous Date</option>
										<option value="3">3. First Date</option>
									 </optgroup>
								</select>
								<script type="text/javascript">
									init.push(function () {
										// Single select
										$("#BaseDateKeyID").select2({
											allowClear: true,
											placeholder: "Base Date Key"
										});
									});
								</script>
							</div>
						</div>
					</div>
				</div>

				<div id="AdvanceContent" class="border-t panel-padding">

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-5 text-right form-label">
								Payment Holiday
							</label>
							<div class="col-sm-7">
								<select class="form-control" id="PaymentHoliday" name="PaymentHoliday">
									<option value=""> --None-- </option>
					 				<optgroup label="Payment Holiday">
										<option value="1">1. Principal Only</option>
										<option value="2">2. Interest Only</option>
										<option value="3">3. Both Principal+Interest</option>
									 </optgroup>
								</select>
								<script type="text/javascript">
									init.push(function () {
										// Single select
										$("#PaymentHoliday").select2({
											allowClear: true,
											placeholder: "Payment Holiday"
										});
									});
								</script>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-5 text-right form-label ">
								Waive Interest
							</label>
							<div class="col-sm-7">
								<select class="form-control" id="WaiveInterest" name="WaiveInterest">
					 				<optgroup label="Waive Interest">
										<option value="N">No</option>
										<option value="Y">Yes</option>
									 </optgroup>
								</select>
								<script type="text/javascript">
									init.push(function () {
										// Single select
										$("#WaiveInterest").select2({
											allowClear: true,
											placeholder: "WaiveInterest"
										});
									});
								</script>
							</div>
						</div>
						
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-5 text-right form-label ">
								#Of Holiday Installment
							</label>
							<div class="col-sm-7">
								<input type="number"class="form-control" id="NumOfHolidayInstallment" name="NumOfHolidayInstallment" value="{{ NumOfHolidayInstallment }}">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
							
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-5 text-right form-label">
								<a class="link" id="AdvanceOption"> Advance Option </a>
							</label>
							<div class="col-sm-7">
							
							</div>
						</div>
					</div>
					<div class="col-sm-6 text-right">
						<div class="form-group">
							<input type="hidden" id="OptSave" name="OptSave" value="">
							<input type="hidden" id="Resource" name="Resource" value="{{ Resource }}">
							<input type="hidden" id="Amendment" name="Amendment" value="{{ Amendment }}">
							<input type="hidden" name="AmtID" id="AmtID" value="{{ AmtID }}">
							<button type="submit" id="Generate" class="btn btn-flat btn-labeled btn-primary">
							<span class="btn-label icon fa fa-th"></span> Generate Schedule
							</button>
						</div>
					</div>
				</div>
				
			</form>

		</div>
		<div class="col-sm-2"></div>

		{% if not FristDateRequired %}

			{% if Schedule %}

				<div class="clearfix"></div>
		        <table id="mktlist" class="display" cellspacing="0" width="100%">
		            <thead>
		                <tr>
		                	<th>No</th>
		                	<th style="width: 190px;">Collection Date</th>
		                	<th class="text-right">Principal</th>
		                	<th class="text-right">Interest</th>
		                	<th class="text-right">Total Amount</th>
		                	<th class="text-right">Balance</th>
		                	<th class="text-center">NumberOfDay</th>
		                </tr>
		            </thead>
		            <tbody>
		            {%set DicTotalAmount = {'TotPrincipal':0,'TotInterest':0,'Total':0,'TotNumDay':0}%}
		           		{%for row in Schedule%}

		           		
		            		<tr>
								<td>{{ row.InstallmentNo }}</td>
								<td>{{ row.FormatCollectionDate }}</td>
								<td class="text-right">{{ row.Principal }}</td>
								<td class="text-right">
								{%set Interest =0 %}
								{% if loop.first %}
									{%set Interest = toMoney(float(row.Interest.replace(',','')) + float(AccrCurrentInt),getCurrencyObj(Currency)) %}
								{%else%}
									{%set Interest = row.Interest %}
								{%endif%}
								{{Interest}}
								</td>
								<td class="text-right">
								{%set TotalAmount = float(Interest.replace(',',''))+ float(row.Principal.replace(',','')) %}
								{{toMoney(TotalAmount,getCurrencyObj(Currency))}}
								</td>
								<td class="text-right">{{ row.Balance }}</td>
								<td class="text-center">{{ row.NumberOfDay }}</td>
		            		</tr>
		            		{{AddDataToList(DicTotalAmount,float(row.Principal.replace(',','')), float(Interest.replace(',','')), TotalAmount, row.NumberOfDay)}}
	                    {% endfor %}
		            </tbody>
					<tfooter>
						<tr>
							<th colspan="2" class="text-right" style="border-top: 1px solid #000;">Sub Total</th>
							<th class="text-right" style="border-top: 1px solid #000;">{{ toMoney(float(DisburseAmount), getCurrencyObj(Currency), 1) }}</th>
							<th class="text-right" style="border-top: 1px solid #000;">{{ toMoney(float(DicTotalAmount['TotInterest']), getCurrencyObj(Currency), 1) }}</th>
							<th class="text-right" style=" border-top: 1px solid #000;">{{ toMoney(float(DicTotalAmount['TotInterest'])+ DisburseAmount, getCurrencyObj(Currency), 1) }}</th>
							<th class="text-right" style=" border-top: 1px solid #000;"></th>
							<th class="text-center" style=" border-top: 1px solid #000;">{{ formatNumber(float(DicTotalAmount['TotNumDay']), 1, 0) }}</th>
						</tr>
					</tfooter>
		        </table>
		    {% endif %}

		{% endif %}

	{% endif %}

{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

        	$("#RepMode").val('{{ RepaymentMode }}');
        	$("#FwdBwdKeyID").val('{{FwdBwdKey}}');
        	$("#BaseDateKeyID").val('{{BaseDateKey}}');
        	$("#PaymentHoliday").val('{{PaymentHoliday}}');
        	$("#NumOfHolidayInstallment").val('{{NumOfHolidayInstallment}}');
        	$("#WaiveInterest").val('{{WaiveInterest}}');
        	
        	{#Disable AdvanceOption Because not yet working #}
        	$("#AdvanceOption").hide();
        	{#End Disable#}

        	{%if not PaymentHoliday%}
        		$("#AdvanceContent").hide();
          	{%endif%}
        	
			$( "#AdvanceOption" ).click(function() {
				
				$('#AdvanceContent').toggle(); 
				if($(this).text() == 'Hide Advance Option'){
					$(this).text('Advance Option');
				} else {
					$(this).text('Hide Advance Option');
				}
			});

            $('#mktlist').dataTable({
               "lengthMenu": [[12,24, 36, 60,120, -1], [12,24, 36, 60,120, "All"]]
            });

            checkRepMode();

            $("select#RepMode").change(function(){
            	checkRepMode();
            });

            function checkRepMode()
            {
            	var RepMode = $("select#RepMode").val();
            	if(RepMode == 2 || RepMode == 4)
            	{
            		$("input#PrincipalFreq").attr("readonly", true);
            		$("input#InterestFreq").attr("readonly", true);
            	}
            	else
            	{
            		$("input#PrincipalFreq").attr("readonly", false);
            		$("input#InterestFreq").attr("readonly", false);
            	}
            }
            {#
            $("#SaveSchedule").click(function(){
            	var ContractID = $("#ContractID").val();
            	var Resource = $("#Resource").val()
            	var Amendment = $("#Amendment").val()
            	var AmtID = $("#AmtID").val()
            	$.ajax({
            		url: "/Morakot/ScheduleDefine/SaveSchedule",
            		type: "POST",
            		data: { ContractID:ContractID, Resource:Resource, Amendment:Amendment, AmtID:AmtID },
            		beforeSend: function()
            		{
            			$(".se-pre-con1").show();
            		},
            		success: function(data)
            		{
            			$(".se-pre-con1").hide();
            			if(data == "OK")
            			{
            				window.location = "/Morakot/ScheduleDefine/New/{{ ContractID }}?Resource={{ Resource }}&Amendment={{ Amendment }}&AmtID={{ AmtID }}"
            			}
            			else
            			{
            				alert(data);
            			}
            		}
            	});
            });
            #}
        });
    </script>
{% endblock %}

{% macro AddDataToList(TotalAmount, Principal, Interest, Total, NumDay) %}
        
    {% if TotalAmount.update({ 

    "TotPrincipal":float(TotalAmount["TotPrincipal"]) + float(Principal),
    "TotInterest":float(TotalAmount["TotInterest"]) + float(Interest),
    "Total":float(TotalAmount["Total"]) + float(Total),
    "TotNumDay":float(TotalAmount["TotNumDay"]) + float(NumDay)

    }) %}{% endif %}

{% endmacro %}
