{% extends "layout.html" %}

{% block css %}
   
    <style type="text/css">
        .form-control
        {
            width: 100% !important;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="se-pre-con1"></div>
    <div class="navbar navbar-default navbar-static-top ActionFotter" id="CriteriaSetting" >
        <div class="col-sm-12">
                <div style="margin-top: 8px;">
                </div> 
                <div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

                    {% from "print.html" import exportButtonLink %}
                    {{exportButtonLink()}}

                </div>  
        </div> 
    </div>
    
 
    <div class="col-sm-12" id="navberCriteria">
        {% include 'msg_error.html' %}
        <form action="" method="GET" role="FORM" id="generate_schedule">
            <div class="col-sm-8">
            <div class="panel colourable">
                    <div class="panel-heading">
                        <span class="panel-title">Loan Calculator</span>
                    </div>
                    <div class="panel-body">
                       

                        <div class="form-group">
                    <label class="col-sm-3">Currency :</label>
                    <div class="col-sm-4">
                       <select class="form-control" id="Currency" name="Currency">
                            <optgroup label="Currency">
                                {%for row in CurrencyObj %}
                                <option value="{{row.ID}}"> {{row.ID}} </option> 
                                {%endfor%}
                             </optgroup>
                        </select>
                        <script type="text/javascript">
                            init.push(function () {
                                // Single select
                                $("#Currency").val('{{Currency}}');
                                $("#Currency").select2({
                                    allowClear: true,
                                    placeholder: "Currency"
                                });

                            });
                        </script>
                    </div>
                    <span class="col-sm-5"> Example: USD, KHR, THB </span>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Disburse Amount :</label>
                    <div class="col-sm-4">
                        <input type="text" id="DisburseAmount" name="DisburseAmount" value="{{DisburseAmount}}" class="form-control" required="required">
                    </div>
                    <span class="col-sm-5"> Enter any number here </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Value Date :</label>
                    <div class="col-sm-4">
                        <input class="input-sm form-control" type="text" value="{{ ValueDate }}" placeholder="" name="ValueDate" id="ValueDate"  style="width:214px;">
                        <script type="text/javascript">

                            init.push(function () {
                                var options = {
                                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                                format:"yyyy-mm-dd",
                                autoclose:true
                                }
                                $('#ValueDate').datepicker(options);
                            });

                        </script>
                    </div>
                    <span class="col-sm-5"> Example: 2015-03-20 </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Interest Rate :</label>
                    <div class="col-sm-4">
                        <input type="text" name="Rate" value="{{ Rate }}" class="form-control" required="required">
                    </div>
                    <span class="col-sm-5"> Enter Rate per year Ex : 1% per month = 12% per year</span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Frequency Type :</label>
                    <div class="col-sm-4">
                         <select class="form-control" id="FrequencyType" name="FrequencyType">
                            <optgroup label="FrequencyType">
                               
                                <option value="1"> 1-Monthly </option> 
                                <option value="2"> 2-Weekly </option> 
                               
                             </optgroup>
                        </select>
                        <script type="text/javascript">
                            init.push(function () {
                                // Single select
                                $("#FrequencyType").val('{{FrequencyType}}');
                                $("#FrequencyType").select2({
                                    allowClear: true,
                                    placeholder: "Frequency Type"
                                });

                            });
                        </script>
                    </div>
                    <span class="col-sm-5"> 1= Monthly ; 2= Weekly </span>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Term :</label>
                    <div class="col-sm-4">
                        <input type="number" name="Term" value="{{Term}}" class="form-control" required="required">
                    </div>
                    <span class="col-sm-5"> Example: 1, 2,...12,..24 </span>
                </div>
       
                <div class="form-group">
                    <label class="col-sm-3">Repayment Mode :</label>
                    <div class="col-sm-4">
                    
                         <select class="form-control" id="RepaymentMode" name="RepaymentMode">
                            <optgroup label="RepaymentMode">
                               
                                <option value="1"> 1-Declining </option> 
                                <option value="2"> 2-Annuity </option>
                                <option value="3"> 3-Flat </option> 
                               
                             </optgroup>
                        </select>
                        <script type="text/javascript">
                            init.push(function () {
                                // Single select
                                $("#RepaymentMode").val('{{RepaymentMode}}');
                                $("#RepaymentMode").select2({
                                    allowClear: true,
                                    placeholder: "Repayment Mode"
                                });

                            });
                        </script>
                    </div>
                    <span class="col-sm-5"> 1=Declining ; 2= Annuity ; 3=Flat</span>
                </div>
            </div>

            </div>
            </div>

            
             <div class="col-sm-4 ">

             <div class="panel colourable">
                    <div class="panel-heading">
                        <span class="panel-title">Summary</span>
                    </div>
                    <div class="panel-body">

                        {% if Schedule %}
                        <div class="form-group">
                            <label class="col-sm-6">Total Interest :</label>
                            <span class="col-sm-6 text-lg"><strong>
                            {% set Interest = 0 %}
                            {% set ListData = {} %}
                            {% for row in Schedule %}
                                {% set Interest = float(Interest) + float(row.Interest|replace(',','')) %}
                                {%if ListData.update({'Interest':Interest}) %} {%endif%}
                            {% endfor %}
                            {{toMoney(ListData.Interest,getCurrencyObj)}}
                            </strong></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6">First Principle : </label>
                            <span class="col-sm-6 text-lg"><strong>{{ Schedule[0].Principal }}</strong></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6">First Interest : </label>
                            <span class="col-sm-6 text-lg"><strong>{{ Schedule[0].Interest }}</strong></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6"> First Total Payment : </label>
                            <span class="col-sm-6 text-lg"><strong>{{ Schedule[0].TotalAmount }}</b></strong></span>
                        </div>
                         
                        {% endif %}
                            </div>
                        </div>



             </div><!--End Summary Data-->
 
            </div>

            <div class="col-sm-12 form-group text-center">
                <input type="submit" id="Generate" value="Generate Schedule" class="btn btn-primary">
            </div>

        </form>
    </div>
    <!--  message  -->
    <div class="clearfix">&nbsp;</div>

    

    <h3 class="text-center">Schedule Calculator </h3>

        <table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
            <thead>
                <tr>
                	{%for item in HeaderTable %}
                    <th>{{item}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                    
                {% if Schedule %}

                   {% for row in Schedule %}
                        <tr>
                            
                            <td>{{ row.InstallmentNo }}</td> 
                            <td>{{ row.CollectionDate }}</td> 
                            <td>{{ row.Principal }}</td> 
                            <td>{{ row.Interest }}</td> 
                            <td>{{ row.TotalAmount }}</td> 
                            <td>{{ row.Balance }}</td> 
                            <td>{{ row.NumberOfDay }}</td> 
                            
                        </tr>
                    {% endfor %}

                {% endif %}
            </tbody>
        </table>

{% endblock %}

{% block js %}

{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">

    $(document).ready(function() {
        $('#mktlist').dataTable({
            "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
            "bSort" : false,
            "bScrollCollapse": true
        });
        {% from "print.html" import exportDataTable %}
        {{exportDataTable("#mktlist","Daily Cash Collection Reports ")}}
        
    });

</script>
{% endblock %}