{% extends "layout.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
		    font-size: 16px;
		    font-weight: bold;
		    margin: 5px 0 10px;
		    padding: 10px 18px 0;
        }

		.se-pre-con1 {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
			opacity: 0.4;
			display: none;
		}

		.form-label{
			padding-top: 7px;
		}

		table.borderless td, .borderless th {
		    border: none !important;
		}

    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
		<div class="col-sm-8">
			<div style="margin-top: 15px;">
	    		<!-- Button Export -->
				{% from "print.html" import exportButtonLink %}
				{{exportButtonLink()}}
			</div>
		</div>
		<div class="col-sm-4">
			<!-- {% if Loan %}
				<div class="text-right" style="margin-top: 8px;">
					<a href="/Morakot/LoanAmendment/" class="btn btn-flat btn-labeled btn-success"><span class="btn-label icon fa fa-pencil"></span> Loan Amendment</a>
				</div>
			{% endif %} -->
		</div>
	</div>
	<div class="clearfix"></div>
    {% include 'msg_error.html' %}

    {% if Loan %}
    	<div class="col-sm-12">
        	<h3 class="header-3 text-center">Loan Listing for Write-off</h3>
	    </div>
	    
	    <div class="clearfix">&nbsp;</div>

	    <div class="panel panel-default">
	        
            <table id="mktlist" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>                            
                        <th><b>LoanID</b></th>
                        <th><b>CustomerID</b></th>
                        <th><b>Customer Name</b></th>
                        <th><b>Currency</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Balance</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Total PD</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Write-Off Amount</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in Loan: %}
                        <tr>
                            <td>
                                <a href="javascript:void(0);" onClick="clickLinkToWriteOff('{{ row.ID }}')">{{ row.ID }}</a>
                            </td>
                            <td>{{ row.ContractCustomerID }}</td>
                            <td>
                            	{{ lookupTable('MKT_CUSTOMER', 'ID', 'LastNameEn', row.ContractCustomerID) }} 
                            	{{ lookupTable('MKT_CUSTOMER', 'ID', 'FirstNameEn', row.ContractCustomerID) }}
                            </td>
                            <td>{{ row.Currency }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Amount), getCurrencyObj(row.Currency), 0) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.TotODAmount), getCurrencyObj(row.Currency), 0) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Amount) + float(row.TotODAmount), getCurrencyObj(row.Currency), 0) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

	    </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">

    	function clickLinkToWriteOff(ID)
        {
            if ( self !== top ) {
                window.parent.addTab("Loan Write-Off - "+ID, "/Morakot/LoanWriteOff/New/"+ID);
            }else{
                window.parent.location.href="/Morakot/LoanWriteOff/New/"+ID
            }
        }

        $(document).ready(function() {

            $('#mktlist').dataTable({
               "lengthMenu": [[12,24, 36, 60,120, -1], [12,24, 36, 60,120, "All"]]
            });

            // Call in Javascript in $(document).ready(function()

			{% from "print.html" import exportTable %}
			{{exportTable('mktlist')}}

        });

        function popupwindow(url, title, w, h) {
			var randomnumber = Math.floor((Math.random()*100)+1); 
			var left = (screen.width/2)-(w/2);
			var top = (screen.height/2)-(h/2);
			return window.open(url, 'title'+randomnumber, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
		}

    </script>

    <!-- Call in Block Js -->

	{% from "print.html" import exportIncludeJS %}
	{{exportIncludeJS()}}

{% endblock %}