{% extends "layout.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
		    font-size: 16px;
		    font-weight: bold;
		    margin: 5px 0 10px;
		    padding: 10px 18px 0;
        }

		.se-pre-con1 {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
			opacity: 0.4;
			display: none;
		}

		.form-label{
			padding-top: 7px;
		}

		table.borderless td, .borderless th {
		    border: none !important;
		}

    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
    	<form method="GET" id="frm" name="frm" role="form" action="/Morakot/LoanCentre/">
			<div class="col-sm-8">
				<div style="margin-top: 8px;">
		    		<div class="col-sm-4" style="padding-left: 0;">
		                <input type="text" name="ID" class="form-control" value="{{ ID }}" style="width: 100%;" placeholder="Contract ID *">
					</div>
					<label class="col-sm-1" style="padding:0px;">
		    			<button id="btnShow" type="submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
	                        {{ getLanguage('400001') }}
	                    </button>
		    		</label>
				</div>
			</div>
			<div class="col-sm-4" style="margin-top: 8px;">
				<div class="pull-right">
					{% from "print.html" import exportButton %}
	                {{ exportButton() }}
                </div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	{% include 'msg_error.html' %}
	
	<div id="Main">
		{% if Loan %}
			<script>
				init.push(function () {
					$('#LoanInfo .panel-body > div').slimScroll({ height: 365, alwaysVisible: true, color: '#888',allowPageScroll: true });
				})
			</script>
			<div class="col-sm-12" style="padding:0px;">
				<div class="col-sm-6">
					<div class="panel panel-info" id="LoanInfo">
						<div class="panel-heading">
							<span class="panel-title"><i class="fa fa-file-text-o"></i> {{ getLanguage('600001') }}</span>
						</div>
						<div class="panel-body" style="min-height: 430px; max-height: 430px;"> 
							{% if Loan %}
								<!-- <div> -->
									<table class="table">
										<tr>
											<th>{{ getLanguage('700008') }}:</th>
											<td >
												<a href="javascript:void(0);" id="LinkToLoan" title="{{ getLang('500004') }}">
													{{ Loan.ID }}
												</a>
												<script type="text/javascript">
						                            init.push(function () {
						                                $("#LinkToLoan").click(function(){
							                                if ( self !== top ) {
							                                    window.parent.addTab("Loan Contract", "/Morakot/LoanContract/?ID={{ Loan.ID }}");
							                                }else{
							                                    window.parent.location.href="/Morakot/LoanContract/?ID={{ Loan.ID }}"
							                                }
						                                });
						                            });
					                            </script>
											</td>
										</tr>
										<tr>
											<th>{{ getLang('700009') }}:</th>
											<td>
												<a href="javascript:void(0);" id="LinkToCustomer" title="{{ getLang('500005') }}">
													{{ Loan.ContractCustomerID }}
												</a>
												<script type="text/javascript">
						                            init.push(function () {
						                                $("#LinkToCustomer").click(function(){
							                                if ( self !== top ) {
							                                    window.parent.addTab("Customer", "/Morakot/Customer/?ID={{ Loan.ContractCustomerID }}");
							                                }else{
							                                    window.parent.location.href="/Morakot/Customer/?ID={{ Loan.ContractCustomerID }}"
							                                }
						                                });
						                            });
					                            </script>
												 - {{ lookupTable('MKT_CUSTOMER', 'ID', 'LastNameEn', Loan.ContractCustomerID) }}
												 {{ lookupTable('MKT_CUSTOMER', 'ID', 'FirstNameEn', Loan.ContractCustomerID) }}
											</td>
										</tr>
										<tr>
											<th>{{ getLang('700010') }}:</th>
											<td>
												<a href="javascript:void(0);" id="LinkToAccount" title="{{ getLang('500003') }}">
													{{ Loan.Account }}
												</a>
												<script type="text/javascript">
						                            init.push(function () {
						                                $("#LinkToAccount").click(function(){
							                                if ( self !== top ) {
							                                    window.parent.addTab("Account", "/Morakot/Account/?ID={{ Loan.Account }}");
							                                }else{
							                                    window.parent.location.href="/Morakot/Account/?ID={{ Loan.Account }}"
							                                }
						                                });
						                            });
					                            </script>
											</td>
										</tr>
										<tr>
											<th>{{ getLang('700011') }}:</th>
											<td>{{ Loan.ValueDate }}</td>
										</tr>
										<tr>
											<th>{{ getLang('700012') }}:</th>
											<td>{{ Loan.MaturityDate }}</td>
										</tr>
										<tr>
											<th>{{ getLang('700013') }}:</th>
											<td>{{ toMoney(float(Loan.Disbursed), getCurrencyObj(Loan.Currency), 1) }}</td>
										</tr>
										<tr>
											<th>{{ getLang('700014') }}:</th>
											<td>{{ toMoney(float(Loan.OutstandingAmount), getCurrencyObj(Loan.Currency), 1) }}</td>
										</tr>
										<tr>
											<th>{{ getLang('700015') }}:</th>
											<td>{{ toMoney(float(Loan.IntIncEarned), BaseCurrencyObj, 1) }}</td>
										</tr>
										<tr>
											<th>{{ getLang('700016') }}:</th>
											<td>{{ toMoney(float(Loan.AccrInterest), getCurrencyObj(Loan.Currency), 1) }}</td>
										</tr>
										<tr>
											<th>{{ getLang('700017') }}:</th>
											<td>{{ Loan.InterestRate }} / {{ getLang('700018') }}</td>
										</tr>

									</table>
								<!-- </div> -->
							{% endif %}
						</div>
					</div>
				</div>


				<script>
					init.push(function () {
						$('#AccountInfo .panel-body > div').slimScroll({ height: 330, alwaysVisible: true, color: '#888',allowPageScroll: true });
					})
				</script>
				<div class="col-sm-6">
					<div class="panel panel-info" id="AccountInfo">
						<div class="panel-heading">
							<span class="panel-title"><i class="fa fa-money"></i> {{ getLang('600002') }}</span>
							<div class="panel-heading-controls">
								<div class="panel-heading-icon">
									
								</div>
							</div>
						</div>
						<div class="panel-body" style="min-height: 390px; max-height: 430px;">
							<!-- <div> -->
								<!-- <div class="table-responsive"> -->
									{% if Loan %}
										<table class="table">
											<tr>
												<th>{{ getLang('700019') }}:</th>
												<td>
													{{ toMoney(float(Loan.Amount), getCurrencyObj(Loan.Currency), 1) }}
												</td>
											</tr>
											<tr>
												<th>{{ getLang('700020') }}:</th>
												<td>
													{% if float(Loan.AccrCurrentInt) > float(CurrentInterest) %}
														{{ toMoney(float(CurrentInterest), getCurrencyObj(Loan.Currency), 1) }}
													{% else %}
														<!-- {{ getCurrencySymbol(Loan.Currency) }} {{ float(Loan.AccrCurrentInt) }} -->
														{{ toMoney(float(Loan.AccrCurrentInt), getCurrencyObj(Loan.Currency), 1) }}
													{% endif %}
												</td>
											</tr>
											<tr>
												<th>Pre-Termination Amount:</th>
												<td width="200">
													{{ toMoney(float(PreTermination), getCurrencyObj(Loan.Currency), 1) }}
												</td>
											</tr>
											<tr>
												<th>{{ getLanguage('700021') }}:</th>
												<td width="200">
													{{ toMoney(float(TotODAmount), getCurrencyObj(Loan.Currency), 1) }}
												</td>
											</tr>
											<tr>
												<td colspan="2" style="padding-top: 2px; padding-bottom: 2px;">
													<table class="table borderless pull-right" style="width: 60% !important; margin: 0px;">
														<tbody>
															<tr>
																<td>{{ getLang('700003') }}:</td>
																<td width="240" style="padding-left: 55px;">
																	{{ toMoney(float(TotPrincipalDue), getCurrencyObj(Loan.Currency), 1) }}
																</td>
															</tr>
															<tr>
																<td>{{ getLang('700004') }}:</td>
																<td style="padding-left: 55px;">
																	{{ toMoney(float(TotInterestDue), getCurrencyObj(Loan.Currency), 1) }}
																</td>
															</tr>
															<tr>
																<td>{{ getLang('700022') }}:</td>
																<td style="padding-left: 55px;">
																	{{ toMoney(float(TotPenaltyDue), getCurrencyObj(Loan.Currency), 1) }}
																</td>
															</tr>
															<tr>
																<td>{{ getLang('700023') }}:</td>
																<td style="padding-left: 55px;">
																	{{ toMoney(float(TotChargeDue), getCurrencyObj(Loan.Currency), 1) }}
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<th>{{ getLang('700005') }}:</th>
												<td>
													<strong>
														{% if float(Loan.AccrCurrentInt) > float(CurrentInterest) %}
															{{ toMoney(float(Loan.Amount) + float(CurrentInterest) + float(TotODAmount) + float(PreTermination), getCurrencyObj(Loan.Currency), 1) }}
														{% else %}
															{{ toMoney(float(Loan.Amount) + float(Loan.AccrCurrentInt) + float(TotODAmount)+ float(PreTermination), getCurrencyObj(Loan.Currency), 1) }}
														{% endif %}
													
													</strong>
												</td>
											</tr>
											<tr>
												<th>{{ getLang('700024') }}:</th>
												<td>
													<strong>

														<a href="javascript:void(0);" id="LinkToAccountStatement" title="{{ getLang('500002') }}">
															{% if lookupTable('MKT_ACCOUNT', 'ID', 'AvailableBal', Loan.Account) != '' %}
																{{ toMoney(float(lookupTable('MKT_ACCOUNT', 'ID', 'AvailableBal', Loan.Account)), getCurrencyObj(Loan.Currency), 1) }}
															{% else %}
																{{ toMoney(float(0), getCurrencyObj(Loan.Currency), 1) }}
															{% endif %}
														</a>

														<script type="text/javascript">
								                            init.push(function () {
								                                $("#LinkToAccountStatement").click(function(){
									                                if ( self !== top ) {
									                                    window.parent.addTab("Account Statement", "/Morakot/AccountStatement?ID={{ Loan.Account }}");
									                                }else{
									                                    window.parent.location.href="/Morakot/AccountStatement?ID={{ Loan.Account }}"
									                                }
								                                });
								                            });
							                            </script>

													</strong>
												</td>
											</tr>
											<tr>
												<th>{{ getLang('700025') }}:</th>
												<td>
													<strong>
														{% if lookupTable('MKT_ACCOUNT', 'ID', 'AvailableBal', Loan.Account) != '' %}
															{% if float(Loan.AccrCurrentInt) > float(CurrentInterest) %}
																{{ toMoney((float(Loan.Amount) + float(CurrentInterest) + float(TotODAmount) + float(PreTermination)) - float(lookupTable('MKT_ACCOUNT', 'ID', 'AvailableBal', Loan.Account)), getCurrencyObj(Loan.Currency), 1) }}
															{% else %}
																{{ toMoney((float(Loan.Amount) + float(Loan.AccrCurrentInt) + float(TotODAmount) + float(PreTermination)) - float(lookupTable('MKT_ACCOUNT', 'ID', 'AvailableBal', Loan.Account)), getCurrencyObj(Loan.Currency), 1) }}
															{% endif %}
														{% else %}
															{% if float(Loan.AccrCurrentInt) > float(CurrentInterest) %}
																{{ toMoney((float(Loan.Amount) + float(CurrentInterest) + float(TotODAmount) + float(PreTermination)), getCurrencyObj(Loan.Currency), 1) }}
															{% else %}
																{{ toMoney((float(Loan.Amount) + float(Loan.AccrCurrentInt) + float(TotODAmount) + float(PreTermination)), getCurrencyObj(Loan.Currency), 1) }}
															{% endif %}
														{% endif %}
													</strong>
												</td>
											</tr>

										</table>
									{% endif %}
								<!-- </div> Responsive-->
							<!-- </div> -->
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<!-- <div class="col-sm-12"> -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<span class="panel-title"><i class="fa fa-history"></i> {{ getLang('600003') }}</span>
					</div>
					<div class="panel-body">
						<div>
							<div class="table-responsive">
								{% if Loan %}
									{% set TotalAmount = {'TotPrincipal':0, 'TotInterest':0, 'TotPenalty':0, 'TotPaidAmt':0 } %}
									<table id="mktlist" class="display" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>{{ getLang('700001') }}</th>
												<th>{{ getLang('700002') }}</th>
												<th class="text-right" style="padding-right: 35px;">{{ getLang('700003') }}</th>
												<th class="text-right" style="padding-right: 35px;">{{ getLang('700004') }}</th>
												<th class="text-right" style="padding-right: 35px;">{{ getLanguage('Penalty') }}</th>
												<th class="text-right" style="padding-right: 35px;">{{ getLang('700005') }}</th>
												<th>{{ getLang('700006') }}</th>
												<th class="text-right" style="padding-right: 35px;">{{ getLang('700007') }}</th>
											</tr>
										</thead>
										<tbody>
											{% if Schedule %}

												{% for row in Schedule %}
													{%set PenaltyAmount =  getPenaltyByDate(row.CollectionDate,'PD'+row.LoanID)%}
													{{ AddDataToList(TotalAmount, row.Principal, row.Interest, PenaltyAmount, row.PartPaidAmt) }}
													<tr>
														{% if int(str(row.CollectionDate).replace('-', '')) < int(SystemDate.replace('-', '')) and int(row.RepStatus) == 1 %}
															<td class="text-danger">{{ row.No }}</td>
															<td class="text-danger">{{ row.CollectionDate }}</td>
															<td class="text-right text-danger" style="padding-right: 35px;">{{ toMoney(float(row.Principal), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td class="text-right text-danger" style="padding-right: 35px;">{{ toMoney(float(row.Interest), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td class="text-right text-danger" style="padding-right: 35px;">{{ toMoney(float(PenaltyAmount), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td class="text-right text-danger" style="padding-right: 35px;">{{ toMoney(float(row.Principal) + float(row.Interest) + float(PenaltyAmount), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td>
																{% if int(row.RepStatus) == 0 %}
																	<i class="text-danger">{{ getLang('800005') }}</i>
																{% elif int(row.RepStatus) == 1 %}
																	<i class="text-danger">{{ getLang('800001') }}</i>
																{% elif int(row.RepStatus) == 2 %}
																	<i class="text-warning">{{ getLang('800002') }}</i>
																{% elif int(row.RepStatus) == 3 %}
																	<i class="text-success">{{ getLang('800003') }}</i>
																{% elif int(row.RepStatus) == 4 %}
																	<i class="text-info">{{getLang('800006')}}</i>
																{% endif %}
															</td>
															<td class="text-right text-danger" style="padding-right: 35px;">{{ toMoney(float(row.PartPaidAmt), getCurrencyObj(Loan.Currency), 1) }}</td>
														{% elif int(str(row.CollectionDate).replace('-', '')) == int(SystemDate.replace('-', '')) %}
															<td class="text-info">{{ row.No }}</td>
															<td class="text-info">{{ row.CollectionDate }}</td>
															<td class="text-right text-info" style="padding-right: 35px;">{{ toMoney(float(row.Principal), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td class="text-right text-info" style="padding-right: 35px;">{{ toMoney(float(row.Interest), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td class="text-right text-info" style="padding-right: 35px;">{{ toMoney(float(PenaltyAmount), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td class="text-right text-info" style="padding-right: 35px;">{{ toMoney(float(row.Principal) + float(row.Interest) + float(PenaltyAmount), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td>
																{% if int(row.RepStatus) == 0 %}
																	<i class="text-info">{{ getLang('800005') }}</i>
																{% elif int(row.RepStatus) == 1 %}
																	<i class="text-danger">{{ getLang('800001') }}</i>
																{% elif int(row.RepStatus) == 2 %}
																	<i class="text-warning">{{ getLang('800002') }}</i>
																{% elif int(row.RepStatus) == 3 %}
																	<i class="text-success">{{ getLang('800003') }}</i>
																{% elif int(row.RepStatus) == 4 %}
																	<i class="text-info">{{ getLang('800006') }}</i>
																{% endif %}
															</td>
															<td class="text-right text-info" style="padding-right: 35px;">{{ toMoney(float(row.PartPaidAmt), getCurrencyObj(Loan.Currency), 1) }}</td>
														{% else %}
															<td>{{ row.No }}</td>
															<td>{{ row.CollectionDate }}</td>
															<td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Principal), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Interest), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td class="text-right" style="padding-right: 35px;">{{ toMoney(float(PenaltyAmount), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Principal) + float(row.Interest) + float(PenaltyAmount), getCurrencyObj(Loan.Currency), 1) }}</td>
															<td>
																{% if int(row.RepStatus) == 0 %}
																	<i class="text-warning">{{ getLang('800004') }}</i>
																{% elif int(row.RepStatus) == 1 %}
																	<i class="text-danger">{{ getLang('800001') }}</i>
																{% elif int(row.RepStatus) == 2 %}
																	<i class="text-warning">{{ getLang('800002') }}</i>
																{% elif int(row.RepStatus) == 3 %}
																	<i class="text-success">{{ getLang('800003') }}</i>
																{% elif int(row.RepStatus) == 4 %}
																	<i class="text-info">{{ getLang('800006') }}</i>
																{% endif %}
															</td>
															<td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.PartPaidAmt), getCurrencyObj(Loan.Currency), 1) }}</td>
														{% endif %}
													</tr>
												{% endfor %}
											{% endif %}
										</tbody>
										<tfooter>
											<tr>
												<th class="text-right" style="border-top: 1px solid #000;" colspan="2">{{ getLanguage('Total') }}</th>
												<th class="text-right" style="padding-right: 35px; border-top: 1px solid #000;">{{ toMoney(float(TotalAmount['TotPrincipal']), getCurrencyObj(Loan.Currency), 1) }}</th>
												<th class="text-right" style="padding-right: 35px; border-top: 1px solid #000;">{{ toMoney(float(TotalAmount['TotInterest']), getCurrencyObj(Loan.Currency), 1) }}</th>
												<th class="text-right" style="padding-right: 35px; border-top: 1px solid #000;">{{ toMoney(float(TotalAmount['TotPenalty']), getCurrencyObj(Loan.Currency), 1) }}</th>
												<th class="text-right" style="padding-right: 35px; border-top: 1px solid #000;">{{ toMoney(float(TotalAmount['TotPrincipal']) + float(TotalAmount['TotInterest']) + float(TotalAmount['TotPenalty']), getCurrencyObj(Loan.Currency), 1) }}</th>
												<th style="border-top: 1px solid #000;"></th>
												<th class="text-right" style="padding-right: 35px; border-top: 1px solid #000;">{{ toMoney(float(TotalAmount['TotPaidAmt']), getCurrencyObj(Loan.Currency), 1) }}</th>
											</tr>
										</tfooter>
									</table>
								{% endif %}
							</div><!-- Responsive-->
						</div>
					</div>
				</div>
				<!-- </div> -->
			</div>
		{% endif %}
	</div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script type="text/javascript">
        $(document).ready(function() {

            $('#mktlist').dataTable({
               "lengthMenu": [[12,24, 36, 60,120, -1], [12,24, 36, 60,120, "All"]]
            });

            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist','Repayment Schedule')}}

        });

    	function fn_fadeIn(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeIn("slow");
		}
		$('#btnShow').on("click",function(event) 
		{
			fn_fadeIn();
		}); 
    </script>

{% endblock %}

{% macro AddDataToList(TotalAmount, Principal, Interest, Penalty, PaidAmt) %}
        
    {% if TotalAmount.update({ 

    "TotPrincipal":float(TotalAmount["TotPrincipal"]) + float(Principal),
    "TotInterest":float(TotalAmount["TotInterest"]) + float(Interest),
    "TotPenalty":float(TotalAmount["TotPenalty"]) + float(Penalty),
    "TotPaidAmt":float(TotalAmount["TotPaidAmt"]) + float(PaidAmt)

    }) %}{% endif %}

{% endmacro %}