<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
		<title>Repayment Schedule</title>
		<style type="text/css">

			@font-face {
			  	font-family: 'Suwannaphum';
			  	font-style: normal;
			  	font-weight: 400;
			  	src: local('Suwannaphum'), url(https://fonts.gstatic.com/s/suwannaphum/v9/1jIPOyXied3T79GCnSlCN1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
			}

			@page {
		        margin: 0.8cm 0.5cm;
		    }

			body{
				background-color: #fff;
			    color: #555;
			    font-family: "Suwannaphum", Helvetica, Arial, sans-serif;
			    font-size: 12px;
			    line-height: 1.42857;
			}

			.header{
				margin: 10px 0;
			}

			.logo{
				width: 20%;
				/*border: 1px solid;*/
				float: left;
				text-align: center;
			}

			.company{
				width: 75%;
				/*border: 1px solid;*/
				float: left;
			}

			.clearfix{
				clear: both;
				width: 10%;
				height: 15px;
			}

			@font-face {
			  	font-family: 'Moul';
			  	font-style: normal;
			  	font-weight: 400;
			  	src: local('Moul'), url(https://fonts.gstatic.com/s/moul/v8/9pP9Dsyzm8X_vCLNoMZkag.woff2) format('woff2');
			}

			.companyKh
			{
				font-family: 'Moul', cursive;
			}
			h3 {
				font-size: {% if CompanyKh|length > 25 %} 10pt {% else %} 11pt {% endif %};
			}
			h4 {
				font-size: 10pt;
			}

		</style>

	    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	    <script type="text/javascript">

	        $(document).ready(function() {
	            window.print();
	        });

	    </script>

	</head>
	<body id="printContanter">
		<div class="header">

			<div class="col-sm-12">
				<div class="row text-center">
					<div class="col-sm-3" style="height: 111px;">
						<img style="max-width: 100%; max-height: 95%; margin-top: 20px;" 
							src="{{ url_for('static', filename='company/logo.png') }}">
					</div>
					<div class="col-sm-6">
						<h3 class="companyKh">{{ CompanyKh }}</h3>
						<h3>{{ Company }}</h3>
						<h4 class="companyKh">កាលវិភាគបង់ប្រាក់</h4>
					</div>
					<div class="col-sm-3"></div>
				</div>
				
			</div>
		</div>
		<div class="clearfix">&nbsp;</div>
		<div class="clearfix">&nbsp;</div>
		<div class="col-lg-8 col-sm-12 col-xs-12">
			<table style="width: 100%" border="0">
				<tbody>
					<tr style="height: 25px;">
						<td>លេខអតិថិជន : {{ Contract.ContractCustomerID }}</td>
						<td>លេខគណនីអតិថិជន : {{ Contract.Account }}</td>
						<td>លេខកិច្ចសន្យា : {{ Contract.ID }}</td>
					</tr>
					<tr style="height: 25px;">
						<td>ឈ្មោះអតិថិជន : {% if CustomerName.LastNameKh %} {{ CustomerName.LastNameKh + " " + CustomerName.FirstNameKh }} {% else %} {{ CustomerName.LastNameEn + " " + CustomerName.FirstNameEn }} {% endif %}</td>
						<td>ថ្ងៃខែឆ្នាំប្រសិទ្ធភាព : {{ Contract.ValueDate.split("-")[2] + "-" + Contract.ValueDate.split("-")[1] + "-" + Contract.ValueDate.split("-")[0] }}</td>
						<td>ថ្ងៃខែឆ្នាំបញ្ចប់កិច្ចសន្យា : {{ Contract.MaturityDate.split("-")[2] + "-" + Contract.MaturityDate.split("-")[1] + "-" + Contract.MaturityDate.split("-")[0] }}</td>
					</tr>
					<tr style="height: 25px;">
						<td>ចំនួនទឹកប្រាក់ដែលបានខ្ចី : {{ toMoney(float(Contract.Disbursed), CurrencyObj, 1) }}</td>
						<td>
							អត្រាការប្រាក់ :
							{{ getRateByFreq(Contract.FreqType, Contract.Frequency, Contract.InterestRate) }}
						</td>
						<td>
							រយ:ពេល : {{ Contract.Term }} ខែ
						</td>
					</tr>
					<tr>
						<td colspan="2">អាសយដ្ឋាន : {{ Address }}</td>
						{% if Contract.IRR > '0' and Contract.IRR != '' %}
							<td>អត្រាការប្រាក់ប្រសិទ្ធិភាព(ប្រចាំខែ): {{ float(Contract.IRR)/12.0 }} %</td>
						{% else %}
							<td></td>
						{% endif %}
					</tr>
				</tbody>
			</table>
			<table style="width: 300px; float: left;">
				<tbody>
					<!-- <tr>
						<td width="130">ឈ្មោះអតិថិជន</td>
						<td>: {% if CustomerName.LastNameKh %} {{ CustomerName.LastNameKh + " " + CustomerName.FirstNameKh }} {% else %} {{ CustomerName.LastNameEn + " " + CustomerName.FirstNameEn }} {% endif %}</td>
					</tr>
					<tr>
						<td>លេខអតិថិជន</td>
						<td>: {{ Contract.ContractCustomerID }}</td>
					</tr>
					<tr>
						<td>លេខគណនីអតិថិជន</td>
						<td>: {{ Contract.Account }}</td>
					</tr>
					<tr>
						<td>លេខប្រាក់កំចី</td>
						<td>: {{ Contract.ID }}</td>
					</tr> -->
					<!-- <tr>
						<td>កាលបរិច្ឆេទអនុម័ត</td>
						<td>: </td>
					</tr> -->
					<!-- <tr>
						<td>ចំនួនបានអនុម័ត</td>
						<td>: {{ toMoney(float(Contract.Disbursed), CurrencyObj) }}</td>
					</tr> -->
				</tbody>
			</table>

			<table style="width: 220px; float: right;">
				<!-- <tr>
					<td width="130">រូបិយប័ណ្ណ</td>
					<td width="150">: {{ Contract.Currency }}</td>
				</tr>
				<tr>
					<td>អត្រាការប្រាក់</td>
					<td>: {{ Contract.InterestRate }}% ក្នុងមួយឆ្នាំ</td>
				</tr>
				<tr>
					<td>កាលបរិច្ឆេទអនុម័ត</td>
					<td>: {{ Contract.ValueDate.split("-")[2] + "-" + Contract.ValueDate.split("-")[1] + "-" + Contract.ValueDate.split("-")[0] }}</td>
				</tr>
				<tr>
					<td>កាលបរិច្ឆេទបញ្ចប់</td>
					<td>: {{ Contract.MaturityDate.split("-")[2] + "-" + Contract.MaturityDate.split("-")[1] + "-" + Contract.MaturityDate.split("-")[0] }}</td>
				</tr>
				<tr>
					<td>រយ:ពេល</td>
					<td>: {{ Contract.Term }} ខែ</td>
				</tr> -->
				<!-- <tr>
					<td></td>
					<td>: {{ Contract.Term }}</td>
				</tr> -->
			</table>
		</div>
		<div class="clearfix">&nbsp;</div>
		<div class="clearfix">&nbsp;</div>
		<table class="table table-striped table-hover" cellpadding="0">
			<thead>
				<tr>
					<th>ល.រ</th>
					<th>ការបរិច្ឆេទ</th>
					<th>ចំ.ថ្ងៃ</th>
					<th style="text-align: right;">ប្រាក់ដើម</th>
					<th style="text-align: right;">ការប្រាក់</th>
					<th style="text-align: right;">សរុប</th>
					<th style="text-align: right;">សមតុល្យប្រាក់កំចី</th>
					<th>ផ្សេងៗ / ហត្ថលេខា</th>
				</tr>
			</thead>
			<tbody>
				{% for row in Schedule %}
					<tr>
						<td>{{ row.No }}</td>
						<td>{{ toDateShort(row.CollectionDate, 'KH') }}</td>
						<td>{{ row.NumDay }}</td>
						<td style="text-align: right;">{{ toMoney(float(row.Principal), CurrencyObj) }}</td>
						<td style="text-align: right;">{{ toMoney(float(row.Interest), CurrencyObj) }}</td>
						<td style="text-align: right;">{{ toMoney(float(row.Interest) + float(row.Principal), CurrencyObj) }}</td>
						<td style="text-align: right;">{{ toMoney(float(row.Balance), CurrencyObj) }}</td>
						<td></td>
					</tr>
				{% endfor %}
				{%if HideTotal == 'N'%}
				<tr>
					<td colspan="3"><strong>សរុបចុងក្រោយ</strong></td>
					<td style="text-align: right;"><strong>{{ toMoney(float(Contract.Disbursed), CurrencyObj) }}</strong></td>
					<td style="text-align: right;"><strong>{{ toMoney(float(Schedule|sum(attribute='Interest')), CurrencyObj) }}</strong></td>
					<td style="text-align: right;"><strong>{{ toMoney(float(Contract.Disbursed) + float(Schedule|sum(attribute='Interest')), CurrencyObj) }}</strong></td>
					<td style="text-align: right;"></td>
					<td></td>
				</tr>
				{%endif%}
			</tbody>
		</table>

		<div class="clearfix">&nbsp;</div>
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<table style="width: 100%" border="0">
				<tbody>
					<tr style="height: 25px;">
						<td class="text-center" width="33%">
							<div>គណនេយ្យករ</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div>&nbsp;</div>
							<div>&nbsp;</div>
						</td>
						<td class="text-center" width="33%">
							<div>ភ្នាក់ងារឥណទាន</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div>{{ Officer }} CO#{{ OfficerID }}</div>
							<div>{{ OfficerPhone }}</div>
						</td>
						<td class="text-center" width="33%">
							<div>អតិថិជន</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
							<div>{% if CustomerName.LastNameKh %} {{ CustomerName.LastNameKh + " " + CustomerName.FirstNameKh }} {% else %} {{ CustomerName.LastNameEn + " " + CustomerName.FirstNameEn }} {% endif %}</div>
							<div>&nbsp;</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
</html>