{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
		    font-size: 16px;
		    font-weight: bold;
		    margin: 5px 0 10px;
		    padding: 10px 18px 0;
        }

		.se-pre-con1 {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
			opacity: 0.4;
			display: none;
		}

		.form-label{
			padding-top: 7px;
		}

    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
    	<form method="GET" id="frm" name="frm" role="form" action="/Morakot/RepaymentSchedule">
			<div class="col-sm-8">
				<div style="margin-top: 8px;">
		    		<div class="col-sm-3" style="padding-left: 0;">
		    			<input name="ID" id="ID" value="{{ ContractID }}" class="form-control" placeholder="{{ getLanguage('Contract ID') }} *" style="width: 100%;">
					</div>
					<div class="col-sm-2" style="padding-left: 0;">
						<select name="Resource" class="form-control" style="width: 100%;">
							{% if Resource == 'AUTH' %}
								<option selected value="AUTH">AUTH</option>
								<option value="INAU">INAU</option>
							{% else %}
								<option value="AUTH">AUTH</option>
								<option selected value="INAU">INAU</option>
							{% endif %}
						</select>
					</div>
					<label class="col-sm-1" style="padding:0px;">
		    			<button type="submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
	                        {{ getLanguage('Show') }}
	                    </button>
		    		</label>
				</div>
			</div>
			<div class="col-sm-4">
				{% if Schedule %}
					<div class="text-right" style="margin-top: 8px;">
						{% from "print.html" import exportButton %}
                		{{	exportButton()	}}
						<a onclick="popupwindow('Print?ID={{ ContractID }}&Resource={{ Resource }}','Repayment Schedule','1200','900')" href="#" class="btn btn-flat btn-labeled btn-success"><span class="btn-label icon fa fa-print"></span> {{ getLanguage('Print') }}</a>
					</div>
				{% endif %}
			</div>
		</form>
	</div>
    <div class="clearfix"></div>
	{% include 'msg_error.html' %}

    {% if ListLoanAmendmentObj %}
        {% if ListLoanAmendmentObj | length > 1 %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                There are 
                {% for Obj in ListLoanAmendmentObj %}
                <a href='javascript:void(0)' onclick='CustomClickView("LoanAmendment-{{ Obj.ID }}", "LoanAmendment/?ID={{ Obj.ID }}")'>{{ Obj.ID }}</a> 
                {% endfor %}
                Loan Amendment in <a href="javascript:void(0)" onclick='CustomClickView("LoanContract-{{ ContractID }}","LoanContract/?ID={{ ContractID }}")'>{{ ContractID }}</a> {{ Resource }}
            </div>
        {% endif %}
    {% endif %}

    {% if Schedule %}
        {% if Contract %}
        <div class="col-sm-12">
            <h3 class="header-3 text-center">{{ getLanguage('Repayment Schedule') }}</h3>
        </div>
        <div class="col-sm-6">
            <table>
    				<tr>
    					<td width="160"><strong>{{ getLanguage('Contract ID') }}</strong></td>
    					<td>: {{ Contract.ID }}</td>
    				</tr>
    				<tr>
    					<td><strong>{{ getLanguage('Customer ID') }}</strong></td>
    					<td>: {{ Contract.ContractCustomerID }}</td>
    				</tr>
    				<tr>
    					<td><strong>{{ getLanguage('Account') }}</strong></td>
                        {% if Contract.Account %}
    					   <td>: {{ Contract.Account }}</td>
                        {% else %}
                           <td>: Account not found</td>
                        {% endif %}
    				</tr>
    				<tr>
    					<td><strong>{{ getLanguage('Customer Name') }}</strong></td>
                        {% if Contract.Customer %}
    					   <td>: {{ Contract.Customer.LastNameEn + " " + Contract.Customer.FirstNameEn }}</td>
                        {% else %}
                            <td>: Customer not found</td>
                        {% endif %}
    				</tr>
    				<tr>
    					<td><strong>{{ getLanguage('Branch') }}</strong></td>
    					<td>: {{ Contract.BranchName.Description }}</td>
    				</tr>
    				<tr>
    					<td><strong>Loan Disbursed</strong></td>
    					<td>: {{ toMoney(float(Contract.LoanDisbursed), Contract.CurrencyObj) }}</td>
    				</tr>
                    <tr>
                        <td><strong>{{ getLanguage('Loan Amount') }}</strong></td>
                        <td>: {{ toMoney(float(Contract.LoanAmount), Contract.CurrencyObj) }}</td>
                    </tr>
            </table>
        </div>
        <div class="col-sm-6" style="padding-right: 20px;">
            <table style="float: right;">
                <tr>
                    <td width="160"><strong>{{ getLanguage('Currency') }}</strong></td>
                    <td>: {{ Contract.Currency }}</td>
                </tr>
                <tr>
                    <td><strong>{{ getLanguage('Interest Rate') }}</strong></td>
                    <td>: {{ Contract.InterestRate }}% / Year</td>
                </tr>
                {% if Contract.IRR %}
                    <tr>
                        <td><strong>IRR</strong></td>
                        <td>: {{ Contract.IRR }} / Year</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><strong>{{ getLanguage('Value Date') }}</strong></td>
                    <td>: {{ Contract.ValueDate.split("-")[2] + "-" + Contract.ValueDate.split("-")[1] + "-" + Contract.ValueDate.split("-")[0] }}</td>
                </tr>
                <tr>
                    <td><strong>{{ getLanguage('Maturity Date') }}</strong></td>
                    <td>: {{ Contract.MaturityDate.split("-")[2] + "-" + Contract.MaturityDate.split("-")[1] + "-" + Contract.MaturityDate.split("-")[0] }}</td>
                </tr>
                <tr>
                    <td><strong>{{ getLanguage('Term') }}</strong></td>
                    <td>: {{ Contract.Term }} Months</td>
                </tr>
                <tr>
                    <td><strong>{{ getLanguage('Installment') }}</strong></td>
                    <td>: {{ Contract.Installment }}</td>
                </tr>
            </table>
        </div>

        
        <div class="clearfix">&nbsp;</div>

        <table id="mktlist" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>{{ getLanguage('No') }}</th>
                    <th>{{ getLanguage('Collection Date') }}</th>
                    <th class="text-right" style="padding-right: 35px;">{{ getLanguage('Principal') }}</th>
                    <th class="text-right" style="padding-right: 35px;">{{ getLanguage('Interest') }}</th>
                    <th class="text-right" style="padding-right: 35px;">{{ getLanguage('Total Amount') }}</th>
                    <th class="text-right" style="padding-right: 35px;">{{ getLanguage('Balance') }}</th>
                    <th>NumberOfDay</th>
                </tr>
            </thead>
            <tbody>
                {% for row in Schedule %}
                    <tr>
                        <td>{{ row.No }}</td>
                        <td>{{ toDateShort(row.CollectionDate, "KH") }}</td>
                        <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Principal), Contract.CurrencyObj) }}</td>
                        <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Interest), Contract.CurrencyObj) }}</td>
                        <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Principal + row.Interest), Contract.CurrencyObj) }}</td>
                        <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Balance), Contract.CurrencyObj) }}</td>
                        <td class="text-right" style="padding-right: 35px;">{{ row.NumDay }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}
    {% endif %}

{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script type="text/javascript">
        $(document).ready(function() {

            $('#mktlist').dataTable({
               "lengthMenu": [[12,24, 36, 60,120, -1], [12,24, 36, 60,120, "All"]]
            });

            {% from "print.html" import exportDataTable %}
            {{ exportDataTable('#mktlist','Repayment Schedule') }}

            $("#SaveSchedule").click(function(){
            	var ContractID = $("#ContractID").val();
            	$.ajax({
            		url: "/Morakot/ScheduleDefine/SaveSchedule",
            		type: "POST",
            		data: { ContractID:ContractID },
            		beforeSend: function()
            		{
            			$(".se-pre-con1").show();
            		},
            		success: function(data)
            		{
            			$(".se-pre-con1").hide();
            			alert(data);
            		}
            	});
            });
            // $(".table-caption").append("<a class='btn btn-primary' href='/Morakot' role='button' title='Refresh'><i class='fa fa-save'></i> Save Schedule</a>");
        });

        function popupwindow(url, title, w, h) {
			var randomnumber = Math.floor((Math.random()*100)+1); 
			var left = (screen.width/2)-(w/2);
			var top = (screen.height/2)-(h/2);
			return window.open(url, 'title'+randomnumber, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
		}

    </script>
{% endblock %}