{% extends "layout.html" %}

{% block css %}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
	<style type="text/css">
	.form-control
	{
	width: 100% !important;
	}

	.se-pre-con1 {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
	opacity: 0.4;
	display: none;
	}
	.FrequencyCollection{
		width: 70% !important;
	}
	#TextHeader{
	color: #888 !important;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 18px 0;
	}
	</style>
{% endblock %}

{% block content %}

	<script src="{{ url_for('static',filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/dataTables.tableTools.js') }}"></script>

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/dataTables.tableTools.css') }}">


	<script type="text/javascript">
		$(document).ready(function() {
			$('#Generate').on("click",function(e){
				$("#animated").fadeIn("slow");
			});
			$('#Save').on("click",function(e){
				$("#animated").fadeIn("slow");
			});
			
			$('#mktlist').dataTable({
				"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			});

			$('#frm').on("click", 'select[id^="PI_"]', function(e) {
				var container = $(this).parent().parent();
				if ($(this).val()=='PIM') {
					container.find('input[id^="InterestAmount_"]').parent().show();
					container.find('input[id^="PrincipalAmount_"]').parent().removeClass('col-sm-4');
					container.find('input[id^="PrincipalAmount_"]').parent().addClass('col-sm-2');
				} else {
					container.find('input[id^="InterestAmount_"]').parent().hide();
					container.find('input[id^="PrincipalAmount_"]').parent().addClass('col-sm-4');
					container.find('input[id^="PrincipalAmount_"]').parent().removeClass('col-sm-2');
				}
			});

			$('.datepicker').datepicker();
		
			//global parameter
			{%if ManualObj%}
				index={{ManualObj.count() +2}}
			{%else%}
				index=2
			{%endif%}

			//assign value to control
			function assignValue(j){
				$('#CollectionDate_'+j.toString()).val(getParameterByName("CollectionDate_"+j.toString()))
				$('#PI_'+j.toString()).val(getParameterByName("PI_"+j.toString()))
				$('#PrincipalAmount_'+j.toString()).val(getParameterByName("PrincipalAmount_"+j.toString()))
				$('#InterestAmount_'+j.toString()).val(getParameterByName("InterestAmount_"+j.toString()));
				$('#Charge_'+j.toString()).val(getParameterByName("Charge_"+j.toString()));
				$('#FrequencyCollection_'+j.toString()).val(getParameterByName("FrequencyCollection_"+j.toString()));

				if ($('#PI_'+j.toString()).val() == "PIM") {
					$('#PrincipalAmount_'+j.toString()).parent().addClass('col-sm-2');
					$('#PrincipalAmount_'+j.toString()).parent().removeClass('col-sm-4');
					$('#InterestAmount_'+j.toString()).parent().show();
				}
			}

			{%if not ManualObj %}
				//add control when page load
				for (j=1;j<={{TotalRow|length}};j++){

					if (j==1){
						assignValue(j)
						MoneyField(j)
						index=2 //set index to 2

					}else{

						addControl();
						assignValue(j)
						MoneyField(j)
						index++;
					}
				}
			{%endif%}

			//add controls
			function addControl(LastContainerNumber){
				if (LastContainerNumber === undefined) {
					LastContainerNumber = 1;
				}
				var $clone_obj=$('#container_'+LastContainerNumber.toString()).clone();

				$($clone_obj).find('[id]').each(function(){
					$arrid=$(this).attr('id').split('_')
					$(this).attr('name',$arrid[0]+"_"+index)
					$(this).attr('id',$arrid[0]+"_"+index)
				});

				if ($clone_obj.find('select[id^="PI_"]').val() != "PIM") {
					$clone_obj.find('input[id^="InterestAmount_"]').parent().hide();
					$clone_obj.find('input[id^="PrincipalAmount_"]').parent().addClass('col-sm-4');
					$clone_obj.find('input[id^="PrincipalAmount_"]').parent().removeClass('col-sm-2');
				}

				$('.form-inline').find('[id]').each(function(){
					if ($(this).hasClass('mcontainer')){
						$mcontainer=$(this).attr('id');
					}
				});

				$tempcontainer="container_"+index
				$clone_obj.attr('id',$tempcontainer)
				$('#'+$mcontainer).after($clone_obj)
			}

			//update index
			var update_index=function(){
				index=1
				$('.form-inline').find('[id]').each(function(){
				if ($(this).hasClass('mcontainer')){ 
					$arrid=$(this).attr('id').split('_')
					$(this).attr('name',$arrid[0]+"_"+index)
					$(this).attr('id',$arrid[0]+"_"+index)
					index++
				}
				// console.log($(this).attr('id'))
				});
			}

			$('#add').on("click",function(e){
				console.log(index,$('.mcontainer').length);

				addControl($('.mcontainer').length);
				MoneyField(index)
				index++;
			});

			//remove control
			$(".form-inline").on("click",".remove",function(e){
				if ($(this).parent().parent().attr("id")!="container_1"){
					$(this).parent().parent().remove();
					update_index();  
				}
				//  console.log($(this).parent().parent().attr("id"))
			});

			$("#Save").on("click",function(e){
				$('#SaveSchedule').val('Save');
				frm.submit();
			});

			$("#Edit").on("click",function(e){

				{%if Amendment=="No"%}
					window.location.href="/Morakot/LoanContract/Edit/{{ ContractID }}/";
				{%else%}
					window.location.href="/Morakot/LoanAmendment/Edit/{{ AmtID }}/";
				{%endif%}
			});
			$("#New").on("click",function(e){

				{%if Amendment=="No"%}
					window.location.href="/Morakot/LoanContract";
				{%else%}
					window.location.href="/Morakot/LoanAmendment";
				{%endif%}
			});
			$("#Auto").on("click",function(e){

				{%if Amendment=="No"%}
					window.location.href="/Morakot/ScheduleDefine/New/{{ ContractID }}?Resource={{Resource}}";
				{%else%}
					window.location.href="/Morakot/ScheduleDefine/New/{{ ContractID }}?Resource={{Resource}}&Amendment=YES&AmtID={{AmtID}}";
				{%endif%}
			});
	
			function MoneyField(j){
				$(function() {
				// code here
					$('#PrincipalAmount_'+j.toString()).blur(function(){
						var Money = $('#PrincipalAmount_'+j.toString()).val()
						var Currency = $('#Currency').val();
						$.ajax({
							url: "/Morakot/toMktmoney?Currency="+Currency+"&Money="+Money,
							type: "GET",
							success: function(data){
								$('#PrincipalAmount_'+j.toString()).val(data['value'])
							}
						});
					});

					$('#InterestAmount_'+j.toString()).blur(function(){
						var Money = $('#InterestAmount_'+j.toString()).val()
						var Currency = $('#Currency').val();
						$.ajax({
							url: "/Morakot/toMktmoney?Currency="+Currency+"&Money="+Money,
							type: "GET",
							success: function(data){
								$('#InterestAmount_'+j.toString()).val(data['value'])
							}
						});
					});

				});
			}
			MoneyField(1);
		});

	</script>


{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}

	<div class="col-sm-12 navbar navbar-default navbar-static-top" style="padding: 10px !important; margin: 0px !important;">
		<!-- <form method="POST" action="/Morakot/ScheduleDefine/SaveSchedule"> -->
			<div class="form-group" style="margin: 0px !important;">
					<button type="button" class="btn btn-flat btn-labeled btn-success pull-right" 
					id="Auto">
					<span class="btn-label icon fa fa-gear"></span> Auto Schedule
					</button>
					<div style="padding-top: 5px;">

						<a href="javascript:void(0)" id="New" style="color: #777;">
							<span class="btn-label icon fa fa-file-text-o"></span>&nbsp; New
						</a> &nbsp;&nbsp;&nbsp;

						<a href="javascript:void(0)" id="Save"  style="color: #777;">
						<span class="btn-label icon fa fa-floppy-o"></span> Save
						</a> &nbsp;&nbsp;&nbsp;

						<a href="javascript:void(0)" id="Edit" style="color: #777;">
							<span class="btn-label icon fa fa-pencil-square-o"></span>&nbsp; Edit
						</a> &nbsp;&nbsp;&nbsp;
					
				 </div>
			</div>
	</div>

	{% if ListError %}
	<div class="clearfix"></div>
	<div class="col-sm-12" style="padding-top:5px;">

		<div class="alert alert-danger" id="alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<ol>
				{% for message in ListError %}
				<li id="lblTableName">
					<a class="error_pointer" >
						<label for="TableName" style="width:15%;">
							{{message[0]}} <span style="color:#d38e99;">*	</span>
						</label>
					</a> 

					: {{message[1]}}
				</li>		
				{% endfor %}
			</ol>
			
		</div>
	</div>
	{% endif %}	
	<div class="col-sm-12" style="padding-top:5px;">
	{% for message in get_flashed_messages() %}
		{% if contain(message,"Error") %}
			<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
			</div>
		{% else %}
			<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
			</div>
		{% endif %}
	{% endfor %}
	<h3 id="TextHeader"class="text-center">Manual Schedule Define for {{ContractID}}</h3>

	</div>
	
		<form class="form-inline" id="frm">
			<input type="hidden" id="Currency" value="{{Currency}}"></input>
			<input type="hidden" id="AmtID" name="AmtID" value="{{AmtID}}"></input>
			<input type="hidden" id="Amendment" name="Amendment" value="{{Amendment}}"></input>
			<input type="hidden" id="Resource" name="Resource" value="{{Resource}}"></input>
			{%if ManualObj%}
				{%set count =1 %}
				{%for row in ManualObj%}
					<div id="container_{{count}}" class="mcontainer col-sm-11" style="margin-bottom:5px; padding-left:0px; padding-right:1px;">

						<div class="form-group col-sm-2" style="margin:0px;">

							<input type="text" class="form-control"
							data-provide="datepicker"
							data-date-format="yyyy-mm-dd"
							data-date-autoclose="true"
							id="CollectionDate_{{count}}"
							name="CollectionDate_{{count}}" 
							value="{{row.CollectionDate}}"
							placeholder="Colletion Date" />
						</div>
						<div class="form-group col-sm-2">

							<select class="form-control" id="PI_{{count}}" name="PI_{{count}}">
								<option value="">Type</option>
								<option value="PI" {%if row.Type == 'PI'%}selected='selected'{%endif%} >PI</option>
								<option value="PC" {%if row.Type == 'PC'%}selected='selected'{%endif%}>PC</option>
								<option value="IC" {%if row.Type == 'IC'%}selected='selected'{%endif%}>IC</option>
								<option value="PIC" {%if row.Type == 'PIC'%}selected='selected'{%endif%}>PIC</option>
								<option value="P" {%if row.Type == 'P'%}selected='selected'{%endif%}>P</option>
								<option value="I" {%if row.Type == 'I'%}selected='selected'{%endif%}>I</option>
								<option value="C" {%if row.Type == 'C'%}selected='selected'{%endif%}>C</option>
								<option value="PIM" {%if row.Type == 'PIM'%}selected='selected'{%endif%}>PI Manual</option>
							</select>
						</div>
						<div class="form-group col-sm-{%if row.Type == 'PIM' %}2{% else %}4{% endif %}" >
							<input type="text" class="form-control" 
							id="PrincipalAmount_{{count}}" 
							name="PrincipalAmount_{{count}}"
							value="{{toMoney(float(row.Principal),CurrencyObj(Currency))}}"
							placeholder="Principal Amount" />
						</div>

						<div class="form-group col-sm-2" {%if row.Type != 'PIM' %}style="display: none;"{%endif%}>
							<input type="text" class="form-control" 
							id="InterestAmount_{{count}}" 
							name="InterestAmount_{{count}}"
							value="{{toMoney(float(row.Interest),CurrencyObj(Currency))}}"
							placeholder="Interest Amount" />
						</div>

						<div class="form-group col-sm-2" >
							<select class="form-control" id="Charge_{{count}}" name="Charge_{{count}}">
							<option value=''>---Charge---</option>
							{% for row in LoanChargeObj %}
							<option value={{row.ID}}>{{row.Description}}</option>
							{% endfor %}
							</select>
						</div>

						<div class="form-group col-sm-2" style="padding-right:0px;">
							<input type="input" class="form-control FrequencyCollection"
							id="FrequencyCollection_{{count}}" 
							name="FrequencyCollection_{{count}}" 
							value="{{row.Frequency}}"
							placeholder="Frequency">
							<button type="button" id="remove"  class="btn btn-primary remove pull-right">
								<i class='fa fa-minus'></i>
							</button>
						</div>
					</div> <!-- End container_1 -->
					{%set count = count+1 %}
				{%endfor%}
			{%else%}
				<div id="container_1" class="mcontainer col-sm-11" style="margin-bottom:5px; padding-left:0px; padding-right:1px;">

					<div class="form-group col-sm-2" style="margin:0px;">

						<input type="text" class="form-control"
						data-provide="datepicker"
						data-date-format="yyyy-mm-dd"
						data-date-autoclose="true"
						id="CollectionDate_1"
						name="CollectionDate_1" 
						
						placeholder="Colletion Date" />
					</div>
					<div class="form-group col-sm-2">

						<select class="form-control" id="PI_1" name="PI_1">
							<option value="">---Type---</option>
							<option value="PI">PI</option>
							<option value="PC">PC</option>
							<option value="IC">IC</option>
							<option value="PIC">PIC</option>
							<option value="P">P</option>
							<option value="I">I</option>
							<option value="C">C</option>
							<option value="PIM">PI Manual</option>
						</select>
					</div>
					<div class="form-group col-sm-{%if request.args.get('PI_1') == 'PIM' %}2{% else %}4{% endif %}" >
						<input type="text" class="form-control" 
						id="PrincipalAmount_1" 
						name="PrincipalAmount_1"
						value="0"
						placeholder="Principal Amount" />
					</div>
					<div class="form-group col-sm-2" {%if request.args.get('PI_1') != 'PIM'%}style="display: none;"{%endif%}>
						<input type="text" class="form-control" 
						id="InterestAmount_1" 
						name="InterestAmount_1"
						value="0"
						placeholder="Interest Amount" />
					</div>

					<div class="form-group col-sm-2" >
						<select class="form-control" id="Charge_1" name="Charge_1">
						<option value=''>---Charge---</option>
						{% for row in LoanChargeObj %}
						<option value={{row.ID}}>{{row.Description}}</option>
						{% endfor %}
						</select>
					</div>

					<div class="form-group col-sm-2" style="padding-right:0px;">
						<input type="input" class="form-control FrequencyCollection"
						id="FrequencyCollection_1" 
						name="FrequencyCollection_1" 
						placeholder="Frequency">
						<button type="button" id="remove"  class="btn btn-primary remove pull-right">
							<i class='fa fa-minus'></i>
						</button>
					</div>
				</div> <!-- End container_1 -->
			{%endif%}
			<div class="col-sm-1" style="padding:0px;">
				<button type="button" id="add" class="btn btn-primary"><i class='fa fa-plus'></i></button>
			</div>
			
		
		<div class="col-sm-12" style="padding-top:5px;padding-bottom:5px; padding-left:0px; padding-right:0px;">
			<div class="col-sm-11" style="padding:0px;">
				<input type="hidden" id="SaveSchedule" name="SaveSchedule" value="">
				<button type="submit" id="Generate" class="btn btn-flat btn-labeled btn-primary pull-right" style="margin-right: -36px;">
					<span class="btn-label icon fa fa-th"></span> Generate Schedule
				</button>
			</div>
			<div class="col-sm-2" style="padding:0px;">
				
			</div>
		</div>
		</form>

	<div class="col-sm-12">
		{%if Schedule %}
		<table id="mktlist" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
				{%for item in HeaderTable %}
					{%if item[1] == 'R'%}
						<th class="text-right">
					{%elif item[1]== 'L'%}
						<th>
					{%endif%}

						{{item[0]}}</th>
				{% endfor %}
				</tr>
			</thead>
			<tbody>
			{%if ManualObj%}

				{% for row in Schedule %}
				{%set Total= row.Principal + row.Interest + row.Charge %}
				<tr>
					<td>{{row.No}}</td>
					<td>{{toDate(row.CollectionDate,Locale)}}</td>
					<td td class="text-right">{{ toMoney(float(row.Principal),CurrencyObj(Currency)) }}</td>
					<td td class="text-right">{{ toMoney(float(row.Interest),CurrencyObj(Currency)) }}</td>
					<td td class="text-right">{{ toMoney(float(row.Charge),CurrencyObj(Currency)) }}</td>
					<td td class="text-right">{{ toMoney(float(Total),CurrencyObj(Currency))}}</td>
					<td td class="text-right">{{ toMoney(float(row.Balance),CurrencyObj(Currency)) }}</td>
					<td td class="text-right">{{row.NumDay}}</td>
				</tr>
				{% endfor %}
			{%else%}
				{% for row in Schedule %}
				<tr>
					{% set count = 0%}
					{% for col in row%}
						{%if count > 1%}
							<td class="text-right">
						{%else%}
							<td>
						{%endif%}
						{{ col }}</td>
						{% set count = count + 1 %}
					{% endfor %}
				</tr>
				{% endfor %}
			{%endif%}
			

			</tbody>
		</table>
		{% endif %}
</div> <!-- end col-sm-12 -->
{% endif %}
{% endblock %}



{% block js %}

{% endblock %}