{% extends "layout.html" %}

{% block css %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <form method="GET" id="frm" name="frm" role="form" action="/Morakot/PD/">
            <div class="col-sm-6">

                <div style="margin-top: 8px;">
                    <div class="col-sm-4" style="padding-left: 0;">
                        {{ form.ID(class='form-control', style='width: 100%;', value=ID) }}
                    </div>
                    <label class="col-sm-1" style="padding:0px;">
                        <button type="submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
                            Show
                        </button>
                    </label>
                </div>             
            </div>

            <div class="col-sm-6">

                <div class="pull-right" style="margin-top: 8px;">

                    {% from "print.html" import exportButton %}
                    {{exportButton()}}

                </div>             
            </div>

        </form>
    </div>

    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    {% if PD_DATE: %}
        <div class="col-sm-12">
            <h3 class="header-3 text-center">Past Due Detail</h3>
        </div>
        <div class="col-sm-6">
            <table>
                <tr>
                    <td width="150"><strong>Customer</strong></td>
                    <td>: &nbsp {{ PD.Customer }}</td>
                </tr>
                <tr>
                    <td><strong>Customer Name</strong></td>
                    <td>: &nbsp  {{ VLOOKUP(['MKT_CUSTOMER', 'ID', PD.Customer, 'LastNameEn']) }} {{ VLOOKUP(['MKT_CUSTOMER', 'ID', PD.Customer, 'FirstNameEn']) }}</td>
                </tr>
                <tr>
                    <td><strong>Loan ID</strong></td>
                    <td>: &nbsp  {{ ID[2:] }}</td>
                </tr>
                <tr>
                    <td><strong>Penalty Rate</strong></td>
                    <td>: &nbsp  {{ PD.PenaltyRate }}</td>
                </tr>
                <tr>
                    <td><strong>Currency</strong></td>
                    <td>: &nbsp  {{ PD.Currency }}</td>
                </tr>
                
            </table>
        </div>
        <div class="col-sm-6" style="padding-right: 20px;">
            <table style="float: right;">
                <tr>
                    <td width="170"><strong>Total Over Due Amount</strong></td>
                    <td>: &nbsp {{ toMoney(float(PD.TotODAmount), getCurrencyObj(PD.Currency)) }}</td>
                </tr>
                <tr>
                    <td><strong>Total Principal Due</strong></td>
                    <td>: &nbsp {{ toMoney(float(PD.TotPrincipalDue), getCurrencyObj(PD.Currency)) }}</td>
                </tr>
                <tr>
                    <td><strong>Total Interest Due</strong></td>
                    <td>: &nbsp {{ toMoney(float(PD.TotInterestDue), getCurrencyObj(PD.Currency)) }}</td>
                </tr>
                <tr>
                    <td><strong>Total Penalty Due</strong></td>
                    <td>: &nbsp {{ toMoney(float(PD.TotPenaltyDue), getCurrencyObj(PD.Currency)) }}</td>
                </tr>
                <tr>
                    <td><strong>Total Charge Due</strong></td>
                    <td>: &nbsp {{ toMoney(float(PD.TotChargeDue), getCurrencyObj(PD.Currency)) }}</td>
                </tr>
            </table>
        </div>

        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>

        <div class="panel panel-default">
            
            <table id="mktlist" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th><b>Date</b></th>
                        <th><b>Day Due</b></th>
                        <th><b>Status</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Amount</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Out Amount</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Principal</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Out Principal</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Interest</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Out Interest</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Penalty</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Out Penalty</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Charge</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Out Charge</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in PD_DATE: %}
                        <tr>
                            <td>{{ row.DueDate }}</td>
                            <td>{{ row.NumDayDue }}</td>
                            <td>{{ row.ODStatus }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.TotODAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.PrincipalDue), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutPriAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.InterestDue), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutIntAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.PenaltyDue), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutPenAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.ChargeDue), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutChgAmount), getCurrencyObj(PD.Currency)) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
     
{% endblock %}

{% block js %}
    
    {% from "print.html" import exportIncludeJS %}
    {{ exportIncludeJS() }}

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#mktlist').dataTable({
                "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                "bSort" : false
            });

            {% from "print.html" import exportDataTable %}
            {{ exportDataTable('#mktlist','Past Due - ' + ID) }}
        });
    </script>

{% endblock %}