{% extends "layout.html" %}

{% block css %}


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <div class="col-sm-12">
            <div style="margin-top: 8px;">

            </div> 
            <div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

                {% from "print.html" import exportButtonLink %}
                {{exportButtonLink()}}

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    <div class="col-sm-12">
        <h3 class="header-3 text-center">Past Due</h3>
    </div>
    
    <div class="clearfix">&nbsp;</div>

    <div class="panel panel-default">
        
            <table id="mktlist" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>                            
                        <th><b>ID</b></th>
                        <th><b>Customer</b></th>
                        <th><b>Name</b></th>
                        <th><b>Account</b></th>
                        <th><b>Currency</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Total Amount</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Pricipal</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Interest</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Penalty</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Charge</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% if PD: %}
                        {% for row in PD: %}
                            <tr>
                                <td>
                                    <a href="/Morakot/PD/?ID={{ row.ID }}">{{ row.ID }}</a>
                                </td>
                                <td>{{ row.Customer }}</td>
                                <td>{{ row.LastNameEn }} {{ row.FirstNameEn }}</td>
                                <td>{{ row.Account}}</td>
                                <td>{{ row.Currency }}</td>
                                <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.TotODAmount), getCurrencyObj(row.Currency), 0) }}</td>
                                <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.TotPrincipalDue), getCurrencyObj(row.Currency), 0) }}</td>
                                <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.TotInterestDue), getCurrencyObj(row.Currency), 0) }}</td>
                                <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.TotPenaltyDue), getCurrencyObj(row.Currency), 0) }}</td>
                                <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.TotChargeDue), getCurrencyObj(row.Currency), 0) }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

    </div>

     
{% endblock %}

{% block js %}
    
    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {

            $('#mktlist').dataTable();
            // $(".table-caption").append("<a class='btn btn-primary' href='/Morakot' role='button' title='Refresh'><i class='fa fa-save'></i> Save Schedule</a>");
            
            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist', "Past Due Report")}}

        });
    </script>
 
{% endblock %}