{% extends "layout.html" %}

{% block css %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>

        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <form method="GET" id="frm" name="frm" role="form" action="/Morakot/PenaltyWaive/">
            <div class="col-sm-12">

                <div style="margin-top: 8px;">

                    <div class="col-sm-6" style="padding-left: 0;">
                        <div class="col-sm-4" style="padding-left: 0;">
                            <input type="text" name="ID" id="ID" value="{{ ID }}" class="form-control" style="width: 100%;" placeholder="Contract ID">
                        </div>
                        <label class="col-sm-1" style="padding:0px;">
                            <button type="submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
                                Show
                            </button>
                        </label>
                    </div>

                    {% if ListPD and PD %}
                        <div class="col-sm-6" style="padding-right: 0;">
                            {% if float(PD.TotPenaltyDue) > 0 %}
                                <a href="#" style="margin-left: 5px;" class="btn btn-flat btn-labeled btn-info pull-right" data-toggle="modal" data-target="#PenaltyCollectForm">
                            {% else %}
                                <a style="margin-left: 5px;" class="btn btn-flat btn-labeled btn-default pull-right">
                            {% endif %}
                                <!-- /Morakot/Penalty/Collect/?ID={{ ID }} -->
                                <span class="btn-label icon fa fa-dollar"></span> Penalty Collect
                            </a>

                            {% if Loan %}
                                {% if Loan.Penalty == 'N' %}
                                    <a href="/Morakot/PenaltyWaive/Prevent/?ID={{ ID }}" class="btn btn-flat btn-labeled btn-warning pull-right">
                                        <span class="btn-label icon fa fa-check"></span> Disabled Penalty
                                    </a>
                                {% else %}
                                    <a href="/Morakot/PenaltyWaive/Prevent/?ID={{ ID }}" class="btn btn-flat btn-labeled btn-success pull-right">
                                        <span class="btn-label icon fa fa-check"></span> Enabled Penalty
                                    </a>
                                {% endif %}
                            {% endif %}

                        </div>
                    {% endif %}

                </div>             
            </div>
        </form>
    </div>

    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    {% if ListPD and PD %}
        <div class="col-sm-12">
            <h3 class="header-3 text-center">Past Due - {{ PDID }}</h3>
            <h4 class="header-4 text-center">Total Over Due Amount: {{ toMoney(float(PD.TotODAmount), getCurrencyObj(PD.Currency)) }}</h4>
            <h4 class="header-4 text-center">Currency: {{ PD.Currency }}</h4>
        </div>

        <div class="clearfix">&nbsp;</div>

        <div class="panel panel-default">
            
            <table id="mktlist" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th><b>Date</b></th>
                        <th><b>Day Due</b></th>
                        <th><b>Status</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Amount</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Out Amount</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Principal</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Interest</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Penalty</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Charge</b></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in ListPD: %}
                        <tr>
                            <td>{{ row.DueDate }}</td>
                            <td>{{ row.NumDayDue }}</td>
                            <td>{{ row.ODStatus }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.TotODAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutPriAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutIntAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutPenAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.OutChgAmount), getCurrencyObj(PD.Currency)) }}</td>
                            <td class="text-center">
                                {% if float(row.OutPenAmount) > 0 %}
                                    <a href="/Morakot/PenaltyWaive/Set/?ID={{ row.PDID }}&Loan={{ ID }}&DueDate={{ row.DueDate }}" class="waivPenalty text-warning"><i class="fa fa-trash-o"></i> Waive Penalty</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}
     
{% endblock %}

{% block js %}

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {


            $('.waivPenalty').click(function(event) 
            {
                var Loan    = $("#ID").val();
                var check   = confirm("The penalty for loan "+ Loan +" will be remove. Are you sure?");
                
                if (check == true) {
                    // $("#animated").fadeIn("slow");
                    return true;
                } else {
                    event.preventDefault();
                }
            }); 

            $('#mktlist').dataTable();

            $("#Amount").on('blur', function(){
                var Amount = $("#Amount").val();
                $.ajax({
                    url: "/Morakot/Penalty/GetAmount/",
                    type: "GET",
                    data: { Amount: Amount, Currency: "{{ PD.Currency }}" },
                    success: function(data)
                    {
                        $("#Amount").val(data);
                    }
                });

            });

            $("#btn_submit").click(function(){

                var Amount = $("#Amount").val();

                if(parseFloat(Amount) > 0) {
                    return true;
                }
                $("#msg_error").show();
                return false;
            });

        });
    </script>

    <div class="modal fade" id="PenaltyCollectForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/Penalty/Collect/" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Penalty Collect</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">Amount:</label>
                            <div class="col-sm-5">
                                <input type="hidden" name="ID" value="{{ ID }}">
                                <input name="Amount" id="Amount" value="0" class="form-control" style="width: 100%;">
                                <p class="text-warning" style="display: none;" id="msg_error"><br>This field is required numeric format and not 0.</p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btn_submit" class="btn btn-primary">{{ getLanguage('400003') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('400004') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}