{% extends "layout.html" %}

{% block css %}
    
       <style type="text/css">
        .form-control
        {

            width: 100% !important;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }
        .subtotal{
            font-size:14px;  
            font-weight: bold;
        }
        .grandtotal{
            font-size:14px;  
            font-weight: bold;
        }
        .text-right{
            padding-right: 35px !important;
            } 
        .blank_row{
            height: 30px;
        }
        .mktlink{
            
            color:#1d89cf;
        }
        .mktlink:hover{
            cursor:pointer;
        }
        .close{
            text-align: center !important;

        }
      /*  .close:hover
        {
            
            background: none repeat scroll 0 0 #ccc !important;
            border-radius: 2px !important;
        }*/

    </style>
{% endblock %}

{% block content %}
    

        {%set DicRow={} %}
        {%set HeaderAlign=[]%}
        {%for col in ReportRow %}
            {% if col[1] != 'H' %}
                {%if HeaderAlign.append(col[1])%}{%endif%}
            {%endif%}
            {%if DicRow.update({col[0]:col[1]})%}{%endif%}
            {%if col[1]== 'C' %}
                {%if DicRow.update({col[0]+col[1]:col[2]})%}{%endif%}
            {%endif%}

        {%endfor%}

        {% if ListCondition %}

            <div class="navbar navbar-default navbar-static-top" id="navberCriteria">
                <button type="button" id="Hide" class="close" style="padding-right:10px;">&times;</button>
                <form method="GET" id="frmReport" name="frm" role="form" action="/Morakot/Report/Journal/">
                    <input type="hidden" name="CriteriaRequired" value="N">
                    <div class="col-sm-6" id="SectionCriteria">
                        <table style="margin-top: 8px;">
                            {% for item in ListCondition%}
                                {% if item != ''%}
                                    <tr style="height:35px;">
                                        <td class="col-sm-3">{{item}} : </td>
                                        <td class="col-sm-3">  

                                            <select class="form-control" id="Opr{{item}}" name="Opr{{item}}" style="width:100px">
                                                <option value="EQ" {%if Oprs[item] == 'EQ'%}selected='selected'{%endif%}> equal   </option>
                                                <option value="LK" {%if Oprs[item] == 'LK'%}selected='selected'{%endif%}> contain </option>
                                                <option value="BT" {%if Oprs[item] == 'BT'%}selected='selected'{%endif%}> between </option>
                                                <option value="GT" {%if Oprs[item] == 'GT'%}selected='selected'{%endif%}> greater than</option>
                                                <option value="GE" {%if Oprs[item] == 'GE'%}selected='selected'{%endif%}> greater than equal</option>
                                                <option value="LT" {%if Oprs[item] == 'LT'%}selected='selected'{%endif%}> Less than</option>
                                                <option value="LE" {%if Oprs[item] == 'LE'%}selected='selected'{%endif%}> Less than equal</option>
                                            </select>

                                            <script type="text/javascript">
                                                init.push(function () {
                                                    // Single select
                                                    $("#Opr{{item}}").select2({
                                                        allowClear: true,
                                                        placeholder: "Opr{{item}}"
                                                    });
                                                });
                                            </script>

                                        </td>
                                        <td class="col-sm-4">
                                            <input class="input-sm form-control" type="text" placeholder="{{item}}" name="{{item}}" id="{{item}}" value="{{ kwargs[item] }}" >
                                        </td>

                                    </tr>
                                    {% if loop.last%}
                                    <tr style="height:50px;">
                                        <td class="col-sm-3"></td>
                                        <td class="col-sm-3"></td>
                                        <td class="col-sm-4" style="text-align: right;">
                                            <button type="submit" id="form_submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;" >
                                                Show
                                            </button>

                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </form>             
            </div>

        {% endif %}


        <div class="navbar navbar-default navbar-static-top ActionFotter" id="CriteriaSetting" >
            <div class="col-sm-12">

                    <div style="margin-top: 8px;">

                    </div> 
                    <div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

                        {% from "print.html" import exportButtonLink %}
                        {{exportButtonLink()}}

                    </div>
                    <a href="javascript:void(0)" title="Refresh" id="Refresh" class="btn btn-flat btn-labeled btn-warning pull-right" style="margin-left: 5px;">
                        <span class="btn-label icon fa fa-refresh"></span> Refresh
                    </a>
                    <button  type="button"  class="btn btn-flat btn-labeled btn-success pull-right ActionFotter" id="Show" ><span class="btn-label icon fa fa-gear"></span> Custom </button>
                
            </div> 
               
        </div>


    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    {% if RecordObj %}

        <div class="col-sm-12">
            <h3 class="header-3 text-center">Journal Report</h3>
        </div>

        {% if ListCondition %}
            {%if urlRequest%}

                <div class="col-sm-12">
                    <table>
                         {% for item in kwargs%}
                            <tr>
                                <td width="150"><strong>{{ item }}</strong></td>
                                <td>: &nbsp;{{ kwargs[item] }}  </td>
                            </tr>
                         {% endfor %}
                    </table>          
                </div>

            {% endif %}

        {% endif %}

        <div class="clearfix">&nbsp;</div>

            <table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
                
                <thead>
                    <tr>
                        <th>Transaction Date</th>
                        <th>Category</th>
                        <th>Transaction</th>
                        <th>Note</th>
                        <th>Currency</th>

                        <th class="text-right">Debit</th>
                        <th class="text-right">Credit</th>

                        <th>GL_KEYS</th>
                        <th>Reference</th>
                        <th>Customer</th>
                    </tr>
                </thead>

                <tbody>
                {%set Total={}%}
                    {% for item in RecordObj %}

                        <tr>
                            <td>{{ item.TransactionDate }}</td>
                            <td>{{ item.CategoryID }} - {{ item.Category }}</td>
                            <td>{{ item.Transaction }}</td>
                            <td>{{ item.Description }}</td>
                            <td>{{ item.Currency }}</td>

                            {% if item.DebitCredit == 'Dr' %}
                                {%if Total.update({'Dr':item.Amount+Total.get('Dr',0)})%}{%endif%}
                                <td class="text-right">{{ toMoney(float(item.Amount), getCurrencyObj(item.Currency)) }}</td>
                                <td></td>
                            {% else %}
                                {%if Total.update({'Cr':item.Amount+Total.get('Cr',0)})%}{%endif%}
                                <td></td>
                                <td class="text-right">{{ toMoney(float(item.Amount), getCurrencyObj(item.Currency)) }}</td>
                            {% endif %}

                            <td>{{ item.GL_KEYS }}</td>
                            <td>{{ item.Reference }}</td>
                            <td>{{ item.CustomerID }}</td>
                        </tr>

                    {% endfor %}
                     <tr>
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-right">{{Total.get('Dr',0)}}</th>
                        <th class="text-right">{{Total.get('Cr',0)}}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                </tbody>

            </table>

        {% endif %}


{% endblock %}

{% block js %}

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $("form#frmReports").submit(function(){
                $(".se-pre-con1").show();
            });

            function fn_fadeIn(){
                var $getParentEle = window.parent.$("#animated")
                $getParentEle.fadeIn("slow");
            }
            $('#mktlist').dataTable({
               "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                "bSort" : false,
                // "bLengthChange" :false,
            });
             $( "#form_submit").click(function() {
                fn_fadeIn();
            });
            
            // $('#mktlist_filter').hide()
            // $('.table-header').hide()
            $('#users-url').addClass('active');

            $("#Refresh").click(function() {
                window.location.reload(true);
            });
            $( "#Hide").click(function() {
                $('#navberCriteria').hide( );
                $('#SectionCriteria').hide( );
                $('#CriteriaSetting').show();
            });
            $( "#Show").click(function() {
                $('#navberCriteria').show();
                $('#SectionCriteria').show();
                $('#CriteriaSetting').hide();
            });

             {% if ListCondition %}
                $('#Show').show();
                {%if CriteriaRequired == 'Y' %}
                    $('#navberCriteria').show();
                    $('#SectionCriteria').show();
                    $('#CriteriaSetting').hide();
                    
                {% else %}
                    $('#navberCriteria').hide();
                    $('#SectionCriteria').hide();
                {% endif %}
            {% else %}
                $('#Show').hide();
            {% endif %}

            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist', 'Journal Report')}}
          

        });
    </script>
    
{% endblock %}