{% extends "layout.html" %}

{% block css %}
	
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}

   <div class="navbar navbar-default navbar-static-top">
    	<form method="GET" id="frm" name="frm" role="form" action="">
			<div class="col-sm-8">
				<div style="margin-top: 8px;">
		    		<div class="col-sm-4" style="padding-left: 0;">
		                <input type="text" name="ID" class="form-control" value="{{ ID }}" style="width: 100%;" placeholder="Record ID *">
					</div>
					<label class="col-sm-1" style="padding:0px;">
		    			<button type="submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
	                        {{ getLanguage('Show') }}
	                    </button>
		    		</label>
				</div>
			</div>
			<div class="col-sm-4" style="margin-top: 8px;">
				<div class="pull-right">
					<button type="button" 
								class="btn btn-flat btn-labeled btn-success" 
								data-toggle="modal" data-target="#getCustomRange">
		                <span class="btn-label icon fa fa-gear"></span> Custom
		            </button>
					{% from "print.html" import exportButton %}
	                {{ exportButton() }}
                </div>
			</div>
		</form>
	</div>

	<div class="modal fade" id="getCustomRange" tabindex="-1" 
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/Voucher" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Custom View</h4>
                    </div>
                    <div class="modal-body">
						<input type="hidden" name="ID" value="{{ID}}">
                        <div class="form-group">
                            <label for="ShowPrintBy" class="col-sm-6 control-label">Show Approved & Prepared By:</label>
                            <div class="col-sm-6">
                                <select class="form-control input-sm" name="VoucherShowName" style="width: 100%;" id="VoucherShowName">
                                    {% if VoucherShowName == 'Yes' %}
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No" >No</option>
                                    {% else %}
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ShowPrintBy" class="col-sm-6 control-label">Show Print By & Date:</label>
                            <div class="col-sm-6">
                                <select class="form-control input-sm" name="ShowPrintBy" style="width: 100%;" id="ShowPrintBy">
                                    {% if ShowPrintBy == 'Yes' %}
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No" >No</option>
                                    {% else %}
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="Apply">Apply</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


	<!--  message  -->
	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message,"Error") %}
				<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message[6:]}}
			</div>
			{% elif contain(message,"Warning") %}
				<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message[8:] }}
			</div>
			{% else %}
				<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endif %}
		{% endfor %}
	</div>

	{% if QueryObj.Branch %}
		{% if not IsLoan %}
		<div class="col-sm-12">
			<h3 class="header-3 text-center">{{Company.CompanyName}}</h3>
			<h4 class="header-3 text-center">Voucher Report</h4>
		</div>
		<div class="col-sm-12" style="padding:20px 10px">
			<div class="col-sm-6">
		        <table>
					<tr>
						<td width="150"><strong>{{ getLanguage('Branch') }}</strong></td>
						<td>: &nbsp {{QueryObj.Branch}}</td>
					</tr>
					<tr>
						<td><strong>{{ getLanguage('Date') }}</strong></td>
						<td>: &nbsp {{QueryObj.TranDate}}</td>
					</tr>
					<tr>
						<td><strong>Voucher Type:</strong></td>
						<td>: &nbsp{{VoucherType}}</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6" style="padding-right: 20px;">
				<table style="float: right;">
				
					<tr>
						<td width="150"><strong>{{ getLanguage('Currency') }}</strong></td>
						<td>: &nbsp {{QueryObj.Currency}} </td>
					</tr>
					<tr>
						<td width="150"><strong>{{ getLanguage('Reference') }}</strong></td>
						<td>: &nbsp {{QueryObj.ID}} </td>
					</tr>
				</table>
		    </div>
		</div>
		<div class="clearfix">&nbsp;</div>
		<div class="col-sm-12">
			<table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Category ID</th>
						<th>Category</th>
						<th class="text-right">Debit</th>
						<th class="text-right">Credit</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					
						{%set TotalAmount 	={'Debit':0,'Credit':0}%}
						{%for row in DebitObj%}
							{%set Amount = row.DebitAmount %}
							{%set Currency = QueryObj.Currency%}
							<tr>
								<td>{{row.DebitCategory}}</td>
								<td>{{CategoryObj.get(row.DebitCategory).Description}}</td>
								<td class="text-right">{{toMoney(float(Amount),CurrencyObj.get(Currency))}}</td>
								<td></td>
								<td>{{row.DebitNote}}</td>
								{%if TotalAmount.update({'Debit':Amount+TotalAmount.Debit})%} {%endif%}

							</tr>
						{%endfor%}
						{%for row in CreditObj%}
							{%set Amount = row.CreditAmount %}
							{%set Currency = QueryObj.Currency%}
							<tr>
								<td>{{row.CreditCategory}}</td>
								<td>{{CategoryObj.get(row.CreditCategory).Description}}</td>
								<td></td>
								<td class="text-right">{{toMoney(float(Amount),CurrencyObj.get(Currency))}}</td>
								<td>{{row.CreditNote}}</td>
								{%if TotalAmount.update({'Credit':Amount+TotalAmount.Credit})%} {%endif%}

							</tr>
						{%endfor%}

							<tr>
								<td></td>
								<td><b>Total Amount</b></td>
								<td class="text-right"><b>{{formatNumber(TotalAmount.Debit)}}</b></td>
								<td class="text-right"><b>{{formatNumber(TotalAmount.Credit)}}</b></td>
								<td></td>
							</tr>
					
				</tbody>
			</table>
		</div>

		{% else %}
			<div class="col-sm-12">
				<h3 class="header-3 text-center">{{Company.CompanyName}}</h3>
				<h4 class="header-3 text-center">Voucher Report</h4>
			</div>
			<div class="col-sm-12" style="padding:20px 10px">
				<div class="col-sm-6">
			        <table>
						<tr>
							<td width="150"><strong>{{ getLanguage('Branch') }}</strong></td>
							<td>: &nbsp {{QueryObj.Branch}}</td>
						</tr>
						<tr>
							<td width="150"><strong>{{ getLanguage('Currency') }}</strong></td>
							<td>: &nbsp {{QueryObj.Currency}} </td>
						</tr>
						
					</table>
				</div>
				<div class="col-sm-6" style="padding-right: 20px;">
					<table style="float: right;">
					
						<tr>
							<td width="150"><strong>{{ getLanguage('Reference') }}</strong></td>
							<td>: &nbsp {{QueryObj.Reference}} </td>
						</tr>
					</table>
			    </div>
			</div>

			<div class="col-sm-12">
				<table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Category ID</th>
							<th>Date</th>
							<th>Category</th>
							<th class="text-right">Debit</th>
							<th class="text-right">Credit</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						
							{%set TotalAmount 	={'Debit':0,'Credit':0}%}
							{%for row in DebitObj%}
								{%set Amount = row.Amount %}
								{%set Currency = QueryObj.Currency%}
								<tr>
									<td>{{row.CategoryID}}</td>
									<td>{{row.TransactionDate}}</td>
									<td>{{CategoryObj.get(row.CategoryID).Description}}</td>
									<td class="text-right">{{toMoney(float(Amount),CurrencyObj.get(Currency))}}</td>
									<td></td>
									<td>{% if row.Description=='' %}
										{{ TransactionObj.get(row.Transaction).Description }}
										{% else %}{{ row.Description }}{% endif %}
									</td>
									{%if TotalAmount.update({'Debit':Amount+TotalAmount.Debit})%} {%endif%}

								</tr>
							{%endfor%}
							{%for row in CreditObj%}
								{%set Amount = row.Amount %}
								{%set Currency = QueryObj.Currency%}
								<tr>
									<td>{{row.CategoryID}}</td>
									<td>{{row.TransactionDate}}</td>
									<td>{{CategoryObj.get(row.CategoryID).Description}}</td>
									<td></td>
									<td class="text-right">{{toMoney(float(Amount),CurrencyObj.get(Currency))}}</td>
									<td>{% if row.Description=='' %}
										{{ TransactionObj.get(row.Transaction).Description }}
										{% else %}{{ row.Description }}{% endif %}
									</td>
									{%if TotalAmount.update({'Credit':Amount+TotalAmount.Credit})%} {%endif%}

								</tr>
							{%endfor%}

								<tr>
									<td></td>
									<td></td>
									<td><b>Total Amount</b></td>
									<td class="text-right"><b>{{formatNumber(TotalAmount.Debit)}}</b></td>
									<td class="text-right"><b>{{formatNumber(TotalAmount.Credit)}}</b></td>
									<td></td>
								</tr>
								
						
					</tbody>
					
				</table>
			</div>
		{% endif %}
		{%if VoucherShowName == "Yes"%}
			<div class="col-sm-12" style="padding:20px 10px">
		        {% set ClassName = 'col-sm-6' %}
	            {% if ShowPrintBy == 'Yes' %}
		            {% set ClassName = 'col-sm-4' %}
					<div class="col-sm-4">
						<table>
							<tr>
								<td class="text-center" ><strong>Printed By</strong></td>
							</tr>
							<tr>
								<td style="padding-top: 10px"><strong>Name: {{PrintBy}} </strong></td>
							</tr>
							<tr>
								<td style="padding-top: 10px"><strong>Date: {{PrintDate}}</strong></td>
							</tr>
						</table>
			        </div>
                {% endif %}

				<div class="{{ClassName}}">
			        <table>
						<tr>
							<td class="text-center" ><strong>Approved by</strong></td>
						</tr>
						<tr>
							<td style="padding-top: 10px"><strong>Name: {{Authorizer}} </strong></td>
						</tr>
						<tr>
							<td style="padding-top: 10px"><strong>Date: {{Authorizeon}}</strong></td>
						</tr>
					</table>
				</div>
				<div class="{{ClassName}}" style="padding-right: 20px;">
					<table style="float: right;">
						<tr>
							<td class="text-center" ><strong>Prepared by</strong></td>
						</tr>
						<tr>
							<td style="padding-top: 10px"><strong>Name: {{Inputter}} </strong></td>
						</tr>
						<tr>
							<td style="padding-top: 10px"><strong>Date: {{Createdon}} </strong></td>
						</tr>
					</table>
				</div>
			</div>
		{%else%}
			<div class="col-sm-12" style="padding:20px 10px">
				{% set ClassName = 'col-sm-6' %}
	            {% if ShowPrintBy == 'Yes' %}
		            {% set ClassName = 'col-sm-4' %}
					<div class="col-sm-4">
						<table>
							<tr>
								<td class="text-center" ><strong>Printed By</strong></td>
							</tr>
							<tr>
								<td style="padding-top: 100px"><strong>Name: {{PrintBy}} </strong></td>
							</tr>
							<tr>
								<td style="padding-top: 10px"><strong>Date: {{PrintDate}}</strong></td>
							</tr>
						</table>
			        </div>
                {% endif %}
				<div class="{{ClassName}}">
					<table>
						<tr>
							<td class="text-center" ><strong>Approved by</strong></td>
						</tr>

						<tr>
							<td style="padding-top: 100px"><strong>Name: </strong></td>
						</tr>
						<tr>
							<td style="padding-top: 10px"><strong>Date: </strong></td>
						</tr>
					</table>
				</div>
				<div class="{{ClassName}}" style="padding-right: 20px;">
					<table style="float: right;">
						<tr>
							<td class="text-center" ><strong>Prepared by</strong></td>
						</tr>
						<tr>
							<td style="padding-top: 100px"><strong>Name: </strong></td>
						</tr>
						<tr>
							<td style="padding-top: 10px"><strong>Date: </strong></td>
						</tr>
					</table>
				</div>
			</div>
		{%endif%}
	{%endif%}
{%endif%}

{% endblock %}

{% block js %}


{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">

	$(document).ready(function() {
		$('#mktlist').dataTable({
			"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"bSort" : false
		});
		{% from "print.html" import exportDataTable %}
		{{exportDataTable("#mktlist","Voucher Report")}}
		//Set Default Value to criteria
		$('#VoucherType').val('{{VoucherType}}')
	});

</script>
{% endblock %}