{% extends "layout.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
{% endblock %}

{% block content %}


   <!-- <div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
        <div class="col-sm-12">
            <div style="margin-top: 8px;">

            </div> 
            <div class="col-sm-6" style="padding-top:10px; padding-left:0px;">
 -->

          <!--   </div>

            <button  type="button" data-toggle="modal" data-target="#getCustomRange"  class="btn btn-flat btn-labeled btn-success pull-right" >
            <span class="btn-label icon fa fa-gear" ></span> Custom </button>
        </div> 
    </div>
 -->

	<!--  message  -->
	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message,"Error") %}
				<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message[6:]}}
			</div>
			{% elif contain(message,"Warning") %}
				<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message[8:] }}
			</div>
			{% else %}
				<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endif %}
		{% endfor %}
	</div>


	{{Temp|safe}}

{% endblock %}

{% block js %}

<script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">

	$(document).ready(function() {
		$('.mktlist').dataTable({
			"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"bSort" : false
		});

		{% from "print.html" import exportDataTable %}
		{{exportDataTable("#mktlist",TemplateTitle ,PrintingDate=False)}}
	});

</script>
{% endblock %}