{% extends "layout.html" %}

{% block css %}


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/codemirror.min.css') }}">
    <style>
        #editor { 
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .CodeMirror {
            height: auto;
        }
        .cm-s-monokai span.cm-error {
            background: none;
            color: darkturquoise;
        }
        .editor-wrapper {
            position: relative;
            min-height: 500px;
            overflow: hidden;
        }

        .toolbar {
            background: #444;
            border-bottom: 2px solid #888;
            text-align: right;
        }
        .toolbar label {
          background: #222222;
          color: silver;
          margin: 0;
          padding: 5px;
        }
       


    </style>
{% endblock %}

{% block content %}

    <div class="col-sm-12 navbar navbar-default navbar-static-top" role="navigation">
        <ul class="col-sm-10 nav navbar-nav">
            {% for items in li_html %}
                <li  {{items[1]|safe}} >
                    {% if items[0]=="Save" %}
                        <a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-floppy-o'></i>&nbsp;{{ getLanguage('Save') }}</a>
                    {% elif items[0]=="Edit" %}
                        <a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Edit') }}</a>
                    {% elif items[0]=="Delete" %}
                        <a href="javascript:void(0)" id="Delete" {{items[1]|safe}}><i class='fa fa-trash-o'></i>&nbsp;{{ getLanguage('Delete') }}</a>
                    {% elif items[0]=="Authorize" %}
                        <a href="javascript:void(0)" id="Authorize" {{items[1]|safe}} ><i class='fa fa-check'></i>&nbsp;{{ getLanguage('Authorize') }}</a>
                    {% elif items[0]=="Cancel" %}
                        <a href="javascript:void(0)" id="Cancel" {{items[1]|safe}} ><i class='fa fa-undo'></i>&nbsp;{{ getLanguage('Cancel') }}</a>
                    {% elif items[0]=="Verify" %}
                        <a href="javascript:void(0)" id="Verify" {{items[1]|safe}}><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Verify') }}</a>
                    {% else %}
                        <a href="javascript:void(0)" id="New" {{items[1]|safe}}><i class='fa fa-file-text-o'></i>&nbsp;{{ getLanguage('New') }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <li>
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                    <input type="text" class="form-control" name="ID" ID="ID" placeholder="Record ID"  value="{{g_id}}" {{ g_readonly }} >
                    </div>

                </div>
            </li>
            <li>
                <div class="btn-group" style="padding: 9px 0px 0px 0px; margin-left: 15px;">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{ getLanguage('More Action') }}</button>
                    <button type="button" class="btn btn-primary" data-toggle="dropdown">
                            <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                            <!-- <li><a href="javascript:void(0)" onclick="copy('frm')"><i class='fa fa-files-o'></i>&nbsp;{{ getLanguage('Copy Record') }}</a></li>
                            <li><a href="javascript:void(0)" onclick="paste('frm')"><i class='fa fa-clipboard'></i>&nbsp;{{ getLanguage('Paste Record') }}</a></li> -->
                            <li><a href="javascript:void(0)" id="Reverse"><i class='fa fa-reply'></i>&nbsp;{{ getLanguage('Reverse Record') }}</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" id="listLive" ><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Live Record') }}</a></li>
                            <li><a href="javascript:void(0)" id="listAuth"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Un-authorize Record') }}</a></li>
                            <li><a href="javascript:void(0)" id="listHist"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List History Record') }}</a></li>
                            
                            <li class="divider"></li>

                            <li><a href="javascript:void(0)" id="csv"> <i class='fa fa-files-o'></i> {{ getLanguage('Export CSV') }} </a></li> 
                            <li><a href="javascript:void(0)" id="excel"> <i class='fa fa-file-excel-o'></i> {{ getLanguage('Export Excel') }} </a></li>
                            <li><a href="javascript:void(0)" id="print"><i class='fa fa-print'></i>&nbsp;{{ getLanguage('Print') }}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        </ul>
        {%if Form %}
        <ul class="col-sm-2 nav navbar-nav">
            <li class="pull-right">
                <div class="navbar-form navbar-left" style="padding:0px;">
                    <button type="button" id="AddMoreLoan" data-toggle="modal" {{disabled}} data-target="#modal-sizes-2" class="btn btn-flat btn-labeled btn-success" 
                    id="Auto">
                        <span class="btn-label icon fa fa-plus"></span>Add More Loan Contract
                    </button>
                </div>
            </li>
        </ul>
        {%endif%}
    </div>

    <!-- <div class="clearfix"></div> -->
    {% include 'msg_error.html' %}
    {% if te %}
    <div class="col-sm-12">
        <div class="message"></div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label" for="Description">Title</label>
                <div class="col-sm-10">
                    <input type="text" value="{{ te.Title }}" name="Title" id="Title" class="form-control">
                    <input type="hidden" value="{{ te.ID }}" name="ID" id="TID" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="toolbar">
                    <label for="fontSize">
                        Font Size
                        <select id="fontSize">
                            <option value="12">12</option>
                            <option value="14">14</option>
                            <option value="16">16</option>
                            <option value="18">18</option>
                            <option value="20">20</option>
                        </select>
                    </label>
                    <label>
                        Word Wrap
                        <select id="textWrap">
                            <option value="0">False</option>
                            <option value="1">True</option>
                        </select>
                    </label>
                    <label>
                        Tab Size
                        <select id="tabSize">
                            <option value="2">2</option>
                            <option value="4" selected>4</option>
                            <option value="6">6</option>
                            <option value="8">8</option>
                        </select>
                    </label>
                    <label>
                        Preview
                        <select id="preview">
                            <option value="0">False</option>
                            <option value="1">True</option>
                        </select>
                    </label>
                    <label for="">
                        <a href="/Morakot/Template/{{te.ID}}" target="_blank" 
                           style="margin: 3px 0px; display: inline-block;">Preview Full Page</a>
                    </label>
                </div>

                <div class="editor-wrapper">
                    <!-- <div id="editor">{{ te.Content }}</div> -->
                    <textarea name="editor" id="editor" cols="30" rows="10">{{ te.Content }}</textarea>
                </div>
                <div id="livePreview" style="display: none; width: 49%; height: 500px; overflow: hidden;"></div>
            </div>
        </form>
    </div>

    {% endif %}

    <div role="dialog" tabindex="-1" id="deleteDialog" class="modal fade" >
        <div style="width: 40%;" class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="" id="deleteForm" class="form-horizontal">
                    <div class="modal-header">
                        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <h4 id="exampleModalLabel" class="modal-title">Delete Template</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure want to delete this template "<strong id="tTitle"></strong>"?</p>
                        <input type="hidden" name="ID" id="tID">
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="button" class="btn btn-flat btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> Close</button>
                            <button type="submit" class="btn btn-flat btn-danger"><i class="fa fa-remove"></i> Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
     
{% endblock %}

{% block js %}
     <!-- Call in Block Js -->

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    <!-- <script src="{{ url_for('static',filename='ace/ace.js') }}"></script> -->
    <script src="{{ url_for('static',filename='codemirror/codemirror.min.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            
            window.editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
              lineNumbers: true,
              matchBrackets: true,
              // theme: "cobalt",
              theme: "monokai",
              {% if View %}
                readOnly: true,
              {% endif %}
              extraKeys: {
                "F11": function(cm) {
                  cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                },
                "Esc": function(cm) {
                  if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                }
              }
            });

            $('#fontSize').click(function(e) {
                $('.CodeMirror').css({'font-size':$(this).val()+'px'});
            });
            $('#textWrap').click(function(e) {
                editor.setOption('lineWrapping', parseInt($(this).val()));
            });

            $('#tabSize').click(function(e) {
                editor.options.tabSize = parseInt($(this).val());
                editor.refresh();
            });

            $('#preview').change(function(e) {
                if ($(this).val() == '1') {
                    $('.editor-wrapper').css({'width':'50%','display':'inline-flex'});
                    $('#livePreview').css({'display':'inline-flex', 'width':'49%'});
                    $('#livePreview').html("<iframe style='width:100%;height:100%;' src='/Morakot/Template/"+$('#ID').val()+"'></iframe>");
                } else{
                    $('#livePreview').css({'display':'none'})
                    $('.editor-wrapper').css({'width':'100%'});
                }
            });



            $('#Cancel').click(function(e) {
                window.location = '/Morakot/TemplateBuilder/';
            });

            $('#Edit').click(function(e) {
                window.location = '/Morakot/TemplateBuilder/Edit/'+$('#ID').val();
            });

            $('#listLive').click(function(e) {
                window.location = '/Morakot/TemplateBuilder/ListLive/';
            });

            $('#listHist').click(function(e) {
                window.location = '/Morakot/TemplateBuilder/ListHist/';
            });

            $('#Save').click(function(e) {
                e.preventDefault();
                var v = window.editor.getValue(),
                    data = { 
                        template: v,
                        title: $('#Title').val()
                    } ;
                $('.message').html('<center><img src="/static/images/loading.gif"></center>');
                $.ajax({
                    url: '/Morakot/TemplateBuilder/Edit/'+$('#ID').val(),
                    type: 'post',
                    data: data,
                    success: function(data) {
                        $('.message').html('<div class="alert alert-info">'+
                            '<button type="button" class="close" data-dismiss="alert">&times;</button>Record was added successfully, record id:'+$('#ID').val()+'</div>');

                        $('#livePreview').html("<iframe style='width:100%;height:100%;' src='/Morakot/Template/"+$('#ID').val()+"'></iframe>");
                    }
                }).fail(function(e) {
                    console.log(e);
                    if (e.status == 400) {
                        $('.message').html('<div class="alert alert-danger">'+
                            '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
                            e.responseText + '</div>');
                    }
                    if (e.status == 500) {
                        $('.message').html('<div class="alert alert-danger">'+
                            '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
                            'Title must be less than 55 characters' + '</div>');
                    }
                })
            })

            $('#Reverse').click(function (e) {
                e.preventDefault();
                var id = $('#ID').val(), 
                    title = $('#Title').val();
                $('#tID').val(id);
                $('#tTitle').html(title);
                $('#deleteForm').attr('action','/Morakot/TemplateBuilder/Delete/'+id);

                $('#deleteDialog').modal()
            });

        });
        
    </script>

 
{% endblock %}