{% extends "layout.html" %}

{% block css %}


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        #editor { 
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .editor-wrapper {
            position: relative;
            min-height: 500px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-sm-12 navbar navbar-default navbar-static-top" role="navigation">
        <ul class="col-sm-10 nav navbar-nav">
            {% for items in li_html %}
                <li  {{items[1]|safe}} >
                    {% if items[0]=="Save" %}
                        <a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-floppy-o'></i>&nbsp;{{ getLanguage('Save') }}</a>
                    {% elif items[0]=="Edit" %}
                        <a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Edit') }}</a>
                    {% elif items[0]=="Delete" %}
                        <a href="javascript:void(0)" id="Delete" {{items[1]|safe}}><i class='fa fa-trash-o'></i>&nbsp;{{ getLanguage('Delete') }}</a>
                    {% elif items[0]=="Authorize" %}
                        <a href="javascript:void(0)" id="Authorize" {{items[1]|safe}} ><i class='fa fa-check'></i>&nbsp;{{ getLanguage('Authorize') }}</a>
                    {% elif items[0]=="Cancel" %}
                        <a href="javascript:void(0)" id="Cancel" {{items[1]|safe}} ><i class='fa fa-undo'></i>&nbsp;{{ getLanguage('Cancel') }}</a>
                    {% elif items[0]=="Verify" %}
                        <a href="javascript:void(0)" id="Verify" {{items[1]|safe}}><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Verify') }}</a>
                    {% else %}
                        <a href="javascript:void(0)" id="New" {{items[1]|safe}}><i class='fa fa-file-text-o'></i>&nbsp;{{ getLanguage('New') }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <li>
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                    <input type="text" class="form-control" name="ID" ID="ID" placeholder="Record ID"  value="{{g_id}}" {{ g_readonly }} >
                    
                    </div>
                </div>
            </li>
            <li>
                <div class="btn-group" style="padding: 9px 0px 0px 0px; margin-left: 15px;">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{ getLanguage('More Action') }}</button>
                    <button type="button" class="btn btn-primary" data-toggle="dropdown">
                            <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" onclick="copy('frm')"><i class='fa fa-files-o'></i>&nbsp;{{ getLanguage('Copy Record') }}</a></li>
                            <li><a href="javascript:void(0)" onclick="paste('frm')"><i class='fa fa-clipboard'></i>&nbsp;{{ getLanguage('Paste Record') }}</a></li>
                            <!-- <li><a href="javascript:void(0)" id="Reverse"><i class='fa fa-reply'></i>&nbsp;{{ getLanguage('Reverse Record') }}</a></li> -->
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" id="listLive" ><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Live Record') }}</a></li>
                            <li><a href="javascript:void(0)" id="listAuth"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Un-authorize Record') }}</a></li>
                            <li><a href="javascript:void(0)" id="listHist"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List History Record') }}</a></li>
                            
                            <li class="divider"></li>

                            <li><a href="javascript:void(0)" id="csv"> <i class='fa fa-files-o'></i> {{ getLanguage('Export CSV') }} </a></li> 
                            <li><a href="javascript:void(0)" id="excel"> <i class='fa fa-file-excel-o'></i> {{ getLanguage('Export Excel') }} </a></li>
                            <li><a href="javascript:void(0)" id="print"><i class='fa fa-print'></i>&nbsp;{{ getLanguage('Print') }}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        </ul>
        {%if Form %}
        <ul class="col-sm-2 nav navbar-nav">
            <li class="pull-right">
                <div class="navbar-form navbar-left" style="padding:0px;">
                    <button type="button" id="AddMoreLoan" data-toggle="modal" {{disabled}} data-target="#modal-sizes-2" class="btn btn-flat btn-labeled btn-success" 
                    id="Auto">
                        <span class="btn-label icon fa fa-plus"></span>Add More Loan Contract
                    </button>
                </div>
            </li>
        </ul>
        {%endif%}
    </div>
 
    <!-- <div class="clearfix"></div> -->
    {% include 'msg_error.html' %}
    
    {% if te %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Content</th>
                    {% if not is_hist %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {%- for row in te %}
                    <tr>
                        <td>{{ row.ID }}</td>
                        <td>{{ row.Title }}</td>
                        <td><a href="/Morakot/TemplateBuilder/{% if is_hist %}ViewHist/{{ row.ID }}{% else %}{{ row.ID }}{% endif %}">{{ row.Content|truncate(99) }}</a></td>
                        {% if not is_hist %}
                        <td>
                            <a href="/Morakot/TemplateBuilder/Edit/{{ row.ID }}" class="link">
                                <span class="label label-warning">Edit</span>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {%- endfor %}
            </tbody>
        </table>
    {% endif %}

    
        
     
{% endblock %}

{% block js %}
     <!-- Call in Block Js -->

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='ace/ace.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $('#New').click(function(e) {
                window.location = '/Morakot/TemplateBuilder/New/'+$('#ID').val();
            });
            
            $('#Cancel').click(function(e) {
                window.location = '/Morakot/TemplateBuilder/';
            });

            $('#Edit').click(function(e) {
                if ($('#ID').val()!='') {
                    window.location = '/Morakot/TemplateBuilder/Edit/'+$('#ID').val();
                }
            });

            $('#listHist').click(function(e) {
                window.location = '/Morakot/TemplateBuilder/ListHist/';
            });

            $('#listLive').click(function(e) {
                window.location = '/Morakot/TemplateBuilder/ListLive/';
            });

            $("#ID").keyup(function(event){
                if(event.keyCode == 13){
                    window.location = '/Morakot/TemplateBuilder/'+$('#ID').val();
                }
            });

            $('table.table').DataTable();

        });
        
    </script>

 
{% endblock %}