<style type="text/css">

	h3.header-3{
		color: #888 !important;
		font-size: 16px;
		font-weight: bold;
		margin: 5px 0 10px;
		padding: 10px 18px 0;
	}

	.form-label{
            padding-top: 7px;
    }

    .input-sm {

        width: 214px !important;
    }

    .modal-dialog{

        width: 428px !important;

    }

    .form-label{
        padding-top: 7px;
    }

    .modal-body {
        z-index: 99999 !important;
    }

</style>

<div class="navbar navbar-default navbar-static-top">
    <div class="col-sm-6" style="margin-top: 15px;">
        <!-- Button Export -->
        {% from "nbc/nbc_print.html" import exportButtonLink %}
        {{ exportButtonLink(ID, Branch, Period, ReportedDate) }}
    </div>
    <div class="col-sm-6" style="margin-top: 8px;">
	    <button type="button" class="btn btn-flat btn-labeled btn-success pull-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
	        <span class="btn-label icon fa fa-gear"></span> {{ getLanguage('Custom') }} 
	    </button>
    </div>
</div>
<div class="clearfix"></div>
{% include 'msg_error.html' %}

<div class="col-sm-12">
	<h3 class="header-3 text-center">{{ ReportHeader['Title'] }}</h3>
	<h4 class="header-4 text-center">{{ ReportHeader['ReportName'] }}</h4>
	<h4 class="header-4 text-center">{{ getLanguage('Branch') }}: {{ Branch }}</h4>
	<div class="clearfix">&nbsp;</div>
	<h4 class="header-4"><b>{{ getLang(Language, '110002') }}:</b> {{ ReportHeader['CompanyName'] }}</h4>
	<h4 class="header-4"><b>{{ getLang(Language, '110003') }}:</b> {{ ReportHeader['AsAt'] }}
        <span style="float: right;">Exchange Rate : {{mktmoney.formatNumber(float(ReportingRate), 1, 0)}}</span>
    </h4>
</div>
