{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 428px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <div class="col-sm-6" style="margin-top: 15px;">
            <!-- Button Export -->
            {% from "print.html" import exportButtonLink %}
            {{exportButtonLink()}}
        </div>
        <!-- <div class="col-sm-6" style="margin-top: 8px;">
            <button type="button" class="btn btn-flat btn-labeled btn-success pull-right" data-toggle="modal" data-target="#getCustomRange">
                <span class="btn-label icon fa fa-gear"></span> Test
            </button>
        </div> -->
    </div>
    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    <!-- {{ Result }} -->
    <div class="col-sm-12">
        <h3 class="header-3 text-center">{{ Result['ReportHeader']['Title'] }}</h3>
        <h4 class="header-4 text-center">{{ Result['ReportHeader']['ReportName'] }}</h4>
        <h4 class="header-4 text-center"><i>(amounts in millions RIELS)</i></h4>
        <div class="clearfix">&nbsp;</div>
        <h4 class="header-4">INSTITUTION'S NAME: {{ Result['ReportHeader']['CompanyName'] }}</h4>
        <h4 class="header-4">REPORT AS AT (DATE): {{ Result['ReportHeader']['AsAt'] }}</h4>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-sm-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for item in Result['ColumnHeader'][0] %}
                        <th style="background: {{ Result['ColumnHeader'][1]['Color'] }}; font-weight: bold;">{{ Result['ColumnHeader'][0][item] }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

                {% for item in Result['Data'] %}
                    {% if item.Header == 1 %}
                        {% if item.LineType == 'SP' %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% elif item.LineType == 'GH' %}
                            <tr>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.Description }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.AmountInDollars }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.AmountInRiels }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.OtherAmount }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.TotalInRiels }}</td>
                            </tr>
                        {% elif item.LineType == 'ST' %}
                            <tr style="border: 2px solid #CCC;">
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.Description }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.AmountInDollars }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.AmountInRiels }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.OtherAmount }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.TotalInRiels }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.Description }}</td>
                                <td>{{ item.AmountInDollars }}</td>
                                <td>{{ item.AmountInRiels }}</td>
                                <td>{{ item.OtherAmount }}</td>
                                <td>{{ item.TotalInRiels }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </tbody>

            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    {% for item in Result['ColumnHeader'][2] %}
                        <th style="background: {{ Result['ColumnHeader'][1]['Color'] }}; font-weight: bold;">{{ Result['ColumnHeader'][2][item] }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>

                {% for item in Result['Data'] %}
                    {% if item.Header == 2 %}
                        {% if item.LineType == 'SP' %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% elif item.LineType == 'GH' %}
                            <tr>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.Description }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.AmountInDollars }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.AmountInRiels }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.OtherAmount }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.TotalInRiels }}</td>
                            </tr>
                        {% elif item.LineType == 'ST' %}
                            <tr style="border: 2px solid #CCC;">
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.Description }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.AmountInDollars }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.AmountInRiels }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.OtherAmount }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }}; color: #FFFFFF;">{{ item.TotalInRiels }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.Description }}</td>
                                <td>{{ item.AmountInDollars }}</td>
                                <td>{{ item.AmountInRiels }}</td>
                                <td>{{ item.OtherAmount }}</td>
                                <td>{{ item.TotalInRiels }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </tbody>
            
        </table>
    </div>
     
{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    <script type="text/javascript">

        $(function(){
            $('[data-toggle="modal"]').on("click", function(e) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    // $(url).modal('open');
                    return false;
                } else {
                    $.get(url, function(data) {
                        $('<div class="modal">' + data + '</div>').modal();
                    }).success(function() {
                        $('input:text:visible:first').focus();
                    });
                }
            });

            $('#mktlist').dataTable({
                "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                "bSort" : false
            });

            {% from "print.html" import exportTable %}
            {{exportTable('FinReport')}}

        });

    </script>

    <!-- Call in Block Js -->

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

{% endblock %}