{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 428px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <div class="col-sm-6" style="margin-top: 15px;">
            <!-- Button Export -->
            {% from "nbc/nbc_print.html" import exportButtonLink %}
            {{ exportButtonLink(ID, Branch, Period, ReportedDate, Year, Month) }}
        </div>
        <div class="col-sm-6" style="margin-top: 8px;">
            <button type="button" class="btn btn-flat btn-labeled btn-success pull-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                <span class="btn-label icon fa fa-gear"></span> {{ getLanguage('Custom') }} 
            </button>
            <input type="hidden" id="InDollar_ID" value="{{ InDollar }}">
        </div>
    </div>
    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    <div class="col-sm-12">
        <h3 class="header-3 text-center">{{ Result['ReportHeader']['Title'] }}</h3>
        <h4 class="header-4 text-center">{{ Result['ReportHeader']['ReportName'] }}</h4>
        <h4 class="header-4 text-center">{{ getLanguage('Branch') }}: {{ Branch }}</h4>
        <div class="clearfix">&nbsp;</div>
        <h4 class="header-4"><b>{{ getLang(Language, '110002') }}:</b> {{ Result['ReportHeader']['CompanyName'] }}</h4>
        <h4 class="header-4"><b>{{ getLang(Language, '110003') }}:</b> {{ Result['ReportHeader']['AsAt'] }}
            <span style="float: right;">Exchange Rate : {{mktmoney.formatNumber(float(ReportingRate), 1, 0)}}</span>
        </h4>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-sm-12">
        <table id="mktlist" class="table table-striped table-bordered">
            <thead>
                <tr style="border: 0;">
                    <th colspan="6" class="text-right" style="border: none;">({{ getLang(Language, '110009') }})</th>
                </tr>
                <tr>
                    <th rowspan="2" style="background: {{ Result['ColumnHeader']['Color'] }}; font-weight: bold;"></th>
                    {% if InDollar == 'Y' %}
                        <th colspan="4" class="text-center" style="background: {{ Result['ColumnHeader']['Color'] }}; font-weight: bold;">
                            {% if Period == 'M'%}
                                ប្រចាំខែ
                            {% else %}
                                {{ getLang(Language, '110011') }}
                            {% endif %}
                        </th>
                    {% else %}
                        <th colspan="3" class="text-center" style="background: {{ Result['ColumnHeader']['Color'] }}; font-weight: bold;">
                            {% if Period == 'M'%}
                                ប្រចាំខែ
                            {% else %}
                                {{ getLang(Language, '110011') }}
                            {% endif %}
                        </th>
                    {% endif %}
                    <th rowspan="2" valign="top" class="text-center" style="background: {{ Result['ColumnHeader']['Color'] }}; font-weight: bold;">{{ getLang(Language, '110013') }}</th>
                </tr>
                <tr>
                    {% if InDollar == 'Y' %}
                        <th style="background: {{ Result['ColumnHeader']['Color'] }}; font-weight: bold;">{{ getLang(Language, '110005') }}</th>
                    {% endif %}
                    <th style="background: {{ Result['ColumnHeader']['Color'] }}; font-weight: bold;">{{ getLang(Language, '110012') }}</th>
                    <th style="background: {{ Result['ColumnHeader']['Color'] }}; font-weight: bold;">{{ getLang(Language, '110007') }}</th>
                    <th style="background: {{ Result['ColumnHeader']['Color'] }}; font-weight: bold;">{{ getLang(Language, '110008') }}</th>
                </tr>
            </thead>
            <tbody>

                {% for item in Result['Data'] %}
                    {% if item.Header == 1 %}
                        {% if item.LineType == 'SP' %}
                            <tr>
                                <td></td>
                                {% if InDollar == 'Y' %}
                                    <td></td>
                                {% endif %}
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% elif item.LineType == 'GH' %}
                            <tr>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.Description }}</td>
                                {% if InDollar == 'Y' %}
                                    <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.AmountInDollars }}</td>
                                {% endif %}
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.AmountInRiels }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.OtherAmount }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.TotalInRiels }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.YTDBalance }}</td>
                            </tr>
                        {% elif item.LineType == 'ST' %}
                            <tr>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.Description }}</td>
                                {% if InDollar == 'Y' %}
                                    <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.AmountInDollars }}</td>
                                {% endif %}
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.AmountInRiels }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.OtherAmount }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.TotalInRiels }}</td>
                                <td style="background: {{ item.RowBGColor }}; font-weight: {{ item.LineFormat }};">{{ item.YTDBalance }}</td>
                            </tr>
                        {% elif item.LineType == 'CH' %}
                            <tr>
                                <td></td>
                                {% if InDollar == 'Y' %}
                                    <td></td>
                                {% endif %}
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.Description }}</td>
                                {% if InDollar == 'Y' %}
                                    <td>{{ item.AmountInDollars }}</td>
                                {% endif %}
                                <td>{{ item.AmountInRiels }}</td>
                                <td>{{ item.OtherAmount }}</td>
                                <td>{{ item.TotalInRiels }}</td>
                                <td>{{ item.YTDBalance }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </tbody>
            
        </table>
    </div>
     
{% endblock %}


{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    <script type="text/javascript">

        $(function(){

            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#ReportedDate').datepicker(options);
            });

            $('[data-toggle="modal"]').on("click", function(e) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    // $(url).modal('open');
                    return false;
                } else {
                    $.get(url, function(data) {
                        $('<div class="modal">' + data + '</div>').modal();
                    }).success(function() {
                        $('input:text:visible:first').focus();
                    });
                }
            });

            var InDollar_ID = $("#InDollar_ID").val();
            $("select#InDollar option").filter(function() {
                //may want to use $.trim in here
                return $(this).val() == InDollar_ID; 
            }).prop('selected', true);

            var PeriodID = "{{ Period }}";
            $("select#PeriodID option").filter(function() {
                //may want to use $.trim in here
                return $(this).val() == PeriodID;
            }).prop('selected', true);

            {% from "print.html" import exportTable %}
            {{exportTable('mktlist')}}

        });

    </script>

    <!-- Call in Block Js -->

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    
                <form class="form-horizontal" action="/Morakot/Report/N002/" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{ getLanguage('Custom') }}</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="form-group">
                            <label for="InDollar" class="col-sm-4 control-label">{{ getLanguage('Branch') }}:</label>
                            <div class="col-sm-8">
                                <input class="form-control input-sm" name="Branch" style="width: 100%;" id="Branch" value="{{ Branch }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="InDollar" class="col-sm-4 control-label">Show Total Balance in Dollar:</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" name="InDollar" style="width: 100%;" id="InDollar">
                                    <option value="N">{{ getLanguage('No') }}</option>
                                    <option value="Y">{{ getLanguage('Yes') }}</option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label for="Period" class="col-sm-4 control-label">Select Period:</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" name="Period" style="width: 100%;" id="PeriodID">
                                    <option value="M">{{ getLanguage('Monthly') }}</option>
                                    <option value="Q">Quoterly</option>
                                </select>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label for="ReportedDate" class="col-sm-4 control-label">Reported Date:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="ReportedDate" id="ReportedDate" value="{{ ReportedDate }}" style="width: 100%;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Period" class="col-sm-4 control-label">Period:</label>
                            <div class="col-sm-8">
                                {% set PeriodList = {"0":"Current Month", 
                                                     "1":"Current Previous Month",
                                                     "2":"Previous Month",
                                                     "3":"Year to Date",
                                                     "4":"Current Previous Year",
                                                     "5":"Previous Year",
                                                     "6":"As of Today"
                                                    } 
                                %}
                                <select class="form-control input-sm" name="Period" style="width: 100%;" id="Period">
                                    {% for key, value in PeriodList.iteritems()|sort %}
                                        {% if key|int == Period|int %}
                                            <option value="{{key}}" selected="">{{value}}</option>
                                        {% else %}
                                            <option value="{{key}}">{{value}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                            </div>
                        </div>

                        {% with class=8 %}
                        {% include 'gl/AdvanceOption.html' %}
                        {% endwith %}

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>

{% endblock %}