{% extends "layout.html" %}

{% block css %}
	<style type="text/css">
	.form-control
	{

		width: 100% !important;
	}

	.se-pre-con1 {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
		opacity: 0.4;
		display: none;
	}
	</style>
{% endblock %}

{% block content %}


<!--  message  -->
<div class="clearfix"></div>
{% include 'nbc/_temp_nbc.html' %}

<div class="col-sm-12">
	<table class="table table-striped table-bordered" id="NBC004DBT">

		<thead>
			<tr style="border: 0;">
	            <th colspan="15" class="text-right" style="border: none;">({{ getLang(Language, '110009') }})</th>
	        </tr>
			<tr style="background:{{ColumnHeader['background']}};color:{{ColumnHeader['color']}};">
				<th class="text-center" rowspan="3">{{ getLang(Language, '110062') }}</th>
				<th class="text-center" rowspan="2" colspan="3">{{ getLang(Language, '110063') }}</th>
				<th class="text-center" colspan="4">{{ getLang(Language, '110067') }}</th>
				<th class="text-center" colspan="4">{{ getLang(Language, '110071') }}</th>
				<th class="text-center" colspan="3" rowspan="2">{{ getLang(Language, '110073') }}</th>
			</tr>
			<tr style="background:{{ColumnHeader['background']}};color:{{ColumnHeader['color']}};">
				<th rowspan="2" class="text-center">{{ getLang(Language, '110020') }}</th>
				<th class="text-center" colspan="3">{{ getLang(Language, '110068') }}</th>
				<th class="text-center" rowspan="2">{{ getLang(Language, '110020') }}</th>
				<th class="text-center" colspan="3">{{ getLang(Language, '110072') }}</th>
			</tr>
			<tr style="background:{{ColumnHeader['background']}};color:{{ColumnHeader['color']}};">
				<th class="text-center">{{ getLang(Language, '110064') }}</th>
				<th class="text-center">{{ getLang(Language, '110065') }}</th>
				<th class="text-center">{{ getLang(Language, '110066') }}</th>
				<!-- Loans Outstanding -->
				<th class="text-center">{{ getLang(Language, '110069') }}</th>
				<th class="text-center">{{ getLang(Language, '110070') }}</th>
				<th class="text-center">{{ getLang(Language, '700005') }}</th>
				<!-- Deposit Balance -->
				<th class="text-center">{{ getLang(Language, '110069') }}</th>
				<th class="text-center">{{ getLang(Language, '110070') }}</th>
				<th class="text-center">{{ getLang(Language, '700005') }}</th>
				<!-- Employees -->
				<th class="text-center">{{ getLang(Language, '110069') }}</th>
				<th class="text-center">{{ getLang(Language, '110070') }}</th>
				<th class="text-center">{{ getLang(Language, '700005') }}</th>
			</tr>
		</thead>
		<tbody>

			{%for row in Data %}
				<tr>
					{% set Count = 0 %}
					{%for key, value in row.iteritems()%}

						{%if key != 'format'%}

							{%if Count == 0 %}
								<td style="{{ row['format'] }}">{{value|safe}}</td>
							{% elif Count == 1 %}
								<td style="{{ row['format'] }}" class="text-center">{{value|safe}}</td>
							{% else %}
								<td style="{{ row['format'] }}" class="text-right">{{value|safe}}</td>
							{% endif %}

							{% set Count = Count + 1 %}
						{%endif%}

					{%endfor%}
				</tr>
			{%endfor%}	

		</tbody>
	</table>
</div>


{% endblock %}

{% block js %}
	
	<script type="text/javascript">

        $(function(){

        	init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#ReportedDate').datepicker(options);
            });

            $('[data-toggle="modal"]').on("click", function(e) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    // $(url).modal('open');
                    return false;
                } else {
                    $.get(url, function(data) {
                        $('<div class="modal">' + data + '</div>').modal();
                    }).success(function() {
                        $('input:text:visible:first').focus();
                    });
                }
            });

        });

    </script>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    
                <form class="form-horizontal" action="/Morakot/Report/N011" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{ getLanguage('Custom') }}</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="form-group">
                            <label for="InDollar" class="col-sm-4 control-label">{{ getLanguage('Branch') }}:</label>
                            <div class="col-sm-8">
                                <input class="form-control input-sm" name="Branch" style="width: 100%;" id="Branch" value="{{ Branch }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ReportedDate" class="col-sm-4 control-label">Reported Date:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="ReportedDate" id="ReportedDate" value="{{ ReportedDate }}" style="width: 100%;">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>

{% endblock %}