{% macro exportButtonLink(ID='', Branch='', Period='', ReportedDate='',Year='',Month='') %}
	<div id="exportButton">
		<b>Also available in :</b>
		<a title="Download to Excel" href="/Morakot/NBC/Excel/{{ID}}?Branch={{ Branch }}&Period={{ Period }}&ReportedDate={{ ReportedDate }}&Year={{Year}}&Month={{Month}}" style="cursor:pointer; color:#1d89cf;"> 
			<i class='fa fa-file-excel-o'></i> Current Report to Excel 
		</a> | 
		<a title="Download to Excel" href="/Morakot/NBC/Excel/Download?Branch={{ Branch }}&Period={{ Period }}&ReportedDate={{ ReportedDate }}&Year={{Year}}&Month={{Month}}" style="cursor:pointer; color:#1d89cf;"> 
			<i class='fa fa-download'></i> All to Excel
		</a>

	</div>

{% endmacro %}