{% extends "layout.html" %}

{% block css %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
            line-height: 30px;
        }

        h3.header-33{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 0px 0 10px;
            line-height: 20px;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 428px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }

    </style>

{% endblock %}

{% block content %}
     
     <div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
        <div class="col-sm-12">
            <div style="margin-top: 8px;">

            </div> 
            <div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

                {% from "print.html" import exportButtonLink %}
                {{exportButtonLink()}}

            </div>

            <button  type="button" data-toggle="modal" data-target="#getCustomRange"  class="btn btn-flat btn-labeled btn-success pull-right" >
            <span class="btn-label icon fa fa-gear" ></span> Custom </button>
        </div> 
    </div>

    <div class="col-sm-12">
        <table width="100%" border="0">
            <tbody>

                <tr>
                    <td class="text-left" rowspan="3" width="20%">
                        <img src="{{ url_for('static', filename='company/logo.png') }}">
                    </td>
                    <td class="text-center" width="60%">
                        <h3 class="header-3">
                            {{ CompanyObj.CompanyName }}<br>
                            <i>{{ BranchName }}</i>
                        </h3>
                    </td>
                    <td class="text-right" width="20%"></td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h4 class="header-4">
                            {% if StartDate %}
                                <strong>From:</strong> {{ StartDate }} <strong>To:</strong> {{ EndDate }}</h4>
                            {% else %}
                                <strong>As of:</strong> {{ EndDate }}
                            {% endif %}
                    </td>
                    <td class="text-right" rowspan="2">

                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h3 class="header-33">CO Performance Report</h3>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="col-sm-12">
        
        <table id="mktlist" class="table table-hover table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>CO ID</th>
                    <th>CO Name</th>
                    <th>#Borrowers</th>
                    <th>#Loans</th>
                    <th>Oustanding Amt.</th>
                    <th>#PARs</th>
                    <th>PAR Amt.</th>
                    <th>PAR Rate</th>
                    <th>Arrear Amt.</th>
                    <th>Arrear Rate</th>
                    <th>Loan Bal.</th>
                    <th>Disbursed Amt.</th>
                </tr>
            </thead>
            <tbody>

                {% set NumberOfBorrower = [] %}
                {% set NumberOfLoan = [] %}
                {% set Oustanding = [] %}
                {% set PARs = [] %}
                {% set PARAmt = [] %}
                {% set PARRate = [] %}
                {% set ArrearAmt = [] %}
                {% set ArrearRate = [] %}
                {% set LoanBalance = [] %}
                {% set Disbursed = [] %}

                {% if LoanObj %}
                    {% for item in LoanObj %}
                        <tr>
                            <td>
                                {{ item.ContractOfficerID }}
                            </td>
                            <td>{{ item.OfficerName }}</td>
                            <td>
                                {{ int(getNumberOfBorrower(item.ContractOfficerID, StartDate, EndDate)) + int(getNumberOfBorrowerDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate)) }}
                                {{ setNumberOfBorrower(NumberOfBorrower, getNumberOfBorrower(item.ContractOfficerID, StartDate, EndDate)) }}
                            </td>
                            <td>
                                {% if getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'NumberOfLoan') %}
                                    {{ formatNumber(float(item.NumberOfLoan) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'NumberOfLoan')), 1, 0) }}
                                    {{ setNumberOfLoan(NumberOfLoan, float(item.NumberOfLoan) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'NumberOfLoan'))) }}
                                {% else %}
                                    {{ formatNumber(float(item.NumberOfLoan), 1, 0) }}
                                    {{ setNumberOfLoan(NumberOfLoan, float(item.NumberOfLoan)) }}
                                {% endif %}
                            </td>
                            <td>
                                {{ toMoney(float(item.OutstandingAmount)  + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'OutstandingAmount')), CurrencyObj) }}
                                {{ setOustanding(Oustanding, float(item.OutstandingAmount) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'OutstandingAmount'))) }}
                            </td>
                            <td>
                                {% if getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate) %}
                                    {{ formatNumber(float(getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate).LoanID), 2, 0) }}
                                {% else %}
                                    {{ formatNumber(float(0), 2, 0) }}
                                {% endif %}
                            </td>
                            <td>
                                {% if getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate) %}
                                    {{ toMoney(float(getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate).PARAmount) + float(getLoanArrearByOfficerDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'PARAmount')), CurrencyObj) }}
                                    {{ setPARAmt(PARAmt, float(getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate).PARAmount) + float(getLoanArrearByOfficerDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'PARAmount'))) }}
                                {% else %}
                                    {{ toMoney(float(0), CurrencyObj) }}
                                {% endif %}
                            </td>
                            <td>
                                {% if getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate) %}
                                    {{ formatNumber(float(getNumberOfPerc(float(item.OutstandingAmount) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'OutstandingAmount')), float(getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate).PARAmount) + float(getLoanArrearByOfficerDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'PARAmount')))), 1, 2) }}
                                    {{ setPARRate(PARRate, formatNumber(float(getNumberOfPerc(float(item.OutstandingAmount) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'OutstandingAmount')), getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate).PARAmount)), 1, 2)) }}
                                {% else %}
                                    {{ formatNumber(float(0), 1, 2) }}
                                {% endif %}
                                %
                            </td>
                            <td>
                                {% if getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate) %}
                                    {{ toMoney(float(getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate).TotPrincipalDue) + float(getLoanArrearByOfficerDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'TotPrincipalDue')), CurrencyObj) }}
                                    {{ setArrearAmt(ArrearAmt, float(getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate).TotPrincipalDue) + float(getLoanArrearByOfficerDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'TotPrincipalDue'))) }}
                                {% else %}
                                    {{ toMoney(float(0), CurrencyObj) }}
                                {% endif %}
                            </td>
                            <td>
                                {% if getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate) %}
                                    {{ formatNumber(float(getNumberOfPerc(float(item.OutstandingAmount) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'OutstandingAmount')), float(getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate).TotPrincipalDue) + float(getLoanArrearByOfficerDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'TotPrincipalDue')))), 1, 2) }}
                                    {{ setArrearRate(ArrearRate, formatNumber(float(getNumberOfPerc(float(item.OutstandingAmount) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'OutstandingAmount')), getLoanArrearByOfficer(item.ContractOfficerID, StartDate, EndDate).TotPrincipalDue)), 1, 2)) }}
                                {% else %}
                                    {{ formatNumber(float(0), 1, 2) }}
                                {% endif %}
                                %
                            </td>
                            <td>
                                {{ toMoney(float(item.LoanBalance) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'LoanBalance')), CurrencyObj) }}
                                {{ setLoanBalance(LoanBalance, float(item.LoanBalance) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'LoanBalance'))) }}
                            </td>
                            <td>
                                {{ toMoney(float(item.Disbursed) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'Disbursed')), CurrencyObj) }}
                                {{ setDisbursed(Disbursed, float(item.Disbursed) + float(getLoanInfoDiffBaseCurr(item.ContractOfficerID, StartDate, EndDate, 'Disbursed'))) }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            <tfoot style="border-top: 2px solid #CCC;">
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th>{{ formatNumber(float(getTotalByList(NumberOfBorrower)), 1, 0) }}</th>
                    <th>{{ formatNumber(float(getTotalByList(NumberOfLoan)), 1, 0) }}</th>
                    <th>{{ toMoney(float(getTotalByList(Oustanding, 'float')), CurrencyObj) }}</th>
                    <th></th>
                    <th>{{ toMoney(float(getTotalByList(PARAmt, 'float')), CurrencyObj) }}</th>
                    <th>
                        <!-- {{ formatNumber(float(getTotalByList(PARRate, 'float')), 1, 2) }} % -->
                        {{ formatNumber(getNumberOfPerc(float(getTotalByList(Oustanding, 'float')), float(getTotalByList(PARAmt, 'float'))), 2, 2) }} %
                    </th>
                    <th>{{ toMoney(float(getTotalByList(ArrearAmt, 'float')), CurrencyObj) }}</th>
                    <th>
                        <!-- {{ formatNumber(float(getTotalByList(ArrearRate, 'float')), 1, 2) }} % -->
                        {{ formatNumber(getNumberOfPerc(float(getTotalByList(Oustanding, 'float')), float(getTotalByList(ArrearAmt, 'float'))), 2, 2) }} %
                    </th>
                    <th>{{ toMoney(float(getTotalByList(LoanBalance, 'float')), CurrencyObj) }}</th>
                    <th>{{ toMoney(float(getTotalByList(Disbursed, 'float')), CurrencyObj) }}</th>
                </tr>
            </tfoot>
        </table>

    </div>

{% endblock %}

{% block js %}
    
    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {

            $('#mktlist').dataTable({
                            "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                        });
            // $(".table-caption").append("<a class='btn btn-primary' href='/Morakot' role='button' title='Refresh'><i class='fa fa-save'></i> Save Schedule</a>");
            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist', "CO Performance")}}

            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#StartDate').datepicker(options);
            });



            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#EndDate').datepicker(options);
            });
        });

    </script>

    <div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/Report/COPerformance/" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Custom</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">Branch:</label>
                            <div class="col-sm-8">
                                <input name="Branch" value="{{ Branch }}" class="input-sm form-control" style="width: 100%;">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="StartDate" class="col-sm-4 control-label">{{ getLanguage('Start Date') }}:</label>
                            <div class="col-sm-8">
                                <input class="input-sm form-control" type="text" value="{{ StartDate }}" placeholder="{{ getLanguage('Start Date') }}" name="StartDate" id="StartDate" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="EndDate" class="col-sm-4 control-label">{{ getLanguage('End Date') }}:</label>
                            <div class="col-sm-8">
                                <input class="input-sm form-control" type="text" value="{{ EndDate }}" placeholder="{{ getLanguage('End Date') }}" name="EndDate" id="EndDate" >
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
<!-- Add Borrower to List -->
{% macro setNumberOfBorrower(NumberOfBorrower, Number) %}
    {% if NumberOfBorrower.append(Number) %}{% endif %}
{% endmacro %}

<!-- Add NumberOfLoan to List -->
{% macro setNumberOfLoan(NumberOfLoan, Number) %}
    {% if NumberOfLoan.append(Number) %}{% endif %}
{% endmacro %}

<!-- Add Loan Oustanding to List -->
{% macro setOustanding(Oustanding, Amount) %}
    {% if Oustanding.append(Amount) %}{% endif %}
{% endmacro %}

<!-- Add Loan PAR to List -->
{% macro setPARAmt(PARAmt, Amount) %}
    {% if PARAmt.append(Amount) %}{% endif %}
{% endmacro %}

<!-- Add Loan PAR Rate to List -->
{% macro setPARRate(PARRate, Rate) %}
    {% if PARRate.append(Rate) %}{% endif %}
{% endmacro %}

<!-- Add Loan Arrear to List -->
{% macro setArrearAmt(ArrearAmt, Amount) %}
    {% if ArrearAmt.append(Amount) %}{% endif %}
{% endmacro %}

<!-- Add Loan Arrear to List -->
{% macro setArrearRate(ArrearRate, Rate) %}
    {% if ArrearRate.append(Rate) %}{% endif %}
{% endmacro %}

<!-- Add Loan Balance to List -->
{% macro setLoanBalance(LoanBalance, Amount) %}
    {% if LoanBalance.append(Amount) %}{% endif %}
{% endmacro %}

<!-- Add Loan Arrear to List -->
{% macro setDisbursed(Disbursed, Amount) %}
    {% if Disbursed.append(Amount) %}{% endif %}
{% endmacro %}