{% extends "layout.html" %}

{% block css %}
	<style type="text/css">
	.form-control
	{
		width: 100% !important;
	}

	.se-pre-con1 {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
		opacity: 0.4;
		display: none;
	}
	</style>
{% endblock %}

{% block content %}


<!--  message  -->
<div class="clearfix"></div>
<div class="col-sm-12">
	{% for message in get_flashed_messages() %}
		{% if contain(message, "Error") %}
			<div class="clearfix">&nbsp;</div>
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% else %}
			<div class="clearfix">&nbsp;</div>
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endif %}
	{% endfor %}
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Custom</h4>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-sm-12">
						<div class="form-group no-margin-hr">
							<label class="control-label">Branch</label>
							<input type="text" id="AddLoanID" class="form-control" style="width:100% !importance">
						</div>
					</div><!-- col-sm-6 -->
				</div><!-- row -->

				<div class="row">
					<div class="col-sm-12">
						<div class="form-group no-margin-hr">
							<label class="control-label">Currency</label>
							<input type="text" id="AddLoanID" class="form-control" style="width:100% !importance">
						</div>
					</div><!-- col-sm-6 -->
				</div><!-- row -->

			</div> <!-- / .modal-body -->
			<div class="modal-footer">
				
				<button type="button" class="btn btn-primary">Show</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div> <!-- /.modal -->
<!-- / Modal -->
<div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
	<div class="col-sm-12">

		<div style="margin-top: 8px;">

		</div> 
		<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

			{% from "print.html" import exportButtonLink %}
			{{exportButtonLink()}}

		</div>

		<!-- <button  type="button" data-toggle="modal" data-target="#myModal"  class="btn btn-flat btn-labeled btn-success pull-right" >
		<span class="btn-label icon fa fa-gear" ></span> Custom </button> -->
	</div> 
</div>




<div class="col-sm-12">
	<h3 class="header-3 text-center">Consolidate Loan Reports </h3>
</div>
<div class="col-sm-12" style="padding:20px 10px">
	<h4 class="header-3 text-center">As of : {{BankDate}}</h4>
</div>
<table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Branch ID</th>
			<th>Branch Name</th>
			<th>Currency</th>
			
			{%for row in LoanProduct%}
			<th># Of {{row.Description}}</th>
			<th>{{row.Description}}</th>
			
			{%endfor%}
			<th>Total </th>
		</tr>
	</thead>
	<tbody>
		{%set ListValueOfField = []%}
		{%for row in Branch%}
		<tr>
			<td>{{row.Branch}}</td>
			<td>{{row.Description}}</td>
			<td>{{row.Currency}}</td>
			{%for col in LoanProduct%}

				{%if DicLoanContract[row.Branch+col.ID+row.Currency] %}
					<td>{{formatNumber(DicCountNumberOfLoan[row.Branch+col.ID+row.Currency],1,0)}}</td>
					<td>{{toMoney(float(DicLoanContract[row.Branch+col.ID+row.Currency]),CurrencyObj(row.Currency))}}
					</td>

					{%if ListValueOfField.append(DicLoanContract[row.Branch+col.ID+row.Currency]) %} {%endif%}
				{%else%}
					<td>0</td>
					<td>0</td>
				{%endif%}
				
			{%endfor%}
			<td>{{toMoney(float(mktfunction.ADD(ListValueOfField)),CurrencyObj(row.Currency) )}}</td>
			{%set ListValueOfField = []%}
		</tr>

		{%endfor%}
	</tbody>
	<tfoot>
			<th><!-- Grand Total --></th>
			<th></th>
			<th></th>
			{%for row in LoanProduct%}
				<th></th>
				<th></th>
			{%endfor%}
			<th> </th>
	</tfoot>
</table>



{% endblock %}

{% block js %}


{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">

	$(document).ready(function() {
		
		{% from "print.html" import exportTable %}
		{{exportTable("#mktlist","Consolidate Loan Reports")}}
		
	});

</script>
{% endblock %}