{% extends "layout.html" %}

{% block css %}
<style type="text/css">

	h3.header-3{
			color: #888 !important;
			font-size: 16px;
			font-weight: bold;
			margin: 5px 0 10px;
			padding: 10px 18px 0;
		}

	h4.header-4{
		color: #888 !important;
		font-size: 14px;
		font-weight: normal;
		margin: 5px 0 10px;
		padding: 0px 18px 0;
	}
</style>
{% endblock %}

{% block content %}

<form method="GET" id="frm" name="frm" role="form" >
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Custom</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="StartDate" class="col-sm-3 control-label">
						{{ getLanguage('Branch') }}
					</label>
					<div class="col-sm-5">
						<input class="input-sm form-control" type="text" value="{{ Branch }}" placeholder="{{ getLanguage('Branch') }}" name="Branch" id="Branch"  style="width:100%;">
					</div>
				</div>
				<div class="form-group">
					<label for="StartDate" class="col-sm-3 control-label">
						{{ getLanguage('Start Date') }}
						<span style="color:#d38e99">*</span>
					</label>
					<div class="col-sm-5">
						<input class="input-sm form-control" type="text" value="{{ StartDate }}" placeholder="{{ getLanguage('Start Date') }}" name="StartDate" id="StartDate"  style="width:100%;">
					</div>
				</div>

				<div class="form-group">
					<label for="EndDate" class="col-sm-3 control-label">
						{{ getLanguage('End Date') }}
						<span style="color:#d38e99">*</span>
					</label>
					<div class="col-sm-5">
						<input class="input-sm form-control" type="text" value="{{ EndDate }}" placeholder="{{ getLanguage('End Date') }}" name="EndDate" id="EndDate" style="width:100%;" >
					</div>
				</div>
				<script type="text/javascript">

					init.push(function () {
						var options = {
						orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
						format:"yyyy-mm-dd",
						autoclose:true
						}
						$('#StartDate').datepicker(options);
					});

					init.push(function () {
						var options = {
						orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
						format:"yyyy-mm-dd",
						autoclose:true
						}
						$('#EndDate').datepicker(options);
					});
				</script>
				<div class="form-group">
					<label for="Currency" class="col-sm-3 control-label">{{ getLanguage('Currency') }} 
						<span style="color:#d38e99">*</span>
					</label>
					<div class="col-sm-5">
						<select class="form-control" id="Currency" name="Currency" style="width:100%;">
							<optgroup label="Currency">
								{%for row in CurrencyObj %}
								<option value="{{row.ID}}"> {{row.ID}} </option> 
								{%endfor%}
							 </optgroup>
						</select>
						<script type="text/javascript">
							init.push(function () {
								// Single select
								$("#Currency").val('{{Currency}}');
								$("#Currency").select2({
									allowClear: true,
									placeholder: "Currency"
								});

							});
						</script>
					</div>
				</div>	
				

			</div> <!-- / .modal-body -->
			<div class="modal-footer">
				
				<button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div> <!-- /.modal -->
<!-- / Modal -->
</form>
<div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
	<div class="col-sm-12">

		<div style="margin-top: 8px;">

		</div> 
		<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

			{% from "print.html" import exportButtonLink %}
			{{exportButtonLink()}}

		</div>

		<button  type="button" data-toggle="modal" data-target="#myModal"  class="btn btn-flat btn-labeled btn-success pull-right" >
		<span class="btn-label icon fa fa-gear" ></span> Custom </button>
	</div> 
</div>
{% if ListError %}
<div class="clearfix"></div>
<div class="col-sm-12" style="padding-top:5px;">

	<div class="alert alert-danger" id="alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<ol>
			{% for message in ListError %}
			<li id="lblTableName">
				<a class="error_pointer" >
					<label for="TableName" style="width:15%;">
						{{message[0]}} <span style="color:#d38e99;">*	</span>
					</label>
				</a> 

				: {{message[1]}}
			</li>		
			{% endfor %}
		</ol>
		
	</div>
</div>
{% endif %}

<!--  message  -->
<div class="clearfix">&nbsp;</div>
{% include 'msg_error.html' %}

<div class="col-sm-12">
 <h3 class="header-3 text-center">{{Company.CompanyName}}</h3>
	<h3 class="header-3 text-center">Daily Cash Collection Report</h3>
	<h4 class="header-4 text-center"><strong>From: </strong> {{ StartDate }} <strong>To: </strong>{{ EndDate }}</h4>
</div>

<div class="col-sm-12">
	<strong>Branch:</strong> {{ Branch }}
</div>
<div class="col-sm-12">
	<strong>Currency:</strong> {{ Currency }}
</div>

<div class="clearfix">&nbsp;</div>
<div class="col-sm-12">
<table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Date</th>
			<th class="text-right">Principal</th>
			<th class="text-right">Interest</th>
			<th class="text-right">Penalty</th>
			<th class="text-right">CBC</th>
			<th class="text-right">Total</th>
		</tr>
	</thead>
	<tbody>
	{#
		setPositiveBalance() Mean that the amount of transaction in DDA is Dr.
		So we need sum all Principal collection when subtract from DDA.

	#}
		
		{%set DicTotal={} %}

		{%for row,col in DicRecord.iteritems()%}

			{%set Principal = setPositiveBalance(float(col.Principal)) %}
			{%set Interest 	= setPositiveBalance(float(col.Interest)) %}
			{%set Penalty 	= setPositiveBalance(float(col.Penalty)) %}
			{%set CBC 		= float(col.CBC) %}
			{%set Total 	= Principal+Interest+Penalty+CBC %}

			<!-- Code is sum to create total record in last row -->

			{%if DicTotal.update({'Principal':DicTotal.get('Principal',0)+Principal})%}{%endif%}
			{%if DicTotal.update({'Interest':DicTotal.get('Interest',0)+Interest})%}{%endif%}
			{%if DicTotal.update({'Penalty':DicTotal.get('Penalty',0)+Penalty})%}{%endif%}
			{%if DicTotal.update({'CBC':DicTotal.get('CBC',0)+CBC})%}{%endif%}
			{%if DicTotal.update({'Total':DicTotal.get('Total',0)+Total})%}{%endif%}

			<tr>
				<td>{{row}}</td>
				<td class="text-right">{{toMoney(Principal,getCurrencyObj)}}</td>
				<td class="text-right">{{toMoney(Interest,getCurrencyObj)}}</td>
				<td class="text-right">{{toMoney(Penalty,getCurrencyObj)}}</td>
				<td class="text-right">{{toMoney(CBC,getCurrencyObj)}}</td>
				<td class="text-right">{{toMoney(Total,getCurrencyObj)}}</td>
			</tr>
		{%endfor%}

		<tr style="font-weight: bold;">
			<td>Total</td>
			<td class="text-right">{{toMoney(DicTotal.get('Principal',0),getCurrencyObj)}}</td>
			<td class="text-right">{{toMoney(DicTotal.get('Interest',0),getCurrencyObj)}}</td>
			<td class="text-right">{{toMoney(DicTotal.get('Penalty',0),getCurrencyObj)}}</td>
			<td class="text-right">{{toMoney(DicTotal.get('CBC',0),getCurrencyObj)}}</td>
			<td class="text-right">{{toMoney(DicTotal.get('Total',0),getCurrencyObj)}}</td>
		</tr>

	</tbody>
	
</table>
</div>


{% endblock %}

{% block js %}


{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">

	$(document).ready(function() {
		$('#mktlist').dataTable({
			"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"bSort" : false,
			"bScrollCollapse": true
		});
		{% from "print.html" import exportDataTable %}
		{{exportDataTable("#mktlist","Daily Cash Collection Reports ")}}
		
	});

</script>
{% endblock %}