{% extends "layout.html" %}

{% block css %}
<style type="text/css">
.table-borderless td,
        .table-borderless th
        {
            border: 0 !important;
            padding-top: 3px !important;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }
        .modal-body {
            z-index: 99999 !important;
        }
</style>

<style type="text/css" media="print">
	body{
		font-size: 10px;
	}
</style>	
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}
	<form method="GET" id="frm" name="frm" role="form" >
		<!-- Modal -->
		<div id="getCustomRange" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">Custom</h4>
					</div>
					<div class="modal-body">

						
						<div class="form-group">
							<label for="StartDate" class="col-sm-3 control-label">
								{{ getLanguage('Start Date') }}
								<span style="color:#d38e99">*</span>
							</label>
							<div class="col-sm-9">
								<input class="input-sm form-control" type="text" value="{{ StartDate }}" placeholder="{{ getLanguage('Start Date') }}" name="StartDate" id="StartDate"  style="width:214px;">
							</div>
						</div>

						<div class="form-group">
							<label for="EndDate" class="col-sm-3 control-label">
								{{ getLanguage('End Date') }}
								<span style="color:#d38e99">*</span>
							</label>
							<div class="col-sm-9">
								<input class="input-sm form-control" type="text" value="{{ EndDate }}" placeholder="{{ getLanguage('End Date') }}" name="EndDate" id="EndDate" style="width:214px;" >
							</div>
						</div>
						<script type="text/javascript">

							init.push(function () {
								var options = {
								orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
								format:"yyyy-mm-dd",
								autoclose:true
								}
								$('#StartDate').datepicker(options);
							});

							init.push(function () {
								var options = {
								orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
								format:"yyyy-mm-dd",
								autoclose:true
								}
								$('#EndDate').datepicker(options);
							});
						</script>

					</div> <!-- / .modal-body -->
					<div class="modal-footer">
						
						<button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
					</div>
				</div> <!-- / .modal-content -->
			</div> <!-- / .modal-dialog -->
		</div> <!-- /.modal -->
		<!-- / Modal -->
	</form>
	
	<div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
		<div class="col-sm-12">
			<div style="margin-top: 8px;">

			</div> 
			<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

				{% from "print.html" import exportButtonLink %}
				{{exportButtonLink()}}

			</div>

			<button  type="button" data-toggle="modal" data-target="#getCustomRange"  class="btn btn-flat btn-labeled btn-success pull-right" >
			<span class="btn-label icon fa fa-gear" ></span> Custom </button>
		</div> 
	</div>
	{% if ListError %}
	<div class="clearfix"></div>
	<div class="col-sm-12" style="padding-top:5px;">

		<div class="alert alert-danger" id="alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<ol>
				{% for message in ListError %}
				<li id="lblTableName">
					<a class="error_pointer" >
						<label for="TableName" style="width:15%;">
							{{message[0]}} <span style="color:#d38e99;">*	</span>
						</label>
					</a> 

					: {{message[1]}}
				</li>		
				{% endfor %}
			</ol>
			
		</div>
	</div>
	{% endif %}
	<!-- Import Message -->
	{% include 'msg_error.html' %}

	<div class="col-sm-12" style="padding-bottom: 10px;">
		<h3 class="text-center" style="padding-bottom: 10px;">Loan Cash Flow Reports</h3>
		<h4 class="header-4 text-center"><b>As Of Date:</b> {{StartDate}} To {{EndDate}}</h4>

	</div>
	<div class="clearfix">&nbsp;</div>
	<div style="width:100%;">
		<div id="showmain" style="margin-left:10%; margin-right:10%;"></div>
		<div id="Detail" style="margin-left:10%; margin-right:10%;" >
			<h3 class="text-center" style="padding-bottom: 10px;">Detail Supporting</h3>
			<table id="mktlist" class="table table-striped table-borderless" cellspacing="0" width="100%">
				<!-- <thead>
					<th>ID</th>
					<th>Description</th>
					<th></th>
				</thead> -->
				<tbody>
				{%set DicSummary = {}%}
					{%for row in LoanProduct%}

						<!-- Newly delayed -->
						{%if str(row.ID) in DicRecord%}
							{%if 'NewlyDelayed' in DicRecord[row.ID]%}
								{% set NewlyDelayed = float(DicRecord[row.ID].NewlyDelayed)%}
								
							{%else%}
								{% set NewlyDelayed = 0 %}
							{%endif%}
						{%else%}
							{% set NewlyDelayed = 0 %}
						{%endif%}
						{% set NewlyDelayed = toMoney(NewlyDelayed,CurrencyObj) %}
						
						
						<!-- NormalDebt With Past Due Amount -->
						{%if str(row.ID) in DicPaidOffPD%}
							
							{% set NormalDebtPD = DicPaidOffPD[row.ID]%}
						{%else%}
							{% set NormalDebtPD = 0 %}
						{%endif%}
						{% set NormalDebtPD = toMoney(NormalDebtPD,CurrencyObj) %}

						<!-- NormalDebt -->
						{%if str(row.ID) in DicRecord%}
							{%if 'NormalDebt' in DicRecord[row.ID] %}
								{% set NormalDebt = float(DicRecord[row.ID].NormalDebt)%}
							{%else%}
								{% set NormalDebt = 0 %}
							{%endif%}
						{%else%}
							{% set NormalDebt = 0 %}
						{%endif%}
						{% set NormalDebt = NormalDebt - float(NewlyDelayed.replace(',',''))+ float(NormalDebtPD.replace(',',''))%}
						{% set NormalDebt = toMoney(NormalDebt,CurrencyObj) %}

						<!-- DelayedDebt -->
						{%if str(row.ID) in DicRecord%}
							{%if 'DelayedDebt' in DicRecord[row.ID]%}
								{% set DelayedDebt = float(DicRecord[row.ID].DelayedDebt)%}
								
							{%else%}
								{% set DelayedDebt = 0 %}
							{%endif%}
						{%else%}
							{% set DelayedDebt = 0 %}
						{%endif%}
						{% set DelayedDebt = toMoney(DelayedDebt,CurrencyObj)%}

						
						
						<!-- ExpectedCustomer -->
						{%if str(row.ID) in DicRecord%}
							{%if 'ExpectedCustomer' in DicRecord[row.ID]%}
								{% set ExpectedCustomer = DicRecord[row.ID].ExpectedCustomer%}
								
							{%else%}
								{% set ExpectedCustomer = 0 %}
							{%endif%}
						{%else%}
							{% set ExpectedCustomer = 0 %}
						{%endif%}

						{% set ExpectedRepayment = float(NormalDebt.replace(',','')) +  float(DelayedDebt.replace(',','')) + float(NewlyDelayed.replace(',',''))%}
						{% set ExpectedRepayment = toMoney(ExpectedRepayment,CurrencyObj)%}

						<!-- Actual -->
						{%if str(row.ID) in DicRecord%}
							{%if 'ActualAmount' in DicRecord[row.ID]%}
								{% set ActualAmount = float(DicRecord[row.ID].ActualAmount)%}
								
							{%else%}
								{% set ActualAmount = 0 %}
							{%endif%}
						{%else%}
							{% set ActualAmount = 0 %}
						{%endif%}
						{% set ActualAmount = toMoney(ActualAmount,CurrencyObj) %}


						<!-- # Of Actual Customer -->
						{%if str(row.ID) in DicRecord%}
							{%if 'ActualCustomer' in DicRecord[row.ID]%}
								{% set ActualCustomer = float(DicRecord[row.ID].ActualCustomer)%}
								
							{%else%}
								{% set ActualCustomer = 0 %}
							{%endif%}
						{%else%}
							{% set ActualCustomer = 0 %}
						{%endif%}

						<!-- # Of Customer PaidOff -->
						{%if str(row.ID) in DicCustomerPaidOff%}
							{% set CustomerPaidOff = float(DicCustomerPaidOff[row.ID])%}
						{%else%}
								{% set CustomerPaidOff = 0 %}
						{%endif%}
						{% set ActualCustomer = formatNumber(ActualCustomer,1,0) %}
						{%set CustomerPaidOff = formatNumber(CustomerPaidOff,1,0)%}
						<!-- Arrear Repayment -->
						{%if str(row.ID) in DicArrearPrior%}
							{% set ArrearRepayment = DicArrearPrior[row.ID]%}
						{%else%}
								{% set ArrearRepayment = 0 %}
							{%endif%}

						{% set ArrearRepayment = toMoney(ArrearRepayment,CurrencyObj) %}

						<!-- PaidOff -->
						{%if str(row.ID) in DicLoanPaidOff%}
							{% set PaidOff = float(DicLoanPaidOff[row.ID])%}
						{%else%}
								{% set PaidOff = 0 %}
						{%endif%}
						{% set PaidOff = toMoney(PaidOff,CurrencyObj) %}
						
						<!-- Next Arrear Prior Month -->
						{%if str(row.ID) in DicNextArrearPrior%}
							{% set NextArrearPrior = float(DicNextArrearPrior[row.ID])%}
						{%else%}
								{% set NextArrearPrior = 0 %}
						{%endif%}
						<!-- Wrong Code -->
							<!-- New Actual -->
							{#%set ActualAmount = float(ActualAmount.replace(',','')) + float(ArrearRepayment.replace(',','')) - NextArrearPrior %#}
							{#%set ActualAmount = toMoney(ActualAmount,CurrencyObj)%#}
							<!-- Summary Variance -->
							{#%set SummaryVariance = float(ExpectedRepayment.replace(',','')) - float(ActualAmount.replace(',',''))%#}
							{#%set SummaryVariance = toMoney(SummaryVariance,CurrencyObj)%#}
						<!-- Wrong Code -->

						<!-- Variance Repayment -->
						{% set Variance = float(ExpectedRepayment.replace(',','')) - (float(ActualAmount.replace(',','')) ) %}
						{% set Variance = toMoney(Variance,CurrencyObj)%}

						<!-- # OfCustomerVariance -->
						{% set NumOfCustomerVariance= float(ExpectedCustomer)-float(ActualCustomer.replace(',','')) %}
						{% set NumOfCustomerVariance = formatNumber(NumOfCustomerVariance,1,0) %}

						<!-- Ratio -->
						<!-- NormalRatio -->
						{%if  float(NormalDebt.replace(',',''))>0 %}
							{% set NormalRatio 	= float(NormalDebt.replace(',','')) / float(ExpectedRepayment.replace(',',''))*100%}
						{%else%}
							{% set NormalRatio = 0%}
						{%endif%}
						{% set NormalRatio 	= formatNumber(NormalRatio)%}

						<!-- DelayedRatio -->
						{%if  float(DelayedDebt.replace(',',''))>0%}
							{% set DelayedRatio = float(DelayedDebt.replace(',','')) / float(ExpectedRepayment.replace(',',''))*100%}
						{%else%}
							{% set DelayedRatio = 0%}
						{%endif%}
						{% set DelayedRatio = formatNumber(DelayedRatio)%}

						<!-- NewlyRatio -->
						{%if float(NewlyDelayed.replace(',',''))>0%}
							{% set NewlyRatio 	= float(NewlyDelayed.replace(',','')) / float(ExpectedRepayment.replace(',',''))*100%}
						{%else%}
							{% set NewlyRatio 	= 0 %}
						{%endif%}
						
						{% set NewlyRatio 	= formatNumber(NewlyRatio)%}
						<tr>
							<td><b>{{row.ID}} - {{row.Description}}</b></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="border-t">
							<td width="25%" class="bg-info"></td>
							<td width="60%" class="bg-info"><b>Budget</b></td>
							<td width="15%" class="bg-info"></td>
						</tr>
						<tr>
							<td></td>
							<td>Expected repayment</td>
							<td class="text-right">{{ExpectedRepayment}}</td>
						</tr>
						<tr>
							<td></td>
							<td>Nomal  debt</td>
							<td class="text-right"> {{NormalDebt}}</td>
						</tr>
						<tr>
							<td></td>
							<td>Ratio</td>
							<td class="text-right">{{NormalRatio}}%</td>
						</tr>
						<tr>
							<td></td>
							<td>delayed debt(explained last month and which is in PAR amount)</td>
							<td class="text-right">
								{{DelayedDebt}}
							</td>
						</tr>
						<tr>
							<td></td>
							<td>Ratio</td>
							<td class="text-right">{{DelayedRatio}}%</td>
						</tr>
						<tr>
							<td></td>
							<td>Newly delayed debt</td>
							<td class="text-right">
								{{NewlyDelayed}}
							</td>
						</tr>
						<tr>
							<td></td>
							<td>Ratio</td>
							<td class="text-right">{{NewlyRatio}}%</td>
						</tr>
						<tr>
							<td></td>
							<td># of customers</td>
							<td class="text-right">
								{{ExpectedCustomer}}
							</td>
						</tr>
						<tr class="border-t">
							<td class="bg-warning"></td>
							<td class="bg-warning"><b>Actual</b></td>
							<td class="text-right bg-warning"></td>
						</tr>
						<tr>
							<td></td>
							<td>Actual repayment</td>
							<td class="text-right">{{ActualAmount}}</td>
						</tr>
						<tr>
							<td></td>
							<td># of actual customers</td>
							<td class="text-right">{{ActualCustomer}}</td>
						</tr>
						<tr>
							<td></td>
							<td>Arrear repayment from prior month</td>
							<td class="text-right">{{ArrearRepayment}}</td>
						</tr>
						<tr>
							<td></td>
							<td>Loan paid off</td>
							<td class="text-right">{{PaidOff}}</td>
						</tr>
						<tr>
							<td></td>
							<td># of paid off customers</td>
							<td class="text-right">{{CustomerPaidOff}}</td>
						</tr>
						<tr class="border-t">
							<td class="bg-default"></td>
							<td class="bg-default"><b>Variance</b></td>
							<td class="bg-default"></td>
						</tr>
						<tr>
							<td></td>
							<td>Repayment</td>
							<td class="text-right">{{Variance}}</td>
						</tr>
						<tr>
							<td></td>
							<td># of customers</td>
							<td class="text-right">{{NumOfCustomerVariance}}</td>
						</tr>


						{%if DicSummary.update({row.ID +' - '+ row.Description:{
							'ExpectedRepayment':ExpectedRepayment,
							'ActualAmount':ActualAmount,
							'Variance':Variance,
						}})%}{%endif%}

					{%endfor%}
				</tbody>
			</table>
		</div>
		<div id="Main" style="margin-left:10%; margin-right:10%;">
			<h3 class="text-center" style="padding-bottom: 10px;">Summary</h3>
			<table id="mktmain" class="table table-striped table-borderless" cellspacing="0" width="100%">
					
				<tbody>
					{%for key,value in DicSummary.iteritems()|sort()%}
						<tr>
							<td width="25%"><b>{{key}}</b></td>
							<td width="60%"></td>
							<td width="15%"> </td>
						</tr>
						<tr class="border-t">
							<td></td>
							<td>Expected repayment</td>
							<td class="text-right">{{value.ExpectedRepayment}}</td>
						</tr>
						<tr>
							<td></td>
							<td >Actual repayment</td>
							<td class="text-right">{{value.ActualAmount}}</td>
						</tr>
						<tr>
							<td></td>
							<td>Variance</td>
							<td class="text-right">{{value.Variance}}</td>
						</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>

		<div class="col-sm-12 text-center" style="padding-bottom: 50px;">
			<!-- <table id="mktlist" style="display: none;">
				<tbody>
					
				</tbody>
			</table> -->
			<a id="AdvanceOption" class="link">Detail Supporting</a>
		</div>
	</div>
	
{%endif%}

{% endblock %}

{% block js %}


{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">

	$(document).ready(function() {
		// $('#mktlist').dataTable({
		// 	"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
		// 	"bSort" : false
		// });
		$('#Detail').hide();
		{% from "print.html" import exportTable %}
		{{exportTable("#mktlist","Loan Cash flow Report")}}
		$( "#AdvanceOption" ).click(function() {
				
				$('#Detail').toggle(); 
				if($(this).text() == 'Hide Detail Supporting'){
					$('#Main').show();
					$('#showmain').html('');
					$(this).text('Detail Supporting');
				} else {
					$('#Main').hide();
					$('#showmain').html($('#Main').html());
					$(this).text('Hide Detail Supporting');
				}
			});
	});

</script>
{% endblock %}