{% extends "layout.html" %}

{% block css %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
            line-height: 30px;
        }

        h3.header-33{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 0px 0 10px;
            line-height: 20px;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 428px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }

    </style>

{% endblock %}

{% block content %}
     
     <div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
        <div class="col-sm-12">
            <div style="margin-top: 8px;">

            </div> 
            <div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

                {% from "print.html" import exportButtonLink %}
                {{exportButtonLink()}}

            </div>

            <button  type="button" data-toggle="modal" data-target="#getCustomRange"  class="btn btn-flat btn-labeled btn-success pull-right" >
            <span class="btn-label icon fa fa-gear" ></span> Custom </button>
        </div> 
    </div>

    <div class="col-sm-12">
        <table width="100%" border="0">
            <tbody>

                <tr>
                    <td class="text-left" rowspan="3" width="20%">
                        <img src="{{ url_for('static', filename='company/logo.png') }}">
                    </td>
                    <td class="text-center" width="60%">
                        <h3 class="header-3">
                            {{ CompanyObj.CompanyName }}<br>
                            <i>{{ BranchName }}</i>
                        </h3>
                    </td>
                    <td class="text-right" width="20%"></td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h4 class="header-4">
                            {% if StartDate %}
                                <strong>From:</strong> {{ StartDate }} <strong>To:</strong> {{ EndDate }}</h4>
                            {% else %}
                                <strong>As of:</strong> {{ EndDate }}
                            {% endif %}
                    </td>
                    <td class="text-right">

                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h3 class="header-33">Loan Detail By Products Report</h3>
                    </td>
                    <td class="text-right"><strong>Currency: {{ Currency }}</strong></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="col-sm-12">
        
        <table id="mktlist" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>{{ getLanguage('ID') }}</th>
                    <th>{{ getLanguage('Description') }}</th>
                    <th>{{ getLanguage('Frequency Type') }}</th>
                    <th class="text-right">{{ getLanguage('# of Loans') }}</th>
                    <th class="text-right">{{ getLanguage('Loan Balance') }}</th>
                    <th class="text-right">{{ getLanguage('Outstanding Amount') }}</th>
                    <th class="text-right">{{ getLanguage('Disbursed Amount') }}</th>
                </tr>
            </thead>

            <tbody>

                {% set TotalNumberOfAccount = [] %}
                {% set TotalNumberOfLoan = [] %}
                {% set TotalOutstandingAmt = [] %}
                {% set TotalDisbursedAmt = [] %}
                {% set TotalLoanBalance = [] %}

                {% if LoanObj %}
                    {% for item in LoanObj %}
                        <tr>
                            <td><strong>{{ item.LoanProduct }}</strong></td>
                            <td><strong>{{ item.Description }}</strong></td>
                            <td>
                                
                            </td>
                            <td class="text-right" style="padding-right:18px;">
                                <strong>{{ formatNumber(float(item.NumberOfLoan), 2, 0) }}</strong>
                                {{ setTotalNumberOfLoan(TotalNumberOfLoan, float(item.NumberOfLoan)) }}
                            </td>
                            <td class="text-right" style="padding-right:18px;">
                                <strong>{{ formatNumber(float(item.TotalLoanBalance), 2, 2) }}</strong>
                                {{ setTotalLoanBalance(TotalLoanBalance, float(item.TotalLoanBalance)) }}
                            </td>
                            <td class="text-right" style="padding-right:18px;">
                                <strong>{{ formatNumber(float(item.TotalOutstandingAmt), 2, 2) }}</strong>
                                {{ setTotalOutstandingAmt(TotalOutstandingAmt, float(item.TotalOutstandingAmt)) }}
                            </td>
                            <td class="text-right" style="padding-right:18px;">
                                <strong>{{ formatNumber(float(item.TotalDisbursedAmt), 2, 2) }}</strong>
                                {{ setTotalDisbursedAmt(TotalDisbursedAmt, float(item.TotalDisbursedAmt)) }}
                            </td>
                        </tr>
                        {{ getDetailProductByFrequency(item.LoanProduct, BranchList, CurrencyList)|safe }}
                    {% endfor %}
                {% endif %}
                
            </tbody>

            <tfoot>
                <tr>
                    <th>{{ getLanguage('Total') }}</th>
                    <th></th>
                    <th></th>
                    <th class="text-right">{{ formatNumber(float(getTotalByList(TotalNumberOfLoan)), 2, 0) }}</th>
                    <th class="text-right">{{ formatNumber(float(getTotalByList(TotalLoanBalance)), 2, 2) }}</th>
                    <th class="text-right">{{ formatNumber(float(getTotalByList(TotalOutstandingAmt)), 2, 2) }}</th>
                    <th class="text-right">{{ formatNumber(float(getTotalByList(TotalDisbursedAmt)), 2, 2) }}</th>
                </tr>
            </tfoot>

        </table>

    </div>

{% endblock %}

{% block js %}
    
    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {

            $('#mktlist').dataTable({
                            "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                            "bSort" : false,
                        });
            // $(".table-caption").append("<a class='btn btn-primary' href='/Morakot' role='button' title='Refresh'><i class='fa fa-save'></i> Save Schedule</a>");
            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist', "Loan Detail By Product")}}

            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#StartDate').datepicker(options);
            });



            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#EndDate').datepicker(options);
            });
        });

    </script>

    <div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/Report/LoanDetailByProducts/" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{ getLanguage('Custom') }}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">{{ getLanguage('Branch') }}:</label>
                            <div class="col-sm-8">
                                <input class="input-sm form-control" type="text" value="{{ Branch }}" placeholder="{{ getLanguage('Branch') }}" name="Branch" id="Branch" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">{{ getLanguage('Currency') }}:</label>
                            <div class="col-sm-8">
                                <input class="input-sm form-control" type="text" value="{{ Currency }}" placeholder="{{ getLanguage('Currency') }}" name="Currency" id="Currency" >
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% macro setTotalNumberOfAccount(TotalNumberOfAccount, Number) %}
    {% if TotalNumberOfAccount.append(Number) %}{% endif %}
{% endmacro %}

{% macro setTotalNumberOfLoan(TotalNumberOfLoan, Number) %}
    {% if TotalNumberOfLoan.append(Number) %}{% endif %}
{% endmacro %}

{% macro setTotalOutstandingAmt(TotalOutstandingAmt, Amount) %}
    {% if TotalOutstandingAmt.append(Amount) %}{% endif %}
{% endmacro %}

{% macro setTotalDisbursedAmt(TotalDisbursedAmt, Amount) %}
    {% if TotalDisbursedAmt.append(Amount) %}{% endif %}
{% endmacro %}

{% macro setTotalLoanBalance(TotalLoanBalance, Amount) %}
    {% if TotalLoanBalance.append(Amount) %}{% endif %}
{% endmacro %}