{% extends "layout.html" %}

{% block css %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
            line-height: 30px;
        }

        h3.header-33{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 0px 0 10px;
            line-height: 20px;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 428px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }

    </style>

{% endblock %}

{% block content %}
     
     <div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
        <div class="col-sm-12">
            <div style="margin-top: 8px;">

            </div> 
            <div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

                {% from "print.html" import exportButtonLink %}
                {{exportButtonLink()}}

            </div>

            <button  type="button" data-toggle="modal" data-target="#getCustomRange"  class="btn btn-flat btn-labeled btn-success pull-right" >
            <span class="btn-label icon fa fa-gear" ></span> Custom </button>
        </div> 
    </div>

    <div class="col-sm-12">
        <table width="100%" border="0">
            <tbody>

                <tr>
                    <td class="text-left" rowspan="3" width="20%">
                        <img src="{{ url_for('static', filename='company/logo.png') }}">
                    </td>
                    <td class="text-center" width="60%">
                        <h3 class="header-3">
                            {{ CompanyObj.CompanyName }}<br>
                            <i>{{ BranchName }}</i>
                        </h3>
                    </td>
                    <td class="text-right" width="20%"></td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h4 class="header-4">
                            {% if StartDate %}
                                <strong>From:</strong> {{ StartDate }} <strong>To:</strong> {{ EndDate }}</h4>
                            {% else %}
                                <strong>As of:</strong> {{ EndDate }}
                            {% endif %}
                    </td>
                    <td class="text-right">

                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h3 class="header-33">Loan Detail Report</h3>
                    </td>
                    <td class="text-right"><strong>Convert to: {{ Currency }}</strong></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="col-sm-12">
        
        <table id="mktlist" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>{{ getLanguage('Description') }}</th>
                    <th class="text-right">Beginning Bal.</th>
                    <th class="text-right">Movement Bal.</th>
                    <th class="text-right">Ending Bal.</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>{{ getLanguage('Loan Outstanding') }}</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(OutstandingBeg), CurrencyObj) }}</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(OutstandingMov), CurrencyObj) }}</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(OutstandingEnd), CurrencyObj) }}</td>
                </tr>

                <tr>
                    <td>Accrual Interest Receivable</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(AIRBeg), CurrencyObj) }}</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(AIRMov), CurrencyObj) }}</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(AIREnd), CurrencyObj) }}</td>
                </tr>

                <tr>
                    <td>Interest Income</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(IntIncomeBeg), CurrencyObj) }}</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(IntIncomeMov), CurrencyObj) }}</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(IntIncomeEnd), CurrencyObj) }}</td>
                </tr>

                <tr>
                    <td>Provisioning</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(ProvisioningBeg), CurrencyObj) }}</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(ProvisioningMov), CurrencyObj) }}</td>
                    <td class="text-right" style="padding-right:18px;">{{ toMoney(float(ProvisioningEnd), CurrencyObj) }}</td>
                </tr>

            </tbody>

            <tfoot>
                <tr>
                    <th>{{ getLanguage('Total') }}</th>
                    <th class="text-right">{{ toMoney(float(OutstandingBeg) + float(AIRBeg) + float(IntIncomeBeg) + float(ProvisioningBeg), CurrencyObj) }}</th>
                    <th class="text-right">{{ toMoney(float(OutstandingMov) + float(AIRMov) + float(IntIncomeMov) + float(ProvisioningMov), CurrencyObj) }}</th>
                    <th class="text-right">{{ toMoney(float(OutstandingEnd) + float(AIREnd) + float(IntIncomeEnd) + float(ProvisioningEnd), CurrencyObj) }}</th>
                </tr>
            </tfoot>

        </table>

    </div>

{% endblock %}

{% block js %}
    
    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {

            $('#mktlist').dataTable({
                            "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                            "bSort" : false,
                        });
            // $(".table-caption").append("<a class='btn btn-primary' href='/Morakot' role='button' title='Refresh'><i class='fa fa-save'></i> Save Schedule</a>");
            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist', "Network Performance")}}

            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#StartDate').datepicker(options);
            });



            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#EndDate').datepicker(options);
            });
        });

    </script>

    <div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/Report/LoanDetail/" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Custom</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">{{ getLanguage('Branch') }}:</label>
                            <div class="col-sm-8">
                                <input class="input-sm form-control" type="text" value="{{ Branch }}" placeholder="{{ getLanguage('Branch') }}" name="Branch" id="Branch" >
                            </div>
                        </div>
                        
                        <!-- <div class="form-group">
                            <label for="StartDate" class="col-sm-4 control-label">{{ getLanguage('Start Date') }}:</label>
                            <div class="col-sm-8">
                                <input class="input-sm form-control" type="text" value="{{ StartDate }}" placeholder="{{ getLanguage('Start Date') }}" name="StartDate" id="StartDate" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="EndDate" class="col-sm-4 control-label">{{ getLanguage('End Date') }}:</label>
                            <div class="col-sm-8">
                                <input class="input-sm form-control" type="text" value="{{ EndDate }}" placeholder="{{ getLanguage('End Date') }}" name="EndDate" id="EndDate" >
                            </div>
                        </div> -->

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
<!-- Add Borrower to List -->
{% macro setNumberOfBorrower(NumberOfBorrower, Number) %}
    {% if NumberOfBorrower.append(Number) %}{% endif %}
{% endmacro %}