{% extends "layout.html" %}

{% block css %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>

    </style>

{% endblock %}

{% block content %}
	<div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
        <div class="col-sm-12">
            <div class="col-sm-6" style="padding-top:15px; padding-left:0px;">
                {% from "print.html" import exportButtonLink %}
                {{exportButtonLink()}}
            </div>
        </div> 
    </div>

    <div class="col-sm-12">
        <h3 class="header-33" style="text-align: center;">All Loan Report</h3>
    </div>
            
    <div class="col-sm-12">
		{% if LoanContractObj %}
			<table id="mktlist" class="table table-hover table-striped display" cellspacing="0" width="100%">
				<thead>
					<tr>
						{# <th>NO</th> #}
						<th>Loan Contract ID</th>
						<th>Name</th>
						<th>Gender</th>
						<th>Province</th>
						<th>District</th>
						<th>Value Date</th>
						<th>Last Repay Date</th>
						<th>Last Repay Amount</th>
						<th>Disbursed Amount</th>
						<th>Loan Balance</th>
						<th>Day Due</th>
						<th>Branch</th>
					</tr>
				</thead>
				{% for row in LoanContractObj %}
					{% set AccEntry =	getLastRepayAmount(row.Account,DepTransaction,CollectionTran) %}
					{% set DayDue 	=	getMaxDayDue("PD"+row.ID) %}
					{% if AccEntry.Amount %}
					{% set RepayAmount 	= 	toMoney(AccEntry.Amount|float,CurrencyObj(AccEntry.Currency),1)  %}
					{% else %}
					{% set RepayAmount = '' %}
					{% endif %}
					<tr>
						{# <td>{{loop.index}}</td> #}
						<td>{{row.ID}}</td>
						<td>{{row.LastNameEn}} {{row.FirstNameEn}}</td>
						<td>{{row.Gender}}</td>
						<td>{{row.ProvinceDescription}}</td>
						<td>{{row.DistrictDescription}}</td>
						<td>{{row.ValueDate}}</td>
						<td>{{AccEntry.TransactionDate}}</td>
						<td>{{RepayAmount}}</td>
						<td>{{toMoney(row.Disbursed|float,CurrencyObj(row.Currency),1)}}</td>
						<td>{{toMoney(row.Amount|float,CurrencyObj(row.Currency),1)}}</td>
						<td>{{DayDue}}</td>
						<td>{{row.LoanBranch}}</td>
					</tr>
					
				{% endfor %}
			</table>
		{% endif %}
	</div>
{% endblock %}

{% block js %}
    
    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}
    <script type="text/javascript">
		$(document).ready(function() {
		    // $('#title').hide();
		    $('#mktlist').dataTable({
                "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]]
            });
			{% from "print.html" import exportDataTable %}
	        {{exportDataTable('#mktlist', "Loan Schedule Group")}}		
	        
		});


	</script>

{% endblock %}