{% extends "layout.html" %}

{% block css %}
	<style type="text/css">
	.table-header-center{
	text-align: center;
	vertical-align: middle;
	}

	</style>
{% endblock %}

{% block content %}

 <form method="GET" id="frm" name="frm" role="form" >
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Custom</h4>
			</div>
			<div class="modal-body">

				<div class="form-group">
					<label for="Currency" class="col-sm-3 control-label">{{ getLanguage('Currency') }} 
						<span style="color:#d38e99">*</span>
					</label>
					<div class="col-sm-9">
						<select class="form-control" id="Currency" name="Currency">
							<optgroup label="Currency">
								{%for row in CurrencyObj %}
								<option value="{{row.ID}}"> {{row.ID}} </option> 
								{%endfor%}
							 </optgroup>
						</select>
						<script type="text/javascript">
							init.push(function () {
								// Single select
								$("#Currency").val('{{Currency}}');
								$("#Currency").select2({
									allowClear: true,
									placeholder: "Currency"
								});

							});
						</script>
					</div>
				</div>		
				<div class="form-group">
					<label for="StartDate" class="col-sm-3 control-label">
						{{ getLanguage('Start Date') }}
						<span style="color:#d38e99">*</span>
					</label>
					<div class="col-sm-9">
						<input class="input-sm form-control" type="text" value="{{ StartDate }}" placeholder="{{ getLanguage('Start Date') }}" name="StartDate" id="StartDate"  style="width:214px;">
					</div>
				</div>

				<div class="form-group">
					<label for="EndDate" class="col-sm-3 control-label">
						{{ getLanguage('End Date') }}
						<span style="color:#d38e99">*</span>
					</label>
					<div class="col-sm-9">
						<input class="input-sm form-control" type="text" value="{{ EndDate }}" placeholder="{{ getLanguage('End Date') }}" name="EndDate" id="EndDate" style="width:214px;" >
					</div>
				</div>
				<script type="text/javascript">

					init.push(function () {
						var options = {
						orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
						format:"yyyy-mm-dd",
						autoclose:true
						}
						$('#StartDate').datepicker(options);
					});

					init.push(function () {
						var options = {
						orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
						format:"yyyy-mm-dd",
						autoclose:true
						}
						$('#EndDate').datepicker(options);
					});
				</script>
				<div class="form-group">
					<label for="StartDate" class="col-sm-3 control-label">
						Loan Product
					</label>
					<div class="col-sm-9">
						<select class="form-control" id="LoanProduct" name="LoanProduct">
							<option value=""> ---None--- </option> 
							<optgroup label="LoanProduct">
								{%for row in LoanProductObj %}
								<option value="{{row.ID}}"> {{row.Description}} </option> 
								{%endfor%}
							 </optgroup>
						</select>
						<script type="text/javascript">
							init.push(function () {
								// Single select
								$("#LoanProduct").val('{{LoanProduct}}');
								$("#LoanProduct").select2({
									allowClear: true,
									placeholder: "Loan Product"
								});

							});
						</script>
					</div>
				</div>

				<div class="form-group">
					<label for="StartDate" class="col-sm-3 control-label">
						{{ getLanguage('Loan ID') }}
					</label>
					<div class="col-sm-9">
						<input class="input-sm form-control" type="text" value="{{ LoanID }}" placeholder="{{ getLanguage('Loan ID') }}" name="LoanID" id="LoanID"  style="width:214px;">
					</div>
				</div>

			</div> <!-- / .modal-body -->
			<div class="modal-footer">
				
				<button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
			</div>
		</div> <!-- / .modal-content -->
	</div> <!-- / .modal-dialog -->
</div> <!-- /.modal -->
<!-- / Modal -->
</form>
<div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
	<div class="col-sm-12">

		<div style="margin-top: 8px;">

		</div> 
		<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

			{% from "print.html" import exportButtonLink %}
			{{exportButtonLink()}}

		</div>

		<button  type="button" data-toggle="modal" data-target="#myModal"  class="btn btn-flat btn-labeled btn-success pull-right" >
		<span class="btn-label icon fa fa-gear" ></span> Custom </button>
	</div> 
</div>
{% if ListError %}
<div class="clearfix"></div>
<div class="col-sm-12" style="padding-top:5px;">

	<div class="alert alert-danger" id="alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<ol>
			{% for message in ListError %}
			<li id="lblTableName">
				<a class="error_pointer" >
					<label for="TableName" style="width:15%;">
						{{message[0]}} <span style="color:#d38e99;">*	</span>
					</label>
				</a> 

				: {{message[1]}}
			</li>		
			{% endfor %}
		</ol>
		
	</div>
</div>
{% endif %}

<!--  message  -->
<div class="col-sm-12">
	{% for message in get_flashed_messages() %}
		{% if contain(message,"Error") %}
			<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message[6:]}}
		</div>
		{% elif contain(message,"Warning") %}
			<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message[8:] }}
		</div>
		{% else %}
			<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endif %}
	{% endfor %}
</div>

<div class="col-sm-12">
	<h3 class="header-3 text-center">Monthly Collection Reports </h3>
</div>
<div class="col-sm-12" style="padding:20px 10px">
	<h4 class="header-3 text-center"> </h4>
</div>
	<div class="col-sm-12" style="padding:20px 10px">
		<div class="col-sm-6">
	        <table>
				<tr>
					<td width="150"><strong>StartDate</strong></td>
					<td>: &nbsp {{StartDate}}</td>
				</tr>
				<tr>
					<td><strong>EndDate</strong></td>
					<td>: &nbsp {{EndDate}}</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-6" style="padding-right: 20px;">
			<table style="float: right;">
				<tr>
					<td width="150"><strong>{{ getLanguage('Currency') }}</strong></td>
					<td>: &nbsp {{Currency}} </td>
				</tr>
				<tr>
					<td width="150"><strong>Loan Product</strong></td>
					<td>: &nbsp {%if LoanProduct != ""%}{{LoanProductObj.get(LoanProduct).Description}}{%endif%}</td>
				</tr>
			</table>
	    </div>
	</div>
<div class="col-sm-12">
<table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Officer</th>
			<th colspan="3" class="table-header-center">Total Collection</th>
			<th colspan="3" class="table-header-center">Actual Amount</th>
			<th colspan="3" class="table-header-center">Not Paid</th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th>Principal</th>
			<th>Interest</th>
			<th>Total Amount</th>
			<th>Principal</th>
			<th>Interest</th>
			<th>Total Actual Amount</th>
			<th>Principal</th>
			<th>Interest</th>
			<th>Total Not Paid</th>
		</tr>
	</thead>
	<tbody>
		{%if kwargs%}
			{%set DicActual = kwargs.DicActual%}
			{%set DicGrandTotal={}%}
			{%set GrandTotalP = 0 %}
			{%set GrandTotalI = 0 %}
			{%set GrandTotalAmount = 0 %}
			{%set GrandTotalActualI = 0 %}
			{%set GrandTotalActualP = 0 %}
			{%set GrandTotalActual = 0 %}
			{%set GrandTotalNotPaidP = 0 %}
			{%set GrandTotalNotPaidI = 0 %}
			{%set GrandTotalNotPaid = 0 %}
			{%if DicGrandTotal.update({'GrandTotalP':GrandTotalP,
							'GrandTotalI' : GrandTotalI,
							'GrandTotalAmount' : GrandTotalAmount,
							'GrandTotalActualI' : GrandTotalActualI,
							'GrandTotalActualP' : GrandTotalActualP,
							'GrandTotalActual' : GrandTotalActual,
							'GrandTotalNotPaidP' : GrandTotalNotPaidP,
							'GrandTotalNotPaidI' : GrandTotalNotPaidI,
							'GrandTotalNotPaid' : GrandTotalNotPaid})%}{%endif%}
			{%for key,value in kwargs.DicSchedule.iteritems()%}
				<!-- Block Declear Obj -->

				{%set Officer = key%}
				{%set QueryOfficer = OfficerObj.get(Officer)%}

				<!-- Block Actual Amount -->

				{%if Officer+PrincipalTran in DicActual%}
					{%set ActualPrincipal = DicActual[Officer+PrincipalTran]%}
				{%else%}
					{%set ActualPrincipal = 0 %}
				{%endif%}

				{%if Officer+InterestTran in DicActual%}
					{%set ActualInterest = DicActual[Officer+InterestTran]%}
				{%else%}
					{%set ActualInterest = 0 %}
				{%endif%}

				{%set TotalActual 	= ActualPrincipal +ActualInterest%}
				{%set NotPaidP 		= value.Principal-ActualPrincipal%}
				{%set NotPaidI 		= value.Interest-ActualInterest%}
				{%set NotPaid 		= value.TotalAmount-TotalActual %}

				<!-- Block GrandTotal Calculator  -->
				{%set GrandTotalP = GrandTotalP + value.Principal %}
				{%set GrandTotalI = GrandTotalI + value.Interest %}
				{%set GrandTotalAmount = GrandTotalAmount + value.TotalAmount %}
				{%set GrandTotalActualI = GrandTotalActualI + ActualInterest %}
				{%set GrandTotalActualP = GrandTotalActualP + ActualPrincipal %}
				{%set GrandTotalActual = GrandTotalActual + TotalActual %}
				{%set GrandTotalNotPaidP = GrandTotalNotPaidP + NotPaidP %}
				{%set GrandTotalNotPaidI = GrandTotalNotPaidI + NotPaidI %}
				{%set GrandTotalNotPaid = GrandTotalNotPaid + NotPaid %}
				{%if DicGrandTotal.update({'GrandTotalP':GrandTotalP,
							'GrandTotalI' : GrandTotalI,
							'GrandTotalAmount' : GrandTotalAmount,
							'GrandTotalActualI' : GrandTotalActualI,
							'GrandTotalActualP' : GrandTotalActualP,
							'GrandTotalActual' : GrandTotalActual,
							'GrandTotalNotPaidP' : GrandTotalNotPaidP,
							'GrandTotalNotPaidI' : GrandTotalNotPaidI,
							'GrandTotalNotPaid' : GrandTotalNotPaid})%}{%endif%}
				<tr>
					<td>{{Officer}}</td>
					<td>{{QueryOfficer.FirstName}} {{QueryOfficer.LastName}}</td>
					<td>{{toMoney(float(value.Principal),CurrencyObj.get(Currency))}}</td>
					<td>{{toMoney(float(value.Interest),CurrencyObj.get(Currency))}}</td>
					<td>{{toMoney(float(value.TotalAmount),CurrencyObj.get(Currency))}}</td>
					<td>{{toMoney(float(ActualPrincipal),CurrencyObj.get(Currency))}}</td>
					<td>{{toMoney(float(ActualInterest),CurrencyObj.get(Currency))}}</td>
					<td>{{toMoney(float(TotalActual),CurrencyObj.get(Currency))}}</td>
					<td>{{toMoney(float(NotPaidP),CurrencyObj.get(Currency))}}</td>
					<td>{{toMoney(float(NotPaidI),CurrencyObj.get(Currency))}} </td>
					<td>{{toMoney(float(NotPaid),CurrencyObj.get(Currency))}}</td>
				</tr>
			{%endfor%}
			<tr>
				<td><strong>Grand Total</strong></td>
				<td></td>
				<td><strong>{{toMoney(float(DicGrandTotal.GrandTotalP),CurrencyObj.get(Currency)) }}</strong></td>
				<td><strong>{{toMoney(float(DicGrandTotal.GrandTotalI),CurrencyObj.get(Currency)) }}</strong></td>
				<td><strong>{{toMoney(float(DicGrandTotal.GrandTotalAmount),CurrencyObj.get(Currency)) }}</strong></td>
				<td><strong>{{toMoney(float(DicGrandTotal.GrandTotalActualP),CurrencyObj.get(Currency)) }}</strong></td>
				<td><strong>{{toMoney(float(DicGrandTotal.GrandTotalActualI),CurrencyObj.get(Currency)) }}</strong></td>
				<td><strong>{{toMoney(float(DicGrandTotal.GrandTotalActual),CurrencyObj.get(Currency)) }}</strong></td>
				<td><strong>{{toMoney(float(DicGrandTotal.GrandTotalNotPaidP),CurrencyObj.get(Currency)) }}</strong></td>
				<td><strong>{{toMoney(float(DicGrandTotal.GrandTotalNotPaidI),CurrencyObj.get(Currency)) }}</strong></td>
				<td><strong>{{toMoney(float(DicGrandTotal.GrandTotalNotPaid),CurrencyObj.get(Currency)) }}</strong></td>
			</tr>
		{%endif%}
	</tbody>
	
</table>
</div>


{% endblock %}

{% block js %}


{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">

	$(document).ready(function() {
		$('#mktlist').dataTable({
			"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"aaSorting":[]
		});
		{% from "print.html" import exportDataTable %}
		{{exportDataTable("#mktlist","Monthly Collection Reports ")}}
		
	});

</script>
{% endblock %}