{% extends "layout.html" %}

{% block css %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        @font-face {
                font-family: 'Suwannaphum';
                font-style: normal;
                font-weight: 400;
                src: local('Suwannaphum'), url(https://fonts.gstatic.com/s/suwannaphum/v9/1jIPOyXied3T79GCnSlCN1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
            }

        .font-kh{
                background-color: #fff;
                color: #555;
                font-family: "Suwannaphum", Helvetica, Arial, sans-serif;
                font-size: 12px;
                line-height: 1.42857;
            }
        @page {
            margin: 0;
        }
        @media print
        {
            th{font-size:9pt;padding-left: 15pt;}

        }
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
            line-height: 30px;
        }
        @font-face {
            font-family: 'Moul';
            font-style: normal;
            font-weight: 400;
            src: local('Moul'), url(https://fonts.gstatic.com/s/moul/v8/9pP9Dsyzm8X_vCLNoMZkag.woff2) format('woff2');
        }

        h3.header-33{
            font-family: 'Moul';
            color: #888 !important;
            font-size: 16px;
            margin: 0px 0 10px;
            line-height: 20px;

        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 428px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }
        option[value=four] {display: none;}

        table.dataTable thead th, table.dataTable thead td{
            border-bottom: 1px solid #eee;

        }

        .header{
                margin: 20px 0;
            }

        .logo{
                width: 20%;
                /*border: 1px solid;*/
                float: left;
                text-align: center;
            }
            @font-face {
                font-family: 'Moul';
                font-style: normal;
                font-weight: 400;
                src: local('Moul'), url(https://fonts.gstatic.com/s/moul/v8/9pP9Dsyzm8X_vCLNoMZkag.woff2) format('woff2');
            }


        .companyKh
            {
                font-family: 'Moul', cursive;
                color: #888 !important;
            }




    </style>

{% endblock %}

{% block content %}
     
    <div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
        <div class="col-sm-12">
            <div style="margin-top: 8px;">

            </div> 
            <div class="col-sm-8" style="padding-top:0px; padding-left:0px;">
                <form method="GET" id="frm" name="frm" role="form" action="/Morakot/Report/LoanScheduleByGroup/">

                    <div class="col-sm-4" style="padding-left: 0;">
                        <select name="VB" id="SelectVB" class="form-control" style="width: 100%;">
                            <option value="">-- Select VB --</option>
                            {% if VBObj %}
                                {% for item in VBObj %}
                                    {% if VB == item.ID %}
                                        <option selected value="{{ item.ID }}">{{ item.ID }} - {{ item.Description }}</option>
                                    {% else %}
                                        <option value="{{ item.ID }}">{{ item.ID }} - {{ item.Description }}</option>

                                        
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                        <script type="text/javascript">
                            init.push(function () {
                                // Single select
                                $("#SelectVB").select2({
                                    allowClear: true,
                                    placeholder: "-- Select VB --"

                                });
                            });
                        </script>
                    </div>

                    <div class="col-sm-2" style="padding-left: 0;">
                            <input name="Group" id="Group" value="{{ Group }}" class="form-control" placeholder="{{ getLanguage('Group') }} *" style="width: 100%;">
                    </div>

                    <label class="col-sm-1" style="padding:0px;">
                        <button type="submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
                            {{ getLanguage('Show') }}
                        </button>
                    </label>

                </form>

            </div>
            <div class="text-right">

               <!--  <button  type="button" data-toggle="modal" data-target="#getCustomRange"  class="btn btn-flat btn-labeled btn-success" style="margin-right: 0px;">
                <span class="btn-label icon fa fa-gear" ></span> {{ getLanguage('Custom') }} </button> -->
                
                {% from "print.html" import exportButton %}
                {{  exportButton()  }}

                <!-- <a onclick="popupwindow('/Morakot/Report/LoanScheduleByGroup/Print/?Group={{ Group }}&VB={{ VB }}','Repayment Schedule','1200','900')" href="javascript:void(0);" class="btn btn-flat btn-labeled btn-success"><span class="btn-label icon fa fa-print"></span> {{ getLanguage('Print') }}</a> -->

            </div>
        </div> 
    </div>

    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    {% if ScheduleObj %}

        <div class="col-sm-12 font-kh">
            <table width="100%" border="0">
                <tbody>

                    <tr>
                        <td class="text-left" rowspan="3" width="20%">
                            <img src="{{ url_for('static', filename='company/logo.png') }}">
                        </td>
                        <td class="text-center" width="60%">
                            <h3 class="companyKh">
                                {{ CompanyKh }}<br><br>
                                {{ Company }}
                            </h3>
                        </td>
                        <td class="text-right" width="20%"></td>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <h3 class="header-33">កាលវិភាគបង់ប្រាក់សម្រាប់ក្រុម {{ Group }}</h3>
                        </td>
                        
                       
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>

        <div class="col-sm-12 font-kh">
            <table style="width: 100%" border="0">
                <tbody>
                    <tr>
                        <td width="30%"><strong>ធានាគារភូមិ :</strong> {{ VBName }}</td>
                        <td><strong>ចំនូនប្រាក់បញ្ចេញសរុប :</strong> {{ getTotalDisbursedByVB(VB, Group) }}</td>
                        <td><strong>ថ្ងៃប្រសិទ្ធភាព :</strong> {{ toDateShort(ValueDate,'KH') }}</td>
                    </tr>
                    <tr>

                        <td><strong>អាសយដ្ឋាន :</strong> {{ Address }}</td>
                        <td><strong>ការប្រាក់ :</strong> {{ InterestRate }}</td>
                        <td><strong>ថ្ងៃបង់លើកទី១ :</strong> {{ toDateShort(FirstCollection,'KH') }}</td>
                    </tr>
                    <tr>
                       
                        <td><strong>ក្រុម :</strong> {{ Group }}</td>
                        <td><strong>រយៈពេល :</strong> {{ Term }} ខែ</td>
                        <td><strong>ថ្ងៃបញ្ចប់ :</strong> {{ toDateShort(MaturityDate,'KH') }}</td>
                    </tr>
                    <tr>
                        <td><strong>រូបិយប័ណ្ណ: {{ Currency }}</strong></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="clearfix">&nbsp;</div><div class="clearfix">&nbsp;</div>
        <div class="col-sm-12 font-kh">
            
            <table id="mktlist" class="table table-striped table-bordered"  cellspacing="0" width="100%">
                <thead style="border-bottom: none;">
                    <tr>
                        <th></th>
                        {% for item in ScheduleObj %} 
                        <th style="text-align:center; padding: 10px 1px;; ">
                           លើកទី {{loop.index}}
                        </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th style="padding: 10px 1px; width: auto; text-align:center;">
                            <div style="padding-bottom:10px; border-bottom: 1px solid #eee;">ថ្ងៃបង់ប្រាក់</div>
                           <div style="margin-top: 10px;">ឈ្មោះអតិថិជន</div>
                        </th>
                        {% for item in ScheduleObj %} 
                        <th style="padding: 10px 1px;; ">
                            <div style="text-align:center; padding-bottom:10px; border-bottom: 1px solid #eee;">{{ toDateShort(item.CollectionDate, 'KH',Format=4) }}</div>

                            <div style="margin-top: 10px; font-weight: 500; text-align: center;">{{ mktdate.formatDate(item.CollectionDate) }}</div>
                        </th>
                        {% endfor %}
                         <th style="text-align: center; font-weight: bold;">សរុប</th>
                    </tr>
                </thead>

                <tbody> 
             
                    {% set ColTotal = {} %}
                    {% for row in getScheduleObjByGroup(Group, VB) %}
                        {%set ScheduleByLoan = getScheduleObj(Group, VB,row.ID) %}
                       
                        <tr>
                            <td>{{row.Account}} - {{row.LastNameKh}} {{row.FirstNameKh}}</td>
                            {% set RowTotal = {'Total': 0} %}
                            {%for col in ScheduleByLoan%}
                                <td>
                                {%set Total = float(col.Principal) + float(col.Interest) + float(col.Charge) %}
                                {% if RowTotal.update({'Total': RowTotal.Total+Total}) %}{%endif%}
                               
                                {{ toMoney(Total,CurrencyObj) }}
                               
                                {% set t = loop.index %} 
                                {% if ColTotal|length < loop.index %}
                                    {% if ColTotal.update({t:Total}) %}{% endif %}
                                {% else %}
                                    {% if ColTotal.update({t:ColTotal[t]+Total}) %}{% endif %}
                                {% endif %}

                                </td>
                            {% endfor %}
                             <td>{{ toMoney(RowTotal.Total, CurrencyObj)}}</td>
                                                     
                        </tr>
                    {% endfor %}
                    <tr>
                        <td style="text-align: center; font-weight: bold;">សរុប</td>
                    {% set Total = {'Total': 0} %}
                    {% for k,v in ColTotal.iteritems() %}
                        {% if Total.update({'Total': Total.Total+v}) %}{%endif%}
                        <td>{{ toMoney(v,CurrencyObj) }}</td>
                    {% endfor %}
                    <td>{{ toMoney(Total.Total,CurrencyObj)}}</td>
                    </tr>
     


                </tbody>

            </table>


             <div class="clearfix">&nbsp;</div>

        <table style="width: 100%;">
            <tr>
                <td class="text-left">
                    <div class="clearfix">&nbsp;</div>
                    <span><b>គណនេយ្យករ</b></span>
                   <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <span><b></b></span>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                </td>
                <td class="text-left">
                    <div class="clearfix">&nbsp;</div>
                    <span><b>ភ្នាក់ងារឥណទាន</b></span>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <span>{{ OfficerName }}</span>
                    <div class="clearfix">{{OfficerPhone}}</div>
                </td>


                {% for row in getScheduleObjByGroup(Group, VB) %}
                <td class="text-left">

                    {% if loop.first %}
                    <span><b>តំណាងក្រុម</b></span>
                    {% else %}
                    <span><b>សមាជិកក្រុម</b></span>
                    {% endif %}
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <span> {{ row.LastNameKh }} {{ row.FirstNameKh }} </span> 
                </td>
                {% endfor %}
            </tr>
        </table>

        </div>

    {% endif %}

{% endblock %}

{% block js %}
    
    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {

            $('#mktlist').dataTable({
                            "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                            "bSort" : false,
                        });
            // $(".table-caption").append("<a class='btn btn-primary' href='/Morakot' role='button' title='Refresh'><i class='fa fa-save'></i> Save Schedule</a>");
            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist', "Loan Schedule Group " + Group)}}

            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#StartDate').datepicker(options);
            });



            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#EndDate').datepicker(options);
            });


        });

function popupwindow(url, title, w, h) {
                var randomnumber = Math.floor((Math.random()*100)+1); 
                var left = (screen.width/2)-(w/2);
                var top = (screen.height/2)-(h/2);
                return window.open(url, 'title'+randomnumber, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
            }

    </script>

    <div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/Report/LoanScheduleByGroup/" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{ getLanguage('Custom') }}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">{{ getLanguage('Branch') }}:</label>
                            <div class="col-sm-8">
                                <input type="hidden" name="Group" value="{{ Group }}">
                                <input type="hidden" name="VB" value="{{ VB }}">
                                <input class="input-sm form-control" type="text" value="{{ Branch }}" placeholder="{{ getLanguage('Branch') }}" name="Branch" id="Branch" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Group" class="col-sm-4 control-label">{{ getLanguage('Currency') }}:</label>
                            <div class="col-sm-8">
                                <input class="input-sm form-control" type="text" value="{{ Currency }}" placeholder="{{ getLanguage('Currency') }}" name="Currency" id="Currency" >
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% macro setTotalNumberOfAccount(TotalNumberOfAccount, Number) %}
    {% if TotalNumberOfAccount.append(Number) %}{% endif %}
{% endmacro %}

{% macro setTotalNumberOfLoan(TotalNumberOfLoan, Number) %}
    {% if TotalNumberOfLoan.append(Number) %}{% endif %}
{% endmacro %}

{% macro setTotalOutstandingAmt(TotalOutstandingAmt, Amount) %}
    {% if TotalOutstandingAmt.append(Amount) %}{% endif %}
{% endmacro %}

{% macro setTotalDisbursedAmt(TotalDisbursedAmt, Amount) %}
    {% if TotalDisbursedAmt.append(Amount) %}{% endif %}
{% endmacro %}

{% macro setTotalLoanBalance(TotalLoanBalance, Amount) %}
    {% if TotalLoanBalance.append(Amount) %}{% endif %}
{% endmacro %}