{% extends "layout.html" %}

{% block css %}
<style type="text/css">
	body{background:#F5F5F5 !important;}
	.se-pre-con1 {

		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
		opacity: 0.4;
		display: none;
	}

</style>
{% endblock %}

{% block content %}

<!--  message  -->
<div class="clearfix"></div>
<div class="col-sm-12">
	{% for message in get_flashed_messages() %}
		{% if contain(message, "Error") %}
			<div class="clearfix">&nbsp;</div>
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% else %}
			<div class="clearfix">&nbsp;</div>
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endif %}
	{% endfor %}
</div>
<div class="navbar navbar-default navbar-static-top" style="padding:11px 0px 0px 0px;">
	<div class="col-sm-6" >
		<strong  style="font-size:16px;">Notifications</strong> 
	</div>
	<div class="col-sm-6 text-right" style="padding-right:50px; padding-top:5px;">
		
		<div class="tooltips-demo" id ="notification-switchers">
			<label class="tooltip-info"
			data-toggle="tooltip" data-placement="left" 
			title="Show pop-up">
				{%if not UserNotification or UserNotification == 'Y'%}
					<input name="Mute_Notification" type="checkbox"
					value="True"
					data-class="switcher-primary"
					checked="checked">
				{%else%}
					<input name="Mute_Notification" type="checkbox"
					value="False"
					data-class="switcher-primary"
					>
				{%endif%}
			</label>
		</div>
		<script>
			init.push(function () {
				$('.tooltips-demo label').tooltip();
				$('#notification-switchers > label > input').switcher({ theme: 'modern' });
				$("input[name=Mute_Notification]").click(function(){
					var Check = $("input[name=Mute_Notification]").val()
					if (Check == 'True'){
						
						setMuteNotification("False");
						$("input[name=Mute_Notification]").val("False")
					}else{
						setMuteNotification("True");
						$("input[name=Mute_Notification]").val("True")
					}
				});
				function setMuteNotification(value){

					$.ajax({
						url: "/Morakot/NotificationMessageConfig/"+value,
						type: "GET",
						success: function(data){
							
						}
					});
				}

			});
		</script>
	</div>
</div>

<div class="col-sm-12" style="padding:0px 3%;">

	<table id="mktlist" style="width:100%">
		<thead>
			<tr>
				<th><th>
			</tr>
		</thead>
		<tbody>

			{% from "notification/notification.html" import chkRead %}
			{%set Title = '' %}
			{%for row in QueryObj%}

			<tr style="border-bottom: 1px solid #EEE;">
				<td >
					{%set ID = row.ID|replace('.', '_')|replace('@', '_') %}
					{%if row.ProfilePicture == None%}
						{%set Profile= "default.jpg" %}
					{%elif row.ProfilePicture == '' %}
						{%set Profile= "default.jpg" %}
					{%else%}
						{%set Profile= row.ProfilePicture.strip() %}
					{%endif%}
					{%if row.ReadDetail == None %}
						{%set ReadObj = [] %}
					{%else%}
						{%set ReadObj = row.ReadDetail.split() %}
					{%endif%}
					{%if row.Title == Title%}

						<div class="col-sm-12 link-hover {{chkRead(ReadObj,row.Inputter)}}" id="Notification_{{ID}}" style="padding:5px; 0px;">

							<div style="width:70%; float:left; color: #333;">
								{{row.GlobalID}}
								{{EventCode[row.Description]}}<br/>
							{{row.DisplayName}} - {{row.Createdon}}
							</div>

							<div style="width:25%; float:right;">
								<img class=" notification-icon img-responsive Notification-big-img pull-right" style="top: 19px;" alt="" 
								src="{{ url_for('static', filename='avatars/'+Profile) }}">

							</div>
						</div>
					{%else%}
						
						<div class="col-sm-12 link-hover {{chkRead(ReadObj,row.Inputter)}}" id="Notification_{{ID}}" style="padding:5px; 0px;">

							<div style="width:70%; float:left; color: #333; ">
								<div class="notification-title text-info">{{row.Title}} </div>
								{{row.GlobalID}} 
								{{EventCode[row.Description]}} <br/>
								{{row.DisplayName}} - {{row.Createdon}}
							</div>

							<div style="width:25%; float:right;">
								<img class="notification-icon img-responsive Notification-big-img pull-right" style="top: 19px;" alt="" 
								src="{{ url_for('static', filename='avatars/'+Profile) }}">
							</div>
						</div>

					{%endif%}
					<script type="text/javascript">
						init.push(function () {
							$("#Notification_{{ID}}").on('click', function(){
								//alert("{{ ID }}");
								window.parent.addTab("{{row.Title}}", "/Morakot/{{row.Path}}/?ID={{row.GlobalID}}");
								//Check not read 
								if ($("#Notification_{{ID}}").hasClass("ReadNotify")== true){
									$.ajax({
									url: "/Morakot/NotificationMessageRead/{{ID}}",
									type: "GET",
									success: function(data){
										
									}
									});
									$("#Notification_{{ID}}").removeClass("ReadNotify");
								}
								
							});

						});
					</script>
					{%set Title = row.Title %}
				
				<td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
	
</div>
{% endblock %}

{% block js %}


<script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

<script type="text/javascript">
	$(document).ready(function() {

		$('#mktlist').dataTable({
		"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
		"bSort" : false
		});
		$('#mktlist_filter').hide()
		$('.table-header').hide()
		$("#SpinOnClick").click(function(){
			$("#iConSpin").addClass("fa-spin");
			window.location.reload(true);
			
		});
	});
</script>

{% endblock %}