<style type="text/css">
.ReadNotify{
	background-color: #F5F5F5 !important;
}
</style>
{% macro chkRead(Obj,Value) %}
	{%if not Value in Obj%}
		ReadNotify
	{%endif%}
{% endmacro %}

{%if Notification %}

	{%set Title = '' %}
	{%for row in Notification%}
		{%set ID = row.ID|replace('.', '_')|replace('@', '_') %}
		{%set Profile= VLOOKUP(['MKT_USER','ID',row.Inputter,'ProfilePicture']).strip() %}
		{%set Border="border-bottom: 1px solid #EEE;" %}
		{%if loop.last %} {%set Border="" %} {%endif%}
		{%if row.ReadDetail == None %}
			{%set ReadObj = [] %}
		{%else%}
			{%set ReadObj = row.ReadDetail.split() %}
		{%endif%}


		{%if row.Title == Title%}
			
			<div class="notification link-hover {{chkRead(ReadObj,CurrentUser)}} " id="Notification_{{ID}}" style="{{Border}}">
				<div class="notification-title text-info">{#{row.Title}#}</div>
				<div class="notification-description" style="color: #333;">
					{{row.GlobalID}}
					{{EventCode[row.Description]}}

				</div>
				<div class="notification-ago" style="color: #333;">{{VLOOKUP(['MKT_USER','ID',row.Inputter,'DisplayName'])}}-{{row.Createdon}}</div>
				<img class="notification-icon img-responsive Notification-img" style="top: 19px;" alt="" 
				{%if  Profile %}
					src="{{ url_for('static', filename='avatars/'+Profile) }}">
				{%else%}
					src="{{ url_for('static', filename='avatars/default.jpg') }}">
				{%endif%}
			</div>
		{%else%}
			<div class="notification link-hover {{chkRead(ReadObj,CurrentUser)}}" id="Notification_{{ID}}" style="{{Border}}">
				<div class="notification-title text-info">{{row.Title}}</div>
				<div class="notification-description" style="color: #333;">
					{{row.GlobalID}}
					{{EventCode[row.Description]}}
				</div>
				<div class="notification-ago" style="color: #333;">{{VLOOKUP(['MKT_USER','ID',row.Inputter,'DisplayName'])}}-{{row.Createdon}}</div>
				<img class="notification-icon img-responsive Notification-img" alt="" 
				{%if  Profile %}
					src="{{ url_for('static', filename='avatars/'+Profile) }}">
				{%else%}
					src="{{ url_for('static', filename='avatars/default.jpg') }}">
				{%endif%}
				
			</div>

		{%endif%}
		<script type="text/javascript">
			$("#Notification_{{ID}}").on('click', function(){
				//alert("{{ ID }}");
				window.parent.addTab("{{row.Title}}", "/Morakot/{{row.Path}}/?ID={{row.GlobalID}}");
				if ($("#Notification_{{ID}}").hasClass("ReadNotify")== true){
					setReadNotification("{{row.ID}}")
				}
			});
			
		</script>
		{%set Title = row.Title %}
	{%endfor%}
	<script type="text/javascript">
		function setReadNotification(ID){
			$.ajax({
				url: "/Morakot/NotificationMessageRead/"+ID,
				type: "GET",
				success: function(data){
					
				}
			});
		}
	</script>
{%else%}
<div class="text-center" style="padding: 45% 10%;">
	<div>No notification.</div>
</div>




{%endif%}

