{% extends "layout.html" %}

{% block css %}
<style type="text/css">
#t1 {
   padding-right: 21px;
   display: inline;
}

#t2 {
    -moz-tab-size: 16; /* Code for Firefox */
    -o-tab-size: 16; /* Code for Opera 10.6-12.1 */
    tab-size: 16;
}
</style>
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}

	<!-- Javascript -->
	<script type="text/javascript">
		function fn_fadeIn(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeIn("slow");
		}
		function fn_fadeOut(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeOut();
		}
		function DeleteFileBackup(Type,FileName,Url){
			
			bootbox.confirm({
						message: "Are you sure you want to delete "+Type+" "+FileName+" ?",
						callback: function(result) {
							if(result==true){
								$.ajax({
									url: Url,
									type: "GET",
									beforeSend: function() {
										fn_fadeIn();
									},
									success: function(data){
										fn_fadeOut();
										$('#uidemo-modals-alerts-success-msg').text("File "+FileName+" was delete successfully. Thank you!");
										$('#uidemo-modals-alerts-success').modal('toggle');
										$('#ListBackup').html(data);
										$('.mktlist').dataTable({
										"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
										"bSort" : false
										});
										$('.desc-tooltip').tooltip({container:'body'});
									}
								});
							}
							
						},
						className: "bootbox-sm"
				});
					
			}

	</script>
	<!-- / Javascript -->
	<!-- Success -->
	<div id="uidemo-modals-alerts-success" class="modal modal-alert modal-success fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-check-circle"></i>
				</div>
				<div class="modal-title" id="uidemo-modals-alerts-success-msg"></div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" style="width:170px;height:50px;">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Success -->

	<!-- Danger -->
	<div id="uidemo-modals-alerts-danger" class="modal modal-alert modal-danger fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-times-circle"></i>
				</div>
				<div class="modal-title" id="uidemo-modals-alerts-danger-msg"></div>
				<div class="modal-body" id="uidemo-modals-alerts-danger-msg">Please check log file.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Danger -->

	<!--  message  -->
	<div class="clearfix"></div>
	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message, "Error") %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% else %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="col-sm-12">
		<h3 class="header-3">Database Backup</h3>
	</div>
	{% if FieldRequired %}
	<div class="clearfix"></div>
	<div class="col-sm-12">

		<div class="alert alert-danger" id="alert-danger">
			<ol>
				{% for message in FieldRequired %}
				<li id="lblTableName">
					<a class="error_pointer">
						<label for="TableName">
							{{message[0]}} <span style="color:#d38e99">*:</span>
						</label>
					</a> {{message[1]}}
				</li>		
				{% endfor %}
			</ol>
		</div>
	</div>
	{% endif %}
	<div class="col-sm-12" >
		<h4 class="header-3">  </h4>
	</div>
	<div class="col-sm-12">
		<form  method="POST" enctype="multipart/form-data" id="frmData" >
			<table class="col-sm-5">
				<tr>
					<td class="col-sm-5">
						<label for="Backup"> Backup EOD / SOD </label> <span style="color:#d38e99">*</span>
					</td>
					<td class="col-sm-7">

						<label class="checkbox-inline">
							<input type="radio" name="Backup" value="EOD" class="px">
							<span class="lbl">EOD</span>
						</label>
						<label class="checkbox-inline">
							<input type="radio" name="Backup" value="SOD" class="px" >
							<span class="lbl">SOD</span>
						</label>
						
					</td>
				</tr>

				<tr style="height:55px;">
					<td class="col-sm-2"></td>	
					<td class="col-sm-4">
						<input type ="submit" class="btn btn-flat btn-labeled btn-primary" value="Backup" id="btnBackup">
					</td>	
				</tr>
			</table>
		</form>
		<div class="col-sm-7">
			{%set Progress=int(FreeSpace[1]*100/FreeSpace[0])%}
			<!-- Javascript -->
			<script>
				init.push(function () {
					$('#tooltips-used').tooltip();
				});
			</script>
		<!-- 	<div class="panel-body buttons-with-margins" id="c-tooltips-demo">
			<button type="button" class="btn btn-warning tooltip-warning" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom">Warning Tooltip</button>&nbsp;&nbsp;
			</div> -->
			<!-- Javascript -->
			<div class="progress">
				{%if 0 <= Progress <= 59%}
					<div id="tooltips-used" class="progress-bar progress-bar-success tooltip-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{Progress}}% used" style="width: {{Progress}}%"></div>
				{%elif 60 <= Progress <= 85%}
					<div id="tooltips-used" class="progress-bar progress-bar-warning tooltip-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{Progress}}% used" style="width: {{Progress}}%"></div>
				{%elif 86 <= Progress <= 100%}
					<div  id="tooltips-used" class="progress-bar progress-bar-danger tooltip-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{Progress}}% used" style="width:  {{Progress}}%"></div>
				{%endif%}
			</div>

			<div id='t1'><strong>Total space:</strong> {{formatSize(FreeSpace[0])}}</div>
			<div id='t1'><strong>Used:</strong> {{formatSize(FreeSpace[1])}}</div>
			<strong>Free:</strong> {{formatSize(FreeSpace[2])}}
		</div>
	</div>
	<div id="ListBackup" class="col-sm-12">	
		<table class="mktlist table table-striped table" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>File Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Date/Time</th>
					<th>Size </th>
					<th>Action </th>
				</tr>
			</thead>

				<tbody>
					
					{%if ListFile%}
						{%for row in ListFile%}
							<tr class="tooltip-success desc-tooltip" title="" data-placement="top" data-toggle="tooltip" data-original-title="{{ row[1] }}">
								{%for col in row%}
									
									{% if loop.index0 == 1 %}
										<td>{{col | truncate(35) }}</td>
									{% else %}
										<td>{{ col }}</td>
									{% endif %}

								{%endfor%}
								<td>
									<a href="/Morakot/Backup/Edit/{{row[0]}}" class="link" title="Edit Description">
										<span class="icon fa fa-edit" style="font-size: 16px"></span>
									</a>&nbsp;&nbsp; |&nbsp;&nbsp;
									<a href="/Morakot/Backup/Download/{{row[2]}}/{{row[0]}}" class="link" title="Download">
										<span class="icon fa fa-download" style="font-size: 16px;"></span> 
									</a>&nbsp;&nbsp; |&nbsp;&nbsp;
									<a href="javascript:void(0)" class="link" 
									onclick="DeleteFileBackup('{{row[2]}}','{{row[0]}}','/Morakot/Backup/Delete/{{row[2]}}/{{row[0]}}')" title="Delete">
										<span class="icon fa fa-trash-o" style="font-size: 16px;"></span> 
									</a>
								</td>
							</tr>
						
						{%endfor%}
					{%endif%}
				</tbody>
			
		</table>
	</div>
{%endif%} {# ErrorMsg #}

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$('.desc-tooltip').tooltip({container:'body'});
	$('.mktlist').dataTable({
	"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
	"bSort" : false
	});

	
	$('#btnBackup').on("click",function(event) 
	{
		window.parent.$("#animated").fadeIn("slow");
	});
	{%if Message%}
		{% if contain(Message, "Error") %}
			$('#uidemo-modals-alerts-danger-msg').text("{{Message}}");
			$('#uidemo-modals-alerts-danger').modal('toggle');
		{%else%}
			$('#uidemo-modals-alerts-success-msg').text("{{Message}}");
			$('#uidemo-modals-alerts-success').modal('toggle');
		{%endif%}
	{%endif%}
});
</script>

{% endblock %}