{% extends "layout.html" %}

{% block css %}

{% endblock %}

{% block content %}

<div class="navbar navbar-default navbar-static-top" role="navigation">
        <ul class="nav navbar-nav">
                {% for items in li_html %}
                
             <li  {{items[1]|safe}} >
                   {% if items[0]=="Save" %}
                       <a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-floppy-o'></i>&nbsp;{{ getLanguage('Save') }}{#{items[0]}#}</a>
                    {% elif items[0]=="Edit" %}
                    <a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Edit') }}</a>
                    
                   {% elif items[0]=="Delete" %}

                       <a href="javascript:void(0)" id="Delete" {{items[1]|safe}}><i class='fa fa-trash-o'></i>&nbsp;{{ getLanguage('Delete') }}</a>

                   {% elif items[0]=="Authorize" %}
                      <a href="javascript:void(0)" id="Authorize" {{items[1]|safe}} ><i class='fa fa-check'></i>&nbsp;{{ getLanguage('Authorize') }}</a>
                    {% elif items[0]=="Cancel" %}
                      <a href="javascript:void(0)" id="Cancel" {{items[1]|safe}} ><i class='fa fa-undo'></i>&nbsp;{{ getLanguage('Cancel') }}</a>
                   {% elif items[0]=="Verify" %}
                       <a href="javascript:void(0)" id="Verify" {{items[1]|safe}}><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Verify') }}</a>
                    {% else %}
                      <a href="javascript:void(0)" id="New" {{items[1]|safe}}><i class='fa fa-file-text-o'></i>&nbsp;{{ getLanguage('New') }}</a>
                   {% endif %}
             </li>
                {% endfor %}
        </ul>
</div>

	<!-- Import flash message -->
	{% include 'msg_error.html' %}

	<form class="form-horizontal" method="POST" role="form" id="frm">

		<div class="form-group">
			{{ form.FileName.label(class_="control-label col-sm-2") }}
			<div class="col-sm-10">
				{{ form.FileName(class_="form-control", readonly=True)}}
			</div>
		</div>

		<div class="form-group">
			{{ form.Description.label(class_="control-label col-sm-2") }}
			<div class="col-sm-10">
				{{ form.Description(class_="form-control") }}
			</div>
		</div>
	</form>

	<div class="clearfix"></div>

		<div class="row">
			<div class="col-sm-12">
				
<ul class="nav nav-tabs bs-tabdrop-example">
	<li class="active"><a href="#bs-tabdrop-tab2" data-toggle="tab">{{ getLanguage('Audit') }}</a></li>
</ul>

<div class="tab-pane" id="bs-tabdrop-tab2" style="text-align:right;">
	<div  style="padding-top:10px;">
		<div class="form-group">
			<label for="Status" class="col-sm-2 control-label"><label for="Status">{{ getLanguage('Status') }}</label></label>
			<div class="col-sm-10">
			<input class="form-control" id="Status" name="Status" readonly type="text" value="{{AuditObj.Status}}">
			</div>
		</div>
		<div class="form-group">
			<label for="Curr" class="col-sm-2 control-label"><label for="Curr">{{ getLanguage('Curr.No') }}</label></label>
			<div class="col-sm-10">
			<input class="form-control" id="Curr" name="Curr" readonly type="text" value="{{AuditObj.Curr}}">
			</div>
		</div>
		<div class="form-group">
			<label for="Inputter" class="col-sm-2 control-label"><label for="Inputter">{{ getLanguage('Inputter') }}</label></label>
			<div class="col-sm-10">
			<input class="form-control" id="Inputter" name="Inputter" readonly type="text" value="{{AuditObj.Inputter}}">
			</div>
		</div>
		<div class="form-group">
			<label for="Createdon" class="col-sm-2 control-label"><label for="Createdon">{{ getLanguage('Input DateTime') }}</label></label>
			<div class="col-sm-10">
			<input class="form-control" id="Createdon" name="Createdon" readonly type="text" value="{{AuditObj.Createdon}}">
			</div>
		</div>
		<div class="form-group">
			<label for="Authorizer" class="col-sm-2 control-label"><label for="Authorizer">{{ getLanguage('Authorizer') }}</label></label>
			<div class="col-sm-10">
			<input class="form-control" id="Authorizer" name="Authorizer" readonly type="text" value="{{AuditObj.Authorizer}}">
			</div>
		</div>
		<div class="form-group">
			<label for="Authorizeon" class="col-sm-2 control-label"><label for="Authorizeon">{{ getLanguage('Authorize DateTime') }}</label></label>
			<div class="col-sm-10">
			<input class="form-control" id="Authorizeon" name="Authorizeon" readonly type="text" value="{{AuditObj.Authorizeon}}">
			</div>
		</div>
		<div class="form-group">
			<label for="Branch" class="col-sm-2 control-label"><label for="Branch">{{ getLanguage('Branch') }}</label></label>
			<div class="col-sm-10">
			<input class="form-control" id="Branch" name="Branch" readonly type="text" value="{{AuditObj.Branch}}">
			</div>
		</div>
	</div>
</div>
		</div>
			</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('#Status').css('width','60px')
		$('#Curr').css('width','50px')
		$('#Inputter').css('width','150px')
		$('#Createdon').css('width','150px')
		$('#Authorizer').css('width','150px')
		$('#Authorizeon').css('width','150px')
		$('#Branch').css('width','150px')
		$("#Save").on("click",function(e){
			$("#frm").submit();
		});

		$("#Cancel").on("click",function(e){
			location.href='{{ url_for('routeBackup') }}';
		});
	</script>

{% endblock %}