{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}

	<table class="mktlist table table-striped table" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>File Name</th>
				<th>Description</th>
				<th>Type</th>
				<th>Date/Time</th>
				<th>Size </th>
				<th>Action </th>
			</tr>
		</thead>
			<tbody>
				
				{%if ListFile%}
					{%for row in ListFile%}
						<tr class="tooltip-success desc-tooltip" title="" data-placement="top" data-toggle="tooltip" data-original-title="{{ row[1] }}">
							{%for col in row%}
								{% if loop.index0 == 1 %}
									<td>{{col | truncate(35) }}</td>
								{% else %}
									<td>{{ col }}</td>
								{% endif %}
							{%endfor%}
							<td>
								<a href="/Morakot/Restore/{{row[2]}}/{{row[0]}}" class="link" title="Restore">
									<span class="icon fa fa-circle-o-notch" style="font-size: 16px;">&nbsp;</span> Restore
								</a>
							</td>
						</tr>
					
					{%endfor%}
				{%endif%}
			</tbody>
	</table>
{%endif%}
