
{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}
	<table class="mktlist table table-striped table" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>File Name</th>
				<th>Description</th>
				<th>Type</th>
				<th>Date/Time</th>
				<th>Size </th>
				<th>Action </th>
			</tr>
		</thead>

			<tbody>
				
				{%if ListFile%}
					{%for row in ListFile%}
						<tr class="tooltip-success desc-tooltip" title="" data-placement="top" data-toggle="tooltip" data-original-title="{{ row[1] }}">
							{%for col in row%}
								{% if loop.index0 == 1 %}
									<td>{{col | truncate(35) }}</td>
								{% else %}
									<td>{{ col }}</td>
								{% endif %}
							{%endfor%}
							<td>
								<a href="/Morakot/Backup/Edit/{{row[0]}}" class="link" title="Edit Description">
										<span class="icon fa fa-edit" style="font-size: 16px"></span>
									</a>&nbsp;&nbsp; |&nbsp;&nbsp;
								<a href="/Morakot/Backup/Download/{{row[2]}}/{{row[0]}}" class="link" title="Download">
									<span class="icon fa fa-download" style="font-size: 16px;"></span> 
								</a>&nbsp;&nbsp; |&nbsp;&nbsp;
								<a href="javascript:void(0)" class="link" 
								onclick="DeleteFileBackup('{{row[2]}}','{{row[0]}}','/Morakot/Backup/Delete/{{row[2]}}/{{row[0]}}')" title="Delete">
									<span class="icon fa fa-trash-o" style="font-size: 16px;"></span> 
								</a>
							</td>
						</tr>
					
					{%endfor%}
				{%endif%}
			</tbody>
		
	</table>
{%endif%}