{% extends "layout.html" %}

{% block css %}
<style type="text/css">
	.input-width {
		width: 200px;
	}
	.header-2, .header-2:hover {
	  color: #888 !important;
	  font-size: 11px;
	  font-weight: 600;
	  margin-bottom: 15px;
	  margin-top: 0;
	  padding: 10px 18px 10px;
	  text-transform: uppercase;
	}
	.header-1, .header-1:hover, .header-2, .header-2:hover {
	  border-top: 1px solid #eee;
	  cursor: pointer;
	  display: block;
	  margin: 0 -9px;
	  text-decoration: none !important;
	  z-index: 100000000;
	}
</style>
{% endblock %}

{% block content %}

	<div class="panel">
		<form  method="POST" enctype="multipart/form-data" id="mForm" >
			<div class="panel-heading">
				<h3 class="header-3">Maintenance</h3>
			</div>

			
			<div class="panel-body">
				<div class="col-sm-12">
					{% for message in get_flashed_messages() %}
						{% if contain(message, "Error") %}
							<div class="clearfix">&nbsp;</div>
							<div class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								{{ message }}
							</div>
						{% else %}
							<div class="clearfix">&nbsp;</div>
							<div class="alert alert-info">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								{{ message }}
							</div>
						{% endif %}
					{% endfor %}
				</div>
				{%if ErrorMsg %}
					<div class="col-sm-12" style="padding-top:5px;">
						{%for message in ErrorMsg %}
							<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
								{{ message }}
							</div>
						{%endfor%}
					</div>
				{%endif%}

		 		<div class="col-sm-12">

					<div class="row">
			            <a class="header-2" href="#uidemo-general" id="uidemo-general">Notification</a>
				    	<div class="form-group">
				    		<label class="col-sm-3 text-right">Clear Notification :</label>
				    		<div class="col-sm-9">
			                    <select name="NotificationDelete" id="NotificationDelete" class="form-control input-width" >
									<option value=""></option>
									<option value="NO">NO</option>
									<option value="YES">YES</option>
								</select>
							</div>
						</div>

						<div class="form-group">
				    		<label class="col-sm-3 text-right">Number of Notification keep per user :</label>
				    		<div class="col-sm-9">
			                    <input type="text" value="25" name="NumberOfNotification" id="NumberOfNotification" class="form-control input-width">
							</div>
						</div>
			        </div>

			        <div class="row">
			            <a class="header-2" href="#uidemo-general" id="uidemo-general">Backup</a>
				    	<div class="form-group">
				    		<label class="col-sm-3 text-right">Clear Backup :</label>
				    		<div class="col-sm-9">
			                    <select name="BackupDelete" id="BackupDelete" class="form-control input-width" >
									<option value=""></option>
									<option value="NO">NO</option>
									<option value="YES">YES</option>
								</select>
							</div>
						</div>

						<div class="form-group">
				    		<label class="col-sm-3 text-right">Number of Retention Day :</label>
				    		<div class="col-sm-9">
			                    <input type="text" value="1" name="RetentionDay" id="RetentionDay" class="form-control input-width">
							</div>
						</div>

						<div class="form-group">
				    		<label class="col-sm-3 text-right">Type :</label>
				    		<div class="col-sm-9">
				    			<select name="BackupType" id="BackupType" class="form-control input-width">
									<option value="ALL">ALL</option>
									<option value="EOD">EOD</option>
									<option value="SOD">SOD</option>
								</select>
							</div>
						</div>
			        </div>

			        <div class="row">
			            <a class="header-2" href="#uidemo-general" id="uidemo-general">Log File(Error)</a>
				    	<div class="form-group">
				    		<label class="col-sm-3 text-right">Clear Error Log File :</label>
				    		<div class="col-sm-9">
			                    <select name="LogClear" id="LogClear" class="form-control input-width">
									<option value=""></option>
									<option value="NO">NO</option>
									<option value="YES">YES</option>
								</select>
							</div>
						</div>
			        </div>
				
				</div>
			</div>

	        <div class="panel-footer text-right">
	        	<div class="form-group">
		    		<label class="col-sm-3 text-right"></label>
		    		<div class="col-sm-9 text-left">
						<button class="btn btn-large btn-flat btn-primary " id="mSave">
							<span class="btn-label icon fa fa-save"></span>&nbsp; Save
						</button>
					</div>
				</div>
			</div>
				
		</form>

		</div>
	</div>

	<div role="dialog" tabindex="-1" id="mDialog" class="modal fade" >
        <div style="width: 40%;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 id="exampleModalLabel" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                	<ul id="mList" style="color: #4083a9; padding-left: 14px;"></ul>
                    <p>Are you sure want to process?</p>
                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-flat btn-primary" id="mYes">Yes</button>
                        <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
	
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		
		$("#NotificationDelete").select2({
			allowClear: true,
			placeholder: "Clear Notification"
		});
		$("#BackupDelete").select2({
			allowClear: true,
			placeholder: "Clear Backup"
		});

		$("#LogClear").select2({
			allowClear: true,
			placeholder: "Clear Error Log File"
		});
		$("#BackupType").select2({
			allowClear: true,
			placeholder: "Type"
		});


		$('#mSave').click(function(e) {
			var str = '',
				Notification = $('#NotificationDelete').val(),
				NotificationNumber = $('#NumberOfNotification').val(),
				Backup = $('#BackupDelete').val(),
				Retention = $('#RetentionDay').val(),
				Log = $('#LogClear').val();


			// if (Notification == '')   	  { str += '<li>Notification is required</li>'; }
			// if (NotificationNumber == '') { str += '<li>Notification keep per user is required</li>'; }
			// if (Backup == '')             { str += '<li>Clear Backup is required</li>'; }
			// if (Retention == '') 		  { str += '<li>Retention Day is required</li>'; }
			// if (Log == '') 			      { str += '<li>Clear Error Log File is required</li>'; }
			// if (str !== '') { 
			// 	$('#mErrorList').remove();
			// 	$('.panel-body').prepend('<ul class="alert alert-danger" id="mErrorList">'+
			// 		'<button type="button" class="close" data-dismiss="alert">&times;</button>'+str+'</ul>'); 
			// 	return false;
			// }

			if (Notification == 'YES') { str += '<li>Clear Notification by keeping ' + NotificationNumber+ ' records'; }
			if (Backup == 'YES') { str += '<li>Clear Backup by keeping ' + Retention + ' retention day'; }
			if (Log == 'YES') { str += '<li>Clear Error Log File'; }
			if (str == '') { return false; }
			$('#mList').html(str);
			$('#mDialog').modal();
			return false;
		});

		$('#mYes').click(function(e) {
			$('#mForm').submit();
		})
	});
</script>

{% endblock %}