{% extends "layout.html" %}

{% block css %}
<style type="text/css">
#t1 {
   padding-right: 21px;
   display: inline;
}

#t2 {
    -moz-tab-size: 16; /* Code for Firefox */
    -o-tab-size: 16; /* Code for Opera 10.6-12.1 */
    tab-size: 16;
}
</style>
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}
		
		
	<!-- Javascript -->
	<script type="text/javascript">
		function fn_fadeIn(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeIn("slow");
		}
		function fn_fadeOut(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeOut();
		}
		init.push(function () {
			$('#Server').on("click",function(e){
				$('#Upload').hide();
			});
			$('#Local').on("click",function(e){
				$('#Upload').show();
			});
		});

		function setRestoreFile(Type,FileName,Url){
			
			bootbox.confirm({
						message: "Are you sure you want to restore "+Type+" "+FileName+" ?",
						callback: function(result) {
							if(result==true){
								$.ajax({
									url: Url,
									type: "GET",
									beforeSend: function() {
										fn_fadeIn();
									},
									success: function(data){
										fn_fadeOut();
										if (data['Status']=="True"){
											$('#uidemo-modals-alerts-success').modal('toggle');
										}else{
											$('#uidemo-modals-alerts-danger-msg').text("Please check log file.");
											$('#uidemo-modals-alerts-danger').modal('toggle');
										}
										$('.desc-tooltip').tooltip({container:'body'});
									}
								});
							}
							
						},
						className: "bootbox-sm"
				});
					
			}
	</script>
	<!-- / Javascript -->
	<!-- Success -->
	<div id="uidemo-modals-alerts-success" class="modal modal-alert modal-success fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-check-circle"></i>
				</div>
				<div class="modal-title">Restore was successfully.</div>
				<div class="modal-body">You need to re-login again. Thanks you!</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" style="width:170px;height:50px;">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Success -->

	<!-- Danger -->
	<div id="uidemo-modals-alerts-danger" class="modal modal-alert modal-danger fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-times-circle"></i>
				</div>
				<div class="modal-title">Restore failed.</div>
				<div class="modal-body" id="uidemo-modals-alerts-danger-msg">Please check log file.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Danger -->

	<!--  message  -->
	<div class="clearfix"></div>
	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message, "Error") %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% else %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="col-sm-12">
		<h3 class="header-3">Database Restore</h3>
	</div>

	<div class="col-sm-12" >
		<h4 class="header-3">  </h4>
	</div>
	<div class="col-sm-12">
		<form  method="POST" enctype="multipart/form-data" id="frmData" >
			<table class="col-sm-6">
				<tr>
					<td class="col-sm-2">
						<label for="Restore"> Restore Option </label> <span style="color:#d38e99">*</span>
					</td>
					<td class="col-sm-4">
						<div class="col-sm-4">
						<label class="checkbox-inline">
							<input id="Server" type="radio" name="RestoreOption" checked="checked" value="Server" class="px">
							<span class="lbl">Server</span>
						</label>
						</div>
						<div class="col-sm-4">
						<label class="checkbox-inline">
							<input id="Local" type="radio" name="RestoreOption" value="Local" class="px" >
							<span class="lbl">Local</span>
						</label>
						</div>
						
					</td>
				</tr>

				<tr id="RestoreType">
					<td class="col-sm-5">
						<label for="Restore"> Restore Type </label> <span style="color:#d38e99">*</span>
					</td>
					<td class="col-sm-7">
						<!--Add All Option-->
{# 						<div class="col-sm-4">
						<label class="checkbox-inline">
							<input id="RestoreALL" type="radio" name="RestoreType" value="ALL" class="px"
							 {%if RestoreType=="ALL"%} 
							 	checked="checked"
							 {%elif RestoreType==""%} 
							 checked="checked"
							 {%endif%}>
							<span class="lbl">ALL</span>
						</label>
						</div> #}
						<!--End Add All Option-->
						<div class="col-sm-4">
						<label class="checkbox-inline">
							<input id="RestoreEOD" type="radio" name="RestoreType" value="EOD" class="px">
							<span class="lbl">EOD</span>
						</label>
						</div>
						<div class="col-sm-4">
						<label class="checkbox-inline">
							<input id="RestoreSOD" type="radio" name="RestoreType" value="SOD" class="px">
							<span class="lbl">SOD</span>
						</label>
						</div>
						
					</td>
				</tr>
			</table>
			<div class="col-sm-6" id="Upload">
				<div class="row">
					<div class="col-sm-4">
						<label for="Uploadfile"> File Upload </label> <span style="color:#d38e99">*</span>
					</div>
					<div class="col-sm-8">
						<input type="file" name="file" id="fileUpload">
					</div>
				</div>
				<div class="row" style="padding-top:10px;">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-8">
						<input type ="submit" class="btn btn-flat btn-labeled btn-primary" value="Upload" id="btnUpload">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="ListRestore" class="col-sm-12" style="padding-top:25px;">	
		<table class="mktlist table table-striped table" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>File Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Date/Time</th>
					<th>Size </th>
					<th>Action </th>
				</tr>
			</thead>
				<tbody>
					
					{%if ListFile%}
						{%for row in ListFile%}
						<tr class="tooltip-success desc-tooltip" title="" data-placement="top" data-toggle="tooltip" data-original-title="{{ row[1] }}">
								{%for col in row%}
									{% if loop.index0 == 1 %}
										<td>{{col | truncate(35) }}</td>
									{% else %}
										<td>{{ col }}</td>
									{% endif %}
								{%endfor%}
								<td>
									<a href="javascript:void(0)"
									onclick="setRestoreFile('{{row[2]}}','{{row[0]}}','/Morakot/Restore/{{row[2]}}/{{row[0]}}')" class="link" title="Restore">
										<span class="icon fa fa-circle-o-notch" style="font-size: 16px;">&nbsp;</span> Restore
									</a>
								</td>
							</tr>
						
						{%endfor%}
					{%endif%}
				</tbody>
		</table>
	</div>

{%endif%} {# ErrorMsg #}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {

	$('.desc-tooltip').tooltip({container:'body'});
	$('#Upload').hide();
	$('#RestoreType').hide();
	$('.mktlist').dataTable({
	"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
	"bSort" : false
	});

	function fn_fadeIn(){
		var $getParentEle = window.parent.$("#animated")
		$getParentEle.fadeIn("slow");
	}


	 $('input[type=radio][name=RestoreOption]').change(function(){
	 	switch($(this).val()) {
	 		case 'Server': 
	 		$('#RestoreType').hide();
	 		break;
	 		case 'Local': 
	 		$('#RestoreSOD').prop('checked', false);
	 		$('#RestoreEOD').prop('checked', true)
	 		$('#RestoreType').show();
	 		break;
	 	}
	 });


	$('#btnBackup').on("click",function(event) 
	{
		window.parent.$("#animated").fadeIn("slow");
	});

	$('#btnUpload').on("click", function(event)
	{
		fn_fadeIn()
	});
});
</script>

{% endblock %}

{% macro hello() %}
	<h3>Hello</h3>
{% endmacro %}