{% extends "layout.html" %}

{% block css %}

{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}

	<!--  message  -->
	<div class="clearfix"></div>
	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message, "Error") %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% else %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="col-sm-12">
		<h3 class="header-3 text-center">Maintenance System</h3>
	</div>
	<div class="col-sm-12" >
		<h4 class="header-3 text-center"> System Log </h4>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-10">
			{{ ErrorLogText|safe }}
		</div>
		<div class="col-sm-1">
		</div>
	</div>
{% endif %}

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	
	$('.mktlist').dataTable({
	"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
	"bSort" : false
	});
	$('#mktlist_filter').hide()
	$('.table-header').hide()
	
	$('#btnBackup').on("click",function(event) 
	{
		window.parent.$("#animated").fadeIn("slow");
	});
});
</script>

{% endblock %}