{% extends "layout.html" %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}
	
	<div class="col-sm-12 navbar navbar-default navbar-static-top" role="navigation">
		<ul class="col-sm-10 nav navbar-nav">
			{% for items in li_html %}
				<li  {{items[1]|safe}} >
					{% if items[0]=="Save" %}
						<a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-floppy-o'></i>&nbsp;{{ getLanguage('Save') }}</a>
					{% elif items[0]=="Edit" %}
						<a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Edit') }}</a>
					{% elif items[0]=="Delete" %}
						<a href="javascript:void(0)" id="Delete" {{items[1]|safe}}><i class='fa fa-trash-o'></i>&nbsp;{{ getLanguage('Delete') }}</a>
					{% elif items[0]=="Authorize" %}
						<a href="javascript:void(0)" id="Authorize" {{items[1]|safe}} ><i class='fa fa-check'></i>&nbsp;{{ getLanguage('Authorize') }}</a>
					{% elif items[0]=="Cancel" %}
						<a href="javascript:void(0)" id="Cancel" {{items[1]|safe}} ><i class='fa fa-undo'></i>&nbsp;{{ getLanguage('Cancel') }}</a>
					{% elif items[0]=="Verify" %}
						<a href="javascript:void(0)" id="Verify" {{items[1]|safe}}><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Verify') }}</a>
					{% else %}
						<a href="javascript:void(0)" id="New" {{items[1]|safe}}><i class='fa fa-file-text-o'></i>&nbsp;{{ getLanguage('New') }}</a>
					{% endif %}
				</li>
			{% endfor %}
			<li>
				<div class="navbar-form navbar-left">
					<div class="form-group">
					<input type="text" class="form-control" name="ID" ID="ID" placeholder="Record ID"  value="{{g_id}}" {{ g_readonly }} >
					
					</div>
				</div>
			</li>
			<li>
				<div class="btn-group" style="padding: 9px 0px 0px 0px; margin-left: 15px;">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{ getLanguage('More Action') }}</button>
					<button type="button" class="btn btn-primary" data-toggle="dropdown">
							<i class="fa fa-caret-down"></i>
					</button>
					<ul class="dropdown-menu">
							<li><a href="javascript:void(0)" onclick="copy('frm')"><i class='fa fa-files-o'></i>&nbsp;{{ getLanguage('Copy Record') }}</a></li>
							<li><a href="javascript:void(0)" onclick="paste('frm')"><i class='fa fa-clipboard'></i>&nbsp;{{ getLanguage('Paste Record') }}</a></li>
							<li><a href="javascript:void(0)" id="Reverse"><i class='fa fa-reply'></i>&nbsp;{{ getLanguage('Reverse Record') }}</a></li>
							<li class="divider"></li>
							<li><a href="javascript:void(0)" id="listLive" ><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Live Record') }}</a></li>
							<li><a href="javascript:void(0)" id="listAuth"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Un-authorize Record') }}</a></li>
							<li><a href="javascript:void(0)" id="listHist"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List History Record') }}</a></li>
							
							<li class="divider"></li>

							<li><a href="javascript:void(0)" id="csv"> <i class='fa fa-files-o'></i> {{ getLanguage('Export CSV') }} </a></li> 
							<li><a href="javascript:void(0)" id="excel"> <i class='fa fa-file-excel-o'></i> {{ getLanguage('Export Excel') }} </a></li>
							<li><a href="javascript:void(0)" id="print"><i class='fa fa-print'></i>&nbsp;{{ getLanguage('Print') }}</a></li>
					</ul>
				</div>
			</li>
		</ul>
		{%if Form %}
		<ul class="col-sm-2 nav navbar-nav">
			<li class="pull-right">
				<div class="navbar-form navbar-left" style="padding:0px;">
					<button type="button" data-toggle="modal" {{disabled}} data-target="#myModal" class="btn btn-flat btn-labeled btn-success" 
					id="Auto">
						<span class="btn-label icon fa fa-plus"></span>{{ getLanguage('Add More Loan Contract') }}
					</button>
				</div>
			</li>
		</ul>
		{%endif%}
	</div>
	

	<!--  message  -->

	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message, "Error") %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% elif contain(message,"Warning") %}
				<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% else %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<!-- Javascript -->
	<script>
		function setCloneform(FrmFrom, FrmTo) {
			$(':input[name]', FrmFrom ).each(function() {
				Name 	= $(this).attr('name')
				ID 		= $(this).attr('id')
				Value 	= $(this).val()
				$('<input>').attr({
					type: 'hidden',
					id: ID,
					name: Name,
					value:Value
				}).appendTo(FrmTo);
				// $('[name=' + $(this).attr('name') +']', formB).val($(this).val())
			})
			$('<input>').attr({
					type: 'hidden',
					id: "ID",
					name: "ID",
					value:$("#ID").val()
				}).appendTo(FrmTo);
		}
		function fn_fadeOut(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeOut("slow");
		}
		function fn_fadeIn(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeIn("slow");
		}
		function toolbar(url){
			$("#Cancel").on("click",function(e){
				value_id=$('#ID').val()
				//$("#animated").addClass ('se-pre-con')
				fn_fadeIn();
				//$(".se-pre-con").fadeOut("slow");
				if (value_id==""){
					window.location.href=url+"/Cancel/Operation/"
				return 0;
				}
					window.location.href=url+"/Cancel/"+ value_id +"/";
				return 0;

			});
			$("#New").on("click",function(e){
				value_id=$('#ID').val()
				fn_fadeIn();
				if (value_id==""){
					window.location.href=url+"/New/Operation/"
				return 0;
				}
					window.location.href=url+"/New/"+ value_id +"/";
				return 0;
			});
			//save button
			$("#Save").on("click",function(e){
				value_id=$('#ID').val()
				fn_fadeIn();
				if (isModified()) {

				window.location.href=url+"/Cancel/"+ value_id +"/";
				return 0;
				}
				$(':focus').blur();
				// removeComma();
				setCloneform($("#frmGenerate"),$("#frm"))
				document.forms["frm"].action=url+"/";
				document.forms["frm"].submit(); 
				//return false; 
			});
			//edit button
			$("#Edit").on("click",function(e){
				value_id=$('#ID').val()
				if (value_id==""){
					alert("No record to edit"); 
					return 0
				}
				fn_fadeIn();
				window.location.href=url+"/Edit/"+value_id+"/";
				//return false; 
			});
			//disable enter key from submit
			$("#ID").on("keypress", function(e) {
				$("#frm").attr("method", "post");
				$("#frm").attr("method", "get");
				if (e.keyCode == 13){
				value_id=$('#ID').val()
				if (value_id==""){
					value_id="Operation"
				}
					fn_fadeIn();
					
					window.location.href=url+"/?ID="+ value_id ;
					// document.forms['frm'].action=url+"/?ID="+ value_id +"&Operation=Search";
					// document.forms['frm'].submit();
					//obj_loaded(); 
					return false;

				}
			});
			$("#Generate").on("click", function(e) {
				// $("#frm").attr("method", "post");
				// $("#frm").attr("method", "get");
				value_id=$('#ID').val()
				if (value_id==""){
					value_id="Operation"
				}
				fn_fadeIn();
				document.forms['frmGenerate'].action=url+"/Generate/"+value_id+"/";
				document.forms['frmGenerate'].submit();
				//obj_loaded(); 
				return false;
				
			});
			
			//add link to authorize
			//Add link to delete button
			$('#Authorize').on("click",function(e){
				value_id=$('#ID').val()
				if (value_id==""){
					value_id="Operation"
				}
					fn_fadeIn();
					window.location.href=url+"/Authorize/"+value_id+"/";
			});

			//Add link to delete button
			$('#Delete').on("click",function(e){
				value_id=$('#ID').val()
				bootbox.confirm({
					message: "Are you sure to delete " +value_id+"?",
					callback: function(result) {
					if (result==true){                    
						if (value_id==""){
							value_id="Operation"
						}
							fn_fadeIn()
							window.location.href=url+"/Delete/"+value_id+"/";
						}
					},
					className: "bootbox-sm"
				});
			});
			//Add link to delete button
			$('#Reverse').on("click",function(e){
				fn_fadeIn();
				window.location.href=url+"/Reverse/"+$('#ID').val()+"/";
			});
			//Add link to delete button
			$('#listLive').on("click",function(e){
				fn_fadeIn();
				window.location.href=url+"/ListLive/Operation/";
			});
			//Add link to delete button
			$('#listAuth').on("click",function(e){
				fn_fadeIn();
				window.location.href=url+"/ListAuth/Operation/";
			});
			//Add link to delete button
			$('#listHist').on("click",function(e){
				fn_fadeIn();
				window.location.href=url+"/ListHist/Operation/";
			});

			//remove delete and authorize button when record is in AUTH
			var status = $('#Status').val()
			var searchID = $('#ID').val()

			if ( status == "AUTH"){
				$("#Delete").remove();
				$("#Authorize").remove();
			}else if (status =="INAU" || status =="RNAU"){
				$("#Reverse").remove();  
			}
			//check history record
			if (searchID.indexOf("@") >0)
			{
				$("#Save").remove();
				$("#Delete").remove();
				$("#Authorize").remove();
				$("#Edit").remove();
				$("#Reverse").remove();
				$('#frm input').attr('readonly', 'readonly');
				$('#frm select').attr('disabled', 'disabled');
			}
			$('#Status').css('width','60px')
			$('#Curr').css('width','50px')
			$('#Inputter').css('width','150px')
			$('#Createdon').css('width','150px')
			$('#Authorizer').css('width','150px')
			$('#Authorizeon').css('width','150px')
			$('#Branch').css('width','150px')
		}
		function MoneyField(ID,Money,Currency){
			// code here
			$.ajax({
					url: "/Morakot/toMktmoney",
					data:{Currency:Currency,Money:Money},
					type: "GET",
					success: function(data){
						ID.text(data['value']);
						ID.val(data['value']);
					} 
				});
		}
		function isDuplicateLoanID(ID){
			
			if($('#LoanID_'+ID).length > 0) {
			 	//object exists
			 	return true
			}
			else {
				//object does not exists
			 	return false
			}
		}

		function assignValue(){
			//When generate
			if (getParameterByName){ 
				$('#Officer').val(getParameterByName("Officer"));
				$('#Currency').val(getParameterByName("Currency"));
				$('#OfficerAccount').val(getParameterByName("OfficerAccount"));
				$('#OfficerCategory').val(getParameterByName("OfficerCategory"));
				$('#ValueDateStart').val(getParameterByName("ValueDateStart"));
				$('#ValueDateEnd').val(getParameterByName("ValueDateEnd"));
			}
			//When View record
			{%if kwargs%}
				$('#Officer').val("{{kwargs.Officer}}");
				$('#Currency').val("{{kwargs.Currency}}");
				$('#OfficerAccount').val("{{kwargs.OfficerAccount}}");
				$('#OfficerCategory').val("{{kwargs.OfficerCategory}}");
				$('#ValueDateStart').val("{{kwargs.ValueDateStart}}");
				$('#ValueDateEnd').val("{{kwargs.ValueDateEnd}}");
				$('#TotalDisbursement').val("{{kwargs.TotalDisbursement}}");
				$('#SumLoanID').val("{{kwargs.TotalDisbursement}}");
			{%endif%}
			{%if DisburseObj%}
				$('#Officer').val("{{DisburseObj.Officer}}");
				$('#Currency').val("{{DisburseObj.Currency}}");
				$('#OfficerAccount').val("{{DisburseObj.OfficerAccount}}");
				$('#OfficerCategory').val("{{DisburseObj.OfficerCategory}}");
				$('#ValueDateStart').val("{{DisburseObj.ValueDate.split()[0]}}");
				$('#ValueDateEnd').val("{{ '' if DisburseObj.ValueDate.split()|length == 1 else DisburseObj.ValueDate.split()[1] }}");
				$('#TotalDisbursement').val("{{TotalDisbursement}}");
				$('#SumLoanID').val("{{DisburseObj.TotalDisbursement}}");
			{%endif%}
		}
		function setSerializeAmount(ID){ 
			var ObjectData = $(".moneyfield").serializeArray();
			// console.log($(".moneyfield").serializeArray());
			len = ObjectData.length,
			dataObj = {};
			SumAmount = 0
			for (i=0; i<len; i++) {
				// dataObj[ObjectData[i].name] = ObjectData[i].value;
				var value = ObjectData[i].value;
				if (value!=""){
					var Amount = parseFloat(value.replace(/\,/g, ""));
					SumAmount+=Amount;
				}
			}
		  	var Currency = $('#Currency').val();
			MoneyField($('#TotalDisbursement'),SumAmount,Currency);
			MoneyField($('#SumLoanID'),SumAmount,Currency);
			// console.log(SumAmount);
			var LoanID 			= ID.data('loan');
			var AvailableBal 	= $('#Balance_'+LoanID).text();
			var AvailableBal 	= parseFloat(AvailableBal.replace(/\,/g, ""));
			var Amount 			= parseFloat(ID.val().replace(/\,/g, ""));
			if (Amount > AvailableBal){
				$('#Balance_'+LoanID).attr('class', 'text-danger');
			}else{
				$('#Balance_'+LoanID).attr('class', 'text-success');
			}
		}
		function setDeleteRow(ID){
			$("html, body").animate({ scrollTop: 0 }, 1);
			oTable = $('#mktlist').dataTable();
			var aPos = oTable.fnGetPosition( $("#row_"+ID)[0] );
			bootbox.confirm({
				message: "Are you sure you want to delete "+ID+"?",
				callback: function(result) {
					if(result==true){
						
						
						//setSerializeAmount($('#LoanID_'+ID));
						Currency 		=   $('#Currency').val();
						var Amount 		= 	parseFloat($('#Amount_'+ID).val().replace(/\,/g, ""));
						updateTotalDisbursement("-",Amount,Currency);
						oTable.fnDeleteRow(aPos[0],null,true);
						$('#LoanID_'+ID).remove();

						// $.getJSON('/Morakot/DisbursementSheet/AddLoanContract', {
						// 	LoanID:ID
						// 	}, function(data) {
					
						// 		var Amount 		= 	parseFloat(data.Amount.replace(/\,/g, ""));
						// 		var Currency 	= 	data.Currency
						// 		updateTotalDisbursement("-",Amount,Currency);
						// 		$('#LoanID_'+ID).remove();
						// 	});
					}
				},
				className: "bootbox-sm"
			});	
		}
		
		function updateTotalDisbursement(OptionType,Value,Currency) {
			// body...
			var Amount 		= 	Value//parseFloat(Value.replace(/\,/g, ""));
			var CountLoanID = 	parseInt($('#CountLoanID').text());
			var SumLoanID 	= 	parseFloat($('#SumLoanID').text().replace(/\,/g, ""));
			var TotalDisbursement = parseFloat($('#TotalDisbursement').val().replace(/\,/g, ""));
			if (OptionType=="+"){
				CountLoanID+=1;
				SumLoanID+=Amount
				// alert(CountLoanID)
				$('#CountLoanID').text(CountLoanID);
				MoneyField($('#SumLoanID'),SumLoanID,Currency);
				MoneyField($('#TotalDisbursement'),SumLoanID,Currency);
			}else{
				CountLoanID-=1;
				TotalDisbursement-=Amount
				$('#CountLoanID').text(CountLoanID);
				MoneyField($('#SumLoanID'),TotalDisbursement,Currency);
				MoneyField($('#TotalDisbursement'),TotalDisbursement,Currency);
			}
			
		}
		function insertRowDataTable(data){
			// var data = [
			// 	"1000010101",
			// 	"Rim sovankiry",
			// 	"DD101",
			// 	"KHR",
			// 	"2015-01-11",
			// 	"10,100",
			// 	""
			// 	];

			oTable = $('#mktlist').dataTable();
			var newRow = oTable.fnAddData(data);
			var nTr = oTable.fnSettings().aoData[ newRow[0] ].nTr;
			// nTr.className = "DeleteRow"; //add class to tr
			$('td', nTr)[7].setAttribute( 'id', 'row_'+data[0] ); //add ID to td
			$('td', nTr)[7].setAttribute( "onclick", "setDeleteRow('"+data[0]+"')" ); //add Class to td
		}
		function MoneyField(ID,Money,Currency){
			// code here
			$.ajax({
					url: "/Morakot/toMktmoney",
					data:{Currency:Currency,Money:Money},
					type: "GET",
					success: function(data){
						ID.text(data['value']);
						ID.val(data['value']);
					} 
				});
		}

		init.push(function () {
			toolbar("/Morakot/GenerateDisbursement");
			assignValue();
			$(function() {
				$('.moneyfield').bind('blur', function() {
					var ID = $(this);
					Value = ID.val();
					var Currency = $('#Currency').val();
					MoneyField(ID,Value,Currency);
					setSerializeAmount(ID);
				});
			}); 
			// External source
			$("#AddLoanID").select2({
				placeholder:'Search Loan ID or Customer',
				minimumInputLength: 3,
				triggerChange: true,
				allowClear: true,
				ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
					url: "/Morakot/DisbursementSheet/Search",
					dataType: 'json',
					data: function (term, page) {
						return {
							q: term, // search term
							Currency:"{{Currency}}",
							page_limit: 10,
							apikey: "ju6z9mjyajq2djue3gbvv26t" // please do not use so this example keeps working
						};
					},
					results: function (data, page) { // parse the results into the format expected by Select2.
						// since we are using custom formatting functions we do not need to alter remote JSON data
						return {results: data.items};
					}
				},
				initSelection: function(element, callback) {
					// the input tag has a value attribute preloaded that points to a preselected movie's id
					// this function resolves that id attribute to an object that select2 can render
					// using its formatResult renderer - that way the movie name is shown preselected
					var id=$(element).val();
					if (id!=="") {
						$.ajax("/Morakot/DisbursementSheet/Search?q="+id, {
							data: {
								apikey: "ju6z9mjyajq2djue3gbvv26t"
							},
							dataType: "json"
						}).done(function(data) { callback({id: id, text: data.items[0].text}); });
					}
				}
			});
			$(function() {
				$('#AddAmount').bind('blur', function() {
					var ID = $(this);
					Value = ID.val();
					var Currency = $('#Currency').val();
					MoneyField(ID,Value,Currency);
				});
			}); 

			$(function() {
				$('#AddLoanID').bind('change', function() {
					
					$.getJSON('/Morakot/DisbursementSheet/AddLoanContract', {
						LoanID:$('#AddLoanID').val()
					}, function(data) {
			
						$('#AddCustomer').val(data.Customer);
						$('#AddCurrency').val(data.Currency);
						$('#AddValueData').val(data.ValueDate);
						$('#AddAccount').val(data.Account);
						$('#AddAmount').val(data.Amount);
						$('#AddBalance').val(data.Balance);
					});
					return false;
				});
			}); 
			$('#Add').on("click",function(e){
				fn_fadeOut();
				var LoanID 		= 	$('#AddLoanID').val();
				var Customer 	= 	$('#AddCustomer').val();
				var Account 	= 	$('#AddAccount').val();
				var Currency 	= 	$('#AddCurrency').val();
				var ValueDate 	= 	$('#AddValueData').val();
				var StrBalance 	= 	$('#AddBalance').val();

				var StrAmount 	= 	$('#AddAmount').val();
				var Amount 		= 	parseFloat(StrAmount.replace(/\,/g, ""));
				var Balance 	= 	parseFloat(StrBalance.replace(/\,/g, ""));
				var Action 		= 	"<a class='link'><span class='label label-danger'>Delete</span></a>"
				var Message 	= 	""
				var InputAmount = 	"<input type='text' data-loan='"+LoanID+"' class='form-control moneyfield' id='Amount_"+LoanID+"' name='Amount_"+LoanID+"' value='"+StrAmount+"'>";
				var AvailableBal= 	"<label id='Balance_"+LoanID+"' class='text-success'>"+StrBalance+"</label>"
				if (LoanID==""){
					Message = "<span class='text-info'>Loan ID/Customer*</span>:This field is required."
					$('#ModalMessage').html(Message)
					$('#ModalBox').show();
				}else{

					if (isDuplicateLoanID(LoanID) == false){
					 //it doesn't exist
 						if (Amount <= 0){
							Message = "<span class='text-info'>Amount*:</span> Amount must be more than zero."
							$('#ModalMessage').html(Message);
							$('#ModalBox').show();
						}else{
							if(Amount>Balance){
								
								Message = "<span class='text-info'>Amount*:</span> Amount must be less than available balance."
								$('#ModalMessage').html(Message);
								$('#ModalBox').show();
							}else{
								$('#ModalBox').hide();
								$('<input>').attr({
									type: 'hidden',
									id: 'LoanID_'+LoanID,
									name: 'LoanID_'+LoanID,
									value:LoanID
								}).appendTo('#frm');
								
								insertRowDataTable([LoanID,
													Customer,
													Account,
													Currency,
													ValueDate,
													InputAmount,
													AvailableBal,
													Action
									]);
								updateTotalDisbursement("+",Amount,Currency);
								alert(LoanID+" was add successfully.")
							}
							
							
						}
					}else{
						alert(LoanID+" already exists.")
					}//End chkDuplicate

				}
			});
	  //   	$("#Save").on("click",function(e){
			// 	frm.submit();
			// });
			// $("#Edit").on("click",function(e){
			// 	window.location.href="/Morakot/GenerateDisbursement/Edit/{{ DisburseID }}/";
			// });
			// $("#New").on("click",function(e){
			// 	window.location.href="/Morakot/GenerateDisbursement";
			// });

		});
				
	</script>
	<!-- / Javascript -->
	{%if Form%}

		<!-- Modal -->
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close"  data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">{{ getLanguage('Add More Loan Contract') }}</h4>
					</div>
					<div class="modal-body">

						<div class="row">
							<div class="col-sm-12">
								<div class="form-group no-margin-hr alert alert-danger" id="ModalBox" >
									
									<div id="ModalMessage">
									</div>
								</div>
							</div><!-- col-sm-6 -->
						</div><!-- row -->
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group no-margin-hr">
									<label class="control-label">{{ getLanguage('Loan ID') }}/{{ getLanguage('Customer') }}</label>
									<input type="text" id="AddLoanID" class="form-control" style="width:100% !importance">
								</div>
							</div><!-- col-sm-6 -->
						</div><!-- row -->
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group no-margin-hr">
									<label class="control-label">{{ getLanguage('Account') }}</label>
									<input type="text" id="AddAccount" name="Account" readonly="readonly" class="form-control">
									<input type="hidden" id="AddCustomer" class="form-control">
									<input type="hidden" id="AddCurrency" class="form-control">
									<input type="hidden" id="AddValueData" class="form-control">
									
								</div>
							</div><!-- col-sm-6 -->
						</div><!-- row -->		
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group no-margin-hr">
									<label class="control-label">{{ getLanguage('Amount') }}</label>
									<input type="text" id="AddAmount" name="Amount"  class="form-control">
								</div>
							</div><!-- col-sm-6 -->
						</div><!-- row -->
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group no-margin-hr">
									<label class="control-label">{{ getLanguage('Available Balance') }}</label>
									<input type="text" id="AddBalance" name="Amount" readonly="readonly"  class="form-control">
								</div>
							</div><!-- col-sm-6 -->
						</div><!-- row -->	
					</div> <!-- / .modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Close') }}</button>
						<button type="button" class="btn btn-primary" id="Add">{{ getLanguage('Add') }}</button>
					</div>
				</div> <!-- / .modal-content -->
			</div> <!-- / .modal-dialog -->
		</div> <!-- /.modal -->
		<!-- / Modal -->
		<div class="col-sm-12">
		<!-- <h3 class="header-3 text-center" style="padding-bottom:40px;">Generate Disbursement Sheet for {{ g_id }} </h3> -->
		{% if FieldRequired %}
		<div class="alert alert-danger" id="alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<ol>
				{% for message in FieldRequired %}
				<li id="lblTableName">
					<a class="error_pointer">
						<label for="TableName">
							{{message[0]}} <span style="color:#d38e99">*:</span>
						</label>

					</a> {{message[1]}}
				</li>		
				{% endfor %}
			</ol>
		</div>
		{% endif %}
		
		<form action="{{Action}}" id="frmGenerate"  method="GET">
		<!-- <div class="col-sm-1"></div> -->
		<div class="col-sm-6 row" style="padding-top:10px;">
				<div class="row form-group">
					<label class="col-sm-3 control-label">
						<label for="ValueDate">
							{{ getLanguage('Officer') }}
							<span style="color:#d38e99">*</span>
						</label>
					</label>
					<div class="col-sm-9">
						<select id="Officer" class="form-control" name="Officer" {{disabled}} >
							<option value="">--{{ getLanguage('None') }}--</option>
							{%for row in OfficerObj%}
								<option value="{{row.ID}}" >{{row.ID}} - {{row.LastName}} {{row.FirstName}}</option>
							{%endfor%}
						</select>
						<script type="text/javascript">
							init.push(function () {
								// Single select
								$("#Officer").select2({
									allowClear: true,
									placeholder: "Officer"
								});
							});
						</script>
					</div>
				</div>
				<div class="row form-group">
					<label class="col-sm-3 control-label">
						<label for="ValueDate">
							{{ getLanguage('Currency') }}
							<span style="color:#d38e99">*</span>
						</label>
					</label>
					<div class="col-sm-9">
						
						<select id="Currency" class="form-control" name="Currency" {{disabled}}>
							<option  value="">--{{ getLanguage('None') }}--</option>
							{%for row in CurrencyObj%}
								<option value="{{row.ID}}">{{row.ID}}</option>
							{%endfor%}
						</select>
						<script type="text/javascript">
							init.push(function () {
								// Single select
								$("#Currency").select2({
									allowClear: true,
									placeholder: "Officer"
								});
							});
						</script>
					</div>
				</div>
				<div class="row form-group">
					<label class="col-sm-3 control-label">
						<label for="ValueDate">
							{{ getLanguage('Value Date') }}
							<span style="color:#d38e99">*</span>
						</label>
					</label>
					<div class="col-sm-9">
						<div class="input-daterange input-group" style="width: 68%;" id="bs-datepicker-range">
							<input type="text" id="ValueDateStart" {{disabled}} class="input-sm form-control" name="ValueDateStart" value="{{BankDate}}" placeholder="{{ getLanguage('Start Date')}}">
							<span class="input-group-addon">{{ getLanguage('to') }}</span>
							<input type="text" id="ValueDateEnd" {{disabled}} class="input-sm form-control" name="ValueDateEnd" placeholder="{{ getLanguage('End Date') }}">
						</div>

						<!-- <input id="ValueDate" class="form-control" type="text" value="2015-08-03" name="ValueDate" style="width: 214px;"> -->
						<script type="text/javascript">
							$(document).ready(function() {
								init.push(function () {
								
								var options = {
									orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
									format:"yyyy-mm-dd",
									autoclose:true,
								}
								// $('#ValueDate').datepicker(options);
								$('#bs-datepicker-range').datepicker(options);
								
								});
							});
						</script>
					</div>
				</div>
				<!-- <div class="row form-group">
					<label class="col-sm-3 control-label">Group By</label>
					<div class="col-sm-9">
						<select id="OptionGroupby" class="form-control" name="OptionGroupby">
							<option>--None--</option>
							<option value="V">VB</option>
							<option value="G">Group</option>
						</select>
						<script type="text/javascript">
							init.push(function () {
								// Single select
								$("#OptionGroupby").select2({
									allowClear: true,
									placeholder: "Officer"
								});
							});
						</script>
					</div>
				</div> -->
				
				<div class="row form-group">
					<label class="col-sm-3 control-label">{{ getLanguage('Total Disbursement') }}</label>
					<div class="col-sm-9">
						<input id="TotalDisbursement" name="TotalDisbursement" value="{{TotalDisbursement}}" class="form-control" type="text"  readonly="readonly" > 
					</div>
				</div>
				
				
		</div>
		<div class="col-sm-6 row " style="padding-top:10px;">
				<div class=" form-group">
					<label class="col-sm-4 control-label">{{ getLanguage('Officer Account') }}</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="OfficerAccount" value="" name="OfficerAccount" readonly="readonly">
					</div>
				</div>
				<div class=" form-group">
					<label class="col-sm-4 control-label">{{ getLanguage('Officer Category') }}</label>
					<div class="col-sm-8">
						<input id="OfficerCategory" class="form-control" type="text" value="" name="OfficerCategory" readonly="readonly" style="width: 160px;"> 
						</div>
				</div>
				<div class=" form-group">
					<label class="col-sm-4 control-label">{{ getLanguage('Officer Balance') }}</label>
					<div class="col-sm-8">
						<input id="OfficerBalance" class="form-control" type="text" value="{{OfficerBalance}}" readonly="readonly" > 
						</div>
				</div>
				
				<div class=" form-group">
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-8" >
						<button type="submit" id="Generate" {{disabled}} class="btn btn-flat btn-labeled btn-primary ActionFotter" style="margin-right: -36px;">
					<span class="btn-label icon fa fa-th"></span> {{ getLanguage('Generate Disbursement') }}
				</button>
					</div>
				</div>

		</div>
		<!-- <div class="col-sm-1"></div> -->
		</form>
		<div class="clearfix"></div>

		<div class="row">
			<form action="{{Action}}" id="frm"  method="POST">
			<div class="col-sm-12">
				<!-- Javascript -->
				<script>
					init.push(function () {
						$('ul.bs-tabdrop-example').tabdrop();
					});
				</script>
				<!-- / Javascript -->
				<!-- Tabs -->
				<ul class="nav nav-tabs bs-tabdrop-example">
					<li class="active"><a href="#bs-tabdrop-tab1" data-toggle="tab">1-{{ getLanguage('Detail') }}</a></li>
					<li><a href="#bs-tabdrop-tab2" data-toggle="tab">{{ getLanguage('Audit') }}</a></li>
				</ul>
				<div class="tab-content tab-content-bordered" >
					<div class="tab-pane active" id="bs-tabdrop-tab1">
						<div style="padding-top:10px;">
							<table id="mktlist"  class="table table-striped table" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>{{ getLanguage('ID') }}</th>
										<th>{{ getLanguage('Customer') }}</th>
										<th>{{ getLanguage('Account') }}</th>
										<th>{{ getLanguage('Currency') }}</th>
										<th>{{ getLanguage('Value Date') }}</th>
										<th>{{ getLanguage('Amount') }}</th>
										<th>{{ getLanguage('Available Balance') }}</th>
										{%if not disabled%}
										<th class="ActionFotter">{{ getLanguage('Action') }}</th>
										{%endif%}
									</tr>
								</thead>
								<tbody>
									{%if ResultObj and kwargs == []%}
										{%for row in ResultObj%}
											<tr>
												<input type="hidden" name="LoanID_{{row['ID']}}" 			id="LoanID_{{row['ID']}}" 		value="{{row['ID']}}">
												<input type="hidden" name="Customer_{{row['ID']}}" 		id="Customer_{{row['ID']}}" 	value="{{row['Customer']}}">
												<input type="hidden" name="Account_{{row['ID']}}" 		id="Account_{{row['ID']}}" 		value="{{row['Account']}}">
												<input type="hidden" name="Currency_{{row['ID']}}" 		id="Currency_{{row['ID']}}" 	value="{{row['Currency']}}">
												<input type="hidden" name="ValueDate_{{row['ID']}}" 	id="ValueDate_{{row['ID']}}" 	value="{{row['ValueDate']}}">
												<input type="hidden" name="AvailableBal_{{row['ID']}}" 	id="AvailableBal_{{row['ID']}}" value="{{row['AvailableBal']}}">
												<td>{{row['ID']}}</td>
												<td>{{row['Customer']}}</td>
												<td>{{row['Account']}}</td>
												<td>{{row['Currency']}}</td>
												<td>{{row['ValueDate']}}</td>
												<td>
													<input type="text" data-loan="{{row.ID}}" class="form-control moneyfield" id="Amount_{{row.ID}}" name="Amount_{{row.ID}}" value="{{row['Amount']}}" {{disabled}}>
												</td>
												<td>
													{%if float(row['Amount'].replace(',',''))  > float(row['AvailableBal'].replace(',','')) %}
														<label id="Balance_{{row['ID']}}" class="text-danger">{{row['AvailableBal']}}
														</label>
													{%else%}
														<label id="Balance_{{row['ID']}}" class="text-success">{{row['AvailableBal']}}
														</label>
													{%endif%}
												</td>
												{%if not disabled%}
													<td class="ActionFotter"
													 onclick="setDeleteRow('{{row['ID']}}')"
													 id="row_{{row['ID']}}">
														<a class="link"> 
															<span class="label label-danger">{{ getLanguage('Delete') }}</span> 
														</a>
													</td>
												{%endif%}
											</tr>
										{%endfor%}
									{%elif kwargs%}
										{%for row in ListLoanID%}
											<tr>
												<input type="hidden" name="LoanID_{{row}}" 			id="LoanID_{{row}}" 		value="{{row}}">
												<input type="hidden" name="Customer_{{row}}" 		id="Customer_{{row}}" 		value="{{kwargs['Customer_'+row]}}">
												<input type="hidden" name="Account_{{row}}" 		id="Account_{{row}}" 		value="{{kwargs['Account_'+row]}}">
												<input type="hidden" name="Currency_{{row}}" 		id="Currency_{{row}}" 		value="{{kwargs['Currency_'+row]}}">
												<input type="hidden" name="ValueDate_{{row}}" 		id="ValueDate_{{row}}" 		value="{{kwargs['ValueDate_'+row]}}">
												<input type="hidden" name="AvailableBal_{{row}}" 	id="AvailableBal_{{row}}" 	value="{{kwargs['AvailableBal_'+row]}}">
												<td>{{row}}</td>
												<td>{{kwargs['Customer_'+row]}}</td>
												<td>{{kwargs['Account_'+row]}}</td>
												<td>{{kwargs['Currency_'+row]}}</td>
												<td>{{kwargs['ValueDate_'+row]}}</td>
												<td>
													<input type="text" data-loan="{{row}}" class="form-control moneyfield" id="Amount_{{row}}" name="Amount_{{row}}" value="{{kwargs['Amount_'+row]}}" {{disabled}}>
												</td>
												<td>
													
													{%if float(kwargs['Amount_'+row].replace(',',''))  > float(kwargs['AvailableBal_'+row].replace(',','')) %}
														<label id="Balance_{{row}}" class="text-danger">{{kwargs['AvailableBal_'+row]}}
														</label>
													{%else%}
														<label id="Balance_{{row}}" class="text-success">{{kwargs['AvailableBal_'+row]}}
														</label>
													{%endif%}
												</td>
												{%if not disabled%}
													<td class="ActionFotter"
													 onclick="setDeleteRow('{{row}}')"
													 id="row_{{row}}">
														<a class="link"> 
															<span class="label label-danger">{{ getLanguage('Delete') }}</span> 
														</a>
													</td>
												{%endif%}
											</tr>
										{%endfor%}
									{%endif%}
								</tbody>
								<tfoot>
									<tr>
										<th><b>{{ getLanguage('Total') }}</b></th>
										<th>
											<b><label id="CountLoanID">
											{%if kwargs%}
												{%if ListLoanID%}
													{{ListLoanID|length}}
												{%endif%}
											{%else%}
												{{TotalLoanContract}}
											{%endif%}
											</label></b>
										</th>
										<th></th>
										<th></th>
										<th></th>
										<th><b><label id="SumLoanID">
											
											{{TotalDisbursement}}
										
										</label></b></th>
										<th></th>
										<th class="ActionFotter"></th>
									</tr>
								</tfoot>
							</table>
						
						</div>
					</div> <!-- End tab 1-DETAIL -->
					<div class="tab-pane" id="bs-tabdrop-tab2">

						{# call audit tab form #}
						{%set AuditObj = DisburseObj %}
						<div  style="padding-top:10px;">
							<div class="form-group">
								<label for="Status" class="col-sm-2 control-label"><label for="Status">{{ getLanguage('Status')}}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Status" name="Status" readonly type="text" value="{{AuditObj.Status}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Curr" class="col-sm-2 control-label"><label for="Curr">{{ getLanguage('Curr.No') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Curr" name="Curr" readonly type="text" value="{{AuditObj.Curr}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Inputter" class="col-sm-2 control-label"><label for="Inputter">{{ getLanguage('Inputter') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Inputter" name="Inputter" readonly type="text" value="{{AuditObj.Inputter}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Createdon" class="col-sm-2 control-label"><label for="Createdon">{{ getLanguage('Input DateTime') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Createdon" name="Createdon" readonly type="text" value="{{AuditObj.Createdon}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Authorizer" class="col-sm-2 control-label"><label for="Authorizer">{{ getLanguage('Authorizer') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Authorizer" name="Authorizer" readonly type="text" value="{{AuditObj.Authorizer}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Authorizeon" class="col-sm-2 control-label"><label for="Authorizeon">{{ getLanguage('Authorize DateTime') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Authorizeon" name="Authorizeon" readonly type="text" value="{{AuditObj.Authorizeon}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Branch" class="col-sm-2 control-label"><label for="Branch">{{ getLanguage('Branch') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Branch" name="Branch" readonly type="text" value="{{AuditObj.Branch}}">
								</div>
							</div>
						</div>
					</div>
				</div> <!-- end tab-content-bordered -->
			</div>
			</form>
		</div>
	{%endif%}
{%endif%}

{% endblock %}

{% block js %}
{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">
	$(document).ready(function() {
		$('#mktlist').dataTable({
			// "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"lengthMenu": [[100,200,300,500, -1], [100,200,300,500, "All"]],
			"bSort" : false,
			// "bLengthChange" :false,
		});

		// $('.table-header').hide()
		// $('#users-url').addClass('active');
		$('#ModalBox').hide();
		{% from "print.html" import exportDataTable %}
		{{exportDataTable('#mktlist',"Disbursement Sheet")}}
		
		// Hot Field
		$(function() {
			$('#Currency').bind('change', function() {
			$.getJSON('/Morakot/GenerateDisbursementAccount', {
			Currency:$('#Currency').val(),Officer:$('#Officer').val()
			}, function(data) {
			$('#OfficerAccount').val(data.OfficerAccount);$('#OfficerCategory').val(data.OfficerCategory);$('#Transaction').val(data.Transaction);
			/// fix for loan application only
			if ( 5 == "6") {
			$('#').trigger("change");
			}
			});
			return false;
			});
		});

		$(function() {
			$('#Officer').bind('change', function() {
			$.getJSON('/Morakot/GenerateDisbursementAccount', {
			Currency:$('#Currency').val(),Officer:$('#Officer').val()
			}, function(data) {
			$('#OfficerAccount').val(data.OfficerAccount);$('#OfficerCategory').val(data.OfficerCategory);$('#Transaction').val(data.Transaction);
			/// fix for loan application only
			if ( 5 == "6") {
			$('#').trigger("change");
			}
			});
			return false;
			});
		}); 
	});

</script>
{% endblock %}