{% extends "layout.html" %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}

	<!-- Javascript -->
	<script>
		//is data modified	
		function isModified(){
				if (location.pathname.split('/')[3]=="Edit"){
					var clone=localStorage.getItem("cloneobj"+path);
					if (clone!=null){
						 if ($("form").serialize()==clone) {
						 	alert("Data has no change. Will not submit to server.")
						 	return true
						 }else{
						 	return false
						 }
					}
				}
		}
		function fn_fadeIn(){
			var $getParentEle = window.parent.$("#animated")
		 	$getParentEle.fadeIn("slow");

		}
		function toolbar(url){
			$("#Cancel").on("click",function(e){
				value_id=$('#ID').val()
				//$("#animated").addClass ('se-pre-con')
				fn_fadeIn();
				//$(".se-pre-con").fadeOut("slow");
				if (value_id==""){
					window.location.href=url+"/Cancel/Operation/"
				return 0;
				}
					window.location.href=url+"/Cancel/"+ value_id +"/";
				return 0;

			});
			$("#New").on("click",function(e){
				value_id=$('#ID').val()
				fn_fadeIn();
				if (value_id==""){
					window.location.href=url+"/New/Operation/"
				return 0;
				}
					window.location.href=url+"/New/"+ value_id +"/";
				return 0;
			});
			//save button
			$("#Save").on("click",function(e){
				value_id=$('#ID').val()
				fn_fadeIn();
				if (isModified()) {

				window.location.href=url+"/Cancel/"+ value_id +"/";
				return 0;
				}
				$(':focus').blur();
				// removeComma();
				document.forms["frm"].action=url+"/";
				document.forms["frm"].submit(); 
				//return false; 
			});
			//edit button
			$("#Edit").on("click",function(e){
				value_id=$('#ID').val()
				if (value_id==""){
					alert("No record to edit"); 
					return 0
				}
				fn_fadeIn();
				window.location.href=url+"/Edit/"+value_id+"/";
				//return false; 
			});
			//disable enter key from submit
			$("#ID").on("keypress", function(e) {
				$("#frm").attr("method", "post");
				$("#frm").attr("method", "get");
				if (e.keyCode == 13){
				value_id=$('#ID').val()
				if (value_id==""){
					value_id="Operation"
				}
					fn_fadeIn();
					window.location.href=url+"/?ID="+ value_id;
					// document.forms['frm'].action=url+"/?ID="+ value_id +"&Operation=Search";
					// document.forms['frm'].submit();
					//obj_loaded(); 
					return false;

				}
			});
			//add link to authorize
			//Add link to delete button
			$('#Authorize').on("click",function(e){
				value_id=$('#ID').val()
				if (value_id==""){
					value_id="Operation"
				}
					fn_fadeIn();
					window.location.href=url+"/Authorize/"+value_id+"/";
			});

			//Add link to delete button
			$('#Delete').on("click",function(e){
				value_id=$('#ID').val()
				bootbox.confirm({
					message: "Are you sure to delete " +value_id+"?",
					callback: function(result) {
					if (result==true){                    
						if (value_id==""){
							value_id="Operation"
						}
							fn_fadeIn()
							window.location.href=url+"/Delete/"+value_id+"/";
						}
					},
					className: "bootbox-sm"
				});
			});
			//Add link to delete button
			$('#listLive').on("click",function(e){
				fn_fadeIn();
				//$("#animated").addClass ('se-pre-con')
				window.location.href=url+"/ListLive/Operation/";
			});

			//Add link to delete button
			$('#listAuth').on("click",function(e){
				fn_fadeIn();
				window.location.href=url+"/ListAuth/Operation/";
			});
		}
		
		function MoneyField(ID,Money,Currency){
			// code here
			$.ajax({
					url: "/Morakot/toMktmoney",
					data:{Currency:Currency,Money:Money},
					type: "GET",
					success: function(data){
						ID.text(data['value']);
						ID.val(data['value']);
					} 
				});
		}

		init.push(function () {
	
			toolbar("/Morakot/Disbursement");

			$(function() {
				$('.moneyfield').bind('blur', function() {
					var ID = $(this);
					Value = ID.val();
					MoneyField(ID,Value,"{{Currency}}");

					var ObjectData = $(".moneyfield").serializeArray();
					// console.log($(".moneyfield").serializeArray());
					len = ObjectData.length,
					dataObj = {};
					SumAmount = 0
					for (i=0; i<len; i++) {
						// dataObj[ObjectData[i].name] = ObjectData[i].value;
						var value = ObjectData[i].value;
						if (value!=""){
							var Amount = parseFloat(value.replace(/\,/g, ""));
							SumAmount+=Amount;
						}
					}
					
					MoneyField($('#TotalActual'),SumAmount,"{{Currency}}");
					MoneyField($('#SumActualAmount'),SumAmount,"{{Currency}}");
					// console.log(SumAmount);
					// var LoanID = ID.data('loan');
					// var AvailableBal = $('#Balance_'+LoanID).text();
					// var AvailableBal = parseFloat(AvailableBal.replace(/\,/g, ""));
					// var Amount = parseFloat(ID.val().replace(/\,/g, ""));
					// if (Amount > AvailableBal){
					// 	$('#Balance_'+LoanID).attr('class', 'text-danger');
					// }else{
					// 	$('#Balance_'+LoanID).attr('class', 'text-success');
					// }
				});
			}); 


		});
				
	</script>
	<!-- / Javascript -->
<form action="{{Action}}" id="frm"  method="POST">

	<div class="col-sm-12 navbar navbar-default navbar-static-top" role="navigation">
		<ul class="col-sm-10 nav navbar-nav">
			{% for items in li_html %}
				<li  {{items[1]|safe}} >
					{% if items[0]=="Save" %}
						<a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-floppy-o'></i>&nbsp;{{ getLanguage('Save') }}</a>
					{% elif items[0]=="Edit" %}
						<a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Edit') }}</a>
					{% elif items[0]=="Delete" %}
						<a href="javascript:void(0)" id="Delete" {{items[1]|safe}}><i class='fa fa-trash-o'></i>&nbsp;{{ getLanguage('Delete') }}</a>
					{% elif items[0]=="Authorize" %}
						<a href="javascript:void(0)" id="Authorize" {{items[1]|safe}} ><i class='fa fa-check'></i>&nbsp;{{ getLanguage('Authorize') }}</a>
					{% elif items[0]=="Cancel" %}
						<a href="javascript:void(0)" id="Cancel" {{items[1]|safe}} ><i class='fa fa-undo'></i>&nbsp;{{ getLanguage('Cancel') }}</a>
					{% elif items[0]=="Verify" %}
						<a href="javascript:void(0)" id="Verify" {{items[1]|safe}}><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Verify') }}</a>
					{% else %}
						<a href="javascript:void(0)" id="New" {{items[1]|safe}}><i class='fa fa-file-text-o'></i>&nbsp;{{ getLanguage('Show') }}</a>
					{% endif %}
				</li>
			{% endfor %}
			<li>
				<div class="navbar-form navbar-left">
					<div class="form-group">
					<input type="text" class="form-control" name="ID" ID="ID" placeholder="Record ID"  value="{{g_id}}" {{ g_readonly }} >
					
					</div>
				</div>
			</li>
			<li>
				<div class="btn-group" style="padding: 9px 0px 0px 0px; margin-left: 15px;">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{ getLanguage('More Action') }}</button>
					<button type="button" class="btn btn-primary" data-toggle="dropdown">
							<i class="fa fa-caret-down"></i>
					</button>
					<ul class="dropdown-menu">
							<li><a href="javascript:void(0)" onclick="copy('frm')"><i class='fa fa-files-o'></i>&nbsp;{{ getLanguage('Copy Record') }}</a></li>
							<li><a href="javascript:void(0)" onclick="paste('frm')"><i class='fa fa-clipboard'></i>&nbsp;{{ getLanguage('Paste Record') }}</a></li>
							<!-- <li><a href="javascript:void(0)" id="Reverse"><i class='fa fa-reply'></i>&nbsp;Reverse Record</a></li> -->
							<li class="divider"></li>
							<li><a href="javascript:void(0)" id="listLive" ><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Live Record') }}</a></li>
							<li><a href="javascript:void(0)" id="listAuth"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Un-authorize Record') }}</a></li>
							<li><a href="javascript:void(0)" id="listHist"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List History Record') }}</a></li>
							
							<li class="divider"></li>

							<li><a href="javascript:void(0)" id="csv"> <i class='fa fa-files-o'></i> {{ getLanguage('Export CSV') }} </a></li> 
							<li><a href="javascript:void(0)" id="excel"> <i class='fa fa-file-excel-o'></i> {{ getLanguage('Export Excel') }} </a></li>
							<li><a href="javascript:void(0)" id="print"><i class='fa fa-print'></i>&nbsp;{{ getLanguage('Print') }}</a></li>
					</ul>
				</div>
			</li>
		</ul>
		{%if Form %}
		<ul class="col-sm-2 nav navbar-nav">
			<li class="pull-right">
				<div class="navbar-form navbar-left" style="padding:0px;">
					
				</div>
			</li>
		</ul>
		{%endif%}
	</div>

	{% if ListError %}
	<div class="clearfix"></div>
	<div class="col-sm-12" style="padding-top:5px;">

		<div class="alert alert-danger" id="alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<ol>
				{% for message in ListError %}
				<li id="lblTableName">
					<a class="error_pointer" >
						<label for="TableName" style="width:15%;">
							{{message[0]}} <span style="color:#d38e99;">*	</span>
						</label>
					</a> 

					: {{message[1]}}
				</li>		
				{% endfor %}
			</ol>
			
		</div>
	</div>
	{% endif %}

	<!--  message  -->
	<div class="clearfix"></div>
	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message,"Error") %}
				<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message[6:]}}
			</div>
			{% elif contain(message,"Warning") %}
				<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message[8:] }}
			</div>
			{% else %}
				<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endif %}
		{% endfor %}
		
	</div>

	{%if Form%}
		<div class="col-sm-12">
			<h3 class="header-3 text-center" style="padding-bottom:40px;">{{ getLanguage('Loan Disbursement') }}  </h3>
			<div class="col-sm-1"></div>
			<div class="col-sm-5 row" style="padding-top:10px;">
					<div class="row form-group">
						<label class="col-sm-4 control-label">{{ getLanguage('Officer') }}:</label>
						<div class="col-sm-8">
							{{OfficerObj.ID}} - {{OfficerObj.LastName}} {{OfficerObj.FirstName}}
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 control-label">{{ getLanguage('Officer Account') }}:</label>
						<div class="col-sm-8">{{OfficerAccount}}
						</div>
					</div>
					
					<div class="row form-group">
						<label class="col-sm-4 control-label">{{ getLanguage('Officer Balance') }}:</label>
						<div class="col-sm-8">{{formatNumber(OfficerBalance,1,0)}}</div>
					</div>
					
			</div>
			<div class="col-sm-5 row " style="padding-top:10px;">
					<div class="row form-group">
						<label class="col-sm-4 control-label">{{ getLanguage('Currency') }}:</label>
						<div class="col-sm-8">{{Currency}}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-sm-4 control-label">{{ getLanguage('Total Disbursement') }}:</label>
						<div class="col-sm-8" id="TotalDisburse">
							{{formatNumber(TotalDisburse,1,0)}}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-sm-4 control-label">{{ getLanguage('Total Actual Amount') }}:</label>
						<div class="col-sm-8" id="TotalActual">
							{{formatNumber(TotalActual,1,0)}}
						</div>
					</div>
					
					
			</div>

			<div class="col-sm-1"></div>
			<div class="clearfix"></div>
			<div class="row">
				<table id="mktlist"  class="table table-striped table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>{{ getLanguage('ID') }}</th>
							<th>{{ getLanguage('Customer') }}</th>
							<th>{{ getLanguage('Account') }}</th>
							<th>{{ getLanguage('Currency') }}</th>
							<th>{{ getLanguage('Value Date') }}</th>
							<th>{{ getLanguage('Amount') }}</th>
							<th>{{ getLanguage('Actual Amount') }}</th>
							{%if DisburseObj.Status == "AUTH"%}
								<th>{{ getLanguage('Reference') }}</th>
							{%endif%}
						</tr>
					</thead>
					<tbody>

						{%for row in QueryObj%}
						<tr>
							<input type="hidden" name="LoanID_{{row.ID}}" id="LoanID_{{row.ID}}" value="{{row.ID}}">

							<td>{{row.ID}}</td>
							<td>{{row.ContractCustomerID}} - {{row.LastNameEn}} {{row.FirstNameEn}}</td>
							<td>{{row.Account}}</td>
							<td>{{row.Currency}}</td>
							<td>{{row.ValueDate}}</td>
							<td>
								{{formatNumber(row.Amount,1,0)}}
							</td>
							<td>
								<input type="text"  class="form-control moneyfield" id="Amount_{{row.ID}}" name="Amount_{{row.ID}}" 
								{%if DicAmount %}
									value="{{DicAmount['Amount_'+row.ID]}}"
								{%else%}
									value="{{formatNumber(row.ActualAmount,1,0)}}"
								{%endif%}
								{%if disabled%}
									disabled="{{disabled}}"
								{%endif%}
								>
							</td>
							{%if DisburseObj.Status == "AUTH"%}
							<td>{{row.Reference}}</td>
							{%endif%}
						</tr>
						{%endfor%}
					</tbody>
					<tfoot>
						<tr>
							<th><b>{{ getLanguage('Total') }}</b></th>
							<th><b><label id="CountLoanID"></label></b></th>
							<th></th>
							<th></th>
							<th></th>
							<th><b><label id="SumLoanID">{{formatNumber(QueryObj|sum(attribute='Amount'),1,0)}}</label></b></th>
							<th><b><label id="SumActualAmount">{{formatNumber(TotalActual,1,0)}}</label></b></th>
							{%if DisburseObj.Status == "AUTH"%}
							<th></th>
							{%endif%}
						</tr>
					</tfoot>
				</table>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
		{# call audit tab form #}
		{%set AuditObj = DisburseObj %}
		<div class="col-sm-12 row">
			<div id="container_tab" class="form-horizontal tab-content">
				<ul class="nav nav-tabs" role="tablist">
					<li class='active'><a data-toggle="tab" href="#9-Audit">{{ getLanguage('Audit') }}</a></li>
				</ul>
				<div id="9-Audit" class="tab-pane fade  in active "><br/>
					<div id="9-Audit_1" class='mspan'>
						<div class="form-group">
							<label for="Status" class="col-sm-2 control-label"><label for="Status">{{ getLanguage('Status') }}</label></label>
							<div class="col-sm-10">
							<input class="form-control" id="Status" name="Status" readonly type="text" value="{{AuditObj.Status}}">
							</div>
						</div>
						<div class="form-group">
							<label for="Curr" class="col-sm-2 control-label"><label for="Curr">{{ getLanguage('Curr.No') }}</label></label>
							<div class="col-sm-10">
							<input class="form-control" id="Curr" name="Curr" readonly type="text" value="{{AuditObj.Curr}}">
							</div>
						</div>
						<div class="form-group">
							<label for="Inputter" class="col-sm-2 control-label"><label for="Inputter">{{ getLanguage('Inputter') }}</label></label>
							<div class="col-sm-10">
							<input class="form-control" id="Inputter" name="Inputter" readonly type="text" value="{{AuditObj.Inputter}}">
							</div>
						</div>
						<div class="form-group">
							<label for="Createdon" class="col-sm-2 control-label"><label for="Createdon">{{ getLanguage('Input DateTime') }}</label></label>
							<div class="col-sm-10">
							<input class="form-control" id="Createdon" name="Createdon" readonly type="text" value="{{AuditObj.Createdon}}">
							</div>
						</div>
						<div class="form-group">
							<label for="Authorizer" class="col-sm-2 control-label"><label for="Authorizer">{{ getLanguage('Authorizer') }}</label></label>
							<div class="col-sm-10">
							<input class="form-control" id="Authorizer" name="Authorizer" readonly type="text" value="{{AuditObj.Authorizer}}">
							</div>
						</div>
						<div class="form-group">
							<label for="Authorizeon" class="col-sm-2 control-label"><label for="Authorizeon">{{ getLanguage('Authorize DateTime') }}</label></label>
							<div class="col-sm-10">
							<input class="form-control" id="Authorizeon" name="Authorizeon" readonly type="text" value="{{AuditObj.Authorizeon}}">
							</div>
						</div>
						<div class="form-group">
							<label for="Branch" class="col-sm-2 control-label"><label for="Branch">{{ getLanguage('Branch') }}</label></label>
							<div class="col-sm-10">
							<input class="form-control" id="Branch" name="Branch" readonly type="text" value="{{AuditObj.Branch}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{%endif%}

{%endif%}

{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		
		var oTable = $('#mktlist').dataTable({
			"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"bSort" : false,
			// "bLengthChange" :false,
		});
		// $('.table-header').hide()
		// $('#users-url').addClass('active');
		$('#ModalBox').hide();
 		$('#Status').css('width','60px')
		$('#Curr').css('width','50px')
		$('#Inputter').css('width','150px')
		$('#Createdon').css('width','150px')
		$('#Authorizer').css('width','150px')
		$('#Authorizeon').css('width','150px')
		$('#Branch').css('width','150px')
	});

</script>
{% endblock %}