{% extends "layout.html" %}
{% block css %}

<style type="text/css">


</style>
{% endblock %}
{% block content %}

<div>
	{% for message in get_flashed_messages() %}
	 {% if contain(message,"Error") %}
	 <div class="alert alert-danger">
	 <button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	 </div>
	 {% else %}
	 <div class="alert alert-info">
	 <button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	 </div>
	 {% endif %}
	 {% endfor %}

	<h3 id="title" class="header-3 text-center">Listing Details</h3>
	<table id="mktlist" class="table table-hover table-striped panel" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Officer</th>
				<th>Officer Category</th>
				<th>Currency</th>
				<th>Transaction</th>
				<th>Transaction Date</th>
				<th class="text-right">Total Collection</th>
				{%if setHideEdit == False%}
					<th class="ActionFotter">Action</th>
				{%endif%}
			</tr>
		</thead>
		<tbody>
			{%for row in QueryObj%}
				{%set ID = row.ID|replace('.', '_')|replace('@', '_') %}
				<tr>
					<td>{{row.ID}}</td>
					<td onClick="var Url=location.pathname.split('/')[2]; ClickView(Url,Url,'{{ID}}')" class="link">{{row.OfficerAccount}}</td>
					<td onClick="var Url=location.pathname.split('/')[2]; ClickView(Url,Url,'{{ID}}')" class="link">{{row.Category}}</td>
					<td onClick="var Url=location.pathname.split('/')[2]; ClickView(Url,Url,'{{ID}}')" class="link">{{row.Currency}}</td>
					<td onClick="var Url=location.pathname.split('/')[2]; ClickView(Url,Url,'{{ID}}')" class="link">{{row.Transaction}} </td>
					<td onClick="var Url=location.pathname.split('/')[2]; ClickView(Url,Url,'{{ID}}')" class="link">{{row.TranDate}} </td>
					<td onClick="var Url=location.pathname.split('/')[2]; ClickView(Url,Url,'{{ID}}')" class="link text-right">
						{{toMoney(float(row.TotalCollection),getCurrencyObj(row.Currency))}}

					</td>
					{%if setHideEdit == False%}
					<td class="ActionFotter">
					<a onClick="var Url=location.pathname.split('/')[2]; ClickEdit(Url,Url,'{{ID}}')" title="Edit" class="link">
					<span class="label label-warning">Edit</span> 
					</a>
					</td>
					{%endif%}
				</tr>
			{%endfor%}
		</tbody>
	</table>

</div>
{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}
<script type="text/javascript">

	$(document).ready(function() {
		
		$('#title').hide();
		$('#mktlist').dataTable({
		"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
		"aaSorting":[]
		//"sDom": '<"clear">lfrtipT',
		// "tableTools": {
		//     "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf"
		// }
		});
		$(".table-caption").prepend("<a title='Go Back' class='btn btn-primary pull-left' id='Back' href='javascript:void(0)' role='button'><i class='fa fa-reply'></i></a>")

		// $("#Back").after("&nbsp;<a title='Advance Filter' class='btn btn-primary' id='Filter' data-toggle='collapse' href='#collapseExample' aria-expanded='true' aria-controls='collapseExample' ><i class='fa fa-filter'></i></a>&nbsp;&nbsp")

		$("#Back").after("&nbsp;<a title='Refresh' class='btn btn-primary' id='Refresh' href=''><i class='fa fa-refresh'></i></a>&nbsp;&nbsp")

		$("#Refresh").after("&nbsp;&nbsp;&nbsp;&nbsp;<b>Also available in :</b><a id='csv' class='link' > <i class='fa fa-files-o'></i> CSV &nbsp;</a>|<a id='excel' class='link'> <i class='fa fa-file-excel-o'></i> Excel &nbsp;</a>|<a id='print' class='link'><i class='fa fa-print'></i>&nbsp;Print</a>")

		$(".DT-search").attr("style","Width:230px !important;")
		$(".DT-search input").attr("style","Width:230px !important;")
		$(".table-header").attr("style","padding:0 !important;border:0 !important;")
		$(".table-caption").attr("style","font-size: 13px !important;font-weight:normal !important;")

		{% from "print.html" import exportDataTable %}
		{{exportDataTable('#mktlist')}}  

		//insert style 
		$(".DTTT").before("<br/><br/>")
		$(".DTTT").css("margin-bottom","2px")
		$(".DTTT").css("float","right")

    $("#Back").on("click",function(e){
    fn_fadeIn(); // from toolbar js
    window.location.href="/"+location.pathname.split('/')[1]+"/"+location.pathname.split('/')[2]+"/";
    return 0;

    //clone object and then put under mktlist_paginate

    //
    
    //


  });
	 
	});

</script>
{% endblock %}

{% block js %}

{% endblock %}