{% extends "layout.html" %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}
	
	<div class="col-sm-12 navbar navbar-default navbar-static-top" role="navigation">
		<ul class="col-sm-10 nav navbar-nav">
			{% for items in li_html %}
				<li  {{items[1]|safe}} >
					{% if items[0]=="Save" %}
						<a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-floppy-o'></i>&nbsp;{{ getLanguage('Save') }}</a>
					{% elif items[0]=="Edit" %}
						<a href="javascript:void(0)" {{items[1]|safe}} id="{{items[0]}}"><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Edit') }}</a>
					{% elif items[0]=="Delete" %}
						<a href="javascript:void(0)" id="Delete" {{items[1]|safe}}><i class='fa fa-trash-o'></i>&nbsp;{{ getLanguage('Delete') }}</a>
					{% elif items[0]=="Authorize" %}
						<a href="javascript:void(0)" id="Authorize" {{items[1]|safe}} ><i class='fa fa-check'></i>&nbsp;{{ getLanguage('Authorize') }}</a>
					{% elif items[0]=="Cancel" %}
						<a href="javascript:void(0)" id="Cancel" {{items[1]|safe}} ><i class='fa fa-undo'></i>&nbsp;{{ getLanguage('Cancel') }}</a>
					{% elif items[0]=="Verify" %}
						<a href="javascript:void(0)" id="Verify" {{items[1]|safe}}><i class='fa fa-pencil-square-o'></i>&nbsp;{{ getLanguage('Verify') }}</a>
					{% else %}
						<a href="javascript:void(0)" id="New" {{items[1]|safe}}><i class='fa fa-file-text-o'></i>&nbsp;{{ getLanguage('New') }}</a>
					{% endif %}
				</li>
			{% endfor %}
			<li>
				<div class="navbar-form navbar-left">
					<div class="form-group">
					<input type="text" class="form-control" name="ID" ID="ID" placeholder="Record ID"  value="{{g_id}}" {{ g_readonly }} >
					
					</div>
				</div>
			</li>
			<li>
				<div class="btn-group" style="padding: 9px 0px 0px 0px; margin-left: 15px;">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{ getLanguage('More Action') }}</button>
					<button type="button" class="btn btn-primary" data-toggle="dropdown">
							<i class="fa fa-caret-down"></i>
					</button>
					<ul class="dropdown-menu">
							<li><a href="javascript:void(0)" onclick="copy('frm')"><i class='fa fa-files-o'></i>&nbsp;{{ getLanguage('Copy Record') }}</a></li>
							<li><a href="javascript:void(0)" onclick="paste('frm')"><i class='fa fa-clipboard'></i>&nbsp;{{ getLanguage('Paste Record') }}</a></li>
							<!-- <li><a href="javascript:void(0)" id="Reverse"><i class='fa fa-reply'></i>&nbsp;{{ getLanguage('Reverse Record') }}</a></li> -->
							<li class="divider"></li>
							<li><a href="javascript:void(0)" id="listLive" ><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Live Record') }}</a></li>
							<li><a href="javascript:void(0)" id="listAuth"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List Un-authorize Record') }}</a></li>
							<li><a href="javascript:void(0)" id="listHist"><i class='fa fa-list'></i>&nbsp;{{ getLanguage('List History Record') }}</a></li>
							
							<li class="divider"></li>

							<li><a href="javascript:void(0)" id="csv"> <i class='fa fa-files-o'></i> {{ getLanguage('Export CSV') }} </a></li> 
							<li><a href="javascript:void(0)" id="excel"> <i class='fa fa-file-excel-o'></i> {{ getLanguage('Export Excel') }} </a></li>
							<li><a href="javascript:void(0)" id="print"><i class='fa fa-print'></i>&nbsp;{{ getLanguage('Print') }}</a></li>
					</ul>
				</div>
			</li>
		</ul>
		</ul>
		{%if Form %}
		<ul class="col-sm-2 nav navbar-nav">
			<li class="pull-right">
				<div class="navbar-form navbar-left" style="padding:0px;">
					<button type="button" id="AddMoreLoan" data-toggle="modal" {{disabled}} data-target="#modal-sizes-2" class="btn btn-flat btn-labeled btn-success" 
					id="Auto">
						<span class="btn-label icon fa fa-plus"></span>Add More Loan Contract
					</button>
				</div>
			</li>
		</ul>
		{%endif%}
	</div>
	

	<!--  message  -->

	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message, "Error") %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% elif contain(message,"Warning") %}
				<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% else %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<!-- Javascript -->
	<script>

		function setCloneform(FrmFrom, FrmTo) {
			$(':input[name]', FrmFrom ).each(function() {
				Name 	= $(this).attr('name')
				ID 		= $(this).attr('id')
				Value 	= $(this).val()
				$('<input>').attr({
					type: 'hidden',
					id: ID,
					name: Name,
					value:Value
				}).appendTo(FrmTo);
				// $('[name=' + $(this).attr('name') +']', formB).val($(this).val())
			})
			$('<input>').attr({
					type: 'hidden',
					id: "ID",
					name: "ID",
					value:$("#ID").val()
				}).appendTo(FrmTo);
		}
		function fn_fadeOut(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeOut("slow");
		}
		function fn_fadeIn(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeIn("slow");
		}
		function toolbar(url){
			$("#Cancel").on("click",function(e){
				value_id=$('#ID').val()
				//$("#animated").addClass ('se-pre-con')
				fn_fadeIn();
				//$(".se-pre-con").fadeOut("slow");
				if (value_id==""){
					window.location.href=url+"/Cancel/Operation/"
				return 0;
				}
					window.location.href=url+"/Cancel/"+ value_id +"/";
				return 0;

			});
			$("#New").on("click",function(e){
				value_id=$('#ID').val()
				fn_fadeIn();
				if (value_id==""){
					window.location.href=url+"/New/Operation/"
				return 0;
				}
					window.location.href=url+"/New/"+ value_id +"/";
				return 0;
			});
			//save button
			$("#Save").on("click",function(e){
				value_id=$('#ID').val()
				fn_fadeIn();
				if (isModified()) {

				window.location.href=url+"/Cancel/"+ value_id +"/";
				return 0;
				}
				$(':focus').blur();
				// removeComma();
				setCloneform($("#frmGenerate"),$("#frm"))
				document.forms["frm"].action=url+"/";
				$('#mktlist').DataTable().destroy()
				document.forms["frm"].submit(); 
				//return false; 
			});
			//edit button
			$("#Edit").on("click",function(e){
				value_id=$('#ID').val()
				if (value_id==""){
					alert("No record to edit"); 
					return 0
				}
				fn_fadeIn();
				window.location.href=url+"/Edit/"+value_id+"/";
				//return false; 
			});
			//disable enter key from submit
			$("#ID").on("keypress", function(e) {
				$("#frm").attr("method", "post");
				$("#frm").attr("method", "get");
				if (e.keyCode == 13){
				value_id=$('#ID').val()
				if (value_id==""){
				value_id="Operation"
				}
				fn_fadeIn();
				window.location.href=url+"/?ID="+value_id;
				return false;

				}
			});
			$("#Generate").on("click", function(e) {
				// $("#frm").attr("method", "post");
				// $("#frm").attr("method", "get");
				value_id=$('#ID').val()
				if (value_id==""){
					value_id="Operation"
				}
				fn_fadeIn();
				document.forms['frmGenerate'].action=url+"/Generate/"+value_id+"/";
				document.forms['frmGenerate'].submit();
				//obj_loaded(); 
				return false;
				
			});
			
			//add link to authorize
			//Add link to delete button
			$('#Authorize').on("click",function(e){
				value_id=$('#ID').val()
				if (value_id==""){
					value_id="Operation"
				}
					fn_fadeIn();
					window.location.href=url+"/Authorize/"+value_id+"/";
			});

			//Add link to delete button
			$('#Delete').on("click",function(e){
				value_id=$('#ID').val()
				bootbox.confirm({
					message: "Are you sure to delete " +value_id+"?",
					callback: function(result) {
					if (result==true){                    
						if (value_id==""){
							value_id="Operation"
						}
							fn_fadeIn()
							window.location.href=url+"/Delete/"+value_id+"/";
						}
					},
					className: "bootbox-sm"
				});
			});
			//Add link to delete button
			$('#listLive').on("click",function(e){
				fn_fadeIn();
				window.location.href=url+"/ListLive/Operation/";
			});
			//Add link to delete button
			$('#listAuth').on("click",function(e){
				fn_fadeIn();
				window.location.href=url+"/ListAuth/Operation/";
			});
			//Add link to delete button
			$('#listHist').on("click",function(e){
				fn_fadeIn();
				window.location.href=url+"/ListHist/Operation/";
			});

			//remove delete and authorize button when record is in AUTH
			var status = $('#Status').val()
			var searchID = $('#ID').val()

			if ( status == "AUTH"){
				$("#Delete").remove();
				$("#Authorize").remove();
			}else if (status =="INAU" || status =="RNAU"){
				$("#Reverse").remove();  
			}
			//check history record
			if (searchID.indexOf("@") >0)
			{
				$("#Save").remove();
				$("#Delete").remove();
				$("#Authorize").remove();
				$("#Edit").remove();
				$("#Reverse").remove();
				$('#frm input').attr('readonly', 'readonly');
				$('#frm select').attr('disabled', 'disabled');
			}
			$('#Status').css('width','60px')
			$('#Curr').css('width','50px')
			$('#Inputter').css('width','150px')
			$('#Createdon').css('width','150px')
			$('#Authorizer').css('width','150px')
			$('#Authorizeon').css('width','150px')
			$('#Branch').css('width','150px')
		}
		function MoneyField(ID,Money,Currency){
			// code here
			$.ajax({
					url: "/Morakot/toMktmoney",
					data:{Currency:Currency,Money:Money},
					type: "GET",
					success: function(data){
						ID.text(data['value']);
						ID.val(data['value']);
					} 
				});
		}
		function isDuplicateLoanID(ID){

			if($('.LoanID_'+ID).length > 1) {
			 	//object exists
			 	return true
			}
			else {
				//object does not exists
			 	return false
			}
		}

		
		function setSerializeAmount(ID){

			var ObjectData = $(".moneyfield").serializeArray();
			// console.log($(".moneyfield").serializeArray());
			len = ObjectData.length,
			dataObj = {};
			SumAmount = 0
			tSumAmount = 0
			// for (i=0; i<len; i++) {
			// 	// dataObj[ObjectData[i].name] = ObjectData[i].value;
			// 	var value = ObjectData[i].value;
			// 	if (value!=""){
			// 		var Amount = parseFloat(value.replace(/\,/g, ""));
			// 		SumAmount+=Amount;
			// 	}
			// }

			var rows = $("#mktlist").dataTable().fnGetNodes();
			$.each(rows,function(index, row) {
				var value = $(row).find('.moneyfield').val();
				if (value!=""){
					var Amount = parseFloat(value.replace(/\,/g, ""));
					SumAmount+=Amount;
				}

				var RepID   = $(row).find('input[class=RepID]').val();
				// var tValue = row.children[0].textContent.trim();
				var input   = 'input[id="TotalAmount_'+RepID+'"]'
				var tValue  = $(row).find(input).val();
				
				if (!tValue) {
					var tValue  = $(input).val();
				} 

				if (tValue){
					var tAmount = parseFloat(tValue.replace(/\,/g, ""));
					tSumAmount+=tAmount;
				}

			})

			var Currency = $('#Currency').val();
			MoneyField($('#TotalActualAmount'),SumAmount,Currency);
			MoneyField($('#SumLoanID'),SumAmount,Currency);
			MoneyField($('#TotalCollection'),tSumAmount,Currency);
			$('#CountLoanID').text(len);
		}

		function setDeleteRow(ID,Title){

			oTable = $('#mktlist').dataTable();
			var aPos = oTable.fnGetPosition( $("#row_"+ID)[0] );
			bootbox.confirm({
				message: "Are you sure you want to delete "+Title+"?",
				callback: function(result) {
					if(result==true){
						
						var Currency = $('#Currency').val();
						var Amount 		= 	parseFloat($('#Amount_'+ID).val().replace(/\,/g, ""));
						oTable.fnDeleteRow(aPos[0],null,true);
						$('#RepID_'+ID).remove();
						$('#LoanID_'+ID).remove();
						$('#Customer_'+ID).remove();
						$('#Account_'+ID).remove();
						$('#Collection_'+ID).remove();
						$('#Principal_'+ID).remove();
						$('#Interest_'+ID).remove();
						$('#Charge_'+ID).remove();
						$('#TotalAmount_'+ID).remove();
						$('#Account_'+ID).remove();
						var AmountID = $('#Amount_'+ID);
						setSerializeAmount(AmountID);
						ListRepID = ""
						$(".RepID").each(function() {
							ListRepID+=$(this).val()+" ";
						});
						$.ajax({
							url: "/Morakot/LoanCollection/Officer/",
							type: "GET",
							data:{Currency 	:$('#Currency').val(),
								Officer 	:$('#AddOfficer').val(),
								StartDate 	:$('#CollectionDateStart').val(),
								EndDate 	:$('#CollectionDateEnd').val(),
								ContractVB 	:$('#ContractVB').val(),
								VBGroup 	:$('#VBGroup').val(),
								ListRepID 	:ListRepID
							},
							success: function(data){
								$('#loadAddOfficer').html(data);
								$('#mktofficer').dataTable({
								"lengthMenu": [[100,200,300,500, -1], [100,200,300,500, "All"]],
								"bSort" : false
								});
							}
						});
					}
				},
				className: "bootbox-sm"
			});	
		}
		
		function insertRowDataTable(data){

			// var data = [
			// 	"1000010101",
			// 	"Rim sovankiry",
			// 	"DD101",
			// 	"KHR",
			// 	"2015-01-11",
			// 	"10,100",
			// 	""
			// 	];

			oTable = $('#mktlist').dataTable();
			var newRow = oTable.fnAddData(data);
			var nTr = oTable.fnSettings().aoData[ newRow[0] ].nTr;
			nTr.className = "DeleteRow"; //add class to tr
			$('td', nTr)[10].setAttribute( 'id', 'row_'+data[11] ); //add ID to td
			$('td', nTr)[10].setAttribute( "onclick", "setDeleteRow('"+data[11]+"','"+data[0]+"')" ); //add Class to td
		}
		function setAddRow(ID,isVisibleMsg, row){
			if (row) {
				var LoanID 			= $(row).find('#LoanID_'+ID).val();
			} else {
				var LoanID 			= $('#LoanID_'+ID).val();
			}

			if (isDuplicateLoanID(ID) == true){
				//already exist
				$.growl.warning({ message: LoanID+" already exists." });

			}else{

				if (row) {
					var Customer 		= $(row).find('#Customer_'+ID).val();
					var Village			= $(row).find('#Village_'+ID).val();
					var Account 		= $(row).find('#Account_'+ID).val();
					var CollectionDate 	= $(row).find('#CollectionDate_'+ID).val();
					var Principal 		= $(row).find('#Principal_'+ID).val();
					var Interest 		= $(row).find('#Interest_'+ID).val();
					var Charge 			= $(row).find('#Charge_'+ID).val();
					var TotalAmount 	= $(row).find('#TotalAmount_'+ID).val();
				} else {
					var Customer 		= $('#Customer_'+ID).val();
					var Village			= $('#Village_'+ID).val();
					var Account 		= $('#Account_'+ID).val();
					var CollectionDate 	= $('#CollectionDate_'+ID).val();
					var Principal 		= $('#Principal_'+ID).val();
					var Interest 		= $('#Interest_'+ID).val();
					var Charge 			= $('#Charge_'+ID).val();
					var TotalAmount 	= $('#TotalAmount_'+ID).val();
				}

				var ActualAmount 	= "<input type='text' data-loan='"+LoanID+"' class='form-control moneyfield' id='Amount_"+ID+"' name='Amount_"+ID+"' value='"+TotalAmount+"' {{disabled}}>";
				var Action 			= 	"<a class='link'><span class='label label-danger'>Delete</span></a>"
				$('<input>').attr({
								type: 	'hidden',
								id: 	'RepID_'+ID,
								class: 	'RepID',
								value:ID
								}).appendTo('#frm');
				$('<input>').attr({
								type: 	'hidden',
								id: 	'LoanID_'+ID,
								name: 	'LoanID_'+ID,
								class: 	'LoanID_'+ID,
								value:LoanID
								}).appendTo('#frm');
				$('<input>').attr({
								type: 	'hidden',
								id: 	'Customer_'+ID,
								name: 	'Customer_'+ID,
								value:Customer
								}).appendTo('#frm');
				$('<input>').attr({
								type: 	'hidden',
								id: 	'Village_'+ID,
								name: 	'Village_'+ID,
								value:Village
								}).appendTo('#frm');
				$('<input>').attr({
								type: 	'hidden',
								id: 	'Account_'+ID,
								name: 	'Account_'+ID,
								value:Account
								}).appendTo('#frm');
				$('<input>').attr({
								type: 	'hidden',
								id: 	'CollectionDate_'+ID,
								name: 	'CollectionDate_'+ID,
								value:CollectionDate
								}).appendTo('#frm');
				$('<input>').attr({
								type: 	'hidden',
								id: 	'Principal_'+ID,
								name: 	'Principal_'+ID,
								value:Principal
								}).appendTo('#frm');
				$('<input>').attr({
								type: 	'hidden',
								id: 	'Interest_'+ID,
								name: 	'Interest_'+ID,
								value:Interest
								}).appendTo('#frm');
				$('<input>').attr({
								type: 	'hidden',
								id: 	'Charge_'+ID,
								name: 	'Charge_'+ID,
								value:Charge
								}).appendTo('#frm');
				$('<input>').attr({
								type: 	'hidden',
								id: 	'TotalAmount_'+ID,
								name: 	'TotalAmount_'+ID,
								value:TotalAmount
								}).appendTo('#frm');

				insertRowDataTable([
						LoanID+'<input class="RepID" type="hidden" value="'+ID+'">',
						Customer,
						Village,
						Account,
						CollectionDate,
						Principal,
						Interest,
						Charge,
						TotalAmount,
						ActualAmount,
						Action,
						ID
					])
				
				
				if (isVisibleMsg=='True'){
					$( ".moneyfield").unbind( "blur" );
					$('.moneyfield').bind('blur', function() {
						var ID = $(this);
						var Currency = $('#Currency').val();
						Value = ID.val();
						MoneyField(ID,Value,Currency);
						setSerializeAmount(ID);
					});
					var AmountID = $('#Amount_'+ID);
					setSerializeAmount(AmountID);
					//Remove row that add
					oTable = $('#mktofficer').dataTable();
					var aPos = oTable.fnGetPosition( $("#row_"+ID)[0] );
					oTable.fnDeleteRow(aPos[0],null,true);
					$.growl.notice({ title: "Loan", message:LoanID+" was add successfully.", size: 'small' });
				}
			}

		}
		function assignValue(){
			//When generate
			if (getParameterByName){ 
				$('#Officer').val(getParameterByName("Officer"));
				$('#Currency').val(getParameterByName("Currency"));
				$('#OfficerAccount').val(getParameterByName("OfficerAccount"));
				$('#OfficerCategory').val(getParameterByName("OfficerCategory"));
				$('#CollectionDateStart').val(getParameterByName("CollectionDateStart"));
				$('#CollectionDateEnd').val(getParameterByName("CollectionDateEnd"));
				$('#ContractVB').val(getParameterByName("ContractVB"));
				$('#VBGroup').val(getParameterByName("VBGroup"));
				
			}
			//When View record
			{%if kwargs%}
				$('#Officer').val("{{kwargs['Officer']}}");
				$('#Currency').val("{{kwargs['Currency']}}");
				$('#OfficerAccount').val("{{kwargs['OfficerAccount']}}");
				$('#OfficerCategory').val("{{kwargs['OfficerCategory']}}");
				$('#CollectionDateStart').val("{{kwargs['CollectionDateStart']}}");
				$('#CollectionDateEnd').val("{{kwargs['CollectionDateEnd']}}");
				$('#ContractVB').val("{{kwargs['ContractVB']}}");
				$('#VBGroup').val("{{kwargs['VBGroup']}}");
				$('#TotalCollection').val("{{kwargs['TotalCollection']}}");
				$('#TotalActualAmount').val("{{kwargs['TotalActualAmount']}}");
				
				
			{%endif%}
		}
		init.push(function () {
			toolbar("/Morakot/LoanCollection");
			assignValue();
			$(function() {
				$('#mktlist').on('blur','.moneyfield', function() {
					var ID = $(this);
					var Currency = $('#Currency').val();
					Value = ID.val();
					MoneyField(ID,Value,Currency);
					setSerializeAmount(ID);
				});
			});
			$(function() {

				$('#AddAll').bind('click', function() {
					fn_fadeIn();
					setTimeout(function () {
						ID=""

						// $(".AddRepID").each(function() {
						// 	ID = $(this).val();
						// 	setAddRow(ID,'False');
						// });

						var rows = $("#mktofficer").dataTable().fnGetNodes();
						$.each(rows,function(index, row) {
							var ID = $(row).find('.AddRepID').val();
							setAddRow(ID,'False', row);
						});
							
						$.growl.notice({ title: "Loan", message:"All loan contract was add successfully.", size: 'small' });
						$( ".moneyfield").unbind( "blur" );
						$('.moneyfield').bind('blur', function() {
							var ID = $(this);
							var Currency = $('#Currency').val();
							Value = ID.val();
							MoneyField(ID,Value,Currency);
							setSerializeAmount(ID);
						});
						var AmountID = $('#Amount_'+ID);
						setSerializeAmount(AmountID);
						//Remove row that add
						var table = $('#mktofficer').DataTable();
						table.clear().draw();
						
					}, 1000); // 1000 ==> 1 second
					fn_fadeOut();
				});
			});
			// $(function() {
			// 	$('.moneyfield').bind('click', function() {
			// 		alert("click moneyfield")
			// 		$( ".moneyfield").unbind( "blur" );
			// 		$(function() {
			// 			$('.moneyfield').bind('blur', function() {
			// 				var ID = $(this);
			// 				var Currency = $('#Currency').val();
			// 				Value = ID.val();
			// 				MoneyField(ID,Value,Currency);
			// 				setSerializeAmount(ID);
			// 			});
			// 		});
			// 	});
			// });
			
		});	
	</script>
	<!-- / Javascript -->
	{%if Form%}

		<!-- Large modal -->
		<div id="modal-sizes-2" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
			<div class="modal-dialog modal-lg" style="width:90%;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">Add More Loan Contract</h4>
					</div>
					<div class="modal-body" >

						<div class="form-group">
							<label for="AddOfficer" class="col-sm-2 control-label">Add Officer</label>
							<div class="col-sm-10">
								<div class="col-sm-6">
									<select id="AddOfficer" class="form-control" name="AddOfficer" {{disabled}} >
										<option value="">--{{ getLanguage('None') }}--</option>
										{%for row in OfficerObj%}
											<option value="{{row.ID}}" >{{row.ID}} - {{row.LastName}} {{row.FirstName}}</option>
										{%endfor%}
									</select>
								</div>
								<div class="col-sm-6 text-right">
									<button type="button" id="AddAll" {{disabled}}  class="btn btn-flat btn-labeled btn-success" 
									id="Auto">
										<span class="btn-label icon fa fa-plus"></span>Add All
									</button>
									
								</div>
								<script type="text/javascript">
									init.push(function () {
										// Single select
										$("#AddOfficer").select2({
											allowClear: true,
											placeholder: "AddOfficer"
										});
										$(function() {
											$('#AddOfficer').bind('change', function() {
												ListRepID = ""
												$(".RepID").each(function() {
													ListRepID+=$(this).val()+" ";
												});
												$.ajax({
													url: "/Morakot/LoanCollection/Officer/",
													type: "GET",
													data:{Currency 	:$('#Currency').val(),
														Officer 	:$('#AddOfficer').val(),
														StartDate 	:$('#CollectionDateStart').val(),
														EndDate 	:$('#CollectionDateEnd').val(),
														ContractVB 	:$('#ContractVB').val(),
														VBGroup 	:$('#VBGroup').val(),
														ListRepID 	:ListRepID
													},
													beforeSend: function() {
														fn_fadeIn();
													},
													success: function(data){
														fn_fadeOut();
														$('#loadAddOfficer').html(data);
														$('#mktofficer').dataTable({
														// "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
														"lengthMenu": [[100,200,300,500, -1], [100,200,300,500, "All"]],
														"bSort" : false
														});
													}
												});

											});
										});
									});
								</script>
							</div>
						</div> <!-- / .form-group -->
						
						<div class="form-group">
							<div id="loadAddOfficer" class="table-responsive">
								<table id="mktofficer"  class="table table-striped table" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>{{ getLanguage('ID') }}</th>
										<th>{{ getLanguage('Customer') }}</th>
										<th>{{ getLanguage('Village') }}</th>
										<th>{{ getLanguage('Account') }}</th>
										<th>{{ getLanguage('Collection') }}</th>
										<th>{{ getLanguage('Principal') }}</th>
										<th>{{ getLanguage('Interest') }}</th>
										<th>{{ getLanguage('Charge') }}</th>
										<th>{{ getLanguage('Total Amount') }}</th>
										{%if not disabled%}
											<th class="ActionFotter">{{ getLanguage('Action') }}</th>
										{%endif%}
									</tr>
								</thead>
								<tbody>
								</tbody>
								<tfoot>
								</tfoot>
							</table>
							</div>
						</div> <!-- / .form-group -->
						
					</div>
				</div> <!-- / .modal-content -->
			</div> <!-- / .modal-dialog -->
		</div> <!-- / .modal -->
		<!-- / Large modal -->


		<div class="col-sm-12">
		<!-- <h3 class="header-3 text-center" style="padding-bottom:40px;">Generate Disbursement Sheet for {{ g_id }} </h3> -->
		{% if FieldRequired %}
		<div class="alert alert-danger" id="alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<ol>
				{% for message in FieldRequired %}
				<li id="lblTableName">
					<a class="error_pointer">
						<label for="TableName">
							{{message[0]}} <span style="color:#d38e99">*:</span>
						</label>

					</a> {{message[1]}}
				</li>		
				{% endfor %}
			</ol>
		</div>
		{% endif %}

		<form action="{{Action}}" id="frmGenerate"  method="GET">
		<!-- <div class="col-sm-1"></div> -->
		<div class="col-sm-6 row" style="padding-top:10px;">
				<div class="row form-group">
					<label class="col-sm-3 control-label">
						<label for="ValueDate">

							{{ getLanguage('Officer') }}
							<span style="color:#d38e99">*</span>
						</label>
					</label>
					<div class="col-sm-9">
						<select id="Officer" class="form-control" name="Officer" {{disabled}} >
							<option value="">--{{ getLanguage('None') }}--</option>
							{%for row in OfficerObj%}
								<option value="{{row.ID}}" >{{row.ID}} - {{row.LastName}} {{row.FirstName}}</option>
							{%endfor%}
						</select>
						<script type="text/javascript">
							init.push(function () {
								// Single select
								$("#Officer").select2({
									allowClear: true,
									placeholder: "Officer"
								});
							});
						</script>
					</div>
				</div>
				<div class="row form-group">
					<label class="col-sm-3 control-label">
						<label for="ValueDate">
							{{ getLanguage('Currency') }}
							<span style="color:#d38e99">*</span>
						</label>
					</label>
					<div class="col-sm-9">
						
						<select id="Currency" class="form-control" name="Currency" {{disabled}}>
							<option  value="">--{{ getLanguage('None') }}--</option>
							{%for row in CurrencyObj%}
								<option value="{{row.ID}}">{{row.ID}}</option>
							{%endfor%}
						</select>
						<script type="text/javascript">
							init.push(function () {
								// Single select
								$("#Currency").select2({
									allowClear: true,
									placeholder: "Officer"
								});
							});
						</script>
					</div>
				</div>
				<div class="row form-group">
					<label class="col-sm-3 control-label">
						<label for="CollectionDate">
							{{ getLanguage('Collection Date') }}
							<span style="color:#d38e99">*</span>
						</label>
					</label>
					<div class="col-sm-9">
						<div class="input-daterange input-group" style="width: 68%;" id="bs-datepicker-range">
							<input type="text" id="CollectionDateStart" {{disabled}} class="input-sm form-control" name="CollectionDateStart" value="{{BankDate}}" placeholder="{{ getLanguage('Start Date') }}">
							<span class="input-group-addon">{{ getLanguage('to') }}</span>
							<input type="text" id="CollectionDateEnd" {{disabled}} class="input-sm form-control" name="CollectionDateEnd" placeholder="{{ getLanguage('End Date') }}">
						</div>

						<!-- <input id="ValueDate" class="form-control" type="text" value="2015-08-03" name="ValueDate" style="width: 214px;"> -->
						<script type="text/javascript">
							$(document).ready(function() {
								init.push(function () {
								
								var options = {
									orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
									format:"yyyy-mm-dd",
									autoclose:true,
								}
								// $('#ValueDate').datepicker(options);
								$('#bs-datepicker-range').datepicker(options);
								
								});
							});
						</script>
					</div>
				</div>				

				<div class="row form-group">
					<label class="col-sm-3 control-label" for="ContractVB">{{ getLanguage('Village Bank') }}</label>
					<div class="col-sm-9">
						<input id="ContractVB" class="form-control" name="ContractVB" {{disabled}} type="text" value="" style="width: 160px;"> 
					</div>
				</div>
				<div class="row form-group">
					<label class="col-sm-3 control-label" for="VBGroup">{{ getLanguage('Group') }}</label>
					<div class="col-sm-9">
						<input id="VBGroup" class="form-control" name="VBGroup" {{disabled}} type="text" value="" style="width: 160px;"> 
					</div>
				</div>
				
		</div>
		<div class="col-sm-6 row " style="padding-top:10px;">
				<div class=" form-group">
					<label class="col-sm-4 control-label" for="OfficerAccount">{{ getLanguage('Officer Account') }}</label>
					<div class="col-sm-8" >
						<input type="text" class="form-control" id="OfficerAccount" value="" name="OfficerAccount" readonly="readonly"> 
					</div>
				</div>
				
				<div class=" form-group">
					<label class="col-sm-4 control-label" for="OfficerCategory">{{ getLanguage('Officer Category') }}</label>
					<div class="col-sm-8" >
						<input id="OfficerCategory" class="form-control" type="text" value="" name="OfficerCategory" readonly="readonly" style="width: 160px;"> 
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="TotalCollection">{{ getLanguage('Total Collection') }}</label>
					<div class="col-sm-8">
						<input id="TotalCollection" name="TotalCollection" class="form-control" type="text" value="{{TotalCollection}}" readonly="readonly" >
					</div>
				</div>

				<div class=" form-group">
					<label class="col-sm-4 control-label" for="TotalActualAmount">{{ getLanguage('Total Actual Amount') }}</label>
					<div class="col-sm-8" >
						<input id="TotalActualAmount" name="TotalActualAmount" class="form-control" type="text" value="{{TotalActualAmount}}" readonly="readonly"> 
						 
					</div>
				</div>
				
				<div class=" form-group">
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-8" >
						<button type="submit" id="Generate" {{disabled}} class="btn btn-flat btn-labeled btn-primary ActionFotter" style="margin-right: -36px;">
					<span class="btn-label icon fa fa-th"></span> {{ getLanguage('Generate Collection') }}
				</button>
					</div>
				</div>

		</div>
		<!-- <div class="col-sm-1"></div> -->
		</form>
		<div class="clearfix"></div>

		<div class="row">
			<form action="{{Action}}" id="frm"  method="POST">
			<div class="col-sm-12" style="padding:0px;">
				<!-- Javascript -->
				<script>
					init.push(function () {
						$('ul.bs-tabdrop-example').tabdrop();
					});
				</script>
				<!-- / Javascript -->
				<!-- Tabs -->
				<ul class="nav nav-tabs bs-tabdrop-example">
					<li class="active"><a href="#bs-tabdrop-tab1" data-toggle="tab">1-{{ getLanguage('Detail') }}</a></li>
					<li><a href="#bs-tabdrop-tab2" data-toggle="tab">{{ getLanguage('Audit') }}</a></li>
				</ul>
				<div class="tab-content tab-content-bordered" >

					<div class="tab-pane active" id="bs-tabdrop-tab1" style="padding-top:10px;">
						<table id="mktlist"  class="table table-striped table" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>{{ getLanguage('ID') }}</th>
									<th>{{ getLanguage('Customer') }}</th>
									<th>{{ getLanguage('Village') }}</th>
									<th>{{ getLanguage('Account') }}</th>
									<th>{{ getLanguage('Collection') }}</th>
									<th>{{ getLanguage('Principal') }}</th>
									<th>{{ getLanguage('Interest') }}</th>
									<th>{{ getLanguage('Charge') }}</th>
									<th>{{ getLanguage('Total Amount') }}</th>
									<th>{{ getLanguage('Actual Amount') }}</th>
									{%if VisibleReference %}
									<th>{{ getLanguage('Reference') }}</th>
									{%endif%}
									{%if not disabled%}
									<th class="ActionFotter">{{ getLanguage('Action') }}</th>
									{%endif%}
								</tr>
							</thead>
							<tbody>
								{%if QueryObj and kwargs == [] %}
									{%for row in QueryObj%}
										{%set TotalAmount = row.Principal+row.Interest+row.Charge %}
										{%set TotalAmount = toMoney(float(TotalAmount),getCurrencyObj(row.Currency))%}
										<tr>
											<td>
												{{row.LoanID}}
												<input type="hidden" class="RepID" value="{{row.ID}}">
												<input type="hidden" name="LoanID_{{row.ID}}" id="LoanID_{{row.ID}}" class="LoanID_{{row.ID}}" value="{{row.LoanID}}"> 
											</td>
											<td>
												<input type="hidden" name="Customer_{{row.ID}}" id="Customer_{{row.ID}}" value="{{row.ContractCustomerID}}-{{row.LastNameEn}} {{row.FirstNameEn}}">
												{{row.ContractCustomerID}}-{{row.LastNameEn}} {{row.FirstNameEn}}
											</td>
											<td>
												<input type="hidden" name="Village_{{row.ID}}" id="Village_{{row.ID}}" value="{{row.Village}}">
												{{row.Village}}
											</td>
											<td>
												<input type="hidden" name="Account_{{row.ID}}" id="Account_{{row.ID}}" value="{{row.Account}}">
												{{row.Account}}
											</td>
											<td>
												<input type="hidden" name="CollectionDate_{{row.ID}}" id="CollectionDate_{{row.ID}}" value="{{row.CollectionDate}}">
												{{row.CollectionDate}}
											</td>
											<td>
												<input type="hidden" name="Principal_{{row.ID}}" id="Principal_{{row.ID}}" value="{{toMoney(float(row.Principal),getCurrencyObj(row.Currency))}}">
												{{toMoney(float(row.Principal),getCurrencyObj(row.Currency))}}
											</td>
											<td>
												<input type="hidden" name="Interest_{{row.ID}}" id="Interest_{{row.ID}}" value="{{toMoney(float(row.Interest),getCurrencyObj(row.Currency))}}">
												{{toMoney(float(row.Interest),getCurrencyObj(row.Currency))}}
											</td>
											
											<td>
												<input type="hidden" name="Charge_{{row.ID}}" id="Charge_{{row.ID}}" value="{{toMoney(float(row.Charge),getCurrencyObj(row.Currency))}}">
												{{toMoney(float(row.Charge),getCurrencyObj(row.Currency))}}
											</td>
											<td>
												<input type="hidden" name="TotalAmount_{{row.ID}}" id="TotalAmount_{{row.ID}}" value="{{TotalAmount}}">
												{{TotalAmount}}
											</td>
											<td>
												<input type="text" data-loan="{{row.LoanID}}" class="form-control moneyfield" id="Amount_{{row.ID}}" name="Amount_{{row.ID}}" value="{{TotalAmount}}" {{disabled}}>
											</td>

											{%if not disabled%}
											<td class="ActionFotter"
											 onclick="setDeleteRow('{{row['ID']}}','{{row.LoanID}}')"
											 id="row_{{row['ID']}}">
												<a class="link"> 
													<span class="label label-danger">{{ getLanguage('Delete') }}</span> 
												</a>
											</td>
											{%endif%}
										</tr>
									{%endfor%}
								{%elif kwargs%}
									{%for row in ListRepID%}
										<tr>
											<td>
												{{kwargs['LoanID_'+row]}}
												<input type="hidden" class="RepID" value="{{row}}">
												<input type="hidden" name="LoanID_{{row}}" id="LoanID_{{row}}" class="LoanID_{{row}}" value="{{kwargs['LoanID_'+row]}}"> 
											</td>
											<td>
												<input type="hidden" name="Customer_{{row}}" id="Customer_{{row}}" value="{{kwargs['Customer_'+row]}}">
												{{kwargs['Customer_'+row]}}
											</td>
											<td>
												<input type="hidden" name="Village_{{row}}" id="Village_{{row}}" value="{{kwargs['Village_'+row]}}">
												{{kwargs['Village_'+row]}}
											</td>
											<td>
												<input type="hidden" name="Account_{{row}}" id="Account_{{row}}" value="{{kwargs['Account_'+row]}}">
												{{kwargs['Account_'+row]}}
											</td>
											<td>
												<input type="hidden" name="CollectionDate_{{row}}" id="CollectionDate_{{row}}" value="{{kwargs['CollectionDate_'+row]}}">
												{{kwargs['CollectionDate_'+row]}}
											</td>
											<td>
												<input type="hidden" name="Principal_{{row}}" id="Principal_{{row}}" value="{{kwargs['Principal_'+row]}}">
												{{kwargs['Principal_'+row]}}
											</td>
											<td>
												<input type="hidden" name="Interest_{{row}}" id="Interest_{{row}}" value="{{kwargs['Interest_'+row]}}">
												{{kwargs['Interest_'+row]}}
											</td>
											<td>
												<input type="hidden" name="Charge_{{row}}" id="Charge_{{row}}" value="{{kwargs['Charge_'+row]}}">
												{{kwargs['Charge_'+row]}}
											</td>
											<td>
												<input type="hidden" name="TotalAmount_{{row}}" id="TotalAmount_{{row}}" value="{{kwargs['TotalAmount_'+row]}}">
												{{kwargs['TotalAmount_'+row]}}
											</td>
											<td>
												<input type="text" data-loan="{{row}}" class="form-control moneyfield" id="Amount_{{row}}" name="Amount_{{row}}" value="{{kwargs['Amount_'+row]}}" {{disabled}}>
											</td>
										{%if VisibleReference %}
											<td> <a href="javascript:void(0)" onClick="ClickView('Fund Deposit','FundDeposit','{{kwargs['Reference_'+row]}}')">{{kwargs['Reference_'+row]}}</a> </td>
										{%endif%}
										 {%if not disabled%}
											<td class="ActionFotter"
											 onclick="setDeleteRow('{{row}}','{{kwargs['LoanID_'+row]}}')"
											 id="row_{{row}}">
												<a class="link"> 
													<span class="label label-danger">{{ getLanguage('Delete') }}</span> 
												</a>
											</td>
											{%endif%}
										</tr>
									{%endfor%}
								{%endif%}
							</tbody>
							<tfoot>
								<tr>
									<th><b>{{ getLanguage('Total') }}</b></th>
									<th><b><label id="CountLoanID">
									{%if QueryObj and kwargs == [] %}
										{{QueryObj.count()}}
									{%endif%}
									</label></b></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th><b><label id="SumLoanID">
										{%if kwargs%}
											{{kwargs['TotalActualAmount']}}
										{%else%}
											{{TotalActualAmount}}
										{%endif%}
									</label></b>
									</th>
									{%if VisibleReference %}
										<th></th>
									{%endif%}
									{%if not disabled%}
									<th class="ActionFotter"></th>
									{%endif%}
								</tr>
							</tfoot>
						</table>
						
					</div> <!-- End tab 1-DETAIL -->

					<div class="tab-pane" id="bs-tabdrop-tab2">

						{# call audit tab form #}
						{%set AuditObj = AuditObj %}
						<div  style="padding-top:10px;">
							<div class="form-group">
								<label for="Status" class="col-sm-2 control-label"><label for="Status">{{ getLanguage('Status') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Status" name="Status" readonly type="text" value="{{AuditObj.Status}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Curr" class="col-sm-2 control-label"><label for="Curr">{{ getLanguage('Curr.No') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Curr" name="Curr" readonly type="text" value="{{AuditObj.Curr}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Inputter" class="col-sm-2 control-label"><label for="Inputter">{{ getLanguage('Inputter') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Inputter" name="Inputter" readonly type="text" value="{{AuditObj.Inputter}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Createdon" class="col-sm-2 control-label"><label for="Createdon">{{ getLanguage('Input DateTime') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Createdon" name="Createdon" readonly type="text" value="{{AuditObj.Createdon}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Authorizer" class="col-sm-2 control-label"><label for="Authorizer">{{ getLanguage('Authorizer') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Authorizer" name="Authorizer" readonly type="text" value="{{AuditObj.Authorizer}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Authorizeon" class="col-sm-2 control-label"><label for="Authorizeon">{{ getLanguage('Authorize DateTime') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Authorizeon" name="Authorizeon" readonly type="text" value="{{AuditObj.Authorizeon}}">
								</div>
							</div>
							<div class="form-group">
								<label for="Branch" class="col-sm-2 control-label"><label for="Branch">{{ getLanguage('Branch') }}</label></label>
								<div class="col-sm-10">
								<input class="form-control" id="Branch" name="Branch" readonly type="text" value="{{AuditObj.Branch}}">
								</div>
							</div>
						</div>
					</div> <!-- End tab 2-Audit -->

				</div> <!-- end tab-content-bordered -->
			</div>
			</form>
		</div>
	{%endif%}
{%endif%}

{% endblock %}

{% block js %}
{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">
	$(document).ready(function() {
		
		var oTable = $('#mktlist').dataTable({
			// "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"lengthMenu": [[100,200,300,500, -1], [100,200,300,500, "All"]],
			"bSort" : false,
			// "bLengthChange" :false,
		});

		// $('.table-header').hide()
		// $('#users-url').addClass('active');
		$('#ModalBox').hide();
  		{% from "print.html" import exportDataTable %}
        {{exportDataTable('#mktlist',"Disbursement Sheet")}}
		// Hot Field
		$(function() {
			$('#Currency').bind('change', function() {
			$.getJSON('/Morakot/GenerateDisbursementAccount', {
			Currency:$('#Currency').val(),Officer:$('#Officer').val()
			}, function(data) {
			$('#OfficerAccount').val(data.OfficerAccount);$('#OfficerCategory').val(data.OfficerCategory);$('#Transaction').val(data.Transaction);
			/// fix for loan application only
		
			});
			return false;
			});
		});

		$(function() {
			$('#Officer').bind('change', function() {
			$.getJSON('/Morakot/GenerateDisbursementAccount', {
			Currency:$('#Currency').val(),Officer:$('#Officer').val()
			}, function(data) {
			$('#OfficerAccount').val(data.OfficerAccount);$('#OfficerCategory').val(data.OfficerCategory);$('#Transaction').val(data.Transaction);
			/// fix for loan application only
			
			});
			return false;
			});
		}); 
	});

</script>
{% endblock %}