<table id="mktofficer"  class="table table-striped table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>{{ getLanguage('ID') }}</th>
			<th>{{ getLanguage('Customer') }}</th>
			<th>{{ getLanguage('Village') }}</th>
			<th>{{ getLanguage('Account') }}</th>
			<th>{{ getLanguage('Collection') }}</th>
			<th>{{ getLanguage('Principal') }}</th>
			<th>{{ getLanguage('Interest') }}</th>
			<th>{{ getLanguage('Charge') }}</th>
			<th>{{ getLanguage('Total Amount') }}</th>
			{%if not disabled%}
				<th class="ActionFotter">{{ getLanguage('Action') }}</th>
			{%endif%}
		</tr>
	</thead>
	<tbody>
		
		{%if DicResult%}
			{%for row in DicResult.ResultObj%}
				<tr>
					<td>{{row.LoanID}}
						<input type="hidden" class="AddRepID" id="AddRepID_{{row.ID}}" value="{{row.ID}}">
						<input type="hidden" name="LoanID_{{row.ID}}" class="LoanID_{{row.ID}}" id="LoanID_{{row.ID}}" value="{{row.LoanID}}">
					</td>
					<td>{{row.CustomerName}}
						<input type="hidden"  id="Customer_{{row.ID}}" value="{{row.CustomerName}}">
					</td>
					<td>{{row.Village}}
						<input type="hidden"  id="Village_{{row.ID}}" value="{{row.Village}}">
					</td>
					<td>{{row.Account}}
						<input type="hidden"  id="Account_{{row.ID}}" value="{{row.Account}}">
					</td>
					<td>{{row.CollectionDate}}
						<input type="hidden" id="CollectionDate_{{row.ID}}" value="{{row.CollectionDate}}">
					</td>
					<td>{{row.Principal}}
						<input type="hidden"  id="Principal_{{row.ID}}" value="{{row.Principal}}">
					</td>
					<td>{{row.Interest}}
						<input type="hidden" id="Interest_{{row.ID}}" value="{{row.Interest}}">
					</td>
					<td>{{row.Charge}}
						<input type="hidden"  id="Charge_{{row.ID}}" value="{{row.Charge}}">
					</td>
					<td>{{row.TotalAmount}}
						<input type="hidden"  id="TotalAmount_{{row.ID}}" value="{{row.TotalAmount}}">
					</td>
					<td class="ActionFotter"
					 onclick="setAddRow('{{row.ID}}','True')"
					 id="row_{{row.ID}}">
						<a class="link"> 
							<span class="label label-success">{{ getLanguage('Add') }}</span> 
						</a>
					</td>
				</tr>
			{%endfor%}
		{%endif%}
	</tbody>
	<!-- <tfoot>
		<tr>
			<th><b></b></th>
			<th><b></b></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th><b></b>
			</th>
			{%if not disabled%}
				<th class="ActionFotter"></th>
			{%endif%}
		</tr>
	</tfoot> -->
</table>