<!DOCTYPE>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<ul class="list-group">
		{% for row in List %}
			<li class="list-group-item no-border-hr padding-xs-hr">
				{{row.get("Course")}} <span class="label pull-right"> {{ row.get("Number") }}</span>
			</li>
		{% endfor %}
	</ul>
</body>
</html>