{% extends "layout.html" %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}



<!--  message  -->
<div class="clearfix"></div>
{% include'msg_error.html' %}

{%if DashboardObj %}
	<div class="col-sm-12" style="padding-top:5px;">
		{%for row in DashboardObj%}
			<div class="row">
				{%if row.Size1%}
					<div class="col-sm-{{int(row.Size1) * 4}}">

						{%for item in WidgetObj%}
							{%if row.Widget1 == item[0]%}

								{% import item[3] as Obj %}

								{## Call Macro jinja ##}
								{## Example : {{Obj.UserOnline( getWidgetUserOnline() )}}##}
								{{Obj[item[4]](item[2]())}}

							{%endif%}
						{%endfor%}
					</div>
				{%endif%}

				{%if row.Size2%}
					<div class="col-sm-{{int(row.Size2) * 4}}">

						{%for item in WidgetObj%}
							{%if row.Widget2 == item[0]%}

								{% import item[3] as Obj %}
								{{Obj[item[4]](item[2]())}}

							{%endif%}
						{%endfor%}

					</div>
				{%endif%}
				{%if row.Size3%}
					<div class="col-sm-{{int(row.Size3) * 4}}">
						{%for item in WidgetObj%}
							{%if row.Widget3 == item[0]%}

								{% import item[3] as Obj %}
								{{Obj[item[4]](item[2]())}}

							{%endif%}
						{%endfor%}
					</div>
				{%endif%}

			</div>
			<hr class="no-grid-gutter-h grid-gutter-margin-b no-margin-t">
		{%endfor%}
	</div>
{%else%}
<h5 class="col-sm-12 text-center" style="padding-top:200px;">
No dashboard have been configured.
</h5>
{%endif%}

{% endblock %}

{% block js %}

<script type="text/javascript">
	function popupwindow(url, title, w, h) {
	var randomnumber = Math.floor((Math.random()*100)+1); 
	var left = (screen.width/2)-(w/2);
	var top = (screen.height/2)-(h/2);
	return window.open(url, 'title'+randomnumber, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
	} 
</script>
{% endblock %}