{%set CheckRecord = []%}
{%for row in QueryObj%}
	
	{%if row[3] > 0%}
		{%if CheckRecord.append(row[3]) %} {% endif %}
		
		<a id="Unauthorize_{{row[1]}}"class="list-group-item no-border-hr no-border-b padding-xs-hr" href="#">
		<!-- <i class="fa fa-envelope-o list-group-icon"></i> -->
		{{row[0]}}
		<span class="badge badge-warning">{{row[3]}}</span>
		</a>
		<script type="text/javascript">
			
			$("#Unauthorize_{{row[1]}}").click(function(){
				window.parent.addTab("{{row[0]}}", "/Morakot/Unauthorize/{{row[1]}}");
			});
		
		</script>
	{%endif%}

{%endfor%}
{%if not CheckRecord %}
	No record found.
{%endif%}