{% extends "layout.html" %}

{% block css %}
<style type="text/css">

	.se-pre-con1 {

		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
		opacity: 0.4;
		display: none;
	}
	.modal-dialog{

		width: 300px !important;

	}
	</style>
{% endblock %}

{% block content %}

<!--  message  -->
<div class="clearfix"></div>
<div class="col-sm-12">
	{% for message in get_flashed_messages() %}
		{% if contain(message, "Error") %}
			<div class="clearfix">&nbsp;</div>
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% else %}
			<div class="clearfix">&nbsp;</div>
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endif %}
	{% endfor %}
</div>
<div class="col-sm-12" style="padding-top:5px;">
	<div class="panel panel-info">
		<div class="panel-heading" style="height:50px;">
			<span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i> 
				Unauthorized Records - {{Unauthorize[0]}} :  <span class="badge badge-info"> {{QueryObj.count()}}</span>
			</span>
			<div class="panel-heading-controls" >
				<div class="panel-heading-icon"style="padding-top:0px;" >
					<a class="btn btn-flat btn-labeled btn-success" id="SpinOnClick">
					<span class="icon fa fa-refresh" id="iConSpin"></span> &nbsp;Update</a>
				</div>
			</div>

		</div>
		<div class="panel-body" >
			{%if QueryObj.count() != 0 %}
			
				<table  class="table table-hover table-striped panel" id="mktlist">
					<thead>
						<tr>
							<th width="250px">ID </th>
							<th> Status </th>
							<th>Inputter </th>
							<th>Input DateTime</th>
							<th> Branch </th>
							<th> Description </th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{%for row in QueryObj%}
						<tr>
						
							<td class="{{row.ID}} link" onClick="ClickView('{{Unauthorize[0]}}','{{Unauthorize[1]}}','{{row.ID}}')" >{{row.ID}} </td>

							<td class="link" onClick="ClickView('{{Unauthorize[0]}}','{{Unauthorize[1]}}','{{row.ID}}')">{{row.Status}} </td>

							<td class="link" onClick="ClickView('{{Unauthorize[0]}}','{{Unauthorize[1]}}','{{row.ID}}')">{{row.Inputter}} </td>

							<td class="link" onClick="ClickView('{{Unauthorize[0]}}','{{Unauthorize[1]}}','{{row.ID}}')">{{row.Createdon}} </td>

							<td class="link" onClick="ClickView('{{Unauthorize[0]}}','{{Unauthorize[1]}}','{{row.ID}}')">{{row.Branch}} </td>
							<td class="link" onClick="ClickView('{{Unauthorize[0]}}','{{Unauthorize[1]}}','{{row.ID}}')">{{row.Description}}</td>
							<td>
							<a class="link" title="Edit" onClick="ClickEdit('{{Unauthorize[0]}}','{{Unauthorize[1]}}','{{row.ID}}')">
								<span class="label label-warning">Edit</span> 
							</a>

							</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
			{%endif%}
		</div> <!-- panel-body -->
	</div> <!-- panel panel-info -->
</div> <!-- col-sm-12 -->
	
{% endblock %}

{% block js %}


<script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

<script type="text/javascript">
	$(document).ready(function() {

		$('#mktlist').dataTable({
		"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
		"bSort" : false
		});
		$('#mktlist_filter').hide()
		$('.table-header').hide()
		$("#SpinOnClick").click(function(){
			$("#iConSpin").addClass("fa-spin");
			window.location.reload(true);
			
		});
	});
</script>

{% endblock %}