{%set toMoney=Obj['toMoney']%}
{%set CurrencyObj=Obj['CurrencyObj']%}
{%set float=Obj['float']%}
<!-- 10. Earnings graph example-->
	<div class="stat-panel">
		<!-- Bordered, without right border, right aligned text -->
		<div class="stat-cell col-xs-5 bordered no-border text-right">
			<!-- Stat panel bg icon -->
			<i class="fa fa-user bg-icon bg-icon-left"></i>
			<!-- Extra small text -->
			<span class="text-xs"># OF CUSTOMER</span><br>
			<!-- Extra large text -->
			<span class="text-xlg"><small><small></small></small>
				<strong>{{ Obj['NumberOfCustomer'] }}</strong>
			</span>
		</div> <!-- /.stat-cell -->
		<div class="stat-cell col-xs-5 bordered no-border  text-right">
			<!-- Stat panel bg icon -->
			<i class="fa fa-file-text bg-icon bg-icon-left"></i>
			<!-- Extra small text -->
			<span class="text-xs"># LOAN CONTRACT</span><br>
			<!-- Extra large text -->
			<span class="text-xlg"><small><small></small></small>
				<strong>{{ Obj['NumberOfLoan'] }}</strong>
			</span>
		</div> <!-- /.stat-cell -->
	</div> <!-- /.stat-panel -->
<!-- /10. $EXAMPLE_EARNINGS_GRAPH -->

<!--Retweets graph example-->
	<div class="stat-panel">
		<div class="stat-row">
			<!-- Info background, small padding -->
			<div class="stat-cell  padding-sm">
				<!-- Extra small text -->
				<div class="text-xs text-center">TOTAL PORTFOLIO</div>
			</div>
		</div> <!-- /.stat-row -->
		<div class="stat-row">
			<!-- Bordered, without top border, horizontally centered text -->
			<div class="stat-counters bordered no-border text-center">
				<!-- Small padding, without horizontal padding -->
				{%if Obj['TotalPortfolio']%}
					{%if Obj['TotalPortfolio']|length==1%}
					{%for row in Obj['TotalPortfolio']%}
						<div class="stat-cell col-xs-4 padding-sm no-padding-hr">
							<span class="text-xs"><b>{{row['Currency']}}</b></span><br>
							<span class="text-xlg"><small><small></small></small>
								<strong>
									{{toMoney(float(row['Amount']),CurrencyObj(row['Currency']))}}
								</strong>
							</span>
						</div>
					{%endfor%}
					{%else%}
						{%for row in Obj['TotalPortfolio']%}
							<div class="stat-cell col-xs-4 padding-sm no-padding-hr">
								<span class="text-xs"><b>{{row['Currency']}}</b></span><br>
								<span class="text-bg">
									<strong>
									{{toMoney(float(row['Amount']),CurrencyObj(row['Currency']))}}
									</strong>
								</span>
							</div>
						{%endfor%}
					{%endif%}
				{%else%}
					<div class="stat-cell col-xs-4 padding-sm no-padding-hr">
						<span class="text-xs"><b></b></span><br>
						<span class="text-xlg"><small><small></small></small>
							<strong>
								0
							</strong>
						</span>
					</div>
				{%endif%}
				
			</div> <!-- /.stat-counters -->
		</div> <!-- /.stat-row -->
	</div> <!-- /.stat-panel -->
<!-- /9. $EXAMPLE_RETWEETS_GRAPH -->