<table class="table">
	<thead>
	<tr>
		<th> 
			<span class="text-xs"># ACCOUNT</span><br> 
		</th>
		<th>
			<span class="text-xs">CURRENCY</span><br> 
		</th>
		<th class="text-right">
			<span class="text-xs">BALANCE</span><br>
		</th>
	</tr>
	</thead>
	<tbody>
		{%set toMoney=Obj['toMoney']%}
		{%set CurrencyObj=Obj['CurrencyObj']%}
		{%set float=Obj['float']%}

		{%for row in Obj['AccObj']%}
			<tr>
				<td> 
					<a class="link" onClick="ClickView('Account Statement','AccountStatement','{{row.ID}}')">
					{{row.ID}}
					</a>
				</td>
				<td>
					{{row.Currency}}
				</td>
				<td class="text-right">
					{{toMoney(float(row.Balance),CurrencyObj(row.Currency))}} 
				</td>
			</tr>
		{%endfor%}
	</tbody>
</table>
