
{## Widget Unauthorize ##}
{% macro Unauthorize(ListModule) %}
	<script>
	init.push(function () {
		$('#Refresh').on("click",function(e){
			$.ajax({
				url: "/Morakot/UnauthorizeRefresh",
				type: "GET",
				beforeSend: function() {
				
				$('#Refresh').addClass('fa-spin');
				
				},
				success: function(data){
					$('#Unauthorize .panel-body > div').html(data);
					$('#Refresh').removeClass('fa-spin');
					$('#Unauthorize .panel-body > div').slimScroll({ height: 250, alwaysVisible: true, color: '#888',allowPageScroll: true });
				}
			});
		});
		$('#Unauthorize .panel-body > div').slimScroll({ height: 250, alwaysVisible: true, color: '#888',allowPageScroll: true });
	})
	</script>
	<div class="panel panel-info" id="Unauthorize">
		<div class="panel-heading">
			<span class="panel-title"> 
				Unauthorized Records
			</span>
			<div class="panel-heading-controls" >
				<div class="panel-heading-icon"style="padding-top:0px;" >
					<a title='Refresh' class="link" ><i id='Refresh' class='fa fa-refresh'></i></a>
				</div>
			</div>

		</div>
		<div class="panel-body" style="min-height: 250px; ">
			<div>
				{%set CheckRecord = []%}
				{%for row in ListModule%}
					
					{%if row[3] > 0%}
						{%if CheckRecord.append(row[3]) %} {% endif %}

						<a id="{{row[1]}}"class="list-group-item no-border-hr no-border-b padding-xs-hr" href="#">
						<!-- <i class="fa fa-envelope-o list-group-icon"></i> -->
						{{row[0]}}
						<span class="badge badge-warning">{{row[3]}}</span>
						</a>
						<script type="text/javascript">
							init.push(function () {
								$("#{{row[1]}}").click(function(){

									window.parent.addTab("{{row[0]}}", "/Morakot/Unauthorize/{{row[1]}}");
									window.location.reload();

								});
							});
						</script>
					{%endif%}
				
				{%endfor%}
				{%if not CheckRecord %}
					No record found.
				{%endif%}
			
			</div>
		</div> <!-- panel-body -->
	</div> <!-- panel panel-info -->

{% endmacro %}

{## Widget ChartLoan ##}
{% macro ChartLoan(QueryObj)%}

	<script>

		init.push(function () {
			var count= "{{QueryObj|length}}"
			if( count == "0"){
				$('#hero-donut').text("No record found.")
			}
			Morris.Donut({
				element: 'hero-donut',
				data:[		
				{%for row in QueryObj%}
					{ label: '{{row[0]}}', value: {{row[1]}} },
				{%endfor%}		
				],
				colors: PixelAdmin.settings.consts.COLORS,
				resize: true,
				labelColor: '#888',
				formatter: function (y) { return y + "%" }
			});
		});
	</script>
	
		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-cubes"></i>Loan Type</span>
			</div>
			<div class="panel-body" >
				<div class="graph-container">
					<div id="hero-donut" class="graph" style="max-height: 250px; min-height: 250px;">
						
					</div>
				</div>
			</div>
		</div>

{%for row in LoanObj%}
	{{row}}
{%endfor%}
{%endmacro%}

{## Widget CashPosition ##}
{% macro CashPosition(Obj) %}
<script>
	init.push(function () {
		$('#RefreshCashPosition').on("click",function(e){
			$.ajax({
				url: "/Morakot/CashPositionRefresh",
				type: "GET",
				beforeSend: function() {
				
				$('#RefreshCashPosition').addClass('fa-spin');
				
				},
				success: function(data){
					$('#CashPosition .panel-body > div').html(data);
					$('#RefreshCashPosition').removeClass('fa-spin');
					$('#CashPosition .panel-body > div').slimScroll({ height: 250, alwaysVisible: true, color: '#888',allowPageScroll: true });
				}
			});
		});
		$('#CashPosition .panel-body > div').slimScroll({ height: 250, alwaysVisible: true, color: '#888',allowPageScroll: true });
		
	})
</script>
	<div class="panel panel-info" id="CashPosition">
		<div class="panel-heading">
			<span class="panel-title"> 
				Cash Position
			</span>
			<div class="panel-heading-controls" >
				<div class="panel-heading-icon"style="padding-top:0px;" >
					<a title='Refresh' class="link" ><i id='RefreshCashPosition' class='fa fa-refresh'></i></a>
				</div>
			</div>

		</div>
		<div class="panel-body" style="min-height: 290px; ">
			<div>
				<table class="table">
					<thead>
					<tr>
						<th> 
							<span class="text-xs"># ACCOUNT</span><br> 
						</th>
						<th>
							<span class="text-xs">CURRENCY</span><br> 
						</th>
						<th class="text-right">
							<span class="text-xs">BALANCE</span><br>
						</th>
					</tr>
					</thead>
					<tbody>
						{%set toMoney=Obj['toMoney']%}
						{%set CurrencyObj=Obj['CurrencyObj']%}
						{%set float=Obj['float']%}
						{%if Obj['AccObj']%}
							{%if Obj['AccObj'].count()%}
								{%for row in Obj['AccObj']%}
									<tr>
										<td> 
											<a class="link" onClick="ClickView('Account Statement','AccountStatement','{{row.ID}}')">
											{{row.ID}}
											</a>
										</td>
										<td>
											{{row.Currency}}
										</td>
										<td class="text-right">
											{{toMoney(float(row.Balance),CurrencyObj(row.Currency))}} 
										</td>
									</tr>
								{%endfor%}
							{%else%}
							<tr>
								<td>
								No record found.
								</td>
							</tr>
							{%endif%}
						{%else%}
							<tr>
								<td>
								No record found.
								</td>
							</tr>
						{%endif%}
					</tbody>
				</table>
			</div>
		</div>
	</div> <!-- /.stat-panel -->
{% endmacro %}

{## Widget Branch Productivity ##}
{% macro BranchProductivity(Obj) %}
<script>
	init.push(function () {
		$('#RefreshBranchProductivity').on("click",function(e){
			$.ajax({
				url: "/Morakot/BranchProductivityRefresh",
				type: "GET",
				beforeSend: function() {
				
				$('#RefreshBranchProductivity').addClass('fa-spin');
				
				},
				success: function(data){
					$('#BranchProductivity .panel-body > div').html(data);
					$('#RefreshBranchProductivity').removeClass('fa-spin');
				}
			});
		});
		
	})
</script>
<div class="panel panel-info" id="BranchProductivity">
		<div class="panel-heading">
			<span class="panel-title"> 
				Branch Productivity
			</span>
			<div class="panel-heading-controls" >
				<div class="panel-heading-icon"style="padding-top:0px;" >
					<a title='Refresh' class="link" ><i id='RefreshBranchProductivity' class='fa fa-refresh'></i></a>
				</div>
			</div>

		</div>
		<div class="panel-body" style="min-height: 290px;max-height: 290px;">
			<div>
			{%set toMoney=Obj['toMoney']%}
			{%set CurrencyObj=Obj['CurrencyObj']%}
			{%set float=Obj['float']%}
			<!-- 10. Earnings graph example-->
				<div class="stat-panel">
					<!-- Bordered, without right border, right aligned text -->
					<div class="stat-cell col-xs-5 bordered no-border text-right">
						<!-- Stat panel bg icon -->
						<i class="fa fa-user bg-icon bg-icon-left"></i>
						<!-- Extra small text -->
						<span class="text-xs"># OF CUSTOMER</span><br>
						<!-- Extra large text -->
						<span class="text-xlg"><small><small></small></small>
							<strong>{{ Obj['NumberOfCustomer'] }}</strong>
						</span>
					</div> <!-- /.stat-cell -->
					<div class="stat-cell col-xs-5 bordered no-border  text-right">
						<!-- Stat panel bg icon -->
						<i class="fa fa-file-text bg-icon bg-icon-left"></i>
						<!-- Extra small text -->
						<span class="text-xs"># LOAN CONTRACT</span><br>
						<!-- Extra large text -->
						<span class="text-xlg"><small><small></small></small>
							<strong>{{ Obj['NumberOfLoan'] }}</strong>
						</span>
					</div> <!-- /.stat-cell -->
				</div> <!-- /.stat-panel -->
			<!-- /10. $EXAMPLE_EARNINGS_GRAPH -->

			<!--Retweets graph example-->
				<div class="stat-panel">
					<div class="stat-row">
						<!-- Info background, small padding -->
						<div class="stat-cell  padding-sm">
							<!-- Extra small text -->
							<div class="text-xs text-center">TOTAL PORTFOLIO</div>
						</div>
					</div> <!-- /.stat-row -->
					<div class="stat-row">
						<!-- Bordered, without top border, horizontally centered text -->
						<div class="stat-counters bordered no-border text-center">
							<!-- Small padding, without horizontal padding -->
							{%if Obj['TotalPortfolio']%}
								{%if Obj['TotalPortfolio']|length==1%}
								{%for row in Obj['TotalPortfolio']%}
									<div class="stat-cell col-xs-4 padding-sm no-padding-hr">
										<span class="text-xs"><b>{{row['Currency']}}</b></span><br>
										<span class="text-xlg"><small><small></small></small>
											<strong>
												{{toMoney(float(row['Amount']),CurrencyObj(row['Currency']))}}
											</strong>
										</span>
									</div>
								{%endfor%}
								{%else%}
									{%for row in Obj['TotalPortfolio']%}
										<div class="stat-cell col-xs-4 padding-sm no-padding-hr">
											<span class="text-xs"><b>{{row['Currency']}}</b></span><br>
											<span class="text-bg">
												<strong>
												{{toMoney(float(row['Amount']),CurrencyObj(row['Currency']))}}
												</strong>
											</span>
										</div>
									{%endfor%}
								{%endif%}
							{%else%}
								<div class="stat-cell col-xs-4 padding-sm no-padding-hr">
									<span class="text-xs"><b></b></span><br>
									<span class="text-xlg"><small><small></small></small>
										<strong>
											0
										</strong>
									</span>
								</div>
							{%endif%}
							
						</div> <!-- /.stat-counters -->
					</div> <!-- /.stat-row -->
				</div> <!-- /.stat-panel -->
			<!-- /9. $EXAMPLE_RETWEETS_GRAPH -->
			</div>
		</div>
</div>

{% endmacro %}



{% macro CourseByStudent(List) %}
	
	<div class="stat-panel">
		<div class="stat-row">
			<div class="stat-cell col-sm-4 bordered padding-sm-hr valign-top">
				<h4 class="padding-sm no-padding-t padding-xs-hr">
					<i class="fa fa-users text-primary"></i>Course By Student <i class="fa fa-refresh text-primary pull-right" id="CourseRefresh"></i>
				</h4>
				<div id="refresh-content">
					<ul class="list-group">
						{% for row in List %}
							<li class="list-group-item no-border-hr padding-xs-hr">
								{{row.get("Course")}} <span class="label pull-right"> {{row.get("Number")}}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endmacro %}

