{% extends "layout.html" %}

{% block css %}
    <style type="text/css">
        h1 {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: #888 !important;
            padding: 0px 18px 10px 44px;
            margin-bottom: 15px;
            margin-top: 0;
        
        }

    </style>
{% endblock %}

{% block content %}

<div class="row">
    
    <div class="col-sm-12">
        <form action="" method="POST">
            <div class="navbar navbar-default navbar-static-top">
                <div class="col-sm-12">
                    <button id="Save" style="color: #777; border: none; background: transparent; margin: 14px;">
                        <span class="btn-label icon fa fa-floppy-o"></span> Save
                    </button>    
                    <!-- <a style="margin: 8px 0px 0px;" class="btn btn-flat btn-labeled btn-warning pull-right" id="Refresh" title="Refresh" href="">
                        <span class="btn-label icon fa fa-refresh"></span> Refresh
                    </a>  -->      
                </div>
            </div>
            {% include 'msg_error.html' %}
            
            <div class="row">
                <h1>Open/Close Accounting Period</h1>
                <div class="form-group">
                    <label class="col-sm-2 text-right">Current Month : </label>
                    <div class="col-sm-10">
                        <input  name="CurrentMonth" 
                                type="checkbox" 
                                data-class="switcher-primary" 
                                {% if CurrentMonthLock == "1" %} checked {% endif %} disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 text-right">Previous Month : </label>
                    <div class="col-sm-10">
                        <input  name="PreviousMonth" 
                                type="checkbox" 
                                data-class="switcher-primary" 
                                {% if PreviousMonthLock == "1" %} checked {% endif %} >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 text-right">Previous Year : </label>
                    <div class="col-sm-10">
                        <input  name="PreviousYear" 
                                type="checkbox" 
                                data-class="switcher-primary" 
                                {% if PreviousYearLock == "1" %} checked {% endif %} disabled>
                    </div>
                </div>

            </div>

        </form>
    </div>
    
    <div class="col-sm-12 " style="padding-left: 44px;">
        <p><strong>**Notes:</strong></p>
        <p><strong>ON</strong> it means allow to post accounting.</p>
        <p><strong>OFF</strong> it means not allow to post accounting.</p>
        <p>Ex. <strong>Current Month : ON</strong> it means allow to post accounting in current month</p>
    </div>
    
</div>

{% endblock %}

{% block js %}
    <script>
        
        $(document).ready(function() {
            $("input[type='checkbox'").switcher();
            
            $('#Save').click(function() {
                window.parent.$("#animated").fadeIn("slow");
            });

            // $('#Refresh').click(function() {
            //     window.parent.$("#animated").fadeIn("slow");
            // });

        });
    </script>

{% endblock %}