<div id="AdvanceContainer" 
    {% if Year and Month %} 
        data-visible="show" 
    {% else %} 
        data-visible="hide" style="display: none;" 
    {% endif %} >
    <div class="form-group">
        <label for="Year" class="col-sm-4 control-label">Year:</label>
        <div class="col-sm-{{class}}">
             <select name="Year" id="Year" class="input-sm form-control" style="width: 100%;">
                <option value=""></option>
                {% if GroupYear and GroupYear.all() %}
                    {% for row in GroupYear|sort %}
                        {% if Year == row.GLYear %}
                            <option value="{{row.GLYear}}" selected="">{{row.GLYear}}</option>
                        {% else %}
                            <option value="{{row.GLYear}}">{{row.GLYear}}</option>
                        {% endif %}
                    {%endfor%}
                {% endif %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Month" class="col-sm-4 control-label">Month:</label>
        <div class="col-sm-{{class}}">
            {% set MonthList = {'01':'01 January',
                                '02':'02 February',
                                '03':'03 April',
                                '04':'04 March',
                                '05':'05 May',
                                '06':'06 June',
                                '07':'07 July',
                                '08':'08 August',
                                '09':'09 September',
                                '10':'10 October',
                                '11':'11 November',
                                '12':'12 December'
                                } 
            %}
            <select name="Month" id="Month" class="input-sm form-control" style="width: 100%;">
                <option value=""></option>
                {% if GroupMonth and GroupMonth.all() %}
                    {% for row in GroupMonth|sort %}
                        {% if row.GLMonth|int == Month|int %}
                            <option value="{{row.GLMonth}}" selected="">{{MonthList[row.GLMonth]}}</option>
                        {% else %}
                            <option value="{{row.GLMonth}}">{{MonthList[row.GLMonth]}}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
</div>

<a href="" id="AdvanceOptionButton">
    {% if Year and Month %}
        Hide Advance Option
    {% else %}
        Advance Option
    {% endif %}
</a>

<script type="text/javascript">
    $('#Year').change(function(e) {
        var Year = $(this).val();
        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '/Morakot/FinancialReport/GroupMonth/'+Year,
            success: function(data) {
                var MonthList = {'01':'01 January',
                                '02':'02 February',
                                '03':'03 April',
                                '04':'04 March',
                                '05':'05 May',
                                '06':'06 June',
                                '07':'07 July',
                                '08':'08 August',
                                '09':'09 September',
                                '10':'10 October',
                                '11':'11 November',
                                '12':'12 December'
                                }; 
                $('#Month').html('<option value=""></option>');
                $.each(data,function(i,val) {
                    $('#Month').append('<option value="'+val+'">'+MonthList[val]+'</option>');
                });
            }
        })
    });

    $('#AdvanceOptionButton').click(function(e) {
        e.preventDefault();

        if ($('#AdvanceContainer').data('visible')=='show') {
            $(this).html('Advance Option');
            $('#AdvanceContainer').hide('slow');
            $('#AdvanceContainer').data('visible','hide');
        } else {
            $(this).html('Hide Advance Option');
            $('#AdvanceContainer').show('slow');
            $('#AdvanceContainer').data('visible','show');
        }
        
        $('#Year option')[0].selected = true;
        $('#Month').html('');
    });

    $('select').select2();
</script>
