{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .form-label{
            padding-top: 7px;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 428px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <div class="col-sm-6" style="margin-top: 15px;">
            <!-- Button Export -->
            {% from "print.html" import exportButtonLink %}
            {{exportButtonLink()}}
        </div>
        <div class="col-sm-6" style="margin-top: 8px;">
            <button type="button" class="btn btn-flat btn-labeled btn-success pull-right" data-toggle="modal" data-target="#getCustomRange">
                <span class="btn-label icon fa fa-gear"></span> {{ getTextMsg('400002') }}
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
    {% include 'msg_error.html' %}
    
    {% if ConsolBal and Currency %}
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <h3 class="header-3 text-center">{{Company.CompanyName}}</h3>
            <h4 class="header-3 text-center">Consolidated Balance</h4>
        </div>
        <div class="clearfix">&nbsp;</div>
        <table id="mktlist" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Description</th>
                    <th>Branch</th>
                    <th>Currency</th>
                    <th>Dr/Cr</th>
                    <th>FCYBalance</th>
                    <th>Balance</th>
                    <th>Current Month</th>
                    <th>Current Prev Month</th>
                    <th>Prev Month</th>
                    <th>YTD</th>
                </tr>
            </thead>
            <tbody>
                {% set TotalAmount = {"TotalBal":0, "PreMonthBal":0, "PreYearBal":0, "YearToDate":0, "CurMonth":0, "CurPrevMonth":0, "CurPrevYear":0} %}
                {% for row in ConsolBal %}
                    {{ getConsolBal(TotalAmount, row.LCYBalance, row.LCYPrevMonthBal, row.LCYPrevYearBal, row.LCYYTDBal, row.LCYCurrentMonthBal, row.LCYCurrentPrevMonthBal, row.LCYCurrentPrevYearBal, getAccBalanceType(str(row.ID).split(".")[0])) }}
                    {%set CurrencyObj = getCurrencyObj(row.Currency) %}
                    <tr>
                        <td>{{ row.ID }}</td>
                        <td>
                            {{ VLOOKUP(['MKT_CATEGORY', 'ID', str(str(row.ID).split('.')[0]), 'Description']) }}
                        </td>
                        <td>{{ row.Branch }}</td>
                        <td>{{ row.Currency }}</td>
                        <td>{{ getAccBalanceType(str(row.ID).split(".")[0]) }}</td>
                       {# 
                        <td class="text-right">{{ toMoney(float(row.Balance), CurrencyObj) }}</td>
                        <td class="text-right">{{ toMoney(float(row.LCYBalance), BaseCurrencyObj) }}</td>
                        <td class="text-right">{{ toMoney(float(row.LCYCurrentMonthBal), BaseCurrencyObj) }}</td>
                        <td class="text-right">{{ toMoney(float(row.LCYCurrentPrevMonthBal), BaseCurrencyObj) }}</td>
                        <td class="text-right">{{ toMoney(float(row.LCYPrevMonthBal), BaseCurrencyObj) }}</td>
                        <td class="text-right">{{ toMoney(float(row.LCYYTDBal), BaseCurrencyObj) }}</td>

                        #}
                        <td class="text-right">{{ formatNumber(float(row.Balance)) }}</td>
                        <td class="text-right">{{ float(row.LCYBalance)}}</td>
                        <td class="text-right">{{ formatNumber(float(row.LCYCurrentMonthBal)) }}</td>
                        <td class="text-right">{{ formatNumber(float(row.LCYCurrentPrevMonthBal)) }}</td>
                        <td class="text-right">{{ formatNumber(float(row.LCYPrevMonthBal)) }}</td>
                        <td class="text-right">{{ formatNumber(float(row.LCYYTDBal)) }}</td>

                    </tr>
                    {% if loop.last %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"><strong>Total Balance:</strong></td>
                            <td class="text-right"><strong>{{float(TotalAmount['TotalBal'])}}</strong></td>
                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['TotalBal']), BaseCurrencyObj) }}</strong></td>
                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['CurMonth']), BaseCurrencyObj) }}</strong></td>
                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['CurPrevMonth']), BaseCurrencyObj) }}</strong></td>
                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['PreMonthBal']), BaseCurrencyObj) }}</strong></td>
                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['YearToDate']), BaseCurrencyObj) }}</strong></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% if ShowPrintBy == 'Yes' %}
            {{PrintByAndDate()|safe}}   
        {% endif %}
    {% endif %}
     
{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    <script type="text/javascript">

        $(function(){
            $('[data-toggle="modal"]').on("click", function(e) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    // $(url).modal('open');
                    return false;
                } else {
                    $.get(url, function(data) {
                        $('<div class="modal">' + data + '</div>').modal();
                    }).success(function() {
                        $('input:text:visible:first').focus();
                    });
                }
            });

            $('#mktlist').dataTable({
                "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                "bSort" : false
            });

            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist','Consolidated Balance')}}

        });

    </script>

    <!-- Call in Block Js -->

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/ConsolBalance/" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Custom</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ID" class="col-sm-4 control-label">Branch:</label>
                            <div class="col-sm-8">
                                <input name="ID" value="{{ Branch }}" class="input-sm form-control" style="width: 100%;">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="Currency" class="col-sm-4 control-label">Currency:</label>
                            <div class="col-sm-8">
                                <input name="Currency" value="{{ Currency }}" class="input-sm form-control" style="width: 100%;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ShowPrintBy" class="col-sm-4 control-label">Show Print By & Date:</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" name="ShowPrintBy" style="width: 100%;" id="ShowPrintBy">
                                    {% if ShowPrintBy == 'Yes' %}
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No" >No</option>
                                    {% else %}
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ getTextMsg('400003') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getTextMsg('400004') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% macro getConsolBal(TotalAmount, CurrentAmount, PreMonth, PreYear, YearToDate, CurMonth, CurPrevMonth, CurPrevYear, DrCr) %}
    {% if DrCr == 'Dr' %}
        {% if TotalAmount.update({ 

        "TotalBal":TotalAmount["TotalBal"] + CurrentAmount,
        "PreMonthBal":float(TotalAmount["PreMonthBal"]) + float(PreMonth),
        "PreYearBal":float(TotalAmount["PreYearBal"]) + float(PreYear),
        "YearToDate":float(TotalAmount["YearToDate"]) + float(YearToDate),
        "CurMonth":float(TotalAmount["CurMonth"]) + float(CurMonth),
        "CurPrevMonth":float(TotalAmount["CurPrevMonth"]) + float(CurPrevMonth),
        "CurPrevYear":float(TotalAmount["CurPrevYear"]) + float(CurPrevYear)

        }) %}{% endif %}
    
    {% else %}
        {% if TotalAmount.update({ 

        "TotalBal":TotalAmount["TotalBal"] - CurrentAmount,
        "PreMonthBal":float(TotalAmount["PreMonthBal"]) - float(PreMonth),
        "PreYearBal":float(TotalAmount["PreYearBal"]) - float(PreYear),
        "YearToDate":float(TotalAmount["YearToDate"]) - float(YearToDate),
        "CurMonth":float(TotalAmount["CurMonth"]) - float(CurMonth),
        "CurPrevMonth":float(TotalAmount["CurPrevMonth"]) - float(CurPrevMonth),
        "CurPrevYear":float(TotalAmount["CurPrevYear"]) - float(CurPrevYear)

        }) %}{% endif %}
    
    {% endif %}
{% endmacro %}