{% extends "layout.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
	<style>
		h3.header-3{
			color: #888 !important;
			font-size: 16px;
			font-weight: bold;
			margin: 5px 0 10px;
			padding: 10px 18px 0;
		}

		h4.header-4{
			color: #888 !important;
			font-size: 14px;
			font-weight: normal;
			margin: 5px 0 10px;
			padding: 0px 18px 0;
		}

		.input-sm {
			width: 214px !important;
		}

		.modal-dialog{
			width: 428px !important;
		}

		.form-label{
			padding-top: 7px;
		}

		.modal-body {
			z-index: 99999 !important;
		}

	</style>

{% endblock %}

{% block content %}
<form method="GET" id="frm" name="frm" role="form" action="/Morakot/GLBalance">
	<div class="navbar navbar-default navbar-static-top">
		
		<div class="col-sm-6">

			<div style="margin-top: 8px;">
				<div class="col-sm-4" style="padding-left: 0;">
					{{ form.ID(class='form-control', style='width: 100%;', value=ID, placeholder='GL ID *') }}
				</div>
				<input type="hidden" name="Currency" id="Currency" value="{{ Currency }}">
				<label class="col-sm-1" style="padding:0px;">
					<button type="submit" id="Show" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
						{{ getTextMsg('400001') }}
					</button>
				</label>
			</div>
		</div>

		<div class="col-sm-6">

			<div class="pull-right" style="margin-top: 8px;">
				<button type="button" class="btn btn-flat btn-labeled btn-success" style="margin-right: 3px;" data-toggle="modal" data-target="#getCustomRange">
					<span class="btn-label icon fa fa-gear"></span> {{ getTextMsg('400002') }}
				</button>

				{% from "print.html" import exportButton %}
				{{exportButton()}}

			</div>             
		</div>

	</div>
	<div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal"  method="GET">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="exampleModalLabel">Custom Range</h4>
				</div>
				<div class="modal-body">
					
					<div class="form-group">
						<label for="StartDate" class="col-sm-4 control-label">Start Date:</label>
						<div class="col-sm-8">
							<input class="input-sm form-control" type="text" name="StartDate" id="StartDate" value="{{ StartDate }}">
						</div>
					</div>
					<div class="form-group">
						<label for="EndDate" class="col-sm-4 control-label">End Date:</label>
						<div class="col-sm-8">
							<input class="input-sm form-control" type="text" name="EndDate" id="EndDate" value="{{ EndDate }}">
						</div>
					</div>

					<div class="form-group">
						<label for="Branch" class="col-sm-4 control-label">Branch:</label>
						<div class="col-sm-8">
							<select id="Branch" name="Branch" class="input-sm form-control" style="width: 100%;">
								<option value=""></option>
								{% if AccessBranch: %}
									{% for row in AccessBranch: %}
										{% if row.ID.upper() == BranchName.upper() %}

											<option value="{{ row.ID }}" selected>{{ row.Description }}</option>
											}
										{% else %}
											<option value="{{ row.ID }}">{{ row.Description }}</option>
										{% endif %}
									{% endfor %}
								{% endif %}
							</select>
                             <script type="text/javascript">
                                init.push(function () {
                                    // Single select
                                    $("#Branch").select2({
                                        allowClear: true,
                                        placeholder: "Branch"
                                    });
                                });
                            </script>
						</div>

					</div>

				</div>
				<div class="modal-footer">
					<button type="submit" id="Apply" class="btn btn-primary">Apply</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
	</div>
</form>
	

	<div class="clearfix"></div>
	{# {% include 'msg_error.html' %} #}
	{% if SubGL %}
	    <div class="alert alert-warning">
	        <button data-dismiss="alert" class="close" type="button">×</button>
	            Please view its Sub GL: 
	            {% for row in SubGL.split(' ') %}
	                <a href="javascript:void(0);" onClick="clickLinkToGL('{{ row }}','{{ Currency }}')">{{row}}</a>
	            {% endfor %}
	    </div>
	{% else %}
	    {% include 'msg_error.html' %}
	{% endif %}

	{% if GL_Detail: %}
		<div class="col-sm-12">
			<h3 class="header-3 text-center">{{ Company.CompanyName }}</h3>
			<h4 class="header-4 text-center">General Ledger</h4>
			<h4 class="header-4 text-center"><strong>From: </strong> {{ StartDate }} <strong>To: </strong>{{ EndDate }}</h4>
		</div>
		<div class="col-sm-12">
			<strong>Branch:</strong> {{ BranchName }}
		</div>
		<div class="col-sm-12">
			<strong>Currency:</strong> {{ GL.Currency }}
		</div>
		<div class="col-sm-12">
			<strong>GL Code:</strong> {{ GL.ID }}
		</div>
		<div class="col-sm-12">
			<strong>GL Description:</strong> {{ GL.Description }}
		</div>
		

		<div class="clearfix">&nbsp;</div>

		<div class="panel panel-default">
			<table id="mktlist" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Date</th>
						<th>Transaction</th>
						<th>Reference</th>
						<th>Note</th>
						<th class="text-right" style="padding-right: 35px;">Debit</th>
						<th class="text-right" style="padding-right: 35px;">Credit</th>
						<th class="text-right" style="padding-right: 35px;">Balance</th>
					</tr>
				</thead>
				<tbody>

						<tr>
							<td></td>
							<td><b>000 - Begining Balance</b></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="text-right" style="padding-right: 35px;">
								{{ toMoney(float(BeginingBalance), getCurrencyObj) }}
							</td>
						</tr>
				   

					{% for row in GL_Detail: %}
						
						<tr>
							<td>{{ row.TransactionDate }}</td>
							<td>{{ row.Transaction }} - {{TransactionObj.get(row.Transaction,'')}}</td>
							<td title="View Detail">
                                    <a href="javascript:void(0)" onClick="ClickView('{{DicModule.get(row.Module)}}','{{DicModule.get(row.Module)}}','{{row.Reference}}')">
                                        {{ row.Reference }}
                                    </a>
                            </td>
							<td>{{ row.Description }}</td>
							<td class="text-right" style="padding-right: 35px;">
								{% if row.DebitCredit == 'Dr' %}
									{{ toMoney(float(row.Amount), getCurrencyObj) }}
								{% endif %}
							</td>
							<td class="text-right" style="padding-right: 35px;">
								{% if row.DebitCredit == 'Cr' %}
									{{ toMoney(float(row.Amount), getCurrencyObj) }}
								{% endif %}
							</td>
							<td class="text-right" style="padding-right: 35px;">
								{% set Amount = float(row.Amount) %}
								{%if BalanceType==row.DebitCredit%} 
									{% set BeginingBalance =  BeginingBalance + Amount %}
								{%else%} 
									{% set BeginingBalance = BeginingBalance - Amount %}
								{%endif%} 
								{{ toMoney(float(BeginingBalance),getCurrencyObj) }}
							</td>
						</tr>
						{% if loop.last %}
							<tr>
								<td></td>
								<td><b>*** - Ending Balance</b></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td class="text-right" style="padding-right: 35px;">
									<strong>{{ toMoney(float(EndingBalance), getCurrencyObj, 1) }}</strong>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

	
	 
{% endblock %}

{% block js %}
	
	{% from "print.html" import exportIncludeJS %}
	{{ exportIncludeJS() }}

	<script type="text/javascript">

		$(function(){

			$('#mktlist').dataTable({
				"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
				"bSort" : false
			});

			{% from "print.html" import exportDataTable %}
			{{ exportDataTable('#mktlist','GL Detail - ' + GL.ID) }}
			
			function fn_fadeIn(){
                var $getParentEle = window.parent.$("#animated")
                $getParentEle.fadeIn("slow");
            }
            function fn_fadeOut(){
                var $getParentEle = window.parent.$("#animated")
                $getParentEle.fadeOut();
            }
            $('#Apply').on('click', function(event){
                    fn_fadeIn();
            });
            $('#Show').on('click', function(event){
                    fn_fadeIn();
            });

			init.push(function () {
				var options = {
					orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
					format:"yyyy-mm-dd",
					autoclose:true
				}
				$('#StartDate').datepicker(options);
			});

			init.push(function () {
				var options = {
					orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
					format:"yyyy-mm-dd",
					autoclose:true
				}
				$('#EndDate').datepicker(options);
			});

		});

		function clickLinkToGL(ID, Currency)
        {
            if ( self !== top ) {
                window.parent.addTab("GL-"+ID, "/Morakot/GLBalance/?ID="+ID+"&Currency="+Currency);
            }else{
                window.parent.location.href="/Morakot/GLBalance/?ID="+ID+"&Currency="+Currency
            }
        }

	</script>


{% endblock %}