{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 528px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

        .table-borderless td,
        .table-borderless th
        {
            border: 0 !important;
            padding-top: 3px !important;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
            <div class="col-sm-6" style="margin-top: 15px;">
                <!-- Button Export -->
                {% from "print.html" import exportButtonLink %}
                {{exportButtonLink()}}
            </div>
            <div class="col-sm-6" style="margin-top: 8px;">
                {% if ReportData %}
                    
                    <a title="Lock Report" onclick="CustomClickView('Open/Close Accounting Period','AccountingPeriod')" href="javascript:void(0);" class="btn btn-flat btn-warning pull-right" style="margin-left: 5px;">
                        <span class="btn-label icon fa {% if LockedStatus == '0' %} fa-lock {% else %} fa-unlock {% endif %}"></span>
                    </a>
                    <button type="button" class="btn btn-flat btn-labeled btn-success pull-right" data-toggle="modal" data-target="#getCustomRange">
                        <span class="btn-label icon fa fa-gear"></span> {{ getLang('400002') }}
                    </button>
                {% endif %}
            </div>
    </div>
    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    {% if ReportData %}
        <div style="margin-left:10%; margin-right:10%;">
            <h3 class="header-3 text-center">{{ ReportData['Title']['CompanyName'] }}</h3>
            <h4 class="header-4 text-center">{{ ReportData['Title']['ReportName'] }}</h4>
            <h4 class="header-4 text-center">{{ ReportData['Title']['AsOf']|safe }}</h4>
            <h4 class="header-4 text-center"><strong>Branch: </strong> {{ ReportData['Title']['BranchName'] }}</h4>
        </div>
        
        <div class="clearfix">&nbsp;</div>
        <div style="width:100%;">
            <div style="margin-left:10%; margin-right:10%;">
                <div class="clearfix" style="height: 5px;">&nbsp;</div>
                {% include 'gl/ListData.html' %}
                <input type="hidden" id="Period_ID" value="{{ ReportData['Info']['Period'] }}">
                {% if ShowPrintBy == 'Yes' %}
                    {{PrintByAndDate()|safe}}   
                {% endif %}
            </div>
        </div>

    {% else %}
        <div class="col-sm-12">
            <h3 class="header-3 text-center">Financial Reports</h3>
        </div>
        
        <div class="clearfix">&nbsp;</div>

        <div class="panel panel-default">
            <table id="mktlist" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>                            
                        <th><b>ID</b></th>
                        <th><b>Company Name</b></th>
                        <th><b>Report Name</b></th>
                        <th><b>Show GL Code</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% if Report %}
                        {% for row in Report %}
                            <tr>
                                <td>
                                    <a href="/Morakot/FinancialReport/?ID={{ row.ID }}">
                                        {{ row.ID }}
                                    </a>
                                </td>
                                <td>{{ row.CompanyName }}</td>
                                <td>{{ row.ReportName }}</td>
                                <td>{{ row.Option }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#mktlist').dataTable({
               "lengthMenu": [[12,24, 36, 60,120, -1], [12,24, 36, 60,120, "All"]]
            });

            var Period = $("#Period_ID").val();
            $("select#Period option").filter(function() {
                //may want to use $.trim in here
                return $(this).val() == Period; 
            }).prop('selected', true);

            $('#Apply').click(function() {
                window.parent.$("#animated").fadeIn("slow");
            });

            {% from "print.html" import exportTable %}
            {% if ReportData %}{{exportTable('#mktFR',ReportData['Title']['ReportName'])}}{% endif %}

        });

        function popupwindow(url, title, w, h) {
            var randomnumber = Math.floor((Math.random()*100)+1); 
            var left = (screen.width/2)-(w/2);
            var top = (screen.height/2)-(h/2);
            return window.open(url, 'title'+randomnumber, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
        }

    </script>

    <!-- Call in Block Js -->

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}
    {% if ReportData %}
    <div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/FinancialReport/" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Custom Selection</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">Branch:</label>
                            <div class="col-sm-8">
                                <input type="hidden" name="ID" value="{{ ReportData['Info']['ID'] }}">
                                <input name="Branch" value="{{ ReportData['Info']['Branch'] }}" class="input-sm form-control" style="width: 100%;">
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <label for="Period" class="col-sm-4 control-label">Period:</label>
                            <div class="col-sm-8">
                                {% set PeriodList = {"0":"Current Month", 
                                                     "1":"Current Previous Month",
                                                     "2":"Previous Month",
                                                     "3":"Year to Date",
                                                     "4":"Current Previous Year",
                                                     "5":"Previous Year",
                                                     "6":"As of Today"
                                                    } 
                                %}
                                <select class="form-control input-sm" name="Period" style="width: 100%;" id="Period">
                                    {% for key, value in PeriodList.iteritems()|sort %}
                                        {% if key|int == Period|int %}
                                            <option value="{{key}}" selected="">{{value}}</option>
                                        {% else %}
                                            <option value="{{key}}">{{value}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ShowPrintBy" class="col-sm-4 control-label">Show Print By & Date:</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" name="ShowPrintBy" style="width: 100%;" id="ShowPrintBy">
                                    {% if ShowPrintBy == 'Yes' %}
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No" >No</option>
                                    {% else %}
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        {% with class=8, Year=ReportData['Info']['Year'], Month=ReportData['Info']['Month'] %}
                        {% include 'gl/AdvanceOption.html' %}
                        {% endwith %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="Apply">{{ getLang('400003') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLang('400004') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

