{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 428px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

        .table-borderless td,
        .table-borderless th
        {
            border: 0 !important;
            padding-top: 3px !important;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <form method="GET" id="frm" name="frm" role="form" action="/Morakot/GLBalance/Detail/">
            <div class="col-sm-12">

                <div style="margin-top: 14px;">
                    <!-- <div class="col-sm-2" style="padding-left: 0;">
                        <input type="text" name="ID" class="form-control" value="{{ ID }}" style='width: 100%;'>
                    </div>

                    <label class="col-sm-1" style="padding:0px;">
                        <button type="submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
                            {{ getTextMsg('400001') }}
                        </button>
                    </label> -->
                    <!-- Button Export -->
                    {% from "print.html" import exportButtonLink %}
                    {{exportButtonLink()}}

                    <!-- <button type="button" class="btn btn-flat btn-labeled btn-success pull-right" data-toggle="modal" data-target="#getCustomRange">
                        <span class="btn-label icon fa fa-gear"></span> {{ getTextMsg('400002') }}
                    </button> -->
                </div>             
            </div>
        </form>
    </div>

    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    {% if GLBalance %}
        <div class="col-sm-12">
            <h3 class="header-3 text-center">{{ GLBalance.ID }} - {{ VLOOKUP(['MKT_GL_MAPPING', 'ID', str(GLBalance.ID), 'Description']) }}</h3>
        </div>

        <div class="clearfix">&nbsp;</div>

        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <div class="panel panel-default">
                
                <table id="mktGL" class="table table-striped table-borderless" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td>Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.Balance), getCurrencyObj(GLBalance.Currency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>Current Pre Month Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.CurrentPrevMonthBal), getCurrencyObj(GLBalance.Currency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>Pre Month Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.PrevMonthBal), getCurrencyObj(GLBalance.Currency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>Current Month Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.CurrentMonthBal), getCurrencyObj(GLBalance.Currency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>Pre Year Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.PrevYearBal), getCurrencyObj(GLBalance.Currency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>Current Pre Year Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.CurrentPrevYearBal), getCurrencyObj(GLBalance.Currency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>Year to Date Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.YTDBal), getCurrencyObj(GLBalance.Currency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>LCY Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.LCYBalance), getCurrencyObj(BaseCurrency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>LCY Current Pre Month Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.LCYCurrentPrevMonthBal), getCurrencyObj(BaseCurrency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>LCY Pre Month Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.LCYPrevMonthBal), getCurrencyObj(BaseCurrency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>LCY Current Month Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.LCYCurrentMonthBal), getCurrencyObj(BaseCurrency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>LCY Pre Year Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.LCYPrevYearBal), getCurrencyObj(BaseCurrency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>LCY Current Pre Year Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.LCYCurrentPrevYearBal), getCurrencyObj(BaseCurrency), 1) }}</td>
                        </tr>
                        <tr>
                            <td>LCY Year to Date Balance</td>
                            <td class="text-right">{{ toMoney(float(GLBalance.LCYYTDBal), getCurrencyObj(BaseCurrency), 1) }}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>

        </div>
        <div class="col-sm-3"></div>
    {% endif %}

  
{% endblock %}

{% block js %}
    <!-- Call in Block Js -->

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script type="text/javascript">
        $(document).ready(function() {
    
            {% from "print.html" import exportTable %}
            {{exportTable('#mktGL',VLOOKUP(['MKT_GL_MAPPING', 'ID', str(GLBalance.ID), 'Description']))}}

        });

    </script>

{% endblock %}