{% extends "layout.html" %}

{% block css %}
 	<style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }
      

    </style>
{% endblock %}



{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <form method="GET" id="frm" name="frm" role="form" action="/Morakot/GLBalance/Detail/">
            <div class="col-sm-12">

                <div style="margin-top: 14px;">
                  
                    <!-- Button Export -->
                    {% from "print.html" import exportButtonLink %}
                    {{exportButtonLink()}}

                </div>             
            </div>
        </form>
    </div>
<!--  message  -->
<div class="clearfix">&nbsp;</div>
{% include 'msg_error.html' %}


    <div class="col-sm-12">
        <h3 class="header-3 text-center">{{LineDescription}}</h3>
        <p><strong><a class="link" onClick="CustomClickView('Line Report Detail-{{ LineID }}','LineReportDetail/?ID={{LineID}}')"> Line Value</a></strong>:  {{ LineValue }}</p>
    </div>
    
    <div class="clearfix">&nbsp;</div>

    <div class="panel panel-default">
        	
            <table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
                <thead>
                    <tr>                            
                        <th>GL Line</th>
                        <th>Description</th>
                        <th>Currency</th>
                        <th>Balance Type</th>
                        <th class="text-right" style="padding-right: 35px;">FCYBalance</th>
	                    <th class="text-right" style="padding-right: 35px;">Balance</th>
	                    <th class="text-right" style="padding-right: 35px;">Current Month</th>
	                    <th class="text-right" style="padding-right: 35px;">Current Prev Month</th>
	                    <th class="text-right" style="padding-right: 35px;">Prev Month</th>
	                    <th class="text-right" style="padding-right: 35px;">YTD</th>
                    </tr>
                </thead>
                <tbody>
					{% if GLBalance: %}
						{% set TotalAmount = {"TotalBal":0, "PreMonthBal":0, "PreYearBal":0, "YearToDate":0, "CurMonth":0, "CurPrevMonth":0, "CurPrevYear":0} %}
                        {% for row in GLBalance: %}
                       		{%set CurrencyObj = getCurrencyObj(row.Currency)%}
                       		 {{ GrandTotal(TotalAmount, row.LCYBalance, row.LCYPrevMonthBal, row.LCYPrevYearBal, row.LCYYTDBal, row.LCYCurrentMonthBal, row.LCYCurrentPrevMonthBal, row.LCYCurrentPrevYearBal) }}
                        	{%set GLObj = GLMappingObj.get(row.ID) %}
                            {%if GLObj %}
                                {%set GLName = GLObj.Description%}
                                {%set SubGL  = GLObj.SubGL%}
                            {%endif%}
                      	
                            <tr>
                                <td class="link-color" title="View Transaction" onClick="CustomClickView('GL-{{ row.ID }}','GLBalance/?ID={{row.ID}}&Currency={{row.Currency}}')">
                              
                                        {{ row.ID }}
                                   
                                </td>
                                <td class="link-color" title="View Detail" onClick="CustomClickView('GL-{{ row.ID }}','GLBalance/?ID={{row.ID}}&Currency={{row.Currency}}')">
                                       
                                    <b>{{GLName|default('')}}</b>
                                      
                                </td>
                                <td>{{ row.Currency }}</td>
                                <td>{{ GLObj.BalanceType }}</td>
                                <td class="text-right">{{ toMoney(float(row.Balance), CurrencyObj) }}</td>
		                        <td class="text-right">{{ toMoney(float(row.LCYBalance), BaseCurrencyObj) }}</td>
		                        <td class="text-right">{{ toMoney(float(row.LCYCurrentMonthBal), BaseCurrencyObj) }}</td>
		                        <td class="text-right">{{ toMoney(float(row.LCYCurrentPrevMonthBal), BaseCurrencyObj) }}</td>
		                        <td class="text-right">{{ toMoney(float(row.LCYPrevMonthBal), BaseCurrencyObj) }}</td>
		                        <td class="text-right">{{ toMoney(float(row.LCYYTDBal), BaseCurrencyObj) }}</td>
                                
                            </tr>
                            {% if loop.last %}
                            <tfoot>
		                        <tr>
		                            <td></td>
		                            <td></td>
		                            <td></td>
		                            <td class="text-right"><strong>Total Balance:</strong></td>
		                            <td class="text-right"><strong></strong></td>
		                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['TotalBal']), BaseCurrencyObj) }}</strong></td>
		                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['CurMonth']), BaseCurrencyObj) }}</strong></td>
		                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['CurPrevMonth']), BaseCurrencyObj) }}</strong></td>
		                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['PreMonthBal']), BaseCurrencyObj) }}</strong></td>
		                            <td class="text-right"><strong>{{ toMoney(float(TotalAmount['YearToDate']), BaseCurrencyObj) }}</strong></td>
		                        </tr>
		                    </tfoot>
		                    {% endif %}
                           

                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            
    </div>


{% endblock %}



{% block js %}

{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">
    $(document).ready(function() {
	$('#mktlist').dataTable({
		"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
		"bSort" : false,
		"bScrollCollapse": true
	});
	{% from "print.html" import exportDataTable %}
	{{exportDataTable("#mktlist","Daily Cash Collection Reports ")}}
	
	});

</script>

{% endblock %}

{% macro GrandTotal(TotalAmount, CurrentAmount, PreMonth, PreYear, YearToDate, CurMonth, CurPrevMonth, CurPrevYear) %}
    
    {% if TotalAmount.update({ 

    "TotalBal":float(TotalAmount["TotalBal"]) + float(CurrentAmount),
    "PreMonthBal":float(TotalAmount["PreMonthBal"]) + float(PreMonth),
    "PreYearBal":float(TotalAmount["PreYearBal"]) + float(PreYear),
    "YearToDate":float(TotalAmount["YearToDate"]) + float(YearToDate),
    "CurMonth":float(TotalAmount["CurMonth"]) + float(CurMonth),
    "CurPrevMonth":float(TotalAmount["CurPrevMonth"]) + float(CurPrevMonth),
    "CurPrevYear":float(TotalAmount["CurPrevYear"]) + float(CurPrevYear)

    }) %}{% endif %}

{% endmacro %}