{% extends "layout.html" %}

{% block css %}


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }
        .form-label{
            padding-top: 7px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <div class="col-sm-12">
            <div style="margin-top: 8px;">
                <div class="col-sm-6" style="margin-top: 5px; padding: 0;">
                    <!-- Button Export -->
                    {% from "print.html" import exportButtonLink %}
                    {{exportButtonLink()}}
                </div>

                <div class="col-sm-6 text-right" style="padding: 0;">
                    <button type="button" class="btn btn-flat btn-labeled btn-success" data-toggle="modal" data-target="#getCustomRange">
                        <span class="btn-label icon fa fa-gear"></span> {{ getLanguage('Custom') }}
                    </button>
                    <a href="/Morakot/UpdateGLBalance/?Branch={{ Branch }}" class="btn btn-flat btn-warning" id="SpinOnClick">
                        <i class="fa fa-refresh" id="iConSpin"></i> Update
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    <div class="col-sm-12">
        <h3 class="header-3 text-center">{{Company.CompanyName}}</h3>
        <h4 class="header-4 text-center">GL Balance</h4>
        <h4 class="header-4 text-center"><strong>{{ getLanguage('Branch') }}: </strong> {{ BranchName }}</h4>
        <h4 class="header-4 text-center"><strong>{{ getLanguage('As of') }}</strong>:  {{ AsOfDate }}</h4>
    </div>
    
    <div class="clearfix">&nbsp;</div>

    <div class="panel panel-default">
        
            <table id="mktlist" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>                            
                        <th><b>GL Line</b></th>
                        <th>Description</th>
                        <th><b>Currency</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>FCYBalance</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>LCYBalance</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Pre Month Balance</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Pre Year Balance</b></th>
                        <th class="text-right" style="padding-right: 35px;"><b>Year to Date Balance</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% if GL_Balance: %}
                        {% for row in GL_Balance: %}
                            {%set GLObj = GLMappingObj.get(row.ID) %}
                            {%if GLObj %}
                                {%set GLName = GLObj.Description%}
                                {%set SubGL  = GLObj.SubGL%}
                            {%endif%}

                            {% if DisplayOption == 'N' %}
                                {% set TotalByRow = float(row.Balance) + float(row.LCYBalance) + float(row.LCYPrevMonthBal) + float(row.LCYPrevYearBal) + float(row.LCYYTDBal) %}
                                {% set TotalBalance = toMoney(float(row.Balance), getCurrencyObj(row.Currency), 0) %}
                                {% if float(TotalBalance.replace(',', '')) != 0 %}
                                    <tr>
                                        <td class="link-color" title="View Transaction" onClick="clickLinkToGL('{{ row.ID }}','{{row.Currency}}')">
                                            {%if SubGL != ''%}
                                                <b> {{ row.ID }} </b>
                                            {%else%}
                                                {{ row.ID }}
                                            {%endif%}
                                        </td>
                                        <td class="link-color" title="View Detail" onClick="clickLinkToDetail('{{ row.ID }}')">
                                                 {%if SubGL != ''%}
                                                    <b>{{GLName|default('')}}</b>
                                                {%else%}
                                                    {{GLName|default('')}}
                                                {%endif%}
                                        </td>
                                        <td>{{ row.Currency }}</td>
                                        <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Balance), getCurrencyObj(row.Currency), 0) }}</td>
                                        <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.LCYBalance), BaseCurrencyObj, 0) }}</td>
                                        <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.LCYPrevMonthBal), BaseCurrencyObj, 0) }}</td>
                                        <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.LCYPrevYearBal), BaseCurrencyObj, 0) }}</td>
                                        <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.LCYYTDBal), BaseCurrencyObj, 0) }}</td>
                                    </tr>
                                {% endif %}

                            {% else %}

                                <tr>
                                    <td class="link-color" title="View Transaction" onClick="clickLinkToGL('{{ row.ID }}','{{row.Currency}}')">
                                        {%if SubGL != ''%}
                                           <b> {{ row.ID }} </b>
                                        {%else%}
                                            {{ row.ID }}
                                        {%endif%}
                                    </td>
                                    <td class="link-color" title="View Detail" onClick="clickLinkToDetail('{{ row.ID }}')">
                                            {%if SubGL != ''%}
                                                <b>{{GLName|default('')}}</b>
                                            {%else%}
                                                {{GLName|default('')}}
                                            {%endif%}
                                    </td>
                                    <td>{{ row.Currency }}</td>
                                    <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.Balance), getCurrencyObj(row.Currency), 0) }}</td>
                                    <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.LCYBalance), BaseCurrencyObj, 0) }}</td>
                                    <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.LCYPrevMonthBal), BaseCurrencyObj, 0) }}</td>
                                    <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.LCYPrevYearBal), BaseCurrencyObj, 0) }}</td>
                                    <td class="text-right" style="padding-right: 35px;">{{ toMoney(float(row.LCYYTDBal), BaseCurrencyObj, 0) }}</td>
                                </tr>

                            {% endif %}

                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <input type="hidden" id="DisplayOption_ID" value="{{ DisplayOption }}">
            {% if ShowPrintBy == 'Yes' %}
                {{PrintByAndDate()|safe}}   
            {% endif %}
    </div>

     
{% endblock %}

{% block js %}
     <!-- Call in Block Js -->

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">

        function clickLinkToDetail(ID)
        {   var params = "&Branch={{ Branch }}"+"&Year={{ Year }}"+"&Month={{ Month }}";
            if ( self !== top ) {
                window.parent.addTab("GL-"+ID,"/Morakot/GLBalance/Detail/?ID="+ID+params);
            }else{
                window.parent.location.href="/Morakot/GLBalance/Detail/?ID="+ID+params;
            }
        }

        function clickLinkToGL(ID,Currency)
        {
            if ( self !== top ) {
                window.parent.addTab("GL-"+ID, "/Morakot/GLBalance/?ID="+ID+"&Currency="+Currency);
            }else{
                window.parent.location.href="/Morakot/GLBalance/?ID="+ID+"&Currency="+Currency;
            }
        }
       
        $(document).ready(function() {
         function fn_fadeIn(){
                    var $getParentEle = window.parent.$("#animated");
                    $getParentEle.fadeIn("slow");
                }
            var DisplayOption = $("#DisplayOption_ID").val();
            $("select#DisplayOption option").filter(function() {
                //may want to use $.trim in here
                return $(this).val() == DisplayOption; 
            }).prop('selected', true);

            $('#mktlist').dataTable({
                "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                "bSort" : false,
            });

            $("#SpinOnClick").click(function(){
                fn_fadeIn();
                $("#iConSpin").addClass("fa-spin");
            });

            $("#Apply").click(function(){
                fn_fadeIn();
            });

            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist','GL Balance')}}

        });
    </script>

    <div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/GLBalance/" method="GET">
                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{ getLanguage('Custom') }}</h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">{{ getLanguage('Branch') }}:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" value="{{ Branch }}" name="Branch" style="width: 100%;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="DisplayOption" class="col-sm-4 control-label">Show Zero Balance:</label>
                            <div class="col-sm-5">
                                <select name="DisplayOption" id="DisplayOption" class="form-control input-sm" style="width: 100%;">
                                    {% if DisplayOption == "Y" %}
                                        <option value="Y" selected>Yes</option>
                                        <option value="N">No</option>
                                    {% else %}
                                        <option value="Y">Yes</option>
                                        <option value="N" selected>No</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ShowPrintBy" class="col-sm-4 control-label">Show Print By & Date:</label>
                            <div class="col-sm-5">
                                <select class="form-control input-sm" name="ShowPrintBy" style="width: 100%;" id="ShowPrintBy">
                                    {% if ShowPrintBy == 'Yes' %}
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No" >No</option>
                                    {% else %}
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        {% with class=5 %}
                        {% include 'gl/AdvanceOption.html' %}
                        {% endwith %}

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="Apply">Apply</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
 
{% endblock %}