{% macro getFormat(OpenTag, Value) %}
    {% if OpenTag.upper() == "B" %}
        <b>{{Value}}</b>
    {% elif OpenTag.upper() == "I" %}
        <i>{{Value}}</i>
    {% elif OpenTag.upper() == "BI" %}
        <b><i>{{Value}}</i></b>
    {% else %}
        {{Value}}
    {% endif %}
{% endmacro %}

<table id="mktFR" class="table table-striped table-borderless" cellspacing="0" width="100%">
    <tbody>
        {% for row in ReportData['Data'] %}
            {% if row.Type.upper() == "GH" %}
                <tr>
                    <td>{{ row.Indent|safe }}{{ getFormat(row.Format,row.Description)|safe }}</td>
                    <td></td>
                </tr>
            {% elif row.Type.upper() == "LD" %}
                <tr>
                {%if DebugMode %}
                    <td><a href="javascript:void(0)" style="color: #555;" 
                        onclick="CustomClickView('{{row.Description}}','LineValue/{{row.ID}}')" title="Preview"
                    >{{ row.Indent|safe }}{{ getFormat(row.Format,row.Description)|safe }}</a></td>
                {%else%}
                    <td>{{ row.Indent|safe }}{{ getFormat(row.Format,row.Description)|safe }}</td>
                {%endif%}
                    <td class="text-right">
                        {{ getFormat(row.Format, row.CurrencySymbol+' '+row.Value)|safe }}
                    </td>
                </tr>
            {% elif row.Type.upper() == "ST" %}
                <tr>
                    <td>
                        <p style="padding-top: 7px;">
                        {{ row.Indent|safe }}{{ getFormat(row.Format,row.Description)|safe }}
                        </p>
                    </td>
                    <td class="text-right">
                        <p style="border-top: 1px solid #CCC; padding-top: 5px;">
                        {{ getFormat(row.Format, row.CurrencySymbol+' '+row.Value)|safe }}
                        </p>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
