{% extends "layout.html" %}

{% block css %}

{% endblock %}

{% block content %}

<div class="clearfix">&nbsp;</div>
{% include 'msg_error.html' %}

<div style="padding: 10% 0;">

	<div class="col-sm-12">
		<h1 class="header-3 text-center">Month End Processing<br><span style="font-size: 18px;">{{ SystemDate }}</span></h1>
	</div>
	<!-- / Javascript -->
	<!-- Success -->
	<div id="uidemo-modals-alerts-success" class="modal modal-alert modal-success fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-check-circle"></i>
				</div>
				<div class="modal-title"></div>
				<div class="modal-body" id="uidemo-modals-alerts-success-msg"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" style="width:170px;height:50px;">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Success -->
	<!-- Warning -->
	<div id="uidemo-modals-alerts-warning" class="modal modal-alert modal-warning fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-warning"></i>
				</div>
				<div class="modal-title" >Warning</div>
				<div class="modal-body" id="uidemo-modals-alerts-warning-msg"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Warning -->
	<!-- Danger -->
	<div id="uidemo-modals-alerts-danger" class="modal modal-alert modal-danger fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-times-circle"></i>
				</div>
				<div class="modal-title" id="uidemo-modals-alerts-danger-msg">Error</div>
				<div class="modal-body" >Please check log file.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Danger -->

	<div class="col-sm-12" style="padding:5px 10px">
		
		<input type="hidden" id="CurrentDate" value="{{ SystemDate }}">
		<h4 class="header-3 text-center">Please make sure you have backed-up database before running close end of month. 
			<a href="javascript:void(0);" id="LinkToBackup">Backup Now</a>
			<script type="text/javascript">
                init.push(function () {
                    $("#LinkToBackup").click(function(){
                        if ( self !== top ) {
                            window.parent.addTab("Bankup", "/Morakot/Backup");
                        }else{
                            window.parent.location.href="/Morakot/Backup";
                        }
                    });
                });
            </script>
		</h4>
	</div>

	<div class="col-sm-12" style="padding:20px 10px">
		<h4 class="header-3 text-center">
		<form method="POST" id="frmClosing">
			<!-- <button type="button" style="padding: 25px 50px;" class="btn btn-flat btn-labeled btn-success" id="btnSubmit">
	 			<b style="font-size: 20px;">Close</b>
			</button> -->
		</form>
			<a href="javascript:void(0);" id="btnSubmit" class="btn btn-flat btn-labeled btn-success" style="padding: 25px 50px;">
				<b style="font-size: 20px;">Close</b>
			</a>
		</h4>
	</div>

			

</div>



{% endblock %}

{% block js %}
	
	<script type="text/javascript">
		$(document).ready(function() {
			{%if Message%}
				{% if contain(Message, "Error") %}
					$('#uidemo-modals-alerts-danger-msg').text("{{Message[6:]}}");
					$('#uidemo-modals-alerts-danger').modal('toggle');
				{%elif contain(Message,"Warning")%}
					$('#uidemo-modals-alerts-warning-msg').text("{{Message[8:]}}");
					$('#uidemo-modals-alerts-warning').modal('toggle');
				
				{%else%}
					$('#uidemo-modals-alerts-success-msg').text("{{Message}}");
					$('#uidemo-modals-alerts-success').modal('toggle');
				{%endif%}
			{%endif%}

			function fn_fadeIn(){
				var $getParentEle = window.parent.$("#animated")
				$getParentEle.fadeIn("slow");
			}
			// $( "form" ).submit(function( event ) {
			// 	bootbox.confirm({
			// 		message: "Are you sure?",
			// 		callback: function(result) {
			// 			alert("Confirm result: " + result);
			// 			fn_fadeIn();
			// 			return;
			// 		},
			// 		className: "bootbox-sm"
			// 	});
			// 	event.preventDefault();

			// 	// if ( $( "input:first" ).val() === "correct" ) {
			// 	// 	$( "span" ).text( "Validated..." ).show();
			// 	// return;
			// 	// }

			// 	// $( "span" ).text( "Not valid!" ).show().fadeOut( 1000 );
			// 	// event.preventDefault();
			// });

			// $('#frmClosing').submit(function( event ) { 
			// 	bootbox.confirm({
			// 		message: "Are you sure?",
			// 		callback: function(result) {
			// 			// alert("Confirm result: " + result);
			// 			fn_fadeIn();
			// 			event.preventDefault();
			// 		},
			// 		className: "bootbox-sm"
			// 	});
			// });

			$("#btnSubmit").click(function() {
				bootbox.confirm({
					message: "Are you sure you want to closing ?",
					callback: function(result) {
						if (result==true){
							fn_fadeIn();
							document.forms['frmClosing'].submit();
						}
					},
					className: "bootbox-sm"
				});
			});
		});
	</script>

{% endblock %}