{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }

        .input-sm {

            width: 214px !important;
        }

        .modal-dialog{

            width: 428px !important;

        }

        .form-label{
            padding-top: 7px;
        }

        .modal-body {
            z-index: 99999 !important;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <div class="col-sm-12">
            <div style="margin-top: 8px;">
                <div class="col-sm-6" style="margin-top: 5px; padding: 0;">
                    <!-- Button Export -->
                    {% from "print.html" import exportButtonLink %}
                    {{exportButtonLink()}}
                </div>

                <div class="col-sm-6" style="padding: 0;">
                    <a id="Verified" href="/Morakot/TrialBalance?Branch={{ Branch }}&Verified=Yes" class="btn btn-flat btn-labeled btn-warning pull-right" style="margin-left: 5px;">
                        <span class="btn-label icon fa fa-check"></span> {{ getTextMsg('400005') }}
                    </a>
                    <button type="button" class="btn btn-flat btn-labeled btn-success pull-right" data-toggle="modal" data-target="#getCustomRange">
                        <span class="btn-label icon fa fa-gear"></span> {{ getTextMsg('400002') }}
                    </button>
                </div>
            </div>             
        </div>
    </div>

    <div class="clearfix"></div>
    {% include 'msg_error.html' %}
     <div class="col-sm-12">
        <h3 class="header-3 text-center">{{ BankName }}</h3>
        <h4 class="header-4 text-center">Trial Balance Report</h4>
        <h4 class="header-4 text-center"><strong>As of: </strong> {{ AsOf }}</h4>
        <h4 class="header-4 text-center"><strong>Branch: </strong> {{ BranchName }}</h4>
    </div>
        {% if VerifiedGLMapping %}
            <div class="col-sm-12">
                
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <table >
                        <tr>
                            <th>GL / Consolidate Key</th>
                            <th style="padding-left: 5px;">Description</th>
                        </tr>
                         {%for row in VerifiedGLMapping%}
                            <tr>
                                <td>{{row.ID}}</td>
                                <td style="padding-left: 5px;">{{row.Message}}</td>   
                            </tr>
                         {%endfor%}
                     </table>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
        {% elif Verified == "Yes"%}
            <div class="col-sm-12">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    All consolidate keys are properly mapped!
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
        {% endif %}
    

        <div class="clearfix">&nbsp;</div>
        
            
        <div class="panel panel-default">
            <table id="mktlist" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Acc No</th>
                        <th>Acc Name</th>
                        <th class="text-right" style="padding-right: 35px;">Beginning Debit Balance</th>
                        <th class="text-right" style="padding-right: 35px;">Beginning Credit Balance</th>
                        <th class="text-right" style="padding-right: 35px;">Movement Balance</th>
                        <th class="text-right" style="padding-right: 35px;">Ending Debit Balance</th>
                        <th class="text-right" style="padding-right: 35px;">Ending Credit Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% set TotalAmount = {"DrPreMonth":0, "CrPreMonth":0, "DrBalance":0, "CrBalance":0, "CurrentMonth":0} %}
                    {% for row in TrialBalance: %}

                        {% if row.ID not in HiddenGLLine %}

                            <tr>
                                <td>
                                    {% if row.SubGL: %}
                                        <strong>{{ row.ID }}</strong>
                                    {% else: %}
                                        {{ row.ID }}
                                    {% endif %}
                                </td>
                                <td>
                                {% if row.SubGL: %}
                                        <strong>{{ row.Description }}</strong>
                                    {% else: %}
                                        {{ row.Description }}
                                    {% endif %}
                                </td>
                                <td class="text-right" style="padding-right: 35px;">

                                    {% if int(Period) == 1 %}

                                        {% if row.BalanceType == 'Dr' %}
                                            {{ toMoney(float(row.PrevMonthBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, row.PrevMonthBal, 0, 0, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% elif int(Period) == 2 %}

                                        {% if row.BalanceType == 'Dr' %}
                                            {{ toMoney(float(row.PrevMonthBal) - float(row.CurrentPrevMonthBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, float(row.PrevMonthBal) - float(row.CurrentPrevMonthBal), 0, 0, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% else %}

                                        {% if row.BalanceType == 'Dr' %}
                                            {{ toMoney(float(row.PrevYearBal) - float(row.CurrentPrevYearBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, float(row.PrevYearBal)  - float(row.CurrentPrevYearBal), 0, 0, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% endif %}

                                </td>
                                <td class="text-right" style="padding-right: 35px;">

                                    {% if int(Period) == 1 %}

                                        {% if row.BalanceType == 'Cr' %}
                                            {{ toMoney(float(row.PrevMonthBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, row.PrevMonthBal, 0, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% elif int(Period) == 2 %}

                                        {% if row.BalanceType == 'Cr' %}
                                            {{ toMoney(float(row.PrevMonthBal) - float(row.CurrentPrevMonthBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, float(row.PrevMonthBal) - float(row.CurrentPrevMonthBal), 0, 0, 0) }}
                                            {% endif %}

                                        {% endif %}
                                        
                                    {% else %}

                                        {% if row.BalanceType == 'Cr' %}
                                            {{ toMoney(float(row.PrevYearBal) - float(row.CurrentPrevYearBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, float(row.PrevYearBal) - float(row.CurrentPrevYearBal), 0, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% endif %}

                                </td>
                                <td class="text-right" style="padding-right: 35px;">

                                    {% if int(Period) == 1 %}

                                        {% if row.CurrentMonthBal %}
                                            {{ toMoney(float(row.CurrentMonthBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, 0, 0, row.CurrentMonthBal) }}
                                            {% endif %}
                                        {% else %}
                                            {{ toMoney(float(0), getCurrencyObj(BaseCurrency)) }}

                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, 0, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% elif int(Period) == 2 %}

                                        {% if row.CurrentPrevMonthBal %}
                                            {{ toMoney(float(row.CurrentPrevMonthBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, 0, 0, row.CurrentPrevMonthBal) }}
                                            {% endif %}
                                        {% else %}
                                            {{ toMoney(float(0), getCurrencyObj(BaseCurrency)) }}

                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, 0, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% else %}

                                        {% if row.CurrentPrevYearBal %}
                                            {{ toMoney(float(row.CurrentPrevYearBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, 0, 0, row.CurrentPrevYearBal) }}
                                            {% endif %}
                                        {% else %}
                                            {{ toMoney(float(0), getCurrencyObj(BaseCurrency)) }}

                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, 0, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% endif %}
                                    
                                </td>
                                <td class="text-right" style="padding-right: 35px;">

                                    {% if int(Period) == 1 %}

                                        {% if row.BalanceType == 'Dr' %}
                                            {{ toMoney(float(row.Balance), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, row.Balance, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% elif int(Period) == 2 %}

                                        {% if row.BalanceType == 'Dr' %}
                                            {{ toMoney(float(row.PrevMonthBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, row.PrevMonthBal, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% else %}

                                        {% if row.BalanceType == 'Dr' %}
                                            {{ toMoney(float(row.PrevYearBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, row.PrevYearBal, 0, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% endif %}

                                </td>
                                <td class="text-right" style="padding-right: 35px;">

                                    {% if int(Period) == 1 %}
                                        
                                        {% if row.BalanceType == 'Cr' %}
                                            {{ toMoney(float(row.Balance), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, 0, row.Balance, 0) }}
                                            {% endif %}
                                        {% endif %}

                                    {% elif int(Period) == 2 %}

                                        {% if row.BalanceType == 'Cr' %}
                                            {{ toMoney(float(row.PrevMonthBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, 0, row.PrevMonthBal, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% else %}

                                        {% if row.BalanceType == 'Cr' %}
                                            {{ toMoney(float(row.PrevYearBal), getCurrencyObj(BaseCurrency)) }}
                                            
                                            {% if not row.SubGL: %}
                                                {{ getConsolBal(TotalAmount, 0, 0, 0, row.PrevYearBal, 0) }}
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% endif %}

                                </td>
                            </tr>
                        {% endif %}
                        {% if loop.last %}
                            <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td class="text-right" style="padding-right: 35px;"><strong>{{ toMoney(float(TotalAmount['DrPreMonth']), getCurrencyObj(BaseCurrency)) }}</strong></td>
                                <td class="text-right" style="padding-right: 35px;"><strong>{{ toMoney(float(TotalAmount['CrPreMonth']), getCurrencyObj(BaseCurrency)) }}</strong></td>
                                <td class="text-right" style="padding-right: 35px;"><strong></strong></td>
                                <td class="text-right" style="padding-right: 35px;"><strong>{{ toMoney(float(TotalAmount['DrBalance']), getCurrencyObj(BaseCurrency)) }}</strong></td>
                                <td class="text-right" style="padding-right: 35px;"><strong>{{ toMoney(float(TotalAmount['CrBalance']), getCurrencyObj(BaseCurrency)) }}</strong></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if ShowPrintBy == 'Yes' %}
            {{PrintByAndDate()|safe}}   
        {% endif %}
        <input type="hidden" id="Period_ID" value="{{ Period }}">
        <input type="hidden" id="Option_ID" value="{{ Option }}">
        <input type="hidden" id="ZeroBalance_ID" value="{{ ZeroBalance }}">
   

{% endblock %}

{% block js %}
    <!-- Call in Block Js -->

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

    <script type="text/javascript">

        $(document).ready(function() {

            $('#mktlist').dataTable({
                "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                "bSort" : false
            });

            $("#Apply").click(function(){
               window.parent.$("#animated").fadeIn("slow");
            });
            $("#Verified").click(function(){
               window.parent.$("#animated").fadeIn("slow");
            });

            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist','Trial Balance Report')}}

        });

    </script>

    <div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/TrialBalance" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Custom Branch</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">Branch:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" value="{{ Branch }}" name="Branch">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Period" class="col-sm-4 control-label">Period:</label>
                            <div class="col-sm-8">
                        
                                <select id="Period" name="Period" class="input-sm form-control" style="width: 100%;">

                                    <option value="1" {%if Period == '1'%}selected='selected'{%endif%} >Current Month</option>
                                    <option value="2" {%if Period == '2'%}selected='selected'{%endif%} >Current Previous Month</option>
                                    <option value="3" {%if Period == '3'%}selected='selected'{%endif%} >Current Previous Year</option>
                                   
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Option" class="col-sm-4 control-label">View Option:</label>
                            <div class="col-sm-8">
                                <select id="Option" name="Option" class="input-sm form-control" style="width: 100%;">
                                    {% if Option == "1" %}
                                        <option value="1" selected>Exclude Main GL</option>
                                        <option value="2">All</option>
                                    {% else %}
                                        <option value="1">Exclude Main GL</option>
                                        <option value="2" selected>All</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ZeroBalance" class="col-sm-4 control-label">Show Zero Balance:</label>
                            <div class="col-sm-8">
                                <select id="ZeroBalance" name="ZeroBalance" class="input-sm form-control" style="width: 100%;">
                                {% if ZeroBalance == "Y" %}
                                    <option value="Y" selected>Yes</option>
                                    <option value="N">No</option>
                                {% else %}
                                    <option value="Y">Yes</option>
                                    <option value="N" selected>No</option>
                                {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ShowPrintBy" class="col-sm-4 control-label">Show Print By & Date:</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" name="ShowPrintBy" style="width: 100%;" id="ShowPrintBy">
                                    {% if ShowPrintBy == 'Yes' %}
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No" >No</option>
                                    {% else %}
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        {% with class=8 %}
                        {% include 'gl/AdvanceOption.html' %}
                        {% endwith %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="Apply">Apply</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% macro getConsolBal(TotalAmount, DrPreMonth, CrPreMonth, DrBalance, CrBalance, CurrentMonthBal) %}
    {% if TotalAmount.update({ 

        "DrPreMonth":float(TotalAmount["DrPreMonth"]) + float(DrPreMonth),
        "CrPreMonth":float(TotalAmount["CrPreMonth"]) + float(CrPreMonth),
        "DrBalance":float(TotalAmount["DrBalance"]) + float(DrBalance),
        "CrBalance":float(TotalAmount["CrBalance"]) + float(CrBalance),
        "CurrentMonth":float(TotalAmount["CurrentMonth"]) + float(CurrentMonthBal)

    }) %}{% endif %}
{% endmacro %}
