{% extends "layout.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
	<style type="text/css">
		#Operation {
			width: 200px;
		}
	</style>
{% endblock %}

{% block content %}
<!-- Import flash message -->
{% include 'msg_error.html' %}
	<!-- Navbar -->
	<div class="navbar navbar-default navbar-static-top" id="CriteriaSetting">
		<div class="col-sm-12 ">
			<div style="margin-top: 8px;"></div>
				<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

				{% from "print.html" import exportButtonLink %}
				{{exportButtonLink()}}

			</div>
			<button type="button" class="btn btn-flat btn-labeled btn-warning pull-right" onclick="window.location.reload()" style="white-space: normal; margin-left: 5px;">
				<span class="btn-label icon fa fa-refresh"></span>Refresh
			</button>
			&nbsp;
			<button type="button" data-toggle="modal" data-target="#getCustomRange" class="btn btn-flat btn-labeled btn-success pull-right">
				<span class="btn-label icon fa fa-gear"></span>Custom
			</button>
		</div>
	</div>
	<!-- End Navbar -->

	<!-- Report Name -->
	<div class="col-sm-12">
		<h3 class="header-2 text-center">{{ Name }}</h3>
	</div>

	<!-- <div class="col-sm-12">
		<div class="text-center">
			<h4><strong>As of: </strong>{{ Date }}</h4>
		</div>
	</div> -->
	<!-- End Report Name -->


	<!-- DataTable -->
	<div class="col-sm-12">
		<table id="mktlist" class="table table-striped table display" cellspacing="0" width="100%" >
			<thead>
				<th>ID</th>
				<th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Phone</th>
                <th>Province</th>
                <th>District</th>
                <th>Commune</th>
                <th>Village</th>
			</thead>
			<tbody>
				{% for Student in ReportName %}
					<tr>
						<td>{{ Student.ID }}</td>
						<td>{{ Student.FirstName }}</td>
                        <th>{{ Student.LastName }}</th>
                        {% if Student.Gender == '1'%}
                        <th>Male</th>
                        {% else %}
                        <th>Female</th>
                        {% endif %}
                        <td>{{ Student.DOB }}</td>
                        <td>{{ Student.Phone }}</td>
                        <td>{{ Student.Province }}</td>
                        <td>{{ Student.District }}</td>
                        <td>{{ Student.Commune }}</td>
                        <td>{{ Student.Village }}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
			</tfoot>
			
		</table>
	</div>
	<!-- End DataTable -->
	<div class="modal fade" id="getCustomRange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/Report/Student/" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Custom</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group form-inline">
                        {% from '_operation.html' import setOperator %}
                    		<label for="Branch" class="col-sm-3 control-label">{{ getLanguage('Branch') }}:</label>
                            <div class="col-sm-9" style="width: 75%;">
                                <select id="BranchOperation" name="BranchOperation" class="col-sm-6 form-control">
                                    {{ setOperator(request.form['BranchOperation']) }}
                                </select>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" value="{{ request.form['Branch'] }}" placeholder="{{ getLanguage('Branch') }}" name="Branch" id="Branch">
                                </div>
                       		</div>
                        </div>
                        <div class="form-group form-inline">
                            <label for="Name" class="col-sm-3 control-label">{{ getLanguage('Name') }}:</label>
                            <div class="col-sm-9">
                                <select id="NameOperation" name="NameOperation" class="col-sm-6 form-control">
                            	   {{ setOperator(request.form['NameOperation']) }}
                                </select>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" value="{{ request.form['Name'] }}" placeholder="{{ getLanguage('Name') }}" name="Name" id="Name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="Gender" class="col-sm-3 control-label">{{ getLanguage('Gender') }}:</label>
                            <div class="col-sm-9">
                                <select id="GenderOperation" name="GenderOperation" class="col-sm-6 form-control">
                            	   {{ setOperator(request.form['GenderOperation']) }}
                                </select>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" value="{{ request.form['Gender'] }}" placeholder="{{ getLanguage('Gender') }}" name="Gender" id="Gender">
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label for="RegisterDate" class="col-sm-3 control-label">{{ getLanguage('Register Date') }}:</label>
                            <div class="col-sm-9">
                                <select id="RegDateOperation" name="RegDateOperation" class="col-sm-6 form-control">
                            	   {{ setOperator(request.form['RegDateOperation']) }}
                                </select>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" value="{{ request.form['RegisterDate'] }}" placeholder="{{ getLanguage('Register Date') }}" name="RegisterDate" id="RegisterDate">
                                </div>

                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label for="Course" class="col-sm-3 control-label">{{ getLanguage('Course') }}:</label>
                            <div class="col-sm-9">
                                <select id="CourseOperation" name="CourseOperation" class="col-sm-6 form-control">
                                	{{ setOperator(request.form['CourseOperation']) }}
                                </select>
                                <div class="col-sm-6 ">
                                    <input class="form-control" type="text" value="{{ request.form['Course'] }}" placeholder="{{ getLanguage('Course') }}" name="Course" id="Course">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
<!-- you can define javascript
-->
	{% from "print.html" import exportIncludeJS %}
	{{exportIncludeJS()}}

	<script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

	<script type="text/javascript">
		//Search dataTable
		$('#mktlist').dataTable({
            "lengthMenu"	: [[25,50,100,200, -1], [25,50,100,200, "All"]],
            "bSort" 		: true,
            "pageLength" 	: -1,
        });
        //Click print buttons
        $(document).ready(function() {
			{% from "print.html" import exportTable %}
			{{ exportTable("#mktlist","Student List Report") }}
		});
	</script>
{% endblock %}