<div class="modal-dialog modal-lg">
	<div class="modal-content">

		<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Document</h4>
        </div>

        <div class="modal-body">

        	{% if DocumentObj %}
        	
				<div id="carousel-api-attachment-generic" class="carousel slide" data-ride="carousel">

				  	<!-- Wrapper for slides -->
				  	<div class="carousel-inner">

			  			{% set i = 0 %}

			  			{% for item in DocumentObj %}

			  				{% if item.DocumentType == 'Image' %}
			  				
				  				<div class="item {% if i == 0 %}active{% endif %}">
						     		<img class="img-responsive" src="{{ url_for('static', filename='attachment/' + item.Link) }}" width="100%">
						      		<!-- <div class="carousel-caption">
						        		{{ item.Description }}
						      		</div> -->
						    	</div>

						    {% else %}

						    	<div class="item {% if i == 0 %}active{% endif %}">
							    	<object data="{{ url_for('static', filename='attachment/' + item.Link) }}" type="application/pdf" width="100%" height="400">
									  	<p>Can't view this file - link <a href="{{ url_for('static', filename='attachment/' + item.Link) }}">to download PDF!</a></p>
									</object>
								</div>

						    {% endif %}

					    	{% set i = i + 1 %}

			  			{% endfor %}

				  	</div>

				  	<!-- Controls -->
				  	<a class="left carousel-control" href="#carousel-api-attachment-generic" role="button" data-slide="prev" style="padding-top: 35%;">
				    	<span class="fa fa-chevron-left"></span>
				  	</a>
				  	<a class="right carousel-control" href="#carousel-api-attachment-generic" role="button" data-slide="next" style="padding-top: 35%;">
				    	<span class="fa fa-chevron-right"></span>
				  	</a>

				</div>

			{% else %}

		    	<div style="height: 250px;">
		    		This customer no document yet.
		    	</div>

	    	{% endif %}

		</div>

		<div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        	<a href="javascript:void(0);" id="LinkToAttachment" class="btn btn-primary">Add Document</a>
        	<script type="text/javascript">
		        $("#LinkToAttachment").on('click', function(){
		            if ( self !== top ) {
		                window.parent.addTab("Document", "/Morakot/Document/?ID={{ ID }}&Add=Y");
		            }else{
		                window.parent.location.href="/Morakot/Document/?ID={{ ID }}&Add=Y"
		            }
		        });
        	</script>
        </div>

	</div>
</div>

<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">
	$('#carousel-api-attachment-generic').carousel();
</script>