{% extends "layout.html" %}

{% block css %}

<style>
	.verticalLine {
    border-left: 1px solid #000;
}
</style>

{% endblock %}

{% block content %}

	<!--  message  -->
	<div class="clearfix">&nbsp;</div>
	{% include 'msg_error.html' %}

	<div style="padding: 3% 0;">

		<div class="col-sm-12">
			<h1 class="header-3 text-center">Data for CBC</h1>
		</div>

		<div class="col-sm-12" style="padding:20px 10px">
			<h4 class="header-3 text-center">Please click download below to get data for CBC available as CSV format or Excel format.</h4>
		</div>

		<div class="col-sm-6" style="padding:20px 10px">
			<h3 class="header-3 text-center">Loan Active</h3>
			<div class="text-center" style="margin:30px 0px;">
				<b>{{ getLanguage('Also available in') }} :</b>
				<a href="javascript:void(0);" id="btnSubmitCSV" style="cursor:pointer; color:#1d89cf;"> <i class='fa fa-files-o'></i> CSV &nbsp;</a>|
				<a href="javascript:void(0);" id="btnSubmitExcel" style="cursor:pointer; color:#1d89cf;"> <i class='fa fa-file-excel-o'></i> Excel &nbsp;</a>
			</div>
		</div>

		<div class="col-sm-6" style="padding:20px 10px">
			<h3 class="header-3 text-center">Loan Inactive</h3>
			<form id="CustomDate" class="form-inline text-center" method="POST">
				<div class="form-group" style="margin-top:30px">
					<label for="FromDate" class="control-label">Date From:</label>
					<input class="input-sm form-control" type="text" placeholder="YYYY-MM-DD" name="FromDate" id="FromDate" value="{{ FromDate | d('') }}">
					<label for="ToDate" class="control-label">To:</label>
					<input class="input-sm form-control" type="text" placeholder="YYYY-MM-DD" name="ToDate" id="ToDate" value="{{ ToDate | d('') }}">
				</div>
			</form>
			<div class="text-center" style="margin:30px 0px;">
				<b>{{ getLanguage('Also available in') }} :</b>
				<a href="javascript:void(0);" id="csv" style="cursor:pointer; color:#1d89cf;" > <i class='fa fa-files-o'></i> CSV &nbsp;</a>|
				<a href="javascript:void(0);" id="excel" style="cursor:pointer; color:#1d89cf;"> <i class='fa fa-file-excel-o'></i> Excel &nbsp;</a>
			</div>
		</div>

	</div>
	<!-- Warning -->
	<div id="uidemo-modals-alerts-warning" class="modal modal-alert modal-warning fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-warning"></i>
				</div>
				<div class="modal-title">Something is not quite right.</div>
				<div class="modal-body">Please contact your system administrator for more details.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Warning -->

	<script type="text/javascript">

		$(document).ready(function() {
			function fn_fadeIn(){
				var $getParentEle = window.parent.$("#animated")
				$getParentEle.fadeIn("slow");
			}
			function fn_fadeOut(){
				var $getParentEle = window.parent.$("#animated")
				$getParentEle.fadeOut();
			}
			$('#btnSubmitExcel').on("click",function(event){
				fn_fadeIn();
				document.location = "/Morakot/CBCData?Type=Excel";
				fn_fadeOut();
			});
			$('#btnSubmitCSV').on("click",function(event){
				fn_fadeIn();
				document.location = "/Morakot/CBCData?Type=CSV";
				fn_fadeOut();
			});
			$('#excel').on('click', function(event){
				fn_fadeIn();
				url      = '/Morakot/CBCLoanInactive?Type=Excel';
				FromDate = 'FromDate=' + $('input[name="FromDate"]').val();
				ToDate   = 'ToDate=' + $('input[name="ToDate"]').val();
				document.location = url + '&' + FromDate + '&' + ToDate;
				// $('#CustomDate').attr('action', "/Morakot/CBCLoanInactive?Type=Excel");
				// $('#CustomDate').submit();
				fn_fadeOut();
			});
			$('#csv').on('click', function(event){
				fn_fadeIn();
				url      = '/Morakot/CBCLoanInactive?Type=CSV';
				FromDate = 'FromDate=' + $('input[name="FromDate"]').val();
				ToDate   = 'ToDate=' + $('input[name="ToDate"]').val();
				document.location = url + '&' + FromDate + '&' + ToDate;
				fn_fadeOut();
			});
		});
	</script>

{% endblock %}

{% block js %}

	<script type="text/javascript">
		$(function(){
			init.push(function () {
				var options = {
					orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
					format:"yyyy-mm-dd",
					autoclose:true
				}
				$('#FromDate').datepicker(options);
			});
			
			init.push(function () {
				var options = {
					orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
					format:"yyyy-mm-dd",
					autoclose:true
				}
				$('#ToDate').datepicker(options);
			});
		});
	</script>

{% endblock %}