{% extends "layout.html" %}

{% block css %}
<style type="text/css">
body{
	/*background-color: #fff;*/
	/*color: #555;*/
	/*font-family: "Suwannaphum", Helvetica, Arial, sans-serif;*/
	font-size: 11px;
	/*line-height: 1.42857;*/
}
.title {
	font-size: 23px; 
	margin: 15px 0 5px 0;
}
.display-text {
  display: block;
  font-weight: bold;
  line-height: 21px;
  position: absolute;
  text-align: center;
  width: 100%;
}

</style>
<style type="text/css" media="print">
	body{
		font-size: 9px;
	}
	.title {
		font-size: 13px;
		font-weight: bold;
	}
</style>
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}

	<div class="navbar navbar-default navbar-static-top">
    	<form method="GET" id="frm" name="frm" role="form" action="">
			<div class="col-sm-8">
				<div style="margin-top: 8px;">
		    		<div class="col-sm-4" style="padding-left: 0;">
		                <input type="text" name="ID" class="form-control" value="{{ ID }}" style="width: 100%;" placeholder="Record ID *">
					</div>
					<label class="col-sm-1" style="padding:0px;">
		    			<button type="submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
	                        {{ getLanguage('Show') }}
	                    </button>
		    		</label>
				</div>
			</div>
			<div class="col-sm-4" style="margin-top: 8px;">
				<div class="pull-right">
					<a id="print" onclick="" class="btn btn-flat btn-labeled btn-success">
						<span class="btn-label icon fa fa-print"></span> {{ getLanguage('Print') }}
					</a>
                </div>
			</div>
		</form>
	</div>
	<!-- <div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
		<div class="col-sm-12">

			<div style="margin-top: 8px;">

			</div> 
			<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

				{% from "print.html" import exportButtonLink %}
				{{exportButtonLink()}}

			</div>
			<div class="col-sm-6" style="padding: 0;">
			<a href="#" class="btn btn-flat btn-labeled btn-warning pull-right" style="margin-left: 5px;">
			<span class="btn-label icon fa fa-refresh"></span> Re-Check to CBC
			</a>
			<a href="#" class="btn btn-flat btn-labeled btn-success pull-right">
			<span class="btn-label icon fa fa-check"></span>Take this
			</a>
			</div>

			
		</div> 
	</div> -->

	{% if ListError %}
		<div class="clearfix"></div>
		<div class="col-sm-12" style="padding-top:5px;">

			<div class="alert alert-danger" id="alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<ol>
					{% for message in ListError %}
					<li id="lblTableName">
						<a class="error_pointer" >
							<label for="TableName" style="width:15%;">
								{{message[0]}} <span style="color:#d38e99;">*	</span>
							</label>
						</a> 
						: {{message[1]}}
					</li>		
					{% endfor %}
				</ol>
				
			</div>
		</div>
	{% endif %}

	<!--  message  -->
	<div class="clearfix"></div>
	{% include 'error.html' %}
	{% if ResponseObj %}

		{# Status == OK #}
		{%if ResponseObj.RESPONSE.STATUS == 'OK' %}
			<div class="col-sm-12">
				<h3 class="header-3 text-center">CBC Enquiry {{CreditReport}}</h3>
			</div>
			{% set ReportObj = ResponseObj.RESPONSE.MESSAGE.ITEM.RSP_REPORT %}
			{% if ReportObj %}
				<div class="col-sm-12" style="padding:20px 10px">
					<div class="col-sm-6">
						<table>
							<tr>
								<td width="150"><strong>Report Date</strong></td>
								<td>: &nbsp; <b>{{ReportObj.REPORT_DATE}}</b></td>
							</tr>
							<tr>
								<td><strong>Enquiry Number</strong></td>
								<td>: &nbsp; <b>{{ReportObj.ENQUIRY_NO}}</b></td>
							</tr>
							<tr>
								<td><strong>Number of Applicant</strong></td>
								<td>: &nbsp; <b>{{ReportObj.NO_OF_APPLICANTS}}</b></td>
							</tr>
							<tr>
								<td><strong>Member Reference</strong></td>
								<td>: &nbsp; <b>{{ReportObj.ENQUIRY_REFERENCE}}</b></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6" style="padding-right: 20px;">
						<table style="float: right;">
							<tr>
								<td width="150"><strong>Enquiry Type</strong></td>
								<td>: &nbsp; <b>{{getEnquiryType(ReportObj.ENQUIRY_TYPE,Vlookup=True)}}</b></td>
							</tr>
							<tr>
								<td><strong>Product Type</strong></td>
								<td>: &nbsp; <b>{{getProductTypeCBC(ReportObj.PRODUCT_TYPE,Vlookup=True)}}</b></td>
							</tr>
							<tr>
								<td><strong>Account Type</strong></td>
								<td>: &nbsp; <b>{{getAccountType(ReportObj.ACCOUNT_TYPE,Vlookup=True)}}</b></td>
							</tr>
							<tr>
								<td><strong>Amount</strong></td>
								<td>: &nbsp; <b>{{ReportObj.CURRENCY}} {{formatNumber(float(ReportObj.AMOUNT),1,0)}}</b></td>
							</tr>
						</table>
					</div>
				</div>
			{% endif %}

			<!-- Score -->
			{% if ReportObj.CONSUMER.get('SCORE' , '') %}
				<div class="clearfix">&nbsp;</div>
				<div class="col-sm-12">
					<h3 class="title text-left">K-Score</h3>
					<table class="table table-striped panel panel-default" cellspacing="0" width="100%">
						<tbody>
							{% if ReportObj.CONSUMER.SCORE.get('SC_ERROR', '') %}
								<td colspan="7">
									The score could not be calculated for the following reason: <br/>
									{{ReportObj.CONSUMER.SCORE.SC_ERROR}}
								</td>
							{% else %}
								{% set ScoreObj = ReportObj.CONSUMER.SCORE %}
								<tr>
									<td><b>Index</b></td>
									<td></td>
									<td></td>
									<td><b>Score</b></td>
									<td><b>Scorecard</b></td>
									<td><b>Odds</b></td>
									<td><b>Bad</b></td>
									<td><b>Minimum</b></td>
									<td><b>Maximum</b></td>
								</tr>
								<tr>
									<td colspan="3">
										<div class="progress" style="margin-top:18px;height: 20px;position: relative;">
											{%if ScoreObj.SC_SCOREINDEX | int == 5 %}
												<div class="progress-bar" title="" style="width:20%;background-color:#018D46 !important;border-color: transparent;">
												</div>
												<div class="display-text">Very Low Risk</div>
											{%elif ScoreObj.SC_SCOREINDEX | int == 4 %}
												<div class="progress-bar" title="" style="width:40%;background-color:#CADB2B !important;border-color: transparent;">
												</div>
												<div class="display-text">Low Risk</div>
											{%elif ScoreObj.SC_SCOREINDEX | int == 3 %}
												<div class="progress-bar" title="" style="width:60%;background-color:#FEF102 !important;border-color: transparent;">
												</div>
												<div class="display-text">Moderate Risk</div>
											{%elif ScoreObj.SC_SCOREINDEX | int == 2 %}
												<div class="progress-bar" title="" style="width:80%;background-color:#FF9F1D !important;border-color: transparent;">
												</div>
												<div class="display-text">Medium Risk</div>
											{% else %}
												<div class="progress-bar" title="" style="width:100%;background-color:#D81823 !important;border-color: transparent;">
												</div>
												<div class="display-text">High Risk</div>
											{%endif%}
										</div>
									</td>
									<td>{{ScoreObj.SC_SCORE}}</td>
									<td>{{getScoreCard(ScoreObj.SC_SCORECARD)}}</td>
									{# <td>{{ScoreObj.SC_SCOREINDEX}}</td> #}
									<td>{{ScoreObj.SC_ODDS}}</td>
									<td>{{ScoreObj.SC_BAD}}%</td>
									<td>{{ScoreObj.SC_MINIMUM}}</td>
									<td>{{ScoreObj.SC_MAXIMUM}}</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			{% endif %}

			<!-- Data Provided vs (Primary Data Available) & Summary -->
			<div class="clearfix">&nbsp;</div>
			<div class="col-sm-12" id="Content">
				<div class="row">
					<h3 class="col-sm-6 title text-center">Data Provided vs (Primary Data Available)</h3>
					<h3 class="col-sm-6 title text-center">Summary</h3>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="col-sm-12">

					<!-- Date Provided -->
					<div class="col-sm-6" style="padding-left:0px !important;">
						<table class="table table-striped panel panel-default" cellspacing="0" width="100%">
							<tbody>
								{% if ReportObj.CONSUMER %}
									{% set ProvidedObj = ReportObj.CONSUMER.PROVIDED %}
									{% set AvailableObj = ReportObj.CONSUMER.AVAILABLE %}
									<tr>
										<td><b>Applicant Type</b></td>
										<td>{{formatApplicantType(EnquiryDic.ApplicantType,Vlookup=True)}}</td>
										<td>{{formatApplicantType(ReportObj.CONSUMER.CAPL,Vlookup=True)}}</td>
									</tr>
									<tr>
										<td><b>ID Type and Number</b></td>
										<td>{{getFormatIDType(EnquiryDic.IDType,Vlookup=True)}} {{EnquiryDic.IDNumber}}</td>
										<td>{{getFormatIDType(AvailableObj.ACID.ACID1,Vlookup=True)}} {{AvailableObj.ACID.ACID2}}</td>
									</tr>
									<tr>
										<td><b>ID Expiry Date</b></td>
										<td>{{EnquiryDic.ExpiryDateDD}}/{{EnquiryDic.ExpiryDateMM}}/{{EnquiryDic.ExpiryDateYYYY}}</td>
										<td>{{AvailableObj.ACID.ACID3}}</td>
									</tr>
									<tr>
										<td><b>Khmer Name</b></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Family Name</b></td>
										<td>{{ProvidedObj.PCNAM.get('PCNAMFA', '') }}</td>
										{% if AvailableObj.ACNAM %}
											<td>{{AvailableObj.ACNAM.get('ACNMFA', '') }}</td>
										{% else %}
											<td></td>
										{% endif %}
									</tr>
									<tr>
										<td><b>&ensp;&ensp;First Name</b></td>
										<td>{{ProvidedObj.PCNAM.PCNM1A}}</td>
										<td>{{AvailableObj.ACNAM.ACNM1A}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Second Name</b></td>
										<td></td>
										{% if AvailableObj.ACNAM %}
											<td>{{AvailableObj.ACNAM.get('ACNM2A', '')}}</td>
										{% else %}
											<td></td>
										{% endif %}
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Third Name</b></td>
										<td></td>
										{% if AvailableObj.ACNAM %}
											<td>{{AvailableObj.ACNAM.get('ACNM3A', '')}}</td>
										{% else %}
											<td></td>
										{% endif %}
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Unformatted</b></td>
										<td></td>
										{% if AvailableObj.ACNAM %}
											<td>{{AvailableObj.ACNAM.get('ACNM7A', '')}}</td>
										{% else %}
											<td></td>
										{% endif %}
									</tr>
									<tr>
										<td><b>English Name</b></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><b>Family Name</b></td>
										<td>{{ProvidedObj.PCNAM.PCNMFE}}</td>
										<td>{{AvailableObj.ACNAM.ACNMFE}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;First Name</b></td>
										<td>{{ProvidedObj.PCNAM.PCNM1E}}</td>
										<td>{{AvailableObj.ACNAM.ACNM1E}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Second Name</b></td>
										<td></td>
										{% if AvailableObj.ACNAM %}
											<td>{{AvailableObj.ACNAM.get('ACNM2E', '')}}</td>
										{% else %}
											<td></td>
										{% endif %}
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Third Name</b></td>
										<td></td>
										{% if AvailableObj.ACNAM %}
											<td>{{AvailableObj.ACNAM.get('ACNM3E', '')}}</td>
										{% else %}
											<td></td>
										{% endif %}
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Unformatted</b></td>
										<td></td>
										{% if AvailableObj.ACNAM %}
											<td>{{AvailableObj.ACNAM.get('ACNM7E', '')}}</td>
										{% else %}
											<td></td>
										{% endif %}
									</tr>
									<tr>
										<td><b>Place Of Birth </b></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Date of Birth</b></td>
										<td>{{ProvidedObj.PCDOB}}</td>
										<td>{{AvailableObj.ACDOB}}</td>
									</tr>

									<tr>
										<td><b>&ensp;&ensp;Place Of Country</b></td>
										<td>{{getCountryDescription(ProvidedObj.PCPLB.PCPLBC)}}</td>
										<td>{{getCountryDescription(AvailableObj.ACPLB.ACPLBC)}}</td>
									</tr>

									<tr>
										<td><b>&ensp;&ensp;Place Of Province</b></td>
										<td>{%if ProvinceObj.get(ProvidedObj.PCPLB.get('PCPLBP', '')) %}
												{{ProvinceObj.get(ProvidedObj.PCPLB.get('PCPLBP', '')).Description}}
											{%endif%}
										</td>
										<td>
											{%if ProvinceObj.get(AvailableObj.ACPLB.get('ACPLBP', '')) %}
												{{ProvinceObj.get(AvailableObj.ACPLB.get('ACPLBP', '')).Description}}
											{%endif%}
										</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Place Of District</b></td>
										<td>
											{%if DistrictObj.get(ProvidedObj.PCPLB.get('PCPLBD', '')) %}
												{{DistrictObj.get(ProvidedObj.PCPLB.get('PCPLBD', '')).Description}}
											{%endif%}
										</td>
										<td>
											{%if DistrictObj.get(AvailableObj.ACPLB.get('ACPLBD', '')) %}
												{{DistrictObj.get(AvailableObj.ACPLB.get('ACPLBD', '')).Description}}
											{%endif%}
										</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Place Of Commune</b></td>
										<td>
											{%if CommuneObj.get(ProvidedObj.PCPLB.get('PCPLBCM', '')) %}
												{{CommuneObj.get(ProvidedObj.PCPLB.get('PCPLBCM', '')).Description}}
											{%endif%}
										</td>
										<td>
											{%if CommuneObj.get(AvailableObj.ACPLB.get('ACPLBCM', '')) %}
												{{CommuneObj.get(AvailableObj.ACPLB.get('ACPLBCM', '')).Description}}
											{%endif%}
										</td>
									</tr>
									<tr>
										<td><b>Gender</b></td>
										<td>{{formatGender(ProvidedObj.PCGND,Vlookup=True)}}</td>
										<td>{{formatGender(AvailableObj.ACGND,Vlookup=True)}}</td>
									</tr>
									<tr>
										<td><b>Marital Status</b></td>
										<td>{{formatMaritalStatus(ProvidedObj.PCMAR,Vlookup=True)}}</td>
										<td>{{formatMaritalStatus(AvailableObj.ACMAR,Vlookup=True)}}</td>
									</tr>

									<tr>
										<td><b>Nationaltity</b></td>
										<td>{{ProvidedObj.PCNAT}}</td>
										<td>{{AvailableObj.ACNAT}}</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</div>

					<!-- Summary -->
					<div class="col-sm-6" style="padding-right:0px !important;">
						<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
							<tbody>
								{% if ReportObj.CONSUMER.get('SUMMARY', '') %}

									{% set SummaryObj = ReportObj.CONSUMER.SUMMARY %}

									<tr>
										<td><b>All Provious Enquiries</b></td>
										<td>{{SummaryObj.CNT_PE}}</td>
									</tr>
									<tr>
										<td><b>Enquiries for Previous 30 Days</b></td>
										<td>{{SummaryObj.CNT_MTDE}}</td>
									</tr>
									<tr>
										<td><b>Earliest Loan Issue Date</b></td>
										{% if SummaryObj.EISDT %}
											<td>{{SummaryObj.EISDT}}</td>
										{% else %}
											<td></td>
										{% endif %}
									</tr>
									<tr>
										<td><b>Total Accounts</b></td>
										<td>{{SummaryObj.CNT_ACC}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Normal Accounts</b></td>
										<td>{{SummaryObj.CNT_ACC_NORM}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Delinquent Accounts</b></td>
										<td>{{SummaryObj.CNT_ACC_DELQ}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Closed Accounts</b></td>
										<td>{{SummaryObj.CNT_ACC_CLO}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Reject Accounts</b></td>
										<td>{{SummaryObj.CNT_ACC_REJ}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Write Off Accounts</b></td>
										<td>{{SummaryObj.CNT_ACC_WRO}}</td>
									</tr>
									<tr>
										<td><b>Total Limits</b></td>
										<td>
											{% if SummaryObj.get('TOT_LIMITS', '') %}
												{%for row in makeList(SummaryObj.TOT_LIMITS)%}
													{{row.TOT_LIM_CURR}} {{formatNumber(float(row.TOT_LIM),1,0)}} </br>
												{%endfor%}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><b>Total Liabilities</b></td>
										<td>
											{% if SummaryObj.get('TOT_LIABILITIES', '') %}
												{%for row in makeList(SummaryObj.TOT_LIABILITIES)%}
													{{row.TOT_LIAB_CURR}} {{formatNumber(float(row.TOT_LIAB),1,0)}} </br>
												{%endfor%}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><b>Total Write Off Amounts</b></td>
										<td>
											{% if SummaryObj.get('TOT_WO_AMT', '') %}
												{%for row in makeList(SummaryObj.TOT_WO_AMT)%}
													{{row.TOT_WO_CURR}} {{formatNumber(float(row.TOT_WO),1,0)}} </br>
												{%endfor%}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Outstanding Write Off Balance</b></td>
										<td>
											{% if SummaryObj.get('TOT_WO_OS_BALANCE', '') %}
												{%for row in makeList(SummaryObj.TOT_WO_OS_BALANCE)%}
													{{row.TOT_WO_OS_CURR}} {{formatNumber(float(row.TOT_WO_OS_BAL),1,0)}} </br>
												{%endfor%}
											{% endif %}
										</td>
									</tr>

									<!-- Guaranteed Accounts -->
									<tr>
										<td><b>Guaranteed Accounts</b></td>
										<td>{{SummaryObj.CNT_GACC}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Normal Accounts</b></td>
										<td>{{SummaryObj.CNT_GACC_NORM}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Delinquent Accounts</b></td>
										<td>{{SummaryObj.CNT_GACC_DELQ}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Closed Accounts</b></td>
										<td>{{SummaryObj.CNT_GACC_ACC_CLO}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Reject Accounts</b></td>
										<td>{{SummaryObj.CNT_GACC_REJ}}</td>
									</tr>
									<tr>
										<td><b>&ensp;&ensp;Write Off Accounts</b></td>
										<td>{{SummaryObj.CNT_GACC_WRO}}</td>
									</tr>
									<tr>
										<td><b>Total Guaranteed Limits</b></td>
										<td>
											{% if SummaryObj.get('TOT_GLIMITS', '') %}
												{%for row in makeList(SummaryObj.TOT_GLIMITS)%}
													{{row.TOT_GLIM_CURR}} {{formatNumber(float(row.TOT_GLIM),1,0)}}</br>
												{%endfor%}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><b>Total Guaranteed Liabilities</b></td>
										<td>
											{% if SummaryObj.get('TOT_GLIABILITIES', '') %}
												{%for row in makeList(SummaryObj.TOT_GLIABILITIES)%}
													{{row.TOT_GLIAB_CURR}} {{formatNumber(float(row.TOT_GLIAB),1,0)}}</br>
												{%endfor%}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><b>Total Guaranteed Write Off Amounts</b></td>
										<td>
											{% if SummaryObj.get('TOT_GWO_AMT', '') %}
												{%for row in makeList(SummaryObj.TOT_GWO_AMT)%}
													{{row.TOT_GWO_CURR}} {{formatNumber(float(row.TOT_GWO),1,0)}}</br>
												{%endfor%}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><b>Outstanding Guaranteed Write Off Balance</b></td>
										<td>
											{% if SummaryObj.get('TOT_GWO_OS_BALANCE', '') %}
												{%for row in makeList(SummaryObj.TOT_GWO_OS_BALANCE)%}
													{{row.TOT_GWO_OS_CURR}} {{formatNumber(float(row.TOT_GWO_OS_BAL),1,0)}}</br>
												{%endfor%}
											{% endif %}
										</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>

				<!-- Additional IDs -->
				<div class="col-sm-12">
					<h3 class="title text-left">Additional IDs </h3>
					<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td><b>Date Loaded</b></td>
									<td><b>ID Type</b></td>
									<td><b>ID Number</b></td>
									<td><b>Expiry Date</b></td>
								</tr>

								{% set AddIDObj = ReportObj.CONSUMER.get('ADDITIONAL_IDS', '') %}

								{%if AddIDObj %}

									{%for row in makeList(AddIDObj.ADDITIONAL_ID) %}
										<tr>
											<td>{{row.AID_LOADDT}}</td>
											<td>{{row.AID_CID1}}</td>
											<td>{{row.AID_CID2}} </td>
											<td>{{row.AID_CID3}}</td>
										</tr>
									{%endfor%}

								{%else%}
									<tr>
										<td colspan="4">No record found.</td>
									</tr>
								{%endif%}
								
							</tbody>
					</table>
				</div>

				<!-- Additional Names -->
				<div class="col-sm-12">
					<h3 class="title text-left">Additional Names </h3>
					<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td><b>Date Loaded</b></td>
									<td><b>Khmer Name</b></td>
									<td><b>English Name</b></td>
								</tr>

								{% set AddNameObj = ReportObj.CONSUMER.get('ADDITIONAL_NAMES', '') %}

								{%if AddNameObj %}

									{% for row in makeList(AddNameObj.ADDITIONAL_NAME) %}
										<tr>
											<td>{{row.ANM_LOAD_DT}}</td>
											<td>{{row.ANM_CNMFA}} {{row.ANM_CNM1A}} {{row.ANM_CNM7A}}</td>
											<td>{{row.ANM_CNMFE}} {{row.ANM_CNM1E}} {{row.ANM_CNM7E}}</td>
										</tr>
									{% endfor %}

								{%else%}
									<tr>
										<td colspan="3">No record found.</td>
									</tr>
								{%endif%}
								
							</tbody>
					</table>
				</div>

				<!-- Previous Enquiries -->
				<div class="col-sm-12">
					<h3 class="title text-left">Previous Enquiries</h3>
					<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td><b>Date</b></td>
									<td><b>Enquirer</b></td>
									<td><b>Enquiry Type</b></td>
									<td><b>Account Type</b></td>
									<td><b>Member Reference</b></td>
									<td><b>Product</b></td>
									<td><b>Currency</b></td>
									<td><b>Amount</b></td>
									<td><b>Applicant Type</b></td>
									<td><b>Name</b></td>
								</tr>

								{% set PrevEnqObj = ReportObj.CONSUMER.get('PREV_ENQUIRIES', '') %}

								{%if PrevEnqObj %}

									{%for row in makeList(PrevEnqObj.PREV_ENQUIRY) %}
										<tr>
											<td>{{row.PE_DATE}}</td>
											<td>{{row.PE_ENQR}}</td>
											<td>{{getEnquiryType(row.PE_TYPE)}} </td>
											<td>{{ getAccountType(row.PE_ACCT,Vlookup=True) }}</td>
											<td>{{row.PE_MEMB_REF}}</td>
											<td>{{getProductTypeCBC(row.PE_PRD,Vlookup=True)}}</td>
											<td>{{row.get('PE_CURR', '')}}</td>
											{% if row.get('PE_AMOUNT', '') %}
												<td>{{formatNumber(float(row.PE_AMOUNT),1,0)}}</td>
											{% else %}
												<td></td>
											{% endif %}
											<td>{{formatApplicantType(row.PE_APPL,Vlookup=True)}}</td>
											<td>{{ row.PE_NAME.PE_NMFE }} {{ row.PE_NAME.PE_NM1E }} <br/>
												{{ row.PE_NAME.PE_NMFA }} {{ row.PE_NAME.PE_NM1A }}
											</td>
										</tr>
									{%endfor%}

								{%else%}
									<tr>
										<td colspan="8">No record found.</td>
									</tr>
								{%endif%}

							</tbody>
					</table>
				</div>

				<!-- Account Details -->
				<div class="col-sm-12">
					<h3 class="title text-left">Account Details</h3>

					{% set AccDeObj = ReportObj.CONSUMER.get('ACC_DETAILS', '') %}

					{%if AccDeObj %}

						{%for row in makeList(AccDeObj.ACC_DETAIL) %}

							<div class="col-sm-6" style="padding-left:0px !important;">
								<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td width="35%"><b>Creditor {{loop.index}}</b></td>
												<td>{{row.ACC_CRDTR}}</td>
											</tr>
											<tr>
												<td><b>Product Type</b></td>
												<td>{{getProductTypeCBC(row.ACC_PRD,Vlookup=True)}}</td>
											</tr>
											<tr>
												<td><b>Applicant Type</b></td>
												<td>{{formatApplicantType(row.ACC_CAPL,Vlookup=True)}}</td>
											</tr>
											<tr>
												<td><b>Account Number</b></td>
												<td>{{row.get('ACC_ACC_NO', '')}}</td>
											</tr>
											<tr>
												<td><b>Group Ref</b></td>
												<td>{{row.get('ACC_GRP_REF', '') }}</td>
											</tr>
											<tr>
												<td><b>Currency</b></td>
												<td>{{row.ACC_CURR}}</td>
											</tr>
											<tr>
												<td><b>Limit</b></td>
												<td>{{formatNumber(float(row.ACC_LIMIT),1,0)}}</td>
											</tr>
											<tr>
												<td><b>Restructured Loan</b></td>
												<td>{{row.ACC_RST_LOAN}}</td>
											</tr>
											<tr>
												<td><b>Tenure</b></td>
												<td>{{row.get('ACC_TNR', '') }}</td>
											</tr>
											<tr>
												<td><b>Installment Amount</b></td>
												{% if row.get('ACC_INSTL', '') %}
													<td>{{formatNumber(float(row.ACC_INSTL),1,0)}}</td>
												{% else %}
													<td></td>
												{% endif %}
											</tr>
											<tr>
												<td><b>Security Type</b></td>
												{% if row.get('ACC_SEC', '') %}
													<td>{{getSecurityType(row.ACC_SEC)}}</td>
												{% else%}
													<td></td>
												{% endif %}
											</tr>
											<tr>
												<td><b>Outstanding Balance</b></td>
												<td>{{formatNumber(float(row.ACC_CUB),1,0)}}</td>
											</tr>
											
										</tbody>
								</table>
							</div>
							<div class="col-sm-6" style="padding-right:0px !important;">
								<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
										<tbody>
											
											<tr>
												<td width="35%"><b>Issue Date</b></td>
												<td>{{row.ACC_ISSU_DT}}</td>
											</tr>
											<tr>
												<td><b>Expiry Date</b></td>
												<td>{{row.ACC_PROD_EXP_DT}}</td>
											</tr>
											<tr>
												<td><b>Closed Date</b></td>
												<td>{{row.ACC_CLSD_DT}}</td>
											</tr>
											<tr>
												<td><b>Status</b></td>
												<td>{{getPaymentStatus(row.ACC_STATUS,Vlookup=True)}}</td>
											</tr>
											<tr>
												<td><b>Payment Frequency</b></td>
												<td>{{getPaymentFrequency(row.ACC_FRQ)}}</td>
											</tr>
											<tr>
												<td><b>Last Amount Paid</b></td>
												{% if row.get('ACC_LAST_AMT_PD', '') %}
													<td>{{formatNumber(float(row.ACC_LAST_AMT_PD),1,0)}}</td>
												{% else %}
													<td></td>
												{% endif %}
											</tr>
											<tr>
												<td><b>Last Payment Date</b></td>
												<td>{{row.get('ACC_LAST_PAY_DT', '')}}</td>
											</tr>
											<tr>
												<td><b>Past Due</b></td>
												{% if row.get('ACC_ODB', '') %}
													<td>{{formatNumber(float(row.ACC_ODB),1,0)}}</td>
												{% else %}
													<td></td>
												{% endif %}
											</tr>
											<tr>
												<td><b>Next Payment Date</b></td>
												<td>{{row.get('ACC_NXT_DU_DT', '') }}</td>
											</tr>
											<tr>
												<td><b>As Of Date</b></td>
												<td>{{row.ACC_AS_OF_DT}}</td>
											</tr>
											<tr>
												<td><b>Last 24 Cycles</b></td>
												<td>{{row.ACC_SUMMRY}}</td>
											</tr>
											<tr>
												<td><b>Advisory Message</b></td>
												<td>{{row.ACC_ADV_MSG}}</td>
											</tr>
										</tbody>
								</table>
							</div>

						{%endfor%}

					{%else%}
						<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td>No record found.</td>
								</tr>
							</tbody>
						</table>
					{%endif%}
				</div>

				<!-- Advisory Message -->
				<div class="col-sm-12">
					<h3 class="title text-left">Advisory Message</h3>
					<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
							<tbody>
								<tr>
									{% set AdvText = ReportObj.CONSUMER.ADVISORY_SUMMARY_TEXT.ADVISORY_TEXT %}
									{% if AdvText == 'NOADV' %}
										<td>No adverse information could be found on the subject.</td>
									{% else %}
										<td>{{ AdvText }}</td>
									{% endif %}
								</tr>
							</tbody>
					</table>
				</div>

				<!-- Addresses -->
				<div class="col-sm-12">
					<h3 class="title text-left">Addresses</h3>

					{% set AddressObj = ReportObj.CONSUMER.get('ADDRESSES', '') %}

					{% if AddressObj %}

						{%for row in makeList(AddressObj.ADDRESS) %}

							<div class="col-sm-6" style="padding-left:0px !important;">
								<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
										<tbody>

											<tr>
												<td width="35%"><b>Address Type {{loop.index}}</b></td>
												<td>{{getAddressType(row.CA_CADT)}}</td>
											</tr>

											<tr>
												<td><b>Province</b></td>
												<td>
													{%if ProvinceObj.get(row.get('CA_PROV',''))%}
														{{ProvinceObj.get(row.get('CA_PROV','')).Description}}
													{%else%}
														{{row.get('CA_PROV','')}}
													{%endif%}

												</td>
											</tr>

											<tr>
												<td><b>Commune</b></td>
												<td>
													{%if CommuneObj.get(row.get('CA_COMM', ''))%}
														{{CommuneObj.get(row.get('CA_COMM', '')).Description}}
													{%else%}
														{{row.get('CA_COMM', '')}}
													{%endif%}

												</td>
											</tr>

											<tr>
												<td width="35%"><b>Address Line 1 English</b></td>
												<td>{{row.get('CA_CAD1E', '') }}</td>
											</tr>

											<tr>
												<td><b>Date Loaded</b></td>
												<td>{{row.CA_LOAD_DT}}</td>
											</tr>

										</tbody>
								</table>
							</div>

							<div class="col-sm-6" style="padding-right:0px !important;">
								<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
										<tbody>

											<tr>
												<td><b>Country</b></td>
												<td>{{getCountryDescription(row.CA_CAD9)}}</td>
											</tr>

											<tr>
												<td><b>District</b></td>
												<td>
													{%if DistrictObj.get(row.get('CA_DIST', ''))%}
														{{DistrictObj.get(row.get('CA_DIST', '')).Description}}
													{%else%}
														{{row.get('CA_DIST', '')}}
													{%endif%}

												</td>
											</tr>

											<tr>
												<td><b>Village</b></td>
												<td>
													{%if VillageObj.get(row.get('CA_VILL', ''))%}
														{{VillageObj.get(row.get('CA_VILL', '')).Description}}
													{%else%}
														{{row.get('CA_VILL', '')}}
													{%endif%}
												</td>
											</tr>

											<tr>
												<td width="35%"><b>Address Line 1 Khmer</b></td>
												<td>{{ row.get('CA_CAD1A', '') }}</td>
											</tr>

											<tr>
												<td><b>City</b></td>
												<td>
													{%if ProvinceObj.get(row.get('CA_CAD8E', ''))%}
														{{ProvinceObj.get(row.get('CA_CAD8E', '')).Description}}
													{%else%}
														{{row.get('CA_CAD8E', '')}}
													{%endif%}
												</td>
												{# <td>{{ row.get('CA_CAD8E', '') }}</td> #}
											</tr>

										</tbody>
								</table>
							</div>

						{% endfor %}


					{% endif %}

				</div>

				<!-- Occupation and Employment Details -->

				{% set EmpObj = ReportObj.CONSUMER.get('EMPLOYERS', '') %}
				<div class="col-sm-12">
					<h3 class="title text-left">Occupation and Employment Details</h3>

					{%for row in makeList(EmpObj.EMPLOYER) %}
						<div class="col-sm-6" style="padding-left:0px !important;">
							<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
									<tbody>
										<tr>
											<td width="35%"><b>Type</b></td>
											<td>{{getEmployerType(row.ETYP,Vlookup=True)}}</td>
										</tr>
										<tr>
											<td><b>Occupation</b></td>
											<td>{{row.get('EOCA', '')}} {{row.get('EOCE', '')}}</td>
										</tr>
										<tr>
											<td><b>Length of Service(M)</b></td>
											<td>{{row.ELEN}}</td>
										</tr>
										
										<tr>
											<td><b>Date Loaded</b></td>
											<td>{{row.EDLD}}</td>
										</tr>
									</tbody>
							</table>
						</div>
						<div class="col-sm-6" style="padding-right:0px !important;">
							<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
									<tbody>

										<tr>
											<td><b>Employer</b></td>
											<td>{{row.get('ENME', '')}} {{row.get('ENMA', '')}}</td>
										</tr>
										<tr>
											<td width="35%"><b>Self Employed</b></td>
											<td>{{getSelfEmployed(row.ESLF)}}</td>
										</tr>
										<tr>
											<td><b>Total Monthly Salary/Income</b></td>
											<td>{{formatNumber(float(row.ETMS),1,0)}}</td>
										</tr>
										<tr>
											<td><b>Currency</b></td>
											<td>{{row.ECURR}}</td>
										</tr>

									</tbody>
							</table>
						</div>
					{%endfor%}

				</div>

				<!-- Employer Address -->
				<div class="col-sm-12">
					<h3 class="title text-left">Employer Address</h3>

					{%for row in makeList(EmpObj.EMPLOYER) if row.get('EADR', '') %}
						<div class="col-sm-6" style="padding-left:0px !important;">
							<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
									<tbody>

										<tr>
											<td width="35%"><b>Address Type {{loop.index}}</b></td>
											<td>{{getAddressType(row.EADR.EA_CADT)}}</td>
										</tr>

										<tr>
											<td><b>Province</b></td>
											<td>
												{%if ProvinceObj.get(row.EADR.EA_PROV)%}
													{{ProvinceObj.get(row.EADR.EA_PROV).Description}}
												{%else%}
													{{row.EADR.EA_PROV}}
												{%endif%}

											</td>
										</tr>

										<tr>
											<td><b>Commune</b></td>
											<td>
												{%if CommuneObj.get(row.EADR.EA_COMM)%}
													{{CommuneObj.get(row.EADR.EA_COMM).Description}}
												{%else%}
													{{row.EADR.EA_COMM}}
												{%endif%}

											</td>
										</tr>

										<tr>
											<td width="35%"><b>Address Line 1 English</b></td>
											<td>{{row.EADR.get('EA_AD1E', '') }}</td>
										</tr>

										<tr>
											<td>&nbsp;</td>
											<td></td>
										</tr>

									</tbody>
							</table>
						</div>

						<div class="col-sm-6" style="padding-right:0px !important;">
							<table  class="table table-striped panel panel-default" cellspacing="0" width="100%">
									<tbody>

										<tr>
											<td><b>Country</b></td>
											<td>{{getCountryDescription(row.EADR.EA_AD9)}}</td>
										</tr>

										<tr>
											<td><b>District</b></td>
											<td>
												{%if DistrictObj.get(row.EADR.EA_DIST)%}
													{{DistrictObj.get(row.EADR.EA_DIST).Description}}
												{%else%}
													{{row.EADR.EA_DIST}}
												{%endif%}

											</td>
										</tr>

										<tr>
											<td><b>Village</b></td>
											<td>
												{%if VillageObj.get(row.EADR.EA_VILL)%}
													{{VillageObj.get(row.EADR.EA_VILL).Description}}
												{%else%}
													{{row.EADR.EA_VILL}}
												{%endif%}
											</td>
										</tr>

										<tr>
											<td width="35%"><b>Address Line 1 Khmer</b></td>
											<td>{{ row.EADR.get('EA_AD1A', '') }}</td>
										</tr>

										<tr>
											<td><b>City</b></td>
											<td>
												{%if ProvinceObj.get(row.EADR.get('EA_AD8E', ''))%}
													{{ProvinceObj.get(row.EADR.get('EA_AD8E', '')).Description}}
												{%else%}
													{{row.EADR.get('EA_AD8E', '')}}
												{%endif%}
											</td>
											{# <td>{{ row.EADR.get('EA_AD8E', '') }}</td> #}
										</tr>

									</tbody>
							</table>
						</div>
					{%endfor%}

				</div>

				<!-- Disclaimer -->
				<div class="col-sm-12" >
					<h3 class="title text-left">Disclaimer</h3>
					<table class="table panel panel-default" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td>{{ ReportObj.DISCLAIMER.DI_TEXT }}</td>
								</tr>
							</tbody>
					</table>
				</div>
			</div>

		{# Status == ERROR #}
		{% elif ResponseObj.RESPONSE.STATUS == "ERROR" %}

			<div class="col-sm-12">
				<div class="clearfix"></div>
				<div class="alert alert-warning" id="alert-warning">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<ol>
							{% for ErrorItem in makeList(ResponseObj.RESPONSE.MESSAGE.ITEM) %}
								{% for Error in makeList(ErrorItem.ERROR) %}
								<li id="lblTableName">
									<p>Field: {{Error.FIELD}}</p>
									<p>Message: {{Error.RSP_MSG}}</p>
									<p>Data: {{Error.DATA}}</p>
								</li>
								{% endfor %}
							{% endfor %}
						</ol>
					</div>
				</div>
			</div>

		{# Status == PARSER #}
		{% else %}

			{% set ParserObj = ResponseObj.RESPONSE.MESSAGE.PARSER %}}
			<div class="col-sm-12">
				<div class="clearfix"></div>
				<div class="alert alert-warning" id="alert-warning">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<ol>
							<li id="lblTableName">
								<p>Message: {{ParserObj.RSP_MSG}}</p>
								<p>Request Data: {{ParserObj.REQ_DATA}}</p>
							</li>
						</ol>
					</div>
				</div>
			</div>

		{%endif%}

	{% endif %}

{%endif%}

{% endblock %}

{% block js %}


{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">

	$(document).ready(function() {
		// $('#mktlist').dataTable({
		// 	"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
		// 	"aaSorting":[]
		// });
		{% from "print.html" import exportTable %}
		{#{exportTable("#mktlist","Enquiry Reports ")}#}
		$( "#print").click(function() {

			$('#exportButton').hide();
			$('.ActionHeader').hide();
			$('.ActionFotter').hide();
			$('.alert').hide();
			// document.body.style.fontSize = "0.9em";
			window.print();
			// window.location.reload(true);

		});
		
	});

</script>
{% endblock %}