{% extends "layout.html" %}

{% block css %}
	<style type="text/css">
	.form-control
	{
		width: 100% !important;
	}

	.se-pre-con1 {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
		opacity: 0.4;
		display: none;
	}
	.table-customer{
		margin-bottom: 18px;
    	width: 100%;

	}	

	.modal-dialog{
        width: 50%;
    }

	</style>
{% endblock %}

{% block content %}

<div class="navbar navbar-default navbar-static-top">
	<form method="GET" id="frm" name="frm" role="form" action="/Morakot/CustomerCentre">
		<div class="col-sm-12">

			<div class="col-sm-3" style="margin-top:8px; padding:0px">
<!-- 				<div class="col-sm-2">
					<label class="form-label" style="padding:5px 0;">
						
					</label>
				</div> -->
				
				<input class="input-sm form-control" width="100px" type="text" placeholder="Customer ID" name="Search" id="Search" value="{{getCustID}}" >
			</div>			 
			<div class="col-sm-6" style="margin-top:8px;">
				<label>
					<button type="submit" class="btn btn-flat btn-labeled btn-primary" id="btnShow" style="padding: 7px 25px;">
						{{ getLanguage('Show') }}
					</button>
				</label>

			</div>

			<div class="col-sm-3 text-right" style="margin-top:15px;">
				{%for row in Customer%}
					<a href="/Morakot/Api/Document/?ID={{ row.ID }}" data-toggle="modal" data-target="#ApiPreviewAttachment">
						<i class="fa fa-paperclip"></i> View Document
					</a>
				{%endfor%}
			</div>
			
		</div>
	</form>
</div>


<!--  message  -->
<div class="clearfix"></div>
 {% include 'error.html' %}


{%if Customer %}
<div id="Main">
<div class="col-sm-12" style="padding:0px;">
	<div class="col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="panel-title">{{ getLanguage('General - Info') }}</span>
				<div class="panel-heading-controls">
					<div class="panel-heading-icon">
						<!-- <i class="fa fa-inbox"></i> -->

					</div>
				</div>
			</div>
			<div class="panel-body" style="min-height: 350px; max-height: 350px;"> 
				{%for row in Customer%}
				<table class="table">
					<tr>
						<th>{{ getLanguage('ID') }}:</th>
						<td >
							<a  class="link" onclick="ClickView('Customer','Customer','{{row.ID}}')">
							{{row.ID}}</a>
						</td>
					</tr>
					<tr>
						<th>{{ getLanguage('Customer Name') }}:</th>
						<td>
							{{row.FirstNameEn}} {{row.LastNameEn}}
						</td>
					</tr>
					<tr>
						<th>{{ getLanguage('Gender') }}:</th>
						<td>{{row.Gender}}</td>
					</tr>
					<tr>
						<th>{{ getLanguage('Date of Birth') }}:</th>
						<td>{{formatDate(row.DateOfBirth)}}</td>
					</tr>
					<tr>
						<th>{{ getLanguage('Telephone') }}:</th>
						<td>{{row.Mobile1}} {{row.Mobile2}}</td>
					</tr>
					<tr>
						<th>{{ getLanguage('Address') }}:</th>
						<td>
							{{getAddress(
							row.HouseNo,
							lookupTable('MKT_VILLAGE','ID','Description',row.Village),
							lookupTable('MKT_COMMUNE','ID','Description',row.Commune),
							lookupTable('MKT_DISTRICT','ID','Description',row.District),
							lookupTable('MKT_PROVINCE','ID','Description',row.Province)
							)}}

						</td>
					</tr>
					<tr>
						<th>{{ getLanguage('Branch') }}:</th>
						<td>{{lookupTable('MKT_BRANCH','ID','Description',row.Branch)}}  </td>
					</tr>
					<tr>
						<th>{{ getLanguage('Officer') }}:</th>
						<td>{{row.Officer}} - {{lookupTable('MKT_OFFICER','ID','LastName',row.Officer)}} 
							{{lookupTable('MKT_OFFICER','ID','FirstName',row.Officer)}}  </td>
					</tr>
					
				</table>
				{%endfor%}
			</div>
		</div>
	</div>


	<script>
	init.push(function () {
		$('#AccountInfo .panel-body > div').slimScroll({ height: 330, alwaysVisible: true, color: '#888',allowPageScroll: true });
	})
	</script>
	<div class="col-sm-6">
		<div class="panel panel-info" id="AccountInfo">
			<div class="panel-heading">
				<span class="panel-title">{{ getLanguage('Account - Info') }}</span>
				<div class="panel-heading-controls">
					<div class="panel-heading-icon">
						
					</div>
				</div>
			</div>
			<div class="panel-body" style="min-height: 350px; max-height: 350px;">
				<div>
					<div class="table-responsive">
						<table class="table table-hover"  >
							<thead>
								<tr>
									<th>{{ getLanguage('Account') }}</th>
									<th>{{ getLanguage('Name') }}</th>
									<th>{{ getLanguage('Type') }}</th>
									<th>{{ getLanguage('Currency') }}</th>
									<th>{{ getLanguage('Balance') }}</th>
									<th>{{ getLanguage('Action') }}</th>
								</tr>
							</thead>
							{%if Account.count() != 0  %}
							<tbody>
								{%for row in Account%}
								<tr>
									<td>{{row.ID}}</td>
									<td>{{row.AccName}}</td>
									<td>{{row.AccProductDescription}}</td>
									<td>{{row.Currency}}</td>
									<td>{{toMoney(float(row.Balance),CurrencyObj(row.Currency) )}}</td>
									<td class="text-center">

									<a title="View Detail" style="cursor:pointer; color:#1d89cf;" 

									onclick="ClickView('Account','Account','{{row.ID}}')">
									<span class="btn-label icon fa fa-th-list"></span></a>

									| 

									<a title="View Account Statement" style="cursor:pointer; color:#1d89cf;" 
									onclick="ClickView('Account Statement','AccountStatement','{{row.ID}}')">
									<span class="btn-label icon fa fa-file-o"></span></a></td>

								</tr>
								{%endfor%}
							</tbody>
							{%else%}
							<tr>
								<td colspan="6">
							 		{{ getLanguage('No record') }}.
								</td>
							</tr>
							{%endif%}
						</table>
					</div><!-- Responsive-->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-12">
	<div class="panel panel-info" id="loan">
		<div class="panel-heading">
			<span class="panel-title">{{ getLanguage('Loan Contract - Info') }}</span>
			<div class="panel-heading-controls">
				<div class="panel-heading-icon">
					
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover" >
					<thead>
						<tr>
							<th>{{ getLanguage('Contract ID') }}</th>
							<th>{{ getLanguage('Loan Product') }}</th>
							<th>{{ getLanguage('Currency') }}</th>
							<th>{{ getLanguage('Disbursed') }}</th>
							<th>{{ getLanguage('Amount') }}</th>
							<th>{{ getLanguage('Value Date') }}</th>
							<th>{{ getLanguage('Maturity Date') }}</th>
							<th>{{ getLanguage('Interest Rate') }}</th>
							<th>{{ getLanguage('Branch') }}</th>
							<th>{{ getLanguage('Officer') }}</th>
							<th class="text-center">{{ getLanguage('Action') }}</th>


						</tr>
					</thead>
					{%if Loan.count() != 0 %}
					<tbody>
						{%for row in Loan%}
						<tr>
							<td>{{row.ID}}</td>
							<td>{{lookupTable('MKT_LOAN_PRODUCT','ID','Description',row.LoanProduct)}}</td>
							<td>{{row.Currency}}</td>
							<td>{{toMoney(float(row.Disbursed),CurrencyObj(row.Currency))}}</td>
							<td>{{toMoney(float(row.Amount),CurrencyObj(row.Currency))}}</td>
							<td>{{formatDate(row.ValueDate)}}</td>
							<td>{{formatDate(row.MaturityDate)}}</td>
							<td>{{row.InterestRate}}</td>
							<td>{{lookupTable('MKT_BRANCH','ID','Description',row.Branch)}}</td>
							<td>{{row.ContractOfficerID}}</td>
							<td class="text-center">
								<a title="View Detail"  style="cursor:pointer; color:#1d89cf;"
								onclick="
								ClickView('Loan Contract','LoanContract','{{row.ID}}')">

								
								<span class="btn-label icon fa fa-th-list"></a> | 
								<a title="View Repayment Schedule" style="cursor:pointer; color:#1d89cf;" onclick="ClickView('Repayment Schedule','RepaymentSchedule','{{row.ID}}')">
								<span class="btn-label icon fa fa-calendar"></span></a></td>
						</tr>
						{%endfor%}
					</tbody>
					{%else%}
					<tr>
						<td colspan="11">
							{{ getLanguage('No record') }}.
						</td>
					</tr>
						
					{%endif%}
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	init.push(function () {
		$('#dashboard-support-tickets .panel-body > div').slimScroll({ height: 330, alwaysVisible: true, color: '#888',allowPageScroll: true });
	})
</script>

	<div class="col-sm-12" style="padding:0px;">
		<div class="col-sm-6">
			<div class="panel panel-info" id="dashboard-support-tickets">
				<div class="panel-heading">
					<span class="panel-title">{{ getLanguage('Recent Activites') }}</span>
					<div class="panel-heading-controls">
						<div class="panel-heading-icon">
							
						</div>
					</div>
				</div>
				<div class="panel-body" style="min-height: 350px; max-height: 350px;"> 
					<div>
						<div class="table-responsive" >
							<table class="table table-hover" >
								<thead>
									<tr>
										
										<th>{{ getLanguage('Date') }}</th>
										<th>{{ getLanguage('Account') }}</th>
										<th>{{ getLanguage('Description') }}</th>
										<th>{{ getLanguage('Reference') }}</th>
										<th>{{ getLanguage('Amount') }}</th>									
									</tr>
								</thead>
							{%if RecentActive %}
								<tbody >
									{%for row in RecentActive%}
									<tr>
										<td>{{formatDate(row.TransactionDate)}}</td>
										<td>{{row.Account}}</td>
										<td>{{lookupTable('MKT_TRANSACTION','ID','Description',row.Transaction)}}</td>
										<td>
											

											<a  title="View Detail"  style="cursor:pointer; color:#1d89cf;" onclick="
											ClickView('{{DicModule.get(row.Module)}}','{{DicModule.get(row.Module)}}','{{row.Reference}}')
											">

											{{row.Reference}}</a></td>
									
										<td>{{toMoney(float(row.Amount),CurrencyObj(row.Currency),2 )}}</td>
									</tr>
									{%endfor%}
								</tbody>

							{%else%}
								<tbody>
									<tr>
										<td colspan="5">
									 		{{ getLanguage('No record') }}.
										</td>
									</tr>
								</tbody>
							{%endif%}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<span class="panel-title">{{ getLanguage('Past-Due Payment') }}</span>
					<div class="panel-heading-controls">
						<div class="panel-heading-icon">
							
						</div>
					</div>
				</div>
				<div class="panel-body"style="min-height: 350px; max-height: 350px;"> 
					<div class="table-responsive">
						<table class="table table-hover" >
							<thead>
								<tr>
									<th>{{ getLanguage('ID') }}</th>
									<th>{{ getLanguage('Currency') }}</th>
									<th>{{ getLanguage('Amount') }}</th>
									<th>{{ getLanguage('Pricipal') }}</th>
									<th>{{ getLanguage('Interest') }}</th>
									<th>{{ getLanguage('Penalty') }}</th>
								</tr>
							</thead>
							{%if PastDue.count() != 0  %}
							<tbody>
								{%for row in PastDue%}
								<tr>

									<td><a  title="View Detail"  style="cursor:pointer; color:#1d89cf;" onclick="ClickView('PD','PD','{{row.ID}}')">
										{{row.ID}}</a></td>
									<td>{{row.Currency}}</td>
									<td>{{toMoney(float(row.TotODAmount),CurrencyObj(row.Currency) )}}</td>
									<td>{{toMoney(float(row.TotPrincipalDue),CurrencyObj(row.Currency) )}}</td>
									<td>{{toMoney(float(row.TotInterestDue),CurrencyObj(row.Currency))}}</td>
									<td>{{toMoney(float(row.TotPenaltyDue),CurrencyObj(row.Currency))}}</td>
								</tr>
								{%endfor%}

							</tbody>
							{%else%}
							<tr>
								<td colspan="6">
							 		{{ getLanguage('No record') }}.
								</td>
							</tr>
							{%endif%}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


{%endif%}








{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#btnShow').on("click",function(e) 
		{
			$("#animated").fadeIn("slow");

		});
		$('#scroll').slimScroll({
		        height: '100px'
		        
		});

		$('[data-toggle="modal"]').on("click", function(e) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    // $(url).modal('open');
                    return false;
                } else {
                    $.get(url, function(data) {
                        $('<div class="modal">' + data + '</div>').modal();
                    }).success(function() {
                        $('input:text:visible:first').focus();
                    });
                }
            });
	});

</script>


<script type="text/javascript">
function popupwindow(url, title, w, h) {
var randomnumber = Math.floor((Math.random()*100)+1); 
var left = (screen.width/2)-(w/2);
var top = (screen.height/2)-(h/2);
return window.open(url, 'title'+randomnumber, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
} 

</script>
{% endblock %}