{% extends "layout.html" %}

{% block css %}
	<style type="text/css">
	.form-control
	{
		width: 100% !important;
	}

	.se-pre-con1 {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
		opacity: 0.4;
		display: none;
	}
	</style>
{% endblock %}

{% block content %}


<!--  message  -->
<div class="clearfix"></div>
<div class="col-sm-12">
	{% for message in get_flashed_messages() %}
		{% if contain(message, "Error") %}
			<div class="clearfix">&nbsp;</div>
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% else %}
			<div class="clearfix">&nbsp;</div>
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endif %}
	{% endfor %}
</div>
<div class="col-sm-12">
	<h3 class="header-3 text-center">Customer Report By Branch</h3>
</div>
<div class="col-sm-12" style="padding:20px 10px">
	<h4 class="header-3 text-center">As of : {{BankDate}}</h4>
</div>
<table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Branch ID</th>
			<th>Description</th>
			<th>Male</th>
			<th>Female</th>
			<th>Other</th>
			<th>Total </th>
		</tr>
	</thead>
	<tbody>
		
		{%for row in Branch%}
			<tr>
				
				<td>{{row.Branch}}</td>
				<td>{{row.Description}}</td>
				<td>{{DicMale[row.Branch]}}</td>
				<td>{{DicFemale[row.Branch]}}</td>
				<td>{{DicOther[row.Branch]}}</td>
				<td>{{DicTotal[row.Branch]}}</td>
			</tr>
			{% if loop.last %}
			<tr>
				<td></td>
				<td><strong>	Total 			</strong></td>
				<td><strong>	{{SumMale}} 	</strong></td>
				<td><strong>	{{SumFemale}} 	</strong></td>
				<td><strong>	{{SumOther}}	</strong></td>
				<td><strong>	{{SumTotal}}	</strong></td>
			</tr>
			{% endif %}
		{%endfor%}
	</tbody>
</table>



{% endblock %}

{% block js %}
<script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#mktlist').dataTable({
			"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"bSort" : false,
			"bLengthChange" :false,
		});
		$('.table-header').hide()
		$('#users-url').addClass('active');
	});

</script>
{% endblock %}