{% extends "layout.html" %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
	<style type="text/css">

		.se-pre-con1 {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
			opacity: 0.4;
			display: none;
		}

		.modal-dialog{
            width: 50%;
        }

        .pixel-file-input
        {
        	width: 330px;
        }

	</style>

{% endblock %}

{% block content %}

	<div class="se-pre-con1" id="animated"></div>
	<div class="navbar navbar-default navbar-static-top">
		<form method="GET" id="frm" name="frm" role="form" action="/Morakot/Document/">
			<div class="col-sm-12">

				{% if Add == 'Y' %}

					<div class="col-sm-8" style="margin-top:16px; padding:0px">

						<a href="javascript:void(0)" id="Save"  style="color: #777;">
							<span class="btn-label icon fa fa-floppy-o"></span> Save
						</a> &nbsp;&nbsp;&nbsp;

						<a href="javascript:void(0)" id="Cancel" style="color: #777;">
							<span class="btn-label icon fa fa-undo"></span>&nbsp; Cancel
						</a>

					</div>

				{% else %}

					<div class="col-sm-2" style="margin-top:8px; padding:0px">
						<input style="width: 100% !important;" class="input-sm form-control" width="100px" type="text" placeholder="Customer ID" name="ID" id="ID" value="{{ ID }}" >
					</div>		 
					<div class="col-sm-6" style="margin-top:8px;">
						<label>
							<button type="submit" class="btn btn-flat btn-labeled btn-primary" id="btnShow" style="padding: 7px 25px;">
								{{ getLanguage('Show') }}
							</button>
						</label>
					</div>

					{% if CustomerObj %}

						<div class="col-sm-4" style="margin-top:8px;">
							{% if Trash == 'Y' %}
								<a href="/Morakot/Document/?ID={{ ID }}" class="btn btn-flat btn-labeled btn-warning pull-right">
					                <span class="btn-label icon fa fa-reply"></span> Back
					            </a>
							{% else %}
								<a href="/Morakot/Document/?ID={{ ID }}&Trash=Y" class="btn btn-flat btn-labeled btn-danger pull-right">
					                <span class="btn-label icon fa fa-trash-o"></span> Trash
					            </a>
				            {% endif %}
				            <a href="/Morakot/Document/?ID={{ ID }}&Add=Y" class="btn btn-flat btn-labeled btn-success pull-right" style="margin-right: 5px;">
				                <span class="btn-label icon fa fa-file-image-o"></span> Add Document
				            </a>
						</div>

					{% endif %}

				{% endif %}
				
			</div>
		</form>
	</div>


	<!--  message  -->
	<div class="clearfix"></div>
    {% include 'msg_error.html' %}

    <!--  data content  -->
	<div class="clearfix"></div>
	<div class="col-sm-12">
		
		{% if CustomerObj %}

			{% if Add == 'Y' %}

				<form class="form-horizontal" action="/Morakot/Document/Upload/" method="POST" enctype="multipart/form-data" id="PostAttachment">
                    
                        <input type="hidden" value="{{ ID }}" name="CustomerID" id="CustomerID">
                        <input type="hidden" value="{{ DocumentID }}" name="ID">
                        <div class="form-group">
							<label class="col-sm-2 control-label" for="Description">
								{{ getLanguage('Description') }} <span style="color:#d38e99">*</span>
							</label>
							<div class="col-sm-10">
								<input id="Description" name="Description" class="form-control" value="{{ Description }}">
							</div>
						</div>

						{% if DocumentID %}

							<div class="form-group">
		                        <label for="file" class="col-sm-2 control-label"></label>
		                        <div class="col-sm-10">
		                        	{% if DocumentType == 'Image' %}
		                            	<img width="330" style="padding: 5px; border: 1px solid #CCC;" class="img-responsive" src="{{ url_for('static', filename='attachment/' + Link) }}" width="100%">
		                        	{% else %}
		                        		<object style="padding: 5px; border: 1px solid #CCC;" data="{{ url_for('static', filename='attachment/' + Link) }}" type="application/pdf" width="330" height="250">
										  	<p>Can't view this file - link <a href="{{ url_for('static', filename='attachment/' + Link) }}">to download PDF!</a></p>
										</object>
		                        	{% endif %}
		                        </div>
		                    </div>

						{% endif %}

	                    <div class="form-group">
	                        <label for="file" class="col-sm-2 control-label">Browse File (PDF, JPG, GIF, PNG) <span style="color:#d38e99">*</span></label>
	                        <div class="col-sm-10">
	                            <input id="BrowseFile" type="file" name="file" class="form-control">
	                            <script type="text/javascript">
	                            	init.push(function () {
										$('#BrowseFile').pixelFileInput({ placeholder: 'No file selected...' });
									})
	                            </script>
	                        </div>
	                    </div>

                </form>

			{% else %}

				<table id="mktlist" class="display" cellspacing="0" width="100%">
		            <thead>
		                <tr>                            
		                    <th>ID</th>
		                    <th>Customer</th>
		                    <th>Description</th>
		                    <th>Link</th>
		                    <th>Type</th>
		                    <th class="text-center">Action</th>
		                </tr>
		            </thead>

		            {% if DocumentObj %}

		            	<tbody>

		            		{% for item in DocumentObj %}
		            		
			            		<tr>
			            			<td>{{ item.ID }}</td>
			            			<td>{{ item.LastNameEn }} {{ item.FirstNameEn }}</td>
			            			<td>{{ item.Description }}</td>
			            			<td>{{ item.Link }}</td>
			            			<td>{{ item.DocumentType }}</td>
			            			<td class="text-center">
			            				{% if Trash == 'Y' %}

			            					<a id="RemoveAttachment" href="javascript:void(0);" onclick="getRemoveDocument('{{ item.ID }}', '{{ ID }}', '{{ item.Link }}')" title="Delete" style="padding: 2px 5px; border: 1px solid #CCC; border-radius: 5px; margin-right: 5px;">
				            					<i class="fa fa-trash-o text-danger"></i>
				            				</a>

				            				<a id="RestoreDocument" href="javascript:void(0);" onclick="getRestoreDocument('{{ item.ID }}', '{{ ID }}')" title="Restore" style="padding: 2px 5px; border: 1px solid #CCC; border-radius: 5px;">
				            					<i class="fa fa-undo text-info"></i>
				            				</a>

			            				{% else %}

			            					<a href="/Morakot/Api/Document/?ID={{ ID }}&ATID={{ item.ID }}" data-toggle="modal" data-target="#PreviewAttachment" title="Preview" style="padding: 2px 5px; border: 1px solid #CCC; border-radius: 5px;">
				            					<i class="fa fa-eye"></i>
				            				</a>
				            				&nbsp;&nbsp;
				            				<a target="_blank" href="{{ url_for('static', filename='attachment/' + item.Link) }}" title="Download" style="padding: 2px 5px; border: 1px solid #CCC; border-radius: 5px;">
				            					<i class="fa fa-cloud-download"></i>
				            				</a>
				            				&nbsp;&nbsp;
				            				<a href="/Morakot/Document/?ID={{ ID }}&Add=Y&AT={{ item.ID }}" title="Edit" style="padding: 2px 5px; border: 1px solid #CCC; border-radius: 5px;">
				            					<i class="fa fa-pencil text-warning"></i>
				            				</a>
				            				&nbsp;&nbsp;
				            				<a id="DeleteAttachment" href="javascript:void(0);" onclick="getDeleteDocument('{{ item.ID }}', '{{ ID }}')" title="Delete" style="padding: 2px 5px; border: 1px solid #CCC; border-radius: 5px;">
				            					<i class="fa fa-trash-o text-danger"></i>
				            				</a>

			            				{% endif %}
			            				
			            			</td>
			            		</tr>

			            	{% endfor %}

		            	</tbody>

		            {% endif %}

	        	</table>

        	{% endif %}

        {% endif %}

	</div>

{% endblock %}

{% block js %}

	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$('[data-toggle="modal"]').on("click", function(e) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    return false;
                } else {
                    $.get(url, function(data) {
                        $('<div class="modal">' + data + '</div>').modal();
                    }).success(function() {
                        $('input:text:visible:first').focus();
                    });
                }
            });

			$('#mktlist').dataTable();

			$('#btnShow').on("click",function(e) 
			{
				$("#animated").fadeIn("slow");

			});

			$('#scroll').slimScroll({
			        height: '100px'   
			});

            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#ProfilePicture').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#BrowseFile").change(function(){
                readURL(this);
            });

		});

		function getDeleteDocument(ID, CustomerID){
			bootbox.confirm({
				message: "Are you sure you want to delete document#" + ID + "?",
				callback: function(result) {
					if(result==true){
						$.ajax({
					        beforeSend: function() {
					            // $('#statusbox').html("Running deployment...");
					        },
					        type: "GET",
					        url: "/Morakot/Document/Delete/" + ID + "/?ID=" + CustomerID,
					        data: {},
					        success: function() {
					            console.log('Qa-run OK');
					            window.location.href="/Morakot/Document/?ID=" + CustomerID;
					        },
					        error: function() {
					            console.log('Qa-run failed.');
					        }
					    });
					}
					
				},
				className: "bootbox-sm"
			});
		}

		function getRemoveDocument(ID, CustomerID, File){
			bootbox.confirm({
				message: "Note: The record will be delete from trash and it can't be restored. Are you sure you want to delete document#" + ID + "?",
				callback: function(result) {
					if(result==true){
						$.ajax({
					        beforeSend: function() {
					            // $('#statusbox').html("Running deployment...");
					        },
					        type: "GET",
					        url: "/Morakot/Document/Remove/" + ID + "/?ID=" + CustomerID + "&Link=" + File,
					        data: {},
					        success: function() {
					            console.log('Qa-run OK');
					            window.location.href="/Morakot/Document/?ID=" + CustomerID + "&Trash=Y";
					        },
					        error: function() {
					            console.log('Qa-run failed.');
					        }
					    });
					}
					
				},
				className: "bootbox-sm"
			});
		}

		function getRestoreDocument(ID, CustomerID){
			bootbox.confirm({
				message: "Note: The record will be override to existing. Are you sure you want to restore?",
				callback: function(result) {
					if(result==true){
						$.ajax({
					        beforeSend: function() {
					            // $('#statusbox').html("Running deployment...");
					        },
					        type: "GET",
					        url: "/Morakot/Document/Restore/" + ID + "/?ID=" + CustomerID,
					        data: {},
					        success: function() {
					            console.log('Qa-run OK');
					            window.location.href="/Morakot/Document/?ID=" + CustomerID + "&Trash=Y";
					        },
					        error: function() {
					            console.log('Qa-run failed.');
					        }
					    });
					}
					
				},
				className: "bootbox-sm"
			});
		}

	</script>

	<script type="text/javascript">

		$("#Save").on("click",function(e){
			PostAttachment.submit();
		});

		$("#Cancel").on("click",function(e){
			window.location.href="/Morakot/Document/?ID={{ ID }}";
		});

	</script>
	
{% endblock %}