{% extends "layout.html" %}

{% block css %}
<style type="text/css">
#t1 {
   padding-right: 21px;
   display: inline;
}

#t2 {
    -moz-tab-size: 16; /* Code for Firefox */
    -o-tab-size: 16; /* Code for Opera 10.6-12.1 */
    tab-size: 16;
}

	.my-col-left{
		width: 95%;
		float: left;
	}

	.my-col-right{
		width: 5%;
		float: right;
		padding-left: 0;
	}
</style>
{% endblock %}

{% block content %}

	<!--  message  -->
	<div class="clearfix"></div>
	{% include 'msg_error.html' %}

	<div class="clearfix"></div>

	{% if Date %}

		<div class="my-col-left">
			<div class="col-sm-12">
				<h3 class="header-3">
					EOD Overal Status - {{ SystemDate }}
					<!-- <span class="pull-right">Holiday: {{ HolidayList }}</span> -->
					<span class="text-success pull-right" id="Duration_Overal">Duration: 0:00:00</span>
				</h3>
			</div>
		</div>
		<div class="my-col-right"></div>

		<div class="col-sm-12">

			<div class="row">
				<div class="my-col-left">
					<div id="ProgressBar" class="col-sm-12">	
						<div class="progress progress-striped active" style="height: 30px;"><div class="progress-bar progress-bar-success" style="width: {{Percentage}}%; height: 30px;"></div></div>
					</div>
				</div>
				<div class="my-col-right">
					<div class="col-sm-12" id="OveralCompleted" style="padding-left: 0; display: none;">
						<i class="fa fa-check-circle text-success" style="font-size:30px;"></i>
					</div>
				</div>
			</div>

			{% if BjStat %}

				{% for item in BjStat %}

					<div class="row">

						<div class="my-col-left">
							<div class="col-sm-12">
								<h6 class="text-light-gray text-semibold text-xs" style="margin:20px 0 10px 0;">{{ item.Description }} ( <span id="Prog_{{ item.Module }}">0</span> of {{ item.NumberOfRecord }} ) <span class="pull-right" id="Duration_{{ item.Module }}">Duration: 0:00:00</span></h6>
								<div id="{{ item.Module }}">
									<div class="progress progress-striped active" style="margin-bottom: 0; height: 20px;"><div class="progress-bar" style="width: {{ str(item.Completed) }}%; height: 20px;"></div></div>
								</div>
							</div>
						</div>

						<div class="my-col-right" id="Check_{{ item.Module }}" style="padding-top:39px; display: none; ">
							<div class="col-sm-12" style="padding-left: 0;">
								<i class="fa fa-check-circle text-info" style="font-size:23px;"></i>
							</div>
						</div>

					</div>

				{% endfor %}

			{% endif %}

			<div id="PD"></div>
			<div id="LC"></div>
			<div id="CL"></div>
			<div id="AA"></div>
			<div id="AL"></div>
			<!-- <div id="LW"></div> -->
			<div id="LD"></div>

		</div>

	{% else %}

		<div style="padding: 10% 0;">

			<div class="col-sm-12">
				<h1 class="header-3 text-center">EOD Batch Processing<br><span style="font-size: 18px;">{{ SystemDate }}</span></h1>
			</div>

			<div class="col-sm-12" style="padding:5px 10px">
				<input type="hidden" id="CurrentDate" value="{{ SystemDate }}">
				<h4 class="header-3 text-center">Please make sure you have backed-up database before running EOD. 
					<a href="javascript:void(0);" id="LinkToBackup">Backup Now</a>
					<script type="text/javascript">
                        init.push(function () {
                            $("#LinkToBackup").click(function(){
                                if ( self !== top ) {
                                    window.parent.addTab("Bankup", "/Morakot/Backup");
                                }else{
                                    window.parent.location.href="/Morakot/Backup";
                                }
                            });
                        });
                    </script>
				</h4>
			</div>

			{% if Error and Error == 'Y' %}

				<div class="col-sm-12" style="padding:20px 10px">
					<h4 class="header-3 text-center">
						<a href="javascript:void(0);" id="RemoteEODonServer" class="btn btn-flat btn-labeled btn-warning" style="padding: 25px 50px;">
							<b style="font-size: 20px;">Resume EOD</b>
						</a>
					</h4>
				</div>

			{% else %}

				<div class="col-sm-12" style="padding:20px 10px">
					<h4 class="header-3 text-center">
						<a href="javascript:void(0);" id="RemoteEODonServer" class="btn btn-flat btn-labeled btn-success" style="padding: 25px 50px;">
							<b style="font-size: 20px;">Start EOD</b>
						</a>
					</h4>
				</div>

			{% endif %}

		</div>

	{% endif %}

{% endblock %}

{% block js %}

	<script type="text/javascript">
		$(document).ready(function() {
			
			var poll_loop;
			 
			$("#RemoteEODonServer").click(function() {
				var CurrentDate = $("#CurrentDate").val();

				bootbox.confirm({
					{% if Error and Error == 'Y' %}
						message: "Are you sure you want to resume EOD?",
					{% else %}
						message: "Are you sure you want to start EOD?",
					{% endif %}
					
					callback: function(result) {
						if(result==true){
							$.ajax({
						        beforeSend: function() {
						            // $('#statusbox').html("Running deployment...");
						        },
						        type: "GET",
						        url: "/Morakot/EOD/Running/",
						        data: {},
						        success: function() {
						            console.log('Qa-run OK');
						            window.location.href="/Morakot/EOD/?Date={{ SystemDate }}";
						        },
						        error: function() {
						            console.log('Qa-run failed.');
						        }
						    });
						}
						
					},
					className: "bootbox-sm"
				});

			});
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			
			$('#btnBackup').on("click",function(event) 
			{
				window.parent.$("#animated").fadeIn("slow");
			});

			function getBJStat(){

				sse = new EventSource('/Morakot/BJStatBar/?Date={{ SystemDate }}');
				sse.onmessage = function(e) {

					var strdata = JSON.stringify(eval('('+e.data+')'));
					var data = JSON.parse(strdata);

					if(data['Check'] == '1'){
					
						var resutl = '<div class="progress progress-striped active" style="height: 30px;"><div class="progress-bar progress-bar-success" style="width: '+ data['Overal'] +'%; height: 30px;"></div></div>';
						var PD = '<div class="progress progress-striped active" style="margin-bottom: 0; height: 20px;"><div class="progress-bar" style="width: '+ data['PD'] +'%; height: 20px;"></div></div>';
						var LC = '<div class="progress progress-striped active" style="margin-bottom: 0; height: 20px;"><div class="progress-bar" style="width: '+ data['LC'] +'%; height: 20px;"></div></div>';
						var AL = '<div class="progress progress-striped active" style="margin-bottom: 0; height: 20px;"><div class="progress-bar" style="width: '+ data['AL'] +'%; height: 20px;"></div></div>';
						var AA = '<div class="progress progress-striped active" style="margin-bottom: 0; height: 20px;"><div class="progress-bar" style="width: '+ data['AA'] +'%; height: 20px;"></div></div>';
						// var LW = '<div class="progress progress-striped active" style="margin-bottom: 0; height: 20px;"><div class="progress-bar" style="width: '+ data['LW'] +'%; height: 20px;"></div></div>';
						var CL = '<div class="progress progress-striped active" style="margin-bottom: 0; height: 20px;"><div class="progress-bar" style="width: '+ data['CL'] +'%; height: 20px;"></div></div>';
						var LD = '<div class="progress progress-striped active" style="margin-bottom: 0; height: 20px;"><div class="progress-bar" style="width: '+ data['LD'] +'%; height: 20px;"></div></div>';
						
						$("#ProgressBar").html(resutl);
						$("#PD").html(PD);
						$("#LC").html(LC);
						$("#AL").html(AL);
						$("#AA").html(AA);
						// $("#LW").html(LW);
						$("#CL").html(CL);
						$("#LD").html(LD);

						$("#Prog_PD").html(data['NumPD']);
						$("#Prog_LC").html(data['NumLC']);
						$("#Prog_AL").html(data['NumAL']);
						$("#Prog_AA").html(data['NumAA']);
						// $("#Prog_LW").html(data['NumLW']);
						$("#Prog_CL").html(data['NumCL']);
						$("#Prog_LD").html(data['NumLD']);

						if (data['Duration_PD'] != '00:00:00')
						{
							$("#Duration_PD").html("Duration: " + data['Duration_PD']);
						}
						
						if (data['Duration_LC'] != '00:00:00')
						{
							$("#Duration_LC").html("Duration: " + data['Duration_LC']);
						}

						if (data['Duration_AL'] != '00:00:00')
						{
							$("#Duration_AL").html("Duration: " + data['Duration_AL']);
						}
						
						if (data['Duration_AA'] != '00:00:00')
						{
							$("#Duration_AA").html("Duration: " + data['Duration_AA']);
						}

						// if (data['Duration_LW'] != '00:00:00')
						// {
						// 	$("#Duration_LW").html("Duration: " + data['Duration_LW']);
						// }
						
						if (data['Duration_CL'] != '00:00:00')
						{
							$("#Duration_CL").html("Duration: " + data['Duration_CL']);
						}
						
						if (data['Duration_LD'] != '00:00:00')
						{
							$("#Duration_LD").html("Duration: " + data['Duration_LD']);
						}

						if(parseFloat(data['PD']) == parseFloat(100)){
							$("#Check_PD").show();
						}else{
							$("#Check_PD").hide();
						}

						if(parseFloat(data['CL']) == parseFloat(100)){
							$("#Check_CL").show();
						}else{
							$("#Check_CL").hide();
						}

						if(parseFloat(data['AA']) == parseFloat(100)){
							$("#Check_AA").show();
						}else{
							$("#Check_AA").hide();
						}

						if(parseFloat(data['AL']) == parseFloat(100)){
							$("#Check_AL").show();
						}else{
							$("#Check_AL").hide();
						}

						if(parseFloat(data['LC']) == parseFloat(100)){
							$("#Check_LC").show();
						}else{
							$("#Check_LC").hide();
						}

						// if(parseFloat(data['LW']) == parseFloat(100)){
						// 	$("#Check_LW").show();
						// }else{
						// 	$("#Check_LW").hide();
						// }

						if(parseFloat(data['LD']) == parseFloat(100)){
							$("#Check_LD").show();
						}else{
							$("#Check_LD").hide();
						}

						// if (data['OveralCompleted'] == 'Y')
						// {
						// 	$("#OveralCompleted").show();
						// 	$('#uidemo-modals-alerts-success').modal('show');
						// }else{
						// 	$("#OveralCompleted").hide();
						// }
						if (data['OveralCompleted'] == 'Y')
						{
							$("#OveralCompleted").show();
							$('#uidemo-modals-alerts-success').modal('show');
						}

						if (data['Duration_Overal'] != '00:00:00')
						{
							$("#Duration_Overal").html("Duration: " + data['Duration_Overal']);
						}

						{% if len(HolidayList) > 0 %}

							if (data['BankDate'] != "{{ SystemDate }}")
							{
								window.location.href="/Morakot/EOD/?Date=" + data['BankDate'];
							}

						{% endif %}

						{% if Date != "" %}

							if (data['Error'] != "")
							{
							    $('#uidemo-modals-alerts-danger').modal('show');
							}

						{% endif %}
						
					}
				}
			}

			getBJStat();

		});
	</script>

	<!-- Danger -->
	<div id="uidemo-modals-alerts-danger" class="modal modal-alert modal-danger fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-times-circle"></i>
				</div>
				<div class="modal-title">Oop!</div>
				<div class="modal-body" id="ShowMsgError">
					There is something wrong during EOD. Please check your error log, fix the issue and try again.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Danger -->

	<!-- Danger -->
	<div id="uidemo-modals-alerts-success" class="modal modal-alert modal-success fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-check-circle"></i>
				</div>
				<!-- <div class="modal-title">Successfully!</div> -->
				<div class="modal-body" id="ShowMsgError">
					EOD was sucessfully completed for {{ SystemDate }}.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Danger -->

{% endblock %}