{% extends "layout.html" %}

{% block css %}

{% endblock %}

{% block content %}

<div class="clearfix">&nbsp;</div>
{% include 'msg_error.html' %}

<div style="padding: 10% 0;">

	<div class="col-sm-12">
		<h1 class="header-3 text-center">Working on EOD</h1>
	</div>

	<div class="col-sm-12" style="padding:20px 10px">
		<input type="hidden" id="CurrentDate" value="{{ SystemDate }}">
		<h4 class="header-3 text-center">Please make sure you are already backup database before run eod.</h4>
	</div>

	<div class="col-sm-12" style="padding:20px 10px">
		<h4 class="header-3 text-center">
			<a href="javascript:void(0);" id="RemoteEODonServer" class="btn btn-flat btn-labeled btn-success">
				<span class="btn-label icon fa fa-history"></span> Run EOD
			</a>
		</h4>
	</div>

</div>



{% endblock %}

{% block js %}
	
	<script type="text/javascript">
		$(document).ready(function() {
			
			var poll_loop;
			 
			$("#RemoteEODonServer").click(function() {
				var CurrentDate = $("#CurrentDate").val();
			    $.ajax({
			        beforeSend: function() {
			            // $('#statusbox').html("Running deployment...");
			        },
			        type: "GET",
			        url: "/Morakot/EOD/Running/",
			        data: {},
			        success: function() {
			            console.log('Qa-run OK');
			            window.location.href="/Morakot/EOD/Result/?Date="+CurrentDate;
			        },
			        error: function() {
			            console.log('Qa-run failed.');
			        }
			    });
			});
		});
	</script>

{% endblock %}