{% extends "layout.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    The page you were looking for doesn't exist.
                </div>
                <br/>
                <hr>
                <div class="error-actions">
                     You may have mistyped the address or the page may have moved.
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}