{% extends "layout.html" %}

{% block css %}
    
       <style type="text/css">
        .form-control
        {

            width: 100% !important;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }
        .subtotal{
            font-size:14px;  
            font-weight: bold;
        }
        .grandtotal{
            font-size:14px;  
            font-weight: bold;
        }
        .text-right{
            padding-right: 35px !important;
            } 
        .blank_row{
            height: 30px;
        }
        .mktlink{
            
            color:#1d89cf;
        }
        .mktlink:hover{
            cursor:pointer;
        }
        .close{
            text-align: center !important;

        }
        .dataTables_wrapper .table-footer {
            margin-top: 0px;
            padding-right: 10px;
        }
      /*  .close:hover
        {
            
            background: none repeat scroll 0 0 #ccc !important;
            border-radius: 2px !important;
        }*/

    </style>
{% endblock %}

{% block content %}

{%set DicRow={} %}
{%set HeaderAlign=[]%}
{%for col in ReportRow %}
    {% if col[1] != 'H' %}
        {%if HeaderAlign.append(col[1])%}{%endif%}
    {%endif%}
    {%if DicRow.update({col[0]:col[1]})%}{%endif%}
    {%if col[1]== 'C' %}
        {%if DicRow.update({col[0]+col[1]:col[2]})%}{%endif%}
    {%endif%}

{%endfor%}

{% if Criteria %}
<div class="navbar navbar-default navbar-static-top" id="navberCriteria">
    <button type="button" id="Hide" class="close" style="padding-right:10px;">&times;</button>
    <form method="GET" id="frmReport" name="frm" role="form" action="/Morakot/Report/{{getID}}">
        <div class="col-sm-6" id="SectionCriteria">
            <table style="margin-top: 8px;">
                {# __kc__ testing #}
                {% for item in Criteria%}
                    {% if item != ''%}
                        <tr style="height:35px;">
                            <td class="col-sm-3">{{item[1]}}: </td>
                            <!-- loop in dictionary -->
                            <td class="col-sm-3">  

                                <select class="form-control" id="Opr{{item[1]}}" name="Opr{{item[1]}}" style="width:100px">
                                  
                                  <option value="EQ" {%if Oprs[item[0]] == 'EQ'%}selected='selected'{%endif%}> equal   </option>
                                  <option value="NE" {%if Oprs[item[0]] == 'NE'%}selected='selected'{%endif%}> not equal   </option>
                                  <option value="LK" {%if Oprs[item[0]] == 'LK'%}selected='selected'{%endif%}> contain </option>
                                  <option value="BT" {%if Oprs[item[0]] == 'BT'%}selected='selected'{%endif%}> between </option>
                                  <option value="GT" {%if Oprs[item[0]] == 'GT'%}selected='selected'{%endif%}> greater than</option>
                                  <option value="GE" {%if Oprs[item[0]] == 'GE'%}selected='selected'{%endif%}> greater than equal</option>
                                  <option value="LT" {%if Oprs[item[0]] == 'LT'%}selected='selected'{%endif%}> Less than</option>
                                  <option value="LE" {%if Oprs[item[0]] == 'LE'%}selected='selected'{%endif%}> Less than equal</option>
                                </select>

                                <script type="text/javascript">
                                    init.push(function () {
                                        // Single select
                                        $("#Opr{{item[1]}}").select2({
                                            allowClear: true,
                                            placeholder: "Opr{{item[1]}}"
                                        });
                                    });
                                </script>

                            </td>
                            <td class="col-sm-4">
                                {%if DicRow[item]=='D' %}
                                <input class="input-sm form-control" type="text" placeholder="{{item[1]}}" name="{{item[1]}}" id="{{item[1]}}" value="{{ kwargs[item[0]] }}" >
                                  <script type="text/javascript">
                                    $(document).ready(function() {
                                       
                                         init.push(function () {
                                            var options = {
                                            orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                                            format:"yyyy-mm-dd",
                                            autoclose:true,
                                            multidate: true,
                                            multidateSeparator:' '
                                            }
                                            $('#{{item[1]}}').datepicker(options);
                                            });
                                    });
                                </script>

                                {%else%}
                                    <input class="input-sm form-control" type="text" placeholder="{{item[1]}}" name="{{item[1]}}" id="{{item[1]}}" value="{{ kwargs[item[0]] }}" >
                                {%endif%}
                            </td>

                        </tr>
                        {% if loop.last%}
                        <tr style="height:50px;">
                            <td class="col-sm-3"></td>
                            <td class="col-sm-3"></td>
                            <td class="col-sm-4" style="text-align: right;">
                                <button type="submit" id="form_submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;" >
                                    Show
                                </button>

                            </td>
                        </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </form>             
</div>



{% endif %}





<div class="navbar navbar-default navbar-static-top ActionFotter" id="CriteriaSetting" >
    <div class="col-sm-12">

                <div style="margin-top: 8px;">

                </div> 
                <div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

                    {% from "print.html" import exportButtonLink %}
                    {{exportButtonLink()}}
                    <!-- <div class="btn-group" >
                        <button type="button" class="btn btn-flat btn-primary dropdown-toggle" data-toggle="dropdown" style="width:125px;">
                            &nbsp;Export Table
                        </button>
                        <button type="button" class="btn btn-flat btn-primary" data-toggle="dropdown">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="csv"> <i class='fa fa-files-o'></i> CSV </a></li> 
                            <li><a id="excel"> <i class='fa fa-file-excel-o'></i> Excel </a></li> 
                            <li><a href="javascript:void(0)" id="print"><i class='fa fa-print'></i>&nbsp;Print</a></li>
                        </ul>
                    </div> -->

                </div>
                <a href="javascript:void(0)" title="Refresh" id="Refresh" class="btn btn-flat btn-labeled btn-warning pull-right" style="margin-left: 5px;">
                        <span class="btn-label icon fa fa-refresh"></span> Refresh
                    </a>
                  <button  type="button"  class="btn btn-flat btn-labeled btn-success pull-right ActionFotter" id="Show" >
                  <span class="btn-label icon fa fa-gear"></span> Custom </button>
            

    </div> 
           
</div>

<!-- <li><a id="excels"> Excel</a></li>    -->
    

<!--     <div class="col-sm-6" >
       
        <a id="Show" class="mktlink">
            <i class='fa fa-gear'></i>&nbsp; Criteria Setting
        </a>
    </div> -->
<!--  message  -->
<div class="clearfix"></div>
<div class="col-sm-12">
    {% for message in get_flashed_messages() %}
        {% if contain(message, "Error") %}
            <div class="clearfix">&nbsp;</div>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% else %}
            <div class="clearfix">&nbsp;</div>
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% if ListError %}
    <div class="clearfix"></div>
    <div class="col-sm-12" style="padding-top:5px;">

        <div class="alert alert-danger" id="alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ol>
                {% for message in ListError %}
                <li>
                    <a class="error_pointer">
                        <label for="TableName">
                            {{message[0]}} <span style="color:#d38e99">*:</span>
                        </label>
                    </a> {{message[1]}}
                </li>
                {% endfor %}
            </ol>
            
        </div>
    </div>

{%else%}

    {% if DataTable %}

        <div class="col-sm-12">
            <h3 class="header-3 text-center">{{ Report.ReportTitle}}</h3>
        </div>
        {% if Criteria %}
            {%if urlRequest%}
            <div class="col-sm-12">
                <table>
                    
                     {% for item in kwargs%}
                        <tr>
                            <td width="150"><strong>{{ item }}</strong></td>
                            <td>: &nbsp;{{ kwargs[item] }}  </td>
                        </tr>
                     {% endfor %}
                </table>          
            </div>
            {% endif %}
        {% endif %}
    {#{mktfunction.AGE('1994-01-02')}#}
    {#{getattr(mktfunction,'AGE')('1994-01-02')}#}
    <div class="clearfix">&nbsp;</div>
    <div class="panel panel-default">
        {##   Declare Variable  ##}
        {% set ValueGroup   = {} %}
        {% set getFieldFunc = [] %}
        {% set getSum       = {} %}
        {% set getCou       = {} %}
        {% set getAvg       = {} %}
        {% set getGra       = {} %} 
        {%for row in ReportRow %}
            {## Set Default Function to Dictionary ##}
            {% for field in FunctionObj%}
                {%if field[0] == row[0] and field[1] == 'C' %}
                    {% if getCou.update({row[0] : 0 }) %} {% endif %}
                    {% if getGra.update({row[0] : 0 }) %} {% endif %}
                {%elif field[0] == row[0]  and field[1] == 'S' %}
                    {% if getSum.update({row[0] : 0 }) %} {% endif %}
                    {% if getGra.update({row[0] : 0 }) %} {% endif %}
                {%elif field[0] == row[0]  and field[1] == 'A' %}
                    {% if getAvg.update({row[0] : 0 ,'Count'+field[0] : 0 }) %} {% endif %}
                    {% if getGra.update({row[0] : 0 }) %} {% endif %}
                {%endif%}
                
            {%endfor%}
        {%endfor%}

        <table id="mktlist" class="table table-striped table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    
                    {% for FieldName in HeaderTable %}

                        {%if HeaderAlign[loop.index-1] =='N'%}
                            <th class="text-right">
                        {%elif HeaderAlign[loop.index-1] =='C'%}
                            <th class="text-right">
                        {%else%}
                            <th>
                        {%endif%}
                            <b>{{FieldName}}</b>
                        </th>

                        
                    {% endfor %}
                     
                </tr>
            </thead>
            <tbody>

                {% for row in DataTable %} 

                    {## call subtotal to output ##}
                    {% if GroupByField %}
                        {%if SourceField != 'MKT'%}
                            {% if ValueGroup[GroupByField] != row[GroupByField] and ValueGroup != {}  %}
                                
                                {{getSubtotal(getFieldFunc,row,DicRow,getGra,getSum,getCou,getAvg)}}
                            {%endif%}
                        {%else%}
                            {% if ValueGroup[GroupByField] != getattr(row,GroupByField) and ValueGroup != {}  %} 
                            
                                {{getSubtotal(getFieldFunc,row,DicRow,getGra,getSum,getCou,getAvg)}}
                            {%endif%}
                        {%endif%}
                    {%endif%}
                    
                    {## normall ##}             
                    <tr>
                        {% for col in ReportRow %}

                            {% set ListValueOfField  = [] %}
                            {% set resultFieldValue  = {} %}

                            {%if SourceField != 'MKT' %}
                                {% set FieldValue   = row[col[0]] %}
                                {% set Currency     = row[col[2]] %}

                                
                                {% if not FieldValue %}

                                    {## Block Formula Source = 'rpt' ##}
                                    {%for func in FormulaObj[col[0]]%}
                                        {%if func =='VLOOKUP' %} 
                                            {% set count = 0%}
                                            {%for fieldFuncFormula in FormulaObj[col[0]][func]%} {## For get value of field in function ##}
                                                
                                                {%if count==2%}
                                                    {%if ListValueOfField.append(row[fieldFuncFormula]) %} {%endif%}
                                                    {% set count = count + 1 %}
                                                {%else%}
                                                    {%if ListValueOfField.append(fieldFuncFormula) %} {%endif%}
                                                    {% set count = count + 1 %}
                                                {%endif%}
                                            {%endfor%}

                                        {##Normall func##}
                                        {%else%}
                                            {%for fieldFuncFormula in FormulaObj[col[0]][func]%} {## For get value of field in function ##}
                                                {%if hasattr(row,fieldFuncFormula)%}
                                                    {%set fieldFuncValue = row[fieldFuncFormula] %}
                                                {%else%}
                                                    {%set fieldFuncValue = fieldFuncFormula %}
                                                {%endif%}
                                                {%if ListValueOfField.append(fieldFuncValue) %} {%endif%}
                                                
                                            {%endfor%}
                                        {%endif%}

                                        {##start call user function and add to dic##}
                                        {%if resultFieldValue.update({ col[0]: getattr(mktfunction,func)(ListValueOfField) }) %}{%endif%}
                                    {%endfor%}

                                    {% set FieldValue   = resultFieldValue[col[0]]%}
                                   
                                {%endif%}

                            {%else%}

                                {%if hasattr(row,col[0])%} {## check row has col[0] is attrbute ##}
                                    {% set FieldValue   = getattr(row,col[0]) %}
                                    {%if col[1]=='C'%} 
                                        {% set Currency = getattr(row,col[2]) %}
                                    {%endif%}
                                {%else%}

                                    {%for func in FormulaObj[col[0]]%}
                                        {##For only func VLOOKUP##}
                                        {%if func =='VLOOKUP' %} 
                                            {% set count = 0%}
                                            {%for fieldFuncFormula in FormulaObj[col[0]][func]%} {## For get value of field in function ##}
                                                
                                                {%if count==2%}
                                                    {%if ListValueOfField.append(getattr(row,fieldFuncFormula)) %} {%endif%}
                                                    {% set count = count + 1 %}
                                                {%else%}
                                                    {%if ListValueOfField.append(fieldFuncFormula) %} {%endif%}
                                                    {% set count = count + 1 %}
                                                {%endif%}
                                            {%endfor%}

                                        {##Normall func##}
                                        {%else%}
                                            {%for fieldFuncFormula in FormulaObj[col[0]][func]%} {## For get value of field in function ##}
                                                {%if hasattr(row,fieldFuncFormula)%}
                                                    {%set fieldFuncValue = getattr(row,fieldFuncFormula)%}
                                                {%else%}
                                                    {%set fieldFuncValue = fieldFuncFormula %}
                                                {%endif%}

                                                {%if ListValueOfField.append(fieldFuncValue) %} {%endif%}
                                                 
                                                
                                            {%endfor%}
                                        {%endif%}
                                        {##Set call user function and add to dic##}
                                        {%if resultFieldValue.update({ col[0]: getattr(mktfunction,func)(ListValueOfField) }) %}{%endif%}
                                    {%endfor%}
                                    {% set FieldValue   = resultFieldValue[col[0]] %}

                                {%endif%}

                            {% endif %}

                            {% if col[0] == GroupByField  %} {## Check field groupby to update value ##}
                                {% if ValueGroup.update({col[0]: FieldValue }) %} {% endif %} 
                            {%endif%}


                            {## Read data to column in table ##}
                            {%if col[1]=='N'%}                          
                                <td class="text-right">
                                {{ FieldValue }}
                              
                            {%elif col[1]=='D'%}
                                <td>
                                {%if FieldValue %}        
                                    {{ formatDate(FieldValue) }}
                                {%endif%}
                            {%elif col[1]=='C'%}                          
                                <td class="text-right">
                                {%if not FieldValue %}
                                    {% set FieldValue   = 0 %}
                                {%endif%}
                                {{ toMoney(float(FieldValue),CurrencyObj(Currency) ) }}
                            {%elif col[1]=='H'%} 
                                {## Hidden Row ##}
                            {%else%}
                                <td>
                                {%if FieldValue!='' and FieldValue!=None %} {## Remove None ##}
                                    {{ FieldValue }}
                                {% endif %}                           
                            {%endif%}                      
                            
                            {%if FieldValue!='' and FieldValue!=None %}

                                {{setFuntionType(col[0],FieldValue,getSum,getCou,getAvg) }}                                   
                            {% endif %}

                                </td>
                        {% endfor %}
                    </tr> 
                    
                    {% if loop.last%}

                        {## fotter use for subtotal ##}
                        {% if GroupByField %}
                            {## Subtotal ##}
                        
                            {{getSubtotal(getFieldFunc,row,DicRow,getGra,getSum,getCou,getAvg)}}
                            {## GrandTotal Pagination ##}                    
                            {#{getGrandTotal(pagination,UrlPage)}#}

                            {## GrandTotal ##}                    
                            {{getGrandTotal(getGra)}}

                        {%endif%} 
                    {%endif%} {## endif loop.last ##}
                {% endfor %}

            </tbody>
        </table>

        {%if pagination%}
        <br>
        <div class="table-footer clearfix">
          <div class="DT-label">
            <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all"> Showing {{StartNumRecord}} to {{EndNumRecord}} of {{TotalRecord}} entries
            </div>
          </div>

          <div class="DT-pagination">
          <div class="dataTables_paginate paging_simple_numbers">
             {{ render_pagination(pagination,urlRequest) }}
          </div>
           
        </div>

        </div>
        {%endif%}

    {% endif %} <!-- DataTable -->

{% endif %} <!-- ListError -->
{% endblock %}

{% block js %}

{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}



    <script type="text/javascript">
        $(document).ready(function() {

            $("form#frmReports").submit(function(){
                $(".se-pre-con1").show();  
            });

            function fn_fadeIn(){
                var $getParentEle = window.parent.$("#animated")
                $getParentEle.fadeIn("slow");
            }
            $('#mktlist').dataTable({
               "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
                "bSort" : false,
                "sScrollX": "100%",
                "bScrollCollapse": true

                // "bLengthChange" :false,
            });
             $( "#form_submit").click(function() {
                fn_fadeIn();
            });
            
            // $('#mktlist_filter').hide()
            // $('.table-header').hide()
            $('#users-url').addClass('active');

            $("#Refresh").click(function() {
                fn_fadeIn();
                window.location.reload(true);
            });
            $( "#Hide").click(function() {
                $('#navberCriteria').hide( );
                $('#SectionCriteria').hide( );
                $('#CriteriaSetting').show();
            });
            $( "#Show").click(function() {
                $('#navberCriteria').show();
                $('#SectionCriteria').show();
                $('#CriteriaSetting').hide();
            });

             {% if Criteria %}
                $('#Show').show();
                {%if CriteriaRequired%}
                    $('#navberCriteria').show();
                    $('#SectionCriteria').show();
                    $('#CriteriaSetting').hide();
                    {%if urlRequest%}
                        $('#navberCriteria').hide();
                        $('#CriteriaSetting').show();
                    {%endif%}
                {%else%}
                    $('#navberCriteria').hide();
                    $('#SectionCriteria').hide();
                {%endif%}
            {%else%}
                $('#Show').hide();
            {%endif%}

            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist',Report.ReportTitile)}}
          

        });
</script>
    
{% endblock %}

{## Function AutoNumber ##}
{% macro getAutoNumber(Field,CurrentNum) %}
    {%if Field =='AutoNumber' %}
        {{CurrentNum+1}}
    {%endif%}
{%endmacro%}

{## Function Sum,Count,Average ##}
{## field[0] is FieldName in FunctionObj; field[1] is FunctionType in FunctionObj##}
{% macro setFuntionType(FieldName,data,getSum,getCou,getAvg) %}
    
    {% for field in FunctionObj%}

        {%if FieldName == field[0] %} 

            {% if field[1]   == 'S' %}                
                {% if getSum.update({FieldName: data + getSum[FieldName] }) %} {% endif %}                

            {% elif field[1] == 'C' %}
                
                {% if getCou.update({FieldName: 1 + getCou[FieldName] }) %} {% endif %}

            {% elif field[1] == 'A' %}
                
                {% if getAvg.update({FieldName: data + getAvg[FieldName],'Count'+field[0]: 1 + getAvg['Count'+field[0]] }) %} {% endif %}
                
            {% endif %}

        {% endif %}

    {% endfor %}                         
{% endmacro %}

{## output for subtotal in row ##}  
{% macro getSubtotal(getFieldFunc,row,DicRow,getGra,getSum,getCou,getAvg) %}
    {%if FunctionObj %}

    <tr class="subtotal"> 
        {% set AddSubtotalLabel= 1 %}                      
        {%for col in ReportRow %}

            {% if col[1] != 'H' %}

                {% for field in FunctionObj%}
                    
                    {%if col[0] == field[0] %}

                        {%if col[1]=='N'%}                          
                            <td class="text-right">
                        {%elif col[1]=='C'%}
                            <td class="text-right">
                        {%else %}
                            <td>
                        {%endif%} 
                        {% if field[1]=='C' %}
                            {% for item in getCou %}
                                {%if field[0] == item %}
                                    {{ getCou[item] }}
                                    {%if getGra.update({item:getCou[item]+getGra[item] })%}{%endif%} {##Add GrandTotal##}
                                    {%if getCou.update({item:0}) %}{%endif%}
                                {%endif%}                                    
                            {% endfor%}

                        {% elif field[1]=='S' %}                                                
                                {% for item in getSum %}
                                    {%if field[0] == item %}

                                        {##Output##}
                                        {%if DicRow[item+'C']%} {## Record is format curreny##}
                                            {{ toMoney(float(getSum[item]),CurrencyObj(getattr(row,DicRow[item+'C'])))}}
                                        {%else%}
                                            {{ float(getSum[item]) }}
                                        {%endif%}
                                       
                                        {%if getGra.update({item:getSum[item]+getGra[item] })%}{%endif%} {##Add GrandTotal##}
                                        {%if getSum.update({item:0}) %}{%endif%}
                                    {%endif%}
                                {% endfor%}                                                    

                        {% elif field[1]=='A' %}                                                
                                {% for item in getAvg %}
                                    {%if field[0] == item %}
                                         {##Output##}
                                        {%if DicRow[item+'C']%} {## Record is format curreny##}
                                            {{ toMoney(float(getAvg[item]/getAvg['Count'+field[0]]),CurrencyObj( DicRow[item+'C'] ) ) }}
                                        {%else%}
                                            {{ float(getAvg[item]/getAvg['Count'+field[0]])  }}
                                        {%endif%}
                                        
                                        
                                        {%if getGra.update({item:getGra[item]+(getAvg[item] / getAvg['Count'+field[0]]) })%}{%endif%} {##Add GrandTotal##}
                                        {%if getAvg.update({item:0,'Count'+field[0]:0}) %}{%endif%}
                                    {%endif%}
                                {% endfor%}

                        {% endif %}

                        {%if getFieldFunc.append(field[0]) %}  {% endif %}

                        </td>                        
                    {% endif %}

                {% endfor %}

                {%if AddSubtotalLabel == 1 %}
                    <td> <b> Subtotal </b> </td>
                    {% set AddSubtotalLabel= 0 %}
                {%else%}
                    {%if getFieldFunc == [] %}
                        <td> </td>
                    {% endif %}
                {% endif %}

            {% endif %}
            {% set getFieldFunc=[]%}

        {% endfor %}
    </tr>

    <tr class="blank_row">
         {%for col in ReportRow %}
            {%if col[1]!='H'%}

                <td></td>
            {%endif%}
        {%endfor%}
    </tr>
    {%endif%}
{% endmacro %}


{##Output GrandTotal##}
{%macro getGrandTotal(getGra) %}
    {% if GrandTotal %}
        <tr class="grandtotal">
        {% set CountField = 0 %}
        {% set AddGrandTotalLabel = 1 %}

        {%for col in ReportRow %} 
            {% if col[1] != 'H' %}                     
              
                {%if col[0] in getGra  %}
                    {%if col[1] == 'N'%}
                        <td class="text-right">

                            {{float(getGra[col[0]])}}
                    {%elif col[1] =='C'%}
                        <td class="text-right">

                            {{float(getGra[col[0]])}}
                    {%else%}
                        <td>
                            {{getGra[col[0]]}}
                    {%endif%}
                        </td>

                {% else %}
                    {%if AddGrandTotalLabel == 1 %}
                        <td>Grand Total :</td>
                        {% set AddGrandTotalLabel = 0 %}
                    {%else%}
                        <td>    </td>
                    {% endif %}
                {% endif %}
           
                {% set CountField = CountField + 1 %}
            {% endif %}
        {% endfor %}
        </tr>
    {% endif %}                
{% endmacro %}






{% macro render_pagination(pagination,urlRequest) %}
<ul class="pagination">
    {% if pagination.has_prev %}
        <li><a href="{{ url_for_other_page(pagination.page - 1)}}?{{urlRequest}}">&laquo; Previous</a></li>
    {% endif %}

    {%- for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                
                <li> <a href="{{ url_for_other_page(page) }}?{{urlRequest}}"> {{ page }} </a> </li>
               
            {% else %}
                <li class="paginate_button active"> <a href=""> {{ page }} </a> </li>
            {% endif %}
            {% else %}
            <li> <span class=ellipsis>…</span></li>
        {% endif %}
    {%- endfor %}

    {% if pagination.has_next %}
      
        <li><a href="{{ url_for_other_page(pagination.page + 1)}}?{{urlRequest}}">Next &raquo;</a></li>
        
    {% endif %}
</ul>
{% endmacro %}