{% extends "layout.html" %}

{% block css %}
<style type="text/css">
		.modal {
            z-index: 99999 !important;
        }
        .modal-backdrop {
        	z-index: 99 !important;	
        }
</style>
{% endblock %}

{% block content %}
{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}
	
	<div class="navbar navbar-default navbar-static-top ActionHeader"  >
	<div class="col-sm-12">

		<div style="margin-top: 8px;">

		</div> 
		<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

			{% from "print.html" import exportButtonLink %}
			{{exportButtonLink()}}

		</div>

		<button  type="button"  class="btn btn-flat btn-labeled btn-success pull-right" data-toggle="modal" data-target="#myModal">
		<span class="btn-label icon fa fa-gear"></span> Custom </button>
	</div> 
	<div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="/Morakot/CashPosition" method="GET">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Custom</h4>
                    </div>
                        
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Branch" class="col-sm-4 control-label">Hide Zero Balance : </label>
                            <div class="col-sm-8">
                                <select id="jquery-select2-example" name="HideZero" class="input-sm form-control">
                                    {% if HideZero == 'Yes' %}
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No">No</option>
                                    {% else %}
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Apply</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
	<!--  message  -->
	<div class="clearfix"></div>
	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message,"Error") %}
				<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message[6:]}}
			</div>
			{% elif contain(message,"Warning") %}
				<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message[8:] }}
			</div>
			{% else %}
				<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endif %}
		{% endfor %}
		
	</div>
	<script type="text/javascript">
	function ClickViewCash(Title,Url,ID) {
			// you're in an iframe
			if ( self !== top ) {
				window.parent.addTab(Title+"-"+ID, Url+"/?ID="+ID+"&Start={{BankDate}}&End={{BankDate}}");
			}else{
				window.parent.location.href="/Morakot/"+Url+"/?ID="+ID+"&Start={{BankDate}}&End={{BankDate}}"
			}
		}
	</script>
	<div class="col-sm-12">
		<h3 class="header-3 text-center" style="padding-bottom:40px;">Cash Position Reports</h3>
		<table class="table table-hover" id="mktlist">
			<thead>
				<tr>
					
					<th>Account Number </th>
					<th>Account Name </th>
					<th>Type</th>
					<th>Currency</th>
					<th class="text-right">Balance</th>
					<th class="text-center">Branch ID</th>
					<th >Branch Description</th>
					<th>User</th>
				</tr>
			</thead>
			
			<tbody class="valign-middle">
				{%if AccObj%}
					{%for row in AccObj %}

						<tr class="link"  onclick="ClickViewCash('Account Statement','AccountStatement','{{row.ID}}')">

							<td>{{row.ID}}</td>
							<td>{{row.AccName}}</td>
							<td>
								{%if DicProduct%}
									{%if row.AccProduct in DicProduct%}
										{{ DicProduct[row.AccProduct]  }}
									{%endif%}
								{%endif%}
							</td>
							<td>{{row.Currency}}</td>
							<td class="text-right">{{toMoney(float(row.Balance),CurrencyObj(row.Currency) )}}</td>
							<td class="text-center">{{row.Branch}}</td>
							<td>{{VLOOKUP(['MKT_BRANCH','ID',row.Branch,'Description'])}}</td>
							<td>
								{%set User='' %}
								{%set CashID=DicCash[row.ID] %}
								{%if CashID%}
									{%set UserCashAccount=getUserCashAccount(CashID=CashID) %}
									{%if UserCashAccount%}
										{%set ShowUser = {} %}
										{%for row in UserCashAccount%}

											{%set User= User + ListUser.get(row).DisplayName%}
											{%if not loop.last%}
												{%set User= User +", "%}
											{%endif%}
											{%if ShowUser.update({'Display':User})%}{%endif%}
										{%endfor%}
										{{ShowUser.Display}}
									{%endif%}
								{%endif%}
							</td>
						</tr>
					{%endfor%}
				{%endif%}
			</tbody>	
		</table>
	</div>
{%endif%}
{% endblock %}

{% block js %}

{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}
<script type="text/javascript">
	$(document).ready(function() {
		
		var oTable = $('#mktlist').dataTable({
			"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"bSort" : false,
			// "bLengthChange" :false,
		});
		// $('.table-header').hide()
		// $('#users-url').addClass('active');
		{% from "print.html" import exportDataTable %}
		{{exportDataTable('#mktlist',"Cash Position Reports")}}
	});

</script>

{% endblock %}