{% extends "layout.html" %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}

	<div class="navbar navbar-default navbar-static-top ActionFotter" id="CriteriaSetting" >
		<div class="col-sm-12">

			<div style="margin-top: 8px;">

			</div> 
			<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

			{% from "print.html" import exportButtonLink %}
			{{exportButtonLink()}}

			</div>
			<a href="javascript:void(0)" title="Refresh" id="Refresh" class="btn btn-flat btn-labeled btn-warning pull-right" style="margin-left: 5px;">
				<span class="btn-label icon fa fa-refresh" ></span> Refresh
			</a>
<!-- 			<button  type="button"  class="btn btn-flat btn-labeled btn-success pull-right ActionFotter" id="Show" >
				<span class="btn-label icon fa fa-gear"></span> Custom 
			</button> -->
	    </div> 
	</div>
	<!--  message  -->
	<div class="clearfix"></div>
	<div class="col-sm-12">
		{% for message in get_flashed_messages() %}
			{% if contain(message, "Error") %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% else %}
				<div class="clearfix">&nbsp;</div>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="col-sm-12">
		<h3 class="header-3 text-center" style="padding-bottom:40px;">Pending Income/Expense Transaction</h3>

		<table class="table table-hover" id="mktlist">
		<thead>
			<tr>
				<th>ID</th>

				<th>Till Account</th>
				<th>Currency</th>
				<th>Transaction</th>
				<th>TranDate</th>
				<th>Reference</th>
				<th>Note</th>
				<th class="text-right">Amount</th>
			</tr>
		</thead>
		<tbody class="valign-middle">
		
			{%for row in QueryObj %}
				{%if row.Transaction == IncomeTran %}
					{%set TillAccount = row.TDrAccount %}
					{%set SuspendAccount = row.TCrAccount%}
					{%set Type = "Income"%}
					{%set Category = row.CrCategory%}
					{%set Currency = row.CrCurrency%}
					{%set Transaction = IncomeBookingTran%}
				{%else%}
					{%set TillAccount = row.TCrAccount %}
					{%set SuspendAccount = row.TDrAccount%}
					{%set Type = "Expense"%}
					{%set Category = row.DrCategory%}
					{%set Currency = row.DrCurrency%}
					{%set Transaction = ExpenseBookingTran%}
				{%endif%}

				{%set Amount = toMoney(float(row.Amount),CurrencyObj(Currency)) %}
				{%set UrlDetail = "?Account="+SuspendAccount %}
				{%set UrlDetail = UrlDetail+"&Category="+Category %}
				{%set UrlDetail = UrlDetail+"&Currency="+Currency %}
				{%set UrlDetail = UrlDetail+"&Type="+Type %}
				{%set UrlDetail = UrlDetail+"&Amount="+Amount %}
				{%set UrlDetail = UrlDetail+"&Transaction="+Transaction %}
				{%set UrlDetail = UrlDetail+"&TranDate="+row.TranDate %}
				{%set UrlDetail = UrlDetail+"&Reference="+row.Reference %}
				{%set UrlDetail = UrlDetail+"&Note="+row.Note %}
				<tr class="link"  onclick="setNew('Income Expense Booking','{{UrlDetail}}','{{row.ID}}')")>
					<td>{{row.ID}}</td>
					<td>{{TillAccount}}</td>
					<td>{{Currency}}</td>
					<td>{{Type}}</td>
					<td>{{row.TranDate}}</td>
					<td>{{row.Reference}}</td>
					<td>{{row.Note}}</td>
					<td class="text-right">{{Amount}}</td>
				</tr>
			{%endfor%}
		
		</tbody>
	</table>
	</div>
{%endif%}
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		
		var oTable = $('#mktlist').dataTable({
			"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			// "bSort" : false,
			"aaSorting":[]
			// "bLengthChange" :false,
		});
		$("#Refresh").click(function() {
			
			window.location.reload(true);
			fn_fadeIn();
		});
		{% from "print.html" import exportDataTable %}
		{{exportDataTable('#mktlist', "Pending Income/Expense Transaction")}}
	});
function setNew(Title,Url,ID) {
	// you're in an iframe
	if ( self !== top ) {
		window.parent.addTab(Title+"-"+ID,"IncomeExpenseBooking/New/"+ID+Url);
	}else{
		window.parent.location.href="/Morakot/IncomeExpenseBooking/New/"+ID+Url
	}
}
</script>

{% endblock %}