{% extends "layout.html" %}

{% block css %}
 <style type="text/css">
 	/*tr{
 		height:35px;
 	}*/
 	.panel-group{
 		margin-bottom: 5px !important;
 	}
 	.accordion-toggle::after {
 		right: auto;
 	}
 	.colunm-padding {
 		padding: 9px 5px 9px 10px;
 	}
 	.colunm-padding-first {
 		padding: 9px 5px 9px 50px;
 	}
 	.uninstall-padding{

    display: inline-block;
    padding-left: 25px;
    padding-top: 4px;
    vertical-align: top;
	}
 	}
 	.table-borderless td,
    .table-borderless th
    {
        border: 0 !important;
        padding-top: 3px !important;
    }
 </style>
{% endblock %}



{% block content %}

<!--  message  -->
<div class="clearfix">&nbsp;</div>
{% include 'msg_error.html' %}


{% if FieldRequired %}
<div class="clearfix"></div>
<div class="col-sm-12">

	<div class="alert alert-danger" id="alert-danger">
		<ol>
			{% for message in FieldRequired %}
			<li id="lblTableName">
				<a class="error_pointer">
					<label for="TableName">
						{{message[0]}} <span style="color:#d38e99">*:</span>
					</label>
				</a> {{message[1]}}
			</li>		
			{% endfor %}
		</ol>
	</div>
</div>
{% endif %}

{%if ErrorMsg %}
	<div class="clearfix"></div>
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }} <br/>
		{%endfor%}

		</div>
	</div>
{% endif %}


<div class="col-sm-12" >
	<h2 >Custom App</h2>
</div>
<!-- Javascript -->
	<script type="text/javascript">
		function fn_fadeIn(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeIn("slow");
		}
		function fn_fadeOut(){
			var $getParentEle = window.parent.$("#animated")
			$getParentEle.fadeOut();
		}
		function UninstallApp(App,Module){
			
			bootbox.confirm({
						message: "Are you sure you want to uninstall "+App+" ?",
						callback: function(result) {
							if(result==true){
								$.ajax({
									url: '/Morakot/CustomApp/Delete',
									type: "GET",
									data:{ App: App,Module:Module},
									beforeSend: function() {
										fn_fadeIn();
									},
									success: function(data){
										fn_fadeOut();
										$('#uidemo-modals-alerts-success-msg').text("App "+App+" was uninstall successfully. Thank you!");
										$('#uidemo-modals-alerts-success').modal('toggle');
										$('#ListApp').html(data);
								        $('.Status').switcher({ theme: 'square' });
									   
									}
								});
							}
							
						},
						className: "bootbox-sm"
				});
					
			}
		

	</script>
	<!-- / Javascript -->
	<!-- Success -->
	<div id="uidemo-modals-alerts-success" class="modal modal-alert modal-success fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-check-circle"></i>
				</div>
				<div class="modal-title" id="uidemo-modals-alerts-success-msg"></div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" style="width:170px;height:50px;">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Success -->
	<!-- Danger -->
	<div id="uidemo-modals-alerts-danger" class="modal modal-alert modal-danger fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<i class="fa fa-times-circle"></i>
				</div>
				<div class="modal-title" id="uidemo-modals-alerts-danger-msg"></div>
				<div class="modal-body" id="uidemo-modals-alerts-danger-msg">Please check log file.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
				</div>
			</div> <!-- / .modal-content -->
		</div> <!-- / .modal-dialog -->
	</div> <!-- / .modal -->
	<!-- / Danger -->



<div class="col-sm-12">
	<form action="" method="post" enctype="multipart/form-data" id="frmData" >
	<table class="col-sm-6">

	<tr>
		<td class="col-sm-2">
			<label for="Uploadfile">Application File </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-2">
			<input type="file" name="file" id="fileUpload" style="width:40% !important;">
							<!-- Javascript -->
				<script>
					init.push(function () {
						$('#fileUpload').pixelFileInput({ placeholder: 'No file selected...' });
					})
				</script>
				<!-- / Javascript -->
		</td>
	</tr>
	<tr style="height:55px;">
		<td class="col-sm-2"></td>
		<td class="col-sm-4">
			<button type="submit" class="btn btn-flat btn-primary" id="btnImport">
	 			<span class="btn-label icon fa fa-download"></span> &nbsp;Install
			</button>
		</td>
	</tr>
	</table>

	</form>
</div>


<div class="clearfix">&nbsp;</div>
<p style="padding-left:20px;">
	<b>**Notes: </b> If exists App in system will be overwritten with the new file you installed.
</p>

<div class="clearfix">&nbsp;</div>
{%if MainApp%}
<div class="col-sm-12">
	<div class="col-sm-2 colunm-padding colunm-padding-first text-bold">
	Application
	</div>
	<div class="col-sm-3 colunm-padding text-bold">
		Url
	</div>
	<div class="col-sm-3 colunm-padding text-bold">
		Form
	</div>
	<div class="col-sm-2 colunm-padding text-bold">
		Createdon
	</div>
	<div class="col-sm-2 colunm-padding text-bold">
		Enable/Disable
	</div>
</div>
{%endif%}
<div class="col-sm-12" id="ListApp">
	
	{%for row in MainApp%}
		{%set Dict = MainApp[row]%}

		<div class="panel-group" id="accordion-example">
		
			<div class="panel-heading">
				
				<div class="row">

					<div class="col-sm-2">

						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#{{Dict.App}}">
							<strong style="padding-left: 20px;">{{Dict.App}}</strong> 
						</a>
					</div>

					<div class="col-sm-3 colunm-padding">
						
					</div>
					<div class="col-sm-3 colunm-padding">
						
					</div>
					<div class="col-sm-2 colunm-padding">
						{{Dict.Createdon}}
					</div>

					<div class="col-sm-2 colunm-padding">
						<div style="position: absolute;">
						{% if Dict.Status %}
						 	<input name="App" App="{{Dict.App}}" Module="" class="Status" type="checkbox"  data-class="switcher-primary" checked="checked" value="Enable">
						</a>
						{% else %}
							<input name="App" App="{{Dict.App}}" Module="" class="Status" type="checkbox" data-class="switcher-primary" value="Disable">
						{% endif %}
						<a href="javascript:void(0)" class="link uninstall-padding" 
							onclick="UninstallApp('{{Dict.App}}','')" title="Delete">
							<span class="icon fa fa-trash-o" style="font-size: 16px;"></span> 
						</a>
						</div>
					</div>

				</div>
				
			</div> <!-- / .panel-heading -->

			<div id="{{row}}" class="panel-collapse collapse ">
				<div class="">
					
					{%for col in SubApp[row]%}
						<div class="row border-t">
							<div class="col-sm-2 colunm-padding-first">{{col.App}}</div>
							<div class="col-sm-3 colunm-padding">
							{%for url in col['Url']%}
								 <a href="javascript:void(0)" class="link" 
									onclick="CustomClickView('Custom App-{{col.App}}','{{url}}')" title="Preview">
									{{url}}
								</a>
							{%endfor%}
							
							</div>
							<div class="col-sm-3 colunm-padding">
							{%for frm in col['Form']%}
								{{frm}}
							{%endfor%}
							</div>
							<div class="col-sm-2 colunm-padding">{{col.Createdon}}</div>
							<div class="col-sm-2 colunm-padding">
								<div style="position: absolute;">
								{% if col.Status %}
								 	<input name="App" App="{{Dict.App}}" Module="{{col.App}}" class="Status" type="checkbox"  data-class="switcher-primary" checked="checked" value="Enable">
								</a>
								{% else %}
									<input name="App" App="{{Dict.App}}" Module="{{col.App}}" class="Status" type="checkbox" data-class="switcher-primary" value="Disable">
								{% endif %}
								<a href="javascript:void(0)" class="link uninstall-padding" 
									onclick="UninstallApp('{{Dict.App}}','{{col.App}}')" title="Uninstall">
									<span class="icon fa fa-trash-o" style="font-size: 16px;"></span> 
								</a>
								</div>
							</div>

						</div>
					{%endfor%}
				</div> <!-- / .panel-body -->
			</div> <!-- / .collapse -->
			
			
		</div> <!-- / .panel-group -->
	{%endfor%}

</div>
{% endblock %}



{% block js %}

<script type="text/javascript">
$(document).ready(function() {

        init.push(function () {
          
            $('.Status').switcher({ theme: 'square' });
        });
	function fn_fadeIn(){
		var $getParentEle = window.parent.$("#animated")
		$getParentEle.fadeIn("slow");
	}

	function fn_fadeOut(){
		var $getParentEle = window.parent.$("#animated")
		$getParentEle.fadeOut("slow");
	}

	$('.Status').on('click', function(event){
		var App = $(this).attr("App");
		var Module = $(this).attr("Module");
		console.log(App,Module);
		$.ajax({
			url: '/Morakot/CustomApp/Status',
			data:{ App: App,Module:Module},
			type: "GET",
			beforeSend: function() {
				fn_fadeIn();
			},
			success: function(data){
				fn_fadeOut();
			}
		});
	});
	$('#btnImport').on('click', function(event){
		fn_fadeIn();
		var ImportMode = $('#ImportMode').val();
		var r = false;
		if (ImportMode == 'O'){
			r = confirm('Are you sure want to overwrite the data in the table?');
		} else if (ImportMode == 'C'){
			r = confirm('Are you sure want to clear the data before insert new data into the table?');
		} else
			r = true;

		if (r == true){
			fn_fadeIn();
		} else {
			fn_fadeOut();
			event.preventDefault();
		}
	});
});

</script>

{% endblock %}