{%for row in MainApp%}
		{%set Dict = MainApp[row]%}

		<div class="panel-group" id="accordion-example">
		
			<div class="panel-heading">
				
				<div class="row">

					<div class="col-sm-2">

						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#{{Dict.App}}">
							<strong style="padding-left: 20px;">{{Dict.App}}</strong> 
						</a>
					</div>

					<div class="col-sm-3 colunm-padding">
						
					</div>
					<div class="col-sm-3 colunm-padding">
						
					</div>
					<div class="col-sm-2 colunm-padding">
						{{Dict.Createdon}}
					</div>

					<div class="col-sm-2 colunm-padding">
						<div style="position: absolute;">
						{% if Dict.Status %}
						 	<input name="App" App="{{Dict.App}}" Module="" class="Status" type="checkbox"  data-class="switcher-primary" checked="checked" value="Enable">
						</a>
						{% else %}
							<input name="App" App="{{Dict.App}}" Module="" class="Status" type="checkbox" data-class="switcher-primary" value="Disable">
						{% endif %}
						<a href="javascript:void(0)" class="link uninstall-padding" 
							onclick="UninstallApp('{{Dict.App}}','')" title="Delete">
							<span class="icon fa fa-trash-o" style="font-size: 16px;"></span> 
						</a>
						</div>
					</div>

				</div>
				
			</div> <!-- / .panel-heading -->

			<div id="{{row}}" class="panel-collapse collapse ">
				<div class="">
					
					{%for col in SubApp[row]%}
						<div class="row">
							<div class="col-sm-2 colunm-padding-first">{{col.App}}</div>
							<div class="col-sm-3 colunm-padding">
							{%for url in col['Url']%}
								 <a href="javascript:void(0)" class="link" 
									onclick="CustomClickView('CustomApp-{{col.App}}','{{url}}')" title="Preview">
									{{url}}
								</a>
							{%endfor%}
							
							</div>
							<div class="col-sm-3 colunm-padding">
							
							{%for frm in col['Form']%}
								{{frm}}
							{%endfor%}
							</div>
							<div class="col-sm-2 colunm-padding">{{col.Createdon}}</div>
							<div class="col-sm-2 colunm-padding">
								<div style="position: absolute;">
								{% if col.Status %}
								 	<input name="App" App="{{Dict.App}}" Module="{{col.App}}" class="Status" type="checkbox"  data-class="switcher-primary" checked="checked" value="Enable">
								</a>
								{% else %}
									<input name="App" App="{{Dict.App}}" Module="{{col.App}}" class="Status" type="checkbox" data-class="switcher-primary" value="Disable">
								{% endif %}
								<a href="javascript:void(0)" class="link uninstall-padding" 
									onclick="UninstallApp('{{Dict.App}}','{{col.App}}')" title="Uninstall">
									<span class="icon fa fa-trash-o" style="font-size: 16px;"></span> 
								</a>
								</div>
							</div>

						</div>
					{%endfor%}
				</div> <!-- / .panel-body -->
			</div> <!-- / .collapse -->
			
			
		</div> <!-- / .panel-group -->
	{%endfor%}