{% macro render_field(FormObj, getValueByType) %}

    <div class="row">

        <div class="form-group ">
            <label class="col-sm-3 control-label text-right" for="LOV" style="padding-top: 5px;">
                <label for="LOV">
                    {{ FormObj.Description }}
                    <span style="color:#d38e99">*</span>
                </label>
            </label>

            <div class="col-sm-9">

                {% if FormObj.Type == 'I' %}
                    <input type="text" name="Values[]" class="form-control" value="{{ FormObj.Value }}">
                {% elif FormObj.Type == 'S' %}
                    <select name="Values[]" class="form-control">{{ getValueByType(FormObj.LOV, FormObj.Value)|safe }}</select>
                {% elif FormObj.Type == 'T' %}
                    <textarea name="Values[]" class="form-control">{{ FormObj.Value }}</textarea>
                {% endif %}
                
            </div>
        </div>


    </div>

{% endmacro %}