{% extends "layout.html" %}
{% block css %}
	<style>
		.header {
			background-color: #eee;
			padding: 20px 11px 20px 11px;
			margin-bottom: 15px;
		}
	</style>
{% endblock %}
{% block content %}


    <form method="post" id="frm" name="frm" role="form" action="/Morakot/AppSetting/Config/{{Application}}">
    	<div class="col-sm-12 header">
            {% if Apps %}

                <button style="color: #777; border: none; background: transparent;">
                    <span class="btn-label icon fa fa-floppy-o"></span> Save
                </button> &nbsp;&nbsp;&nbsp;

            {% endif %}
            <a href="/Morakot/AppSetting/Config/" id="Cancel" style="color: #777;">
                <span class="btn-label icon fa fa-pencil-square-o"></span>&nbsp; Cancel
            </a>
		</div>
		{% include 'msg_error.html' %}
			
		<div class="col-sm-12">
			<input type="hidden" value="{{ Application }}" name="Application">
			{% if Apps %}
			    {% from "setting/__form.html" import render_field %}
			    {% for App in Apps %}
			    	<input type="hidden" value="{{ App.ID }}" name="IDs[]">
	        		{{ render_field(App, getValueByType)|safe }}
				{% endfor %}
			{% endif %}
		</div>
    </form>


{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').select2();
		});
	</script>
{% endblock %}