{% extends "layout.html" %}

{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        .header-1,
        .header-1:hover,
        .header-2,
        .header-2:hover {
            text-align: none;
            cursor: pointer;
            text-decoration: none !important;
            display: block;
            z-index: 100000000;
            border-top: 1px solid #eee;
            margin: 0 -9px 0 -9px;
        }

        .header-1,
        .header-1:hover {
            color: #333 !important;
            font-size: 18px;
            font-weight: 300;
            padding: 30px 18px 15px 18px;
            background: #fafafa;
            background: rgba(0,0,0,.02);
            margin-bottom: -15px;
        }

        .header-2,
        .header-2:hover {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            color: #888 !important;
            padding: 10px 18px 0 18px;
            margin-bottom: 15px;
            margin-top: 0;
        }

        .header-1 + .header-2 {
            margin-top: 10px;
            margin-bottom: 0;
        }

        .header-1 + .col-sm-12 {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #eee;
            margin-left: -9px;
            margin-right: -9px;
            padding-left: 18px;
            padding-right: 18px;
            width: auto !important;
            float: none;
        }

        .row {
            margin-bottom: 15px;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .uidemo-note {
            margin: 0;
            border-top: 1px solid #eee !important;
        }
        h3{
            padding-bottom: 0;
            line-height: 10px;
        }
    </style>
{% endblock %}

{% block content %}
	<div class="clearfix">&nbsp;</div>
    {% include 'msg_error.html' %}
    
    <div class="col-sm-12">

        {% if fileName %}
            
            {% for item in Data %}
                {{ generateForm(item)|safe }} <br>
            {% endfor %}

        {% else %}

            Please select setting file.

        {% endif %}

	</div>
    
{% endblock %}

{% block js %}
    
{% endblock %}