{% extends "layout.html" %}

{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        .header-1,
        .header-1:hover,
        .header-2,
        .header-2:hover {
            text-align: none;
            cursor: pointer;
            text-decoration: none !important;
            display: block;
            z-index: 100000000;
            border-top: 1px solid #eee;
            margin: 0 -9px 0 -9px;
        }

        .header-1,
        .header-1:hover {
            color: #333 !important;
            font-size: 18px;
            font-weight: 300;
            padding: 30px 18px 15px 18px;
            background: #fafafa;
            background: rgba(0,0,0,.02);
            margin-bottom: -15px;
        }

        .header-2,
        .header-2:hover {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            color: #888 !important;
            padding: 10px 18px 0 18px;
            margin-bottom: 15px;
            margin-top: 0;
        }

        .header-1 + .header-2 {
            margin-top: 10px;
            margin-bottom: 0;
        }

        .header-1 + .col-sm-12 {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #eee;
            margin-left: -9px;
            margin-right: -9px;
            padding-left: 18px;
            padding-right: 18px;
            width: auto !important;
            float: none;
        }

        .row {
            margin-bottom: 15px;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .uidemo-note {
            margin: 0;
            border-top: 1px solid #eee !important;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="POST" action="/Morakot/GeneralSetting/">

        <div class="navbar navbar-default navbar-static-top">
            <div class="col-sm-12">
                <div style="margin-top: 8px;">
                    <div class="col-sm-6" style="margin-top: 5px; padding: 0;">
                        <!-- Button Export -->
                        {% from "print.html" import exportButtonLink %}
                        {{exportButtonLink()}}
                    </div>

                    <div class="col-sm-6 text-right" style="padding: 0;">
                        <button type="submit" class="btn btn-flat btn-labeled btn-primary">
                            <span class="btn-label icon fa fa-save"></span> Save Change
                        </button>
                    </div>
                </div>             
            </div>
        </div>

    	<div class="clearfix"></div>
        {% include 'msg_error.html' %}

        <div class="col-sm-12">
            <div class="row">
                <a id="uidemo-general" href="#uidemo-general" class="header-2">General Setting</a>
    	    	<div class="form-group">
    	    		<label class="col-sm-2 text-right">Login Attempts :</label>
    	    		<div class="col-sm-10">
                        {{ form.ATTEMPS(class="form-control", type="number", value=setting.ATTEMPS, style="width: 100px;") }}
    				</div>
    			</div>

    			<div class="form-group">
    	    		<label class="col-sm-2 text-right">System Timeout :</label>
    	    		<div class="col-sm-10">
                        {{ form.TIME_OUT(class="form-control", type="number", value=setting.TIME_OUT, style="width: 100px;") }}
    				</div>
    			</div>
            </div>

            <div class="row">
                <a id="uidemo-password" href="#uidemo-password" class="header-2">Password Rule</a>
    			<div class="form-group">
    	    		<label class="col-sm-2 text-right">Length :</label>
    	    		<div class="col-sm-10">
                        {{ form.PASSWORD_LENGTH(class="form-control", type="number", value=setting.PASSWORD_LENGTH, style="width: 100px;") }}
    				</div>
    			</div>

                <div class="form-group">
                    <label class="col-sm-2 text-right">Number :</label>
                    <div class="col-sm-10">
                        {{ form.PASSWORD_NUM(class="form-control", type="number", value=setting.PASSWORD_NUM, style="width: 100px;") }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 text-right">Capital Letter :</label>
                    <div class="col-sm-10">
                        {{ form.PASSWORD_CAP(class="form-control", type="number", value=setting.PASSWORD_CAP, style="width: 100px;") }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 text-right">Lower Letter :</label>
                    <div class="col-sm-10">
                        {{ form.PASSWORD_LOW(class="form-control", type="number", value=setting.PASSWORD_LOW, style="width: 100px;") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <a id="uidemo-maintenance" href="#uidemo-maintenance" class="header-2">Maintenance Code</a>
                <div class="form-group">
                    <label class="col-sm-2 text-right">Serial :</label>
                    <div class="col-sm-10">
                        {{ form.MCODE(class="form-control", type="text", value=setting.MCODE, style="width: 100px;") }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 text-right"># of User :</label>
                    <div class="col-sm-10">
                        {{ form.NUSER(class="form-control", type="number", value=setting.NUSER, style="width: 100px;") }}
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-sm-2 text-right">Expiry Date :</label>
                    <div class="col-sm-10">
                        {{ form.EXPIRY(class="form-control", type="text", value=setting.EXPIRY, style="width: 200px;") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <a id="uidemo-holiday" href="#uidemo-holiday" class="header-2">Non-Working Day Option</a>
                <div class="form-group">
                    <label class="col-sm-2 text-right">Saturday :</label>
                    <div class="col-sm-10" id="switchers-colors-square">
                        {% if setting.WEEKEND_SAT == "TRUE" %}
                            <input name="WEEKEND_SAT" type="checkbox" data-class="switcher-primary" checked="checked" value="TRUE">
                        {% else %}
                            <input name="WEEKEND_SAT" type="checkbox" data-class="switcher-primary" value="FALSE">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 text-right">Sunday :</label>
                    <div class="col-sm-10" id="switchers-colors-square">
                        {% if setting.WEEKEND_SUN == "TRUE" %}
                            <input name="WEEKEND_SUN" type="checkbox" data-class="switcher-primary" checked="checked" value="TRUE">
                        {% else %}
                            <input name="WEEKEND_SUN" type="checkbox" data-class="switcher-primary" value="FALSE">
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="row">
                <a id="uidemo-holiday" href="#uidemo-holiday" class="header-2">Notification Option</a>
                <div class="form-group">
                    <label class="col-sm-2 text-right">Notification :</label>
                    <div class="col-sm-10" id="switchers-colors-square">
                        {% if setting.Notification == "TRUE" %}
                            <input name="Notification" type="checkbox" data-class="switcher-primary" checked="checked" value="TRUE">
                        {% else %}
                            <input name="Notification" type="checkbox" data-class="switcher-primary" value="FALSE">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 text-right">Interval :</label>
                    <div class="col-sm-10">
                        <input name="NotificationInterval" type="number" class="form-control" value="{{setting.NotificationInterval}}" style="width: 100px;">

                    </div>
                </div>
            </div>

            <div class="row">
                <a id="uidemo-holiday" href="#uidemo-holiday" class="header-2">System Online</a>
                <div class="form-group">
                    <label class="col-sm-2 text-right">Status :</label>
                    <div class="col-sm-10" id="switchers-colors-square">
                        {% if setting.SYSTEM_STATUS == "1" %}
                            <input name="SYSTEM_STATUS" type="checkbox" data-class="switcher-primary" checked="checked" value="1">
                        {% else %}
                            <input name="SYSTEM_STATUS" type="checkbox" data-class="switcher-primary" value="0">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <a id="uidemo-holiday" href="#uidemo-holiday" class="header-2">Journal Entry Exclude Category</a>
                <div class="form-group">
                    <label class="col-sm-2 text-right">Category :</label>
                    <div class="col-sm-10" id="switchers-colors-square">
                        <textarea name="JOURNAL_ENTRY_EXCLUDED" id="JOURNAL_ENTRY_EXCLUDED" class="form-control">{{ setting.JOURNAL_ENTRY_EXCLUDED }}</textarea>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
    			<div class="form-group">
                    <label class="col-sm-2 text-right"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-flat btn-labeled btn-primary">
                            <span class="btn-label icon fa fa-save"></span> Save Change
                        </button>
                    </div>
    			</div>
            </div> -->

    	</div>
    </form>
{% endblock %}

{% block js %}
    <script>
        init.push(function () {
            $('#switchers-colors-default > input').switcher();
            $('#switchers-colors-square > input').switcher({ theme: 'square' });
            $('#switchers-colors-modern > input').switcher({ theme: 'modern' });

            $('body').on('click', '.header-1, .header-2', function () {
                $('html,body').animate({ scrollTop: $($(this).attr('href')).offset().top - $('#main-navbar').outerHeight() }, 1000);
                return false;
            });
        });
    </script>
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            var Currency = $("#Currency").val();
            $("select#BaseCurrency option").filter(function() {
                //may want to use $.trim in here
                return $(this).val() == Currency; 
            }).prop('selected', true);

            $('#mktlist').dataTable();

            $(".table-caption").append("<a class='btn btn-default' href='/Morakot/LoginUser' role='button' title='Refresh'><i class='fa fa-refresh'></i></a>");
           
            $("input[name=checkedAll]").click(function(){
                if($("input[name=checkedAll]").is(":checked") == true)
                {
                    $("input.loginId").each(function(){
                        $(this).attr("checked", true);
                    });
                }
                else
                {
                    $("input.loginId").each(function(){
                        $(this).attr("checked", false);
                    });
                }
            });

            {% from "print.html" import exportTable %}
            {{exportTable('FinReport')}}

        });
    </script>

    <!-- Call in Block Js -->

    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}

{% endblock %}