{% extends "layout.html" %}

{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        .header-1,
        .header-1:hover,
        .header-2,
        .header-2:hover {
            text-align: none;
            cursor: pointer;
            text-decoration: none !important;
            display: block;
            z-index: 100000000;
            border-top: 1px solid #eee;
            margin: 0 -9px 0 -9px;
        }

        .header-1,
        .header-1:hover {
            color: #333 !important;
            font-size: 18px;
            font-weight: 300;
            padding: 30px 18px 15px 18px;
            background: #fafafa;
            background: rgba(0,0,0,.02);
            margin-bottom: -15px;
        }

        .header-2,
        .header-2:hover {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            color: #888 !important;
            padding: 10px 18px 0 18px;
            margin-bottom: 15px;
            margin-top: 0;
        }

        .header-1 + .header-2 {
            margin-top: 10px;
            margin-bottom: 0;
        }

        .header-1 + .col-sm-12 {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #eee;
            margin-left: -9px;
            margin-right: -9px;
            padding-left: 18px;
            padding-right: 18px;
            width: auto !important;
            float: none;
        }

        .row {
            margin-bottom: 15px;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .uidemo-note {
            margin: 0;
            border-top: 1px solid #eee !important;
        }
        h3{
            padding-bottom: 0;
            line-height: 10px;
        }
    </style>
{% endblock %}

{% block content %}
	<div class="clearfix">&nbsp;</div>
    {% include 'msg_error.html' %}
    
    <div class="col-sm-12">
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('General Setting', '/Morakot/GeneralSetting/');">
                    <img src="{{ url_for('static', filename='images/GeneralSetting.png') }}" width="70">
                    <h4>{{ getLanguage('General Setting') }}</h4>
                </a>
            </div>

            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('PD Parameters', '/Morakot/PDParameter/?ID=SYSTEM');">
                    <img src="{{ url_for('static', filename='images/PDParameter.png') }}" width="70">
                    <h4>{{ getLanguage('PD Parameter') }}</h4>
                </a>
            </div>

            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('Accounting Setting', '/Morakot/AccountingSetting/?ID=SYSTEM');">
                    <img src="{{ url_for('static', filename='images/AccountingSetting.png') }}" width="70">
                    <h4>{{ getLanguage('Accounting Setting') }}</h4>
                </a>
            </div>

            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('Teller Parameters', '/Morakot/TellerParameter/?ID=SYSTEM');">
                    <img src="{{ url_for('static', filename='images/TellerParameter.png') }}" width="70">
                    <h4>{{ getLanguage('Teller Parameter') }}</h4>
                </a>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">

            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('Term Deposit Setting', '/Morakot/TermDepositSetting/?ID=SYSTEM');">
                    <img src="{{ url_for('static', filename='images/deposit.png') }}" width="70">
                    <h4>{{ getLanguage('Term Deposit Setting') }}</h4>
                </a>
            </div>

            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('User', '/Morakot/User/ListLive/');">
                    <img src="{{ url_for('static', filename='images/UserManagement.png') }}" width="70">
                    <h4>{{ getLanguage('User Management') }}</h4>
                </a>
            </div>

            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('Currency', '/Morakot/Currency/ListLive/');">
                    <img src="{{ url_for('static', filename='images/CurrencySetup.png') }}" width="70">
                    <h4>{{ getLanguage('Currency Setup') }}</h4>
                </a>
            </div>

            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('Branch', '/Morakot/Branch/ListLive/');">
                    <img src="{{ url_for('static', filename='images/BranchSetup.png') }}" width="70">
                    <h4>{{ getLanguage('Branch Setup') }}</h4>
                </a>
            </div>

        </div>

        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">

            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('Menu', '/Morakot/Menu/ListLive/');">
                    <img src="{{ url_for('static', filename='images/MenuSetup.png') }}" width="70">
                    <h4>{{ getLanguage('Menu Setup') }}</h4>
                </a>
            </div>

            <div class="col-sm-3 text-center">
                <a href="javascript:void(0);" onclick="window.parent.addTab('Auto ID', '/Morakot/SystemID/ListLive/');">
                    <img src="{{ url_for('static', filename='images/SystemID.png') }}" width="70">
                    <h4>{{ getLanguage('Auto ID Setup') }}</h4>
                </a>
            </div>

            <div class="col-sm-3 text-center">
                <a data-toggle="modal" data-target="#AboutVB" href="javascript:void(0);">
                    <img src="{{ url_for('static', filename='images/About.png') }}" width="70">
                    <h4>{{ getLanguage('About Morakot VB') }}</h4>
                </a>
            </div>

            <!-- <div class="col-sm-3 text-center">
                <a href="/Morakot/Branch/ListLive">
                    <img src="{{ url_for('static', filename='images/BranchSetup.png') }}" width="70">
                    <h4>Branch Setup</h4>
                </a>
            </div>

            <div class="col-sm-3 text-center">
                <a href="/Morakot/Menu/ListLive">
                    <img src="{{ url_for('static', filename='images/MenuSetup.png') }}" width="70">
                    <h4>Menu Setup</h4>
                </a>
            </div> -->
        </div>
	</div>
    <!-- Modal -->
    <div class="modal fade" id="AboutVB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">About Morakot VB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-4 text-center" style="min-height: 175px; display: table-cell; vertical-align: middle;">
                        <div class="clearfix" style="height: 30px;">&nbsp;</div>
                        <img src="{{ url_for('static', filename='images/About.png') }}">
                    </div>
                    <div class="col-sm-8" style="padding: 0;">
                        <label class="col-sm-12" style="padding: 0;"><h3>Morakot VB</h3><small>Version 1.0</small></label>
                        <label class="col-sm-12 text-justify" style="font-weight: normal !important; padding: 0;">
                            <br>
                            This program is protected by copyright law and international treaties. Unauthorized reproduction or distribution of this program, or any portions of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law.
                        </label>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-sm-12 text-center">
                        <small>&copy; 2014-2015 Morakot Technology Co.,Ltd. All Right Reserved. Liceinse and Warranty</small>
                    </div>
                    <div class="clearfix" style="height: 5px;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        init.push(function () {
            $('#switchers-colors-default > input').switcher();
            $('#switchers-colors-square > input').switcher({ theme: 'square' });
            $('#switchers-colors-modern > input').switcher({ theme: 'modern' });

            $('body').on('click', '.header-1, .header-2', function () {
                $('html,body').animate({ scrollTop: $($(this).attr('href')).offset().top - $('#main-navbar').outerHeight() }, 1000);
                return false;
            });
        });
    </script>
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            var Currency = $("#Currency").val();
            $("select#BaseCurrency option").filter(function() {
                //may want to use $.trim in here
                return $(this).val() == Currency; 
            }).prop('selected', true);

            $('#mktlist').dataTable();

            $(".table-caption").append("<a class='btn btn-default' href='/Morakot/LoginUser' role='button' title='Refresh'><i class='fa fa-refresh'></i></a>");
           
            $("input[name=checkedAll]").click(function(){
                if($("input[name=checkedAll]").is(":checked") == true)
                {
                    $("input.loginId").each(function(){
                        $(this).attr("checked", true);
                    });
                }
                else
                {
                    $("input.loginId").each(function(){
                        $(this).attr("checked", false);
                    });
                }
            });

        });
    </script>
{% endblock %}