{% extends "layout.html" %}
{% block css %}
    <style>
        .header {
            background-color: #eee;
            padding: 20px 11px 0px 11px;
            margin-bottom: 15px;
        }
        .header h4 {
            font-size: 23px;
        }
        .icon {
          border-radius: 50%;
          font-weight: bold;
          text-align: center;
          text-shadow: 0 0 2px white;
          width: 20px;
        }
        #mktlist tbody tr {
            cursor: pointer;
        }
        
    </style>
{% endblock %}
{% block content %}

<div class="col-sm-12 header text-center">
    <h4>Application Setting</h4>
</div>
{% include 'msg_error.html' %}
    
<div class="col-sm-12">
    <div class="row">
        
        <table class="table table-hover table-striped" id="mktlist" style="margin: 0px auto; width: 600px; font-size: 16px;">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for URL in List %}
                    <tr>
                        <td>
                        {% set ID = URL[18:] %}
                        {{ ModuleObj(ID).Description}}
                        </td>
                        <td width="55" class="text-center">
                            <a href="/Morakot/AppSetting/Config/{{ ID }}"><i class="fa fa-gear"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#mktlist tbody tr').click(function() {
                window.location = $(this).find('a').attr('href');
            });
        })
    </script>
{% endblock %}