{## Widget UserOnline ##}
{% macro UserOnline(UserObj)%}
	<style type="text/css">
	#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}
	</style>
	<script>
		this.imagePreview = function(){	
		/* CONFIG */
			
			xOffset = 10;
			yOffset = 30;
			
			// these 2 variable determine popup's distance from the cursor
			// you might want to adjust to get the right result
			
		/* END CONFIG */
		$("a.preview").hover(function(e){
			this.t = this.title;
			this.title = "";	
			var c = (this.t != "") ? "<br/>" + this.t : "";
			$("body").append("<p id='preview'><img style='width:120px;height:120px;' src='"+ this.href +"' alt='Image preview' />"+ c +"</p>");								 
			$("#preview")
				.css("top",(e.pageY - xOffset) + "px")
				.css("left",(e.pageX + yOffset) + "px")
				.fadeIn("fast");
					
	    },
			function(){
				this.title = this.t;	
				$("#preview").remove();
		    });	
			$("a.preview").mousemove(function(e){
				$("#preview")
					.css("top",(e.pageY - xOffset) + "px")
					.css("left",(e.pageX + yOffset) + "px");
				
			});			
		};


		// starting the script on page load
		$(document).ready(function(){
			imagePreview();
		});
		init.push(function () {
			$('#UserOnline .panel-body > div').slimScroll({ height: {%if UserObj.count() < 5%}250{%else%}350{%endif%}, alwaysVisible: true, color: '#888',allowPageScroll: true });
		})

		init.push(function () {
			$('#UserRefresh').on("click",function(e){
				$.ajax({
					url: "/Morakot/UserRefresh",
					type: "GET",
					beforeSend: function() {
						$('#UserRefresh').addClass('fa-spin');
					},
					success: function(data){
						var str = '';
						$.each(data.UserObj, function(i,r) {
							str += '<tr><td> ';
							if (r[2]) {
								str += '<a href="/static/avatars/'+r[2]+'" class="preview">';
								str += '<img src="/static/avatars/'+r[2]+'" alt="" style="width:26px;height:26px;" class="rounded">&nbsp;';
							} else {
								str += '<a href="/static/avatars/default.jpg" class="preview">';
								str += '<img src="/static/avatars/default.jpg" alt="" style="width:26px;height:26px;" class="rounded">&nbsp;';
							}
							str += '</a>'+r[0]+'</td>';
							str += '<td>'+r[1]+'</td><td>'+r[4]+'</td><td>'+r[5]+' '+r[6]+'</td>';
							str += '<td>'+convertDate(r[7])+'</td></tr>';
						});
						$('#UserOnline .panel-body > div table tbody').html(str);
						$('#UserRefresh').removeClass('fa-spin');
						$('#UserOnline .panel-body > div').slimScroll({ height: 250, alwaysVisible: true, color: '#888',allowPageScroll: true });
						$('#UserOnline .panel-title .badge').html(data.UserObj.length);
						imagePreview();
					}
				});
			});			
		})

		var convertDate = function(strDate){
			//'Mon, 11 Apr 2016 13:56:22 GMT'
			if (!strDate) return ''; 
			var date = new Date(Date.parse(strDate));
			d = [date.getFullYear(), date.getMonth()+1, date.getDate()].join("-");
			t = [date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds()].join(":");
			return [d, t].join(" ")
		}

	</script>
	<div class="panel panel-info" id="UserOnline">
		<div class="panel-heading">
			<span class="panel-title"><i class="panel-title-icon fa fa-users"></i>Online Users &nbsp;&nbsp;<span class=" badge badge-info">{{UserObj.count()}}</span></span>
			<div class="panel-heading-controls">
				<div style="padding-top:0px;" class="panel-heading-icon">
					<a class="link" title="Refresh"><i class="fa fa-refresh" id="UserRefresh"></i></a>
				</div>
			</div>
		</div>
		<div class="panel-body" style="min-height: {%if UserObj.count() < 5%}250{%else%}350{%endif%}px; ">
			<div>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Display Name</th>
						<th>Branch</th>
						<th>Login DateTime</th>
						<th>Last Time Activity</th>
					</tr>
				</thead>
				<tbody class="valign-middle">
					{%for row in UserObj %}
					<tr>
						<td>{%if row.ProfilePicture -%}
								<a href="{{ url_for('static', filename='avatars/'+row.ProfilePicture.strip()) }}" class="preview"><img src="{{ url_for('static', filename='avatars/'+row.ProfilePicture.strip()) }}" alt="" style="width:26px;height:26px;" class="rounded">
							{%else -%}
								<a href="{{ url_for('static', filename='avatars/default.jpg') }}" class="preview"><img src="{{ url_for('static', filename='avatars/default.jpg') }}" alt="" style="width:26px;height:26px;" class="rounded">
							{%- endif %}
							</a>
							{{row.UserID}}
							
						</td>
						<td>{{row.DisplayName}}</td>
						<td>{{row.Description}}</td>
						<td>{{row.LogInDate}} {{row.LogInTime}}</td>
						<td>
							{% if row.LastTimeActivity -%}
								{{row.LastTimeActivity.strftime('%Y-%m-%d %H:%M:%S')}}
							{%- endif %}
						</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
			</div>
		</div>
	</div>
{% endmacro %}