{% extends "layout.html" %}

{% block css %}
 <style type="text/css">
 	tr{
 		height:35px;
 	}
 </style>
{% endblock %}

{% block content %}

<!--  message  -->
<div class="clearfix"></div>
{% include 'msg_error.html' %}


{% if FieldRequired %}
<div class="col-sm-12">
	<div class="clearfix"></div>
	<div class="alert alert-danger" id="alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<ol>
				{% for message in FieldRequired %}
				<li id="lblTableName">
					<a class="error_pointer">
						<label for="TableName">
							{{message[0]}} <span style="color:#d38e99">*:</span>
						</label>
					</a> {{message[1]}}
				</li>
				{% endfor %}
			</ol>
		</div>
	</div>
</div>
{% endif %}

<div class="col-sm-12">
	<h2>Batch Upload (CSV Only)</h2>
</div>
<div class="col-sm-12">
	<form action="/Morakot/BatchUpload" method="post" enctype="multipart/form-data" id="frmData" >
	<table class="col-sm-6">

	<tr>
		<td class="col-sm-2">
			<label for="TableName"> Module </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-4">
			<select class="form-control" id="Operation" name="Operation" style="width:60%">
				<option value="None">---None---</option>
				<optgroup label="Allow Table">
					{%for table in AllowTable %}
					<option value="{{table}}" {% if Table == table %} selected="selected" {% endif %}> {{table}} </option> 
					{%endfor%}
				 </optgroup>
			</select>
			<script type="text/javascript">
				init.push(function () {
					// Single select
					$("#Operation").select2({
						allowClear: true,
						placeholder: "Module"
					});
					$('#Operation option').value = '{{ Table }}'
					$('#Operation').trigger('change');
				});
			</script>
		</td>
	</tr>

	<tr id="FormName">
		<td class="col-sm-2">
			<label for="FormNameOption"> Form </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-4">
			<select class="form-control" id="FormNameOption" name="FormNameOption" style="width:60%">
				<option value="None">---None---</option>
			</select>
			<script type="text/javascript">
				init.push(function () {
					// Single select
					$("#FormNameOption").select2({
						allowClear: true,
						placeholder: "Form Name"
					});
				});
			</script>
		</td>
	</tr>

	<tr>
		<td class="col-sm-2">
			<label for="Uploadfile"> Import Mode </label>
		</td>
		<td class="col-sm-4">
			<select class="form-control" id="ImportMode" name="ImportMode" style="width:35%">
				<option value="N" {% if ImportMode == 'N' %} selected="selected" {% endif %}>---None---</option>
				<option value="C" {% if ImportMode == 'C' %} selected="selected" {% endif %}> Clear </option>
			</select>
			<script type="text/javascript">
				init.push(function () {
					// Single select
					$("#ImportMode").select2({
						allowClear: true,
						placeholder: "Import Mode"
					});
				});
			</script>
		</td>
	</tr>
	<tr>
		<td class="col-sm-2">
			<label for="Uploadfile"> File Upload </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-2">
			<input type="file" name="file" id="fileUpload" style="width:40% !important;" accept="text/csv">
							<!-- Javascript -->
				<script>
					init.push(function () {
						$('#fileUpload').pixelFileInput({ placeholder: 'No file selected...' });
					})
				</script>
				<!-- / Javascript -->
		</td>
	</tr>
	<tr id="Debit">
		<td class="col-sm-2">
			<label for="Uploadfile"> File Upload Debit </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-2">
			<input type="file" name="fileDebit" id="fileUploadDebit" style="width:40% !important;" accept="text/csv">
							<!-- Javascript -->
				<script>
					init.push(function () {
						$('#fileUploadDebit').pixelFileInput({ placeholder: 'No file selected...' });
					})
				</script>
				<!-- / Javascript -->
		</td>
	</tr>
	<tr id="Credit">
		<td class="col-sm-2">
			<label for="Uploadfile"> File Upload Credit </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-2">
			<input type="file" name="fileCredit" id="fileUploadCredit" style="width:40% !important;" accept="text/csv">
							<!-- Javascript -->
				<script>
					init.push(function () {
						$('#fileUploadCredit').pixelFileInput({ placeholder: 'No file selected...' });
					})
				</script>
				<!-- / Javascript -->
		</td>
	</tr>
	<tr style="height:55px;">
		<td class="col-sm-2"></td>	
		<td class="col-sm-4">
			<button type="submit" class="btn btn-flat btn-primary" id="btnImport">
	 			<span class="btn-label icon fa fa-download"></span> &nbsp;Import
			</button>
		</td>
	</tr>
	</table>

	</form>
</div>

<p style="padding-left:20px;">
	<b>**Notes: </b>   Import Mode, 'Clear' means the data in the table will be cleared before importing new data.
</p>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){

	function fn_fadeIn(){
		var $getParentEle = window.parent.$("#animated")
		$getParentEle.fadeIn("slow");
	}

	function fn_fadeOut(){
		var $getParentEle = window.parent.$("#animated")
		$getParentEle.fadeOut("slow");
	}

	var Module;
	$('#btnImport').on('click', function(event){
		fn_fadeIn();
		var ImportMode = $('#ImportMode').val();
		var r = false;
		var Module = $('#Operation option:selected').text();
		if (ImportMode == 'N'){
			r = confirm('Are you sure want to insert the data in the'+ Module + '?');
		} else if (ImportMode == 'C'){
			r = confirm('Are you sure want to clear the data before insert new data into the' + Module + '?');
		} else
			r = true;

		if (r == true){
			fn_fadeIn();
		} else {
			fn_fadeOut();
			event.preventDefault();
		}
	});

	$('#Debit, #Credit').hide();

	$('#Operation').on("change", function (e) {
		if ($(this).val() === 'Multi Journal'){
			$('#Debit, #Credit').show();
		}
		else
			$('#Debit, #Credit').hide();
	});
	function addOption(option) {
		$('#FormNameOption').empty();
		$.each(option, function(i, e){
			$('#FormNameOption').append('<option value="'+ e['val']+ '">' + e['text'] +'</option>');
		});

		$('#FormNameOption').value = 'None';
		$('#FormNameOption').trigger('change');
	}

	$('#Operation').on("change", function (e) {
		if ($(this).val() === 'Teller Function'){
			$.get("/Morakot/getModule", function(data, status){
				var Option = [{val: 'None', text: '---None---'}];
				TellerData = data['Teller'];
				for(var key in TellerData){
					var json = {val: key, text: TellerData[key]};
					Option.push(json);
				}
				addOption(Option);
			});
		}
		else if ($(this).val() === 'Fund Transfer'){
			$.get("/Morakot/getModule", function(data, status){
				var Option = [{val: 'None', text: '---None---'}];
				FTData = data['FundTransfer'];
				for(var key in FTData){
					var json = {val: key, text: FTData[key]};
					Option.push(json);
				}
				addOption(Option);
			});
		}
		else {
			var Option = [{val: '', text: '---None---'}];
			addOption(Option)
		}
	});

});
</script>
{% endblock %}

