{% extends "layout.html" %}

{% block css %}
 <style type="text/css">
 	tr{
 		height:35px;
 	}
 </style>
{% endblock %}



{% block content %}

<!--  message  -->
<div class="clearfix"></div>
{% include 'msg_error.html' %}


{% if FieldRequired %}
<div class="col-sm-12">
	<div class="clearfix"></div>
	<div class="alert alert-danger" id="alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<ol>
				{% for message in FieldRequired %}
				<li id="lblTableName">
					<a class="error_pointer">
						<label for="TableName">
							{{message[0]}} <span style="color:#d38e99">*:</span>
						</label>
					</a> {{message[1]}}
				</li>
				{% endfor %}
			</ol>
		</div>
	</div>
</div>
{% endif %}



<div class="col-sm-12">
	<h2>Export All Table(csv only)</h2>
</div>

<div class="col-sm-12">
	<form action="/Morakot/ExportImport" method="post" enctype="multipart/form-data" >
	<table class="col-sm-6">
	<tr>
		<td class="col-sm-2">
			<label for="TableName"> Table Name </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-4">
			<select class="form-control" id="ExportOperation" name="Operation" style="width:60%">
				<option value="None"> --None-- </option>
				<optgroup label="Administrator">
					{%for table in ListAdministrator %}
					<option value="{{table}}"> {{table}} </option> 
					{%endfor%}
				 </optgroup>
 				<optgroup label="List of Values">
					{%for table in ListOfValues %}
					<option value="{{table}}"> {{table}} </option> 
					{%endfor%}
				 </optgroup>
			</select>
			<script type="text/javascript">
				init.push(function () {
					// Single select
					$("#ExportOperation").select2({
						allowClear: true,
						placeholder: "Table Name"
					});
				});
			</script>
			 <input type="hidden" name="tag" value="export"> 
		</td>
	</tr>

	<tr style="height:55px;">
		<td class="col-sm-2"></td>	
		<td class="col-sm-4">
			<button type="submit" class="btn btn-flat btn-primary" id="btnExport">
	 			<span class="btn-label icon fa fa-upload"></span> &nbsp;{{ getLanguage('Export') }}
			</button>
		</td>
	</tr>
	</table>
	</form>
</div>



<div class="col-sm-12" >
	<h2 style="padding-top:50px;">Import All Table (csv only)</h2>
</div>

<div class="col-sm-12">
	<form action="/Morakot/ExportImport" method="post" enctype="multipart/form-data" id="frmData" >
	<table class="col-sm-6">

	<tr>
		<td class="col-sm-2">
			<label for="TableName"> Table Name </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-4">
			<select class="form-control" id="Operation" name="Operation" style="width:60%">
				<option value="None"> --None-- </option>
				<optgroup label="Administrator">
					{%for table in ListAdministrator %}
						{% if table[-4:] != 'HIST' %}
							<option value="{{table}}" {% if TableName[4:] == table %} selected="selected" {% endif %}> {{table}} </option> 
						{% endif %}
					{%endfor%}
				 </optgroup>
 				<optgroup label="List of Values">
					{%for table in ListOfValues %}
					<option value="{{table}}"> {{table}} </option> 
					{%endfor%}
				 </optgroup>
			</select>
			<script type="text/javascript">
				init.push(function () {
					// Single select
					$("#Operation").select2({
						allowClear: true,
						placeholder: "Table Name"
					});
				});
			</script>
			<input type="hidden" name="tag" value="import"> 
		</td>
	</tr>
	<tr>
		<td class="col-sm-2">
			<label for="ImportMode"> Import Mode </label>
		</td>
		<td class="col-sm-4">
			<select class="form-control" id="ImportMode" name="ImportMode" style="width:35%">
				<option value="N" {% if ImportMode == 'N' %} selected="selected" {% endif %}>---None---</option>
				<option value="C" {% if ImportMode == 'C' %} selected="selected" {% endif %}> Clear </option>
				<option value="O" {% if ImportMode == 'O' %} selected="selected" {% endif %}> Overwrite </option> 
			</select>
			<script type="text/javascript">
				init.push(function () {
					// Single select
					$("#ImportMode").select2({
						allowClear: true,
						placeholder: "Import Mode"
					});
				});
			</script>
		</td>
	</tr>
	<tr>
		<td class="col-sm-2">
			<label for="Uploadfile"> File Upload </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-2">
			<input type="file" name="file" id="fileUpload" style="width:40% !important;">
							<!-- Javascript -->
				<script>
					init.push(function () {
						$('#fileUpload').pixelFileInput({ placeholder: 'No file selected...' });
					})
				</script>
				<!-- / Javascript -->
		</td>
	</tr>
	<tr style="height:55px;">
		<td class="col-sm-2"></td>
		<td class="col-sm-4">
			<button type="submit" class="btn btn-flat btn-primary" id="btnImport">
	 			<span class="btn-label icon fa fa-download"></span> &nbsp;Import
			</button>
		</td>
	</tr>
	</table>

	</form>
</div>

<p style="padding-left:20px;">
	<b>**Notes: </b>   Import Mode, 'Clear' means the data in the table will be cleared before importing new data. 'Overwrite' means the data in the table will be overwritten with the new data you upload.
</p>


{% endblock %}



{% block js %}

<script type="text/javascript">
$(document).ready(function() {
	function fn_fadeIn(){
		var $getParentEle = window.parent.$("#animated")
		$getParentEle.fadeIn("slow");
	}

	function fn_fadeOut(){
		var $getParentEle = window.parent.$("#animated")
		$getParentEle.fadeOut("slow");
	}

	$('#btnImport').on('click', function(event){
		fn_fadeIn();
		var ImportMode = $('#ImportMode').val();
		var r = false;
		if (ImportMode == 'O'){
			r = confirm('Are you sure want to overwrite the data in the table?');
		} else if (ImportMode == 'C'){
			r = confirm('Are you sure want to clear the data before insert new data into the table?');
		} else
			r = true;

		if (r == true){
			fn_fadeIn();
		} else {
			fn_fadeOut();
			event.preventDefault();
		}
	});
});

</script>

{% endblock %}