{# Renders field for bootstrap 3 standards.
 
    Params:
        field - WTForm field
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_
 
    Example usage:
        {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}

{% macro render_field(field,disabled='' ,label_visible=true) %}
    
    <div class="form-group  {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' or field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="col-sm-2 control-label">{{ field.label }}</label>
        {% endif %}       
    <div class="col-sm-10">
         {% if field.type =="DateField" %}
           {% if disabled %}
            {{ field(class_='form-control',id=field.id,readonly=true, **kwargs) }}
           {% else %}
            {{ field(class_='form-control',id=field.id, **kwargs) }}
           {% endif %}

          <script type="text/javascript">
            $('#{{field.id}}').datepicker({
                format:"yyyy-mm-dd"
            }).on("change", function(){
              var date = $(this).val().split(/[.,\/\\ -]/g);
              if(date[0].length <= 2){
                date = date.reverse()
              }
              for (i=1; i<=2; i++){
                if (parseInt(date[i]) < 10 && date[i].length == 1){
                  date[i] = "0"+ date[i];
                }  
              }
              $(this).val(date.join("-"));

            });

          </script>
         {% elif field.type=="HiddenField" %}
          
                {% if disabled %}
                {{ field(class_='form-control',id=field.id,readonly=true, **kwargs) }}
               {% else %}
                {{ field(class_='form-control',id=field.id, **kwargs) }}
               {% endif %}
             {#
                call remote data through jquery ajax. url's name should be field of database 
             #}
             <script type="text/javascript">
             $('#{{field.id}}').select2({
                  placeholder:'Select {{field.id}}',
                  minimumInputLength: 3,
                  triggerChange: true,
                  allowClear: true,
                  ajax: {
                      url: '{{ url_for(field.id) }}',
                      dataType: 'json',
                      data: function (term, page) {
                          return {
                              q: term,
                              action:'search'
                          };
                      },
                      results: function (data, page) {
                          return {
                              results: data.items
                          };
                      }
                  },
                  initSelection: function (element, callback) {
                      var id = $(element).val();
                      if (id !== "") {
                          $.ajax("{{ url_for(field.id) }}?action=view&q="+id, {
                              dataType: "json"
                          }).done(function(data) { callback({id: id, text: data.items[0].text}); });
                      }
                      
                  }
              });
             </script>

         {% else %}

             {% if disabled %}
                {{ field(class_='form-control',disabled='disabled', **kwargs) }}
             {% else %}
                {{ field(class_='form-control', **kwargs) }}
             {% endif %}
         {% endif %}
    </div>
    </div>

{%- endmacro %}

{% macro render_form(form, action='', li_html='',g_id='',g_readonly='',disabled='',formReadOnly='', class_='', btn_class='btn btn-default') %}

    <form method="POST" id='frm' name="frm" role="form" class="{{ class_ }}">

     {# call toolbar form #}
     {% include "toolbar.html" %}
     {% if form.errors %}
     <div class="alert alert-danger">
         <ol>
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li ><a href="#{{field_name}}" class="error_pointer">{{ form[field_name].label }}</a>: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ol>
    </div>
    {% endif %}
     {# call error form#}
     {% include "error.html" %}  
    {% if form %}
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}

                {% for f in form %}
                {% if f.description ==''%}
                    {% if f.type == 'BooleanField' %}
                        {{ render_checkbox_field(f) }}
                    {% elif f.type == 'RadioField' %}
                        {{ render_radio_field(f) }}
                    {% else %}
                        
                          {{ render_field(f,disabled) }}
                        
                    {% endif %}
                {% endif %}
                {% endfor %}
            
        {% endif %}
    <div id="container_tab" class="tab-content">
    <ul class="nav nav-tabs" role="tablist">
        {% for tablist in form|groupby('description')%}
        {% if tablist.grouper!="" %}
        {% if loop.index0==1 %}
          <li class='active'><a data-toggle="tab" href="#{{tablist.grouper|replace(" ","")}}">{{removestring(tablist.grouper,"-")}}</a></li>
        {% else %}
           <li><a data-toggle="tab" href="#{{tablist.grouper|replace(" ","")}}">{{removestring(tablist.grouper,"-")}}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
    
    {% set chk=1%}
    {% for tablist in form|groupby('description')%}
      {% if tablist.grouper !="" %}
        <div id="{{tablist.grouper|replace(" ","")}}" class="tab-pane fade {% if chk==1 %} in active {% endif %}"><br/>
          {%set chk=2%}
          {% for f in tablist.list %}
            {% if loop.last %}
              {% set rng= maxValue(tablist.list,"_")|int +1 %}
              {%set i=1%}
              {% for i in range(1,rng) %}
                <div id="{{tablist.grouper|replace(" ","") +"_"+i|string}}" class='mspan'>
                    {% for f in tablist.list %}
                      {% if i ==delimiterdic(f.id,"_")|int  %}
                            {% if f.type == 'BooleanField' %}
                                {{ render_checkbox_field(f) }}
                            {% elif f.type == 'RadioField' %}
                                {{ render_radio_field(f) }}
                            {% else %}
                                {{ render_field(f,disabled) }}
                            {% endif %}
                      {% endif %}
                    {% endfor %}
                {% if rng==2 %}
                {% if removestring(tablist.grouper,"-")!="Audit" %}
                {# remove multi value from controls #}
                {% for f1 in form.isMultiValue() %}
                {% if tablist.grouper ==f1 %}
                  <div class='form-group'>
                  <div class='col-sm-offset-2 col-sm-10' id="{{tablist.grouper|replace(" ","") +"btn_"+i|string}}">
                  <button type='button' class='btn btn-default {{tablist.grouper|replace(" ","")}}_add'>+</button>
                  </div>
                  </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% elif i==rng-1 %}
                  <div class='form-group'>
                  <div class='col-sm-offset-2 col-sm-10' id="{{tablist.grouper|replace(" ","") +"btn_"+i|string}}">
                  <button type='button' class='btn btn-default {{tablist.grouper|replace(" ","")}}_remove'>-</button>&nbsp;
                  <button type='button' class='btn btn-default {{tablist.grouper|replace(" ","")}}_add'>+</button>
                  </div>
                </div>
                {% elif i!=1 %}

                 <div class='form-group'>
                  <div class='col-sm-offset-2 col-sm-10' id="{{tablist.grouper|replace(" ","") +"btn_"+i|string}}">
                  <button type='button' class='btn btn-default {{tablist.grouper|replace(" ","")}}_remove'>-</button>
                  </div>
                </div>
                

                {% endif %}
                </div>
                
          {% endfor %}
            {% endif %}
          {% endfor %}
    
        </div>
    {% endif %} {#end if of tablist #}
    {% endfor %} {# end for of tablist #}
    </div>

{# call form attribute #}
{% include "formattr.html" %}

 {% endif %}

 <script type="text/javascript">
   toolbar("{{'/'+action.split('/')[1]+'/'+action.split('/')[2]}}")
   
</script>
    </form>

{%- endmacro %}