{% macro setOperator(operator) %}
	{% set Operation = ["Equal", "Contain", "Between", "Greater than", "Greater than equal",
					"Less than", "Less than Equal", "Not equal"] %}
	{% for opt in Operation %}
		{% if opt == operator %}
		<option selected>{{ opt }}</option>
		{% else %}
		<option>{{ opt }}</option>
		{% endif %}
	{% endfor%}
{% endmacro %}