
{% macro render_field(field) %}
 
  {% if field.type=="SubmitField" %}
  <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
  {{ field(class="btn btn-default",**kwargs)|safe }}
  </div>
  </div>
  {% else %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
  {{ field.label(class="col-sm-2 control-label")}}
  <div class="col-sm-10">
  {{ field(class="form-control",**kwargs)|safe }}
  </div>
  </div>
  {% endif %}
  {% if field.errors %}
    <div class="form-group has-error">
    {% for error in field.errors %}
    <div class="col-sm-offset-2 col-sm-10">
    <p class="help-block">{{ error }}</p>
    </div>
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

