<script>
	init.push(function () {
		$('ul#MainMenu').slimScroll({ height: 415, alwaysVisible: true, color: '#888',allowPageScroll: true });
	})
</script>
<div class="slimScrollDiv" id="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
	<div id="main-menu-inner" style="overflow: hidden; width: auto; height: 100%;">
		<div class="menu-content top animated fadeIn" id="menu-content-demo">
			<div>
				<div class="text-bg"><span class="text-bold">{{ DisplayName }}</span></div>
				<div class="text-bg"><span class="text-slim">{{ UserRole }}</span></div>
				<a tabindex="-1" href="javascript:void(0);" onclick="addTab('Profile','/Morakot/Profile/')" title="Change Profile">
					{% if(Profile): %}
						<img src="{{ url_for('static', filename='avatars/' + Profile.strip()) }}" alt="" class="">
					{% else: %}
						<img src="{{ url_for('static', filename='avatars/default.jpg') }}" alt="" class="">
					{% endif %}
				</a>
				<a href="/Morakot/LogOut" class="close" title="Logout"><i class="fa fa-power-off"></i></a>
				{% if len(AccessMenuList[1]) > 1 %}
					<div class="text-right" style="margin-right: -16%; margin-bottom: -20px;">
						<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Switch Menu">
							<i class="fa fa-bars"></i>
						</a> -->
						<ul class="dropdown-menu text-left" id="MainMenu" style="z-index: 1; position: relative;">
							{% for item in AccessMenuList[0] %}
								<li>
									<a href="javascript:void(0);" id="getMenu_{{ item.ID }}">{{ item.Description }}</a>
									<input type="hidden" value="{{ item.ID }}" id="Menu_{{ item.ID }}">
									<script type="text/javascript">
									 	$("#getMenu_{{ item.ID }}").click(function(){
									 		var ID = $("#Menu_{{ item.ID }}").val();
									 		$.ajax({
									 			url:'/Morakot/SwitchMenu/',
									 			type:'GET',
									 			data:{ID:ID},
									 			success: function(data){
									 				$("#MainMenu").html(data);
									 			}
									 		});
									 	});
									</script>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
		<div style="height: 48px;">&nbsp;</div>
		<ul class="navigation" id="MainMenu">
			{% for root in FirstItem %}
				{% if root.Form %}
					<li>
						<a id="loaderMenu" tabindex="-1" href="javascript:void(0);" onclick="addTab('{{ root.ItemDesc }}','/Morakot/{{ URL[root.Form.split(':')[1]].values()[0] }}')">
							<i class="menu-icon {{ root.Icon }}"></i>
							<span class="mm-text mmc-dropdown-delay animated fadeIn">{{ root.ItemDesc }}</span>
						</a>
					</li>
				{% else %}
					<li class="mm-dropdown mm-dropdown-root">
						<a href="javascript:void(0);">
							<i class="menu-icon {{ root.Icon }}"></i>
							<span class="mm-text mmc-dropdown-delay animated fadeIn">{{ root.ItemDesc }}</span>
						</a>
						<ul class="mmc-dropdown-delay animated fadeInLeft">
							{% for sub1 in SecondItem %}
								{% if sub1.Parents %}
									{% if root.ItemID == sub1.Parents and sub1.Form %}
										<li>
											<a id="loaderMenu" tabindex="-1" href="javascript:void(0);" onclick="addTab('{{ sub1.ItemDesc }}','/Morakot/{{ URL[sub1.Form.split(':')[1]].values()[0] }}')">
												<span class="mm-text">{{ sub1.ItemDesc }}</span>
											</a>
										</li>
									{% else %}
										{% if root.ItemID == sub1.Parents %}
											<li class="mm-dropdown mm-dropdown-root">
												<a href="javascript:void(0);">
													<span class="mm-text mmc-dropdown-delay animated fadeIn">{{ sub1.ItemDesc }}</span>
												</a>
												<ul class="mmc-dropdown-delay animated fadeInLeft">
													{% for sub2 in SecondItem %}
														{% if sub2.Parents %}
															{% if sub1.ItemID == sub2.Parents %}
																{% if sub2.Form %}
																	<li>
																		<a id="loaderMenu" tabindex="-1" href="javascript:void(0);" onclick="addTab('{{ sub2.ItemDesc }}','/Morakot/{{ URL[sub2.Form.split(':')[1]].values()[0] }}')">
																			<span class="mm-text">{{ sub2.ItemDesc }}</span>
																		</a>
																	</li>
																{% else %}
																	<li>
																		<a href="javascript:void(0);">
																			<span class="mm-text">{{ sub2.ItemDesc }}</span>
																		</a>
																	</li>
																{% endif %}
															{% endif %}
														{% endif %}
													{% endfor %}
												</ul>
											</li>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}
						</ul>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<div class="menu-content text-center">
			Last Login : {% if session['DateLastLogin'] == None %} First Time {% else %} {{ session['DateLastLogin'] }} {{ session['TimeLastLogin'] }} {% endif %}
			<p style="padding-top: 10px;">License to: <br>{{ Company }}</p>
		</div>
	</div>
	<div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 741px; background: rgb(0, 0, 0);"></div>
	<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
</div>