<!-- Main menu toggle -->
<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
<div class="navbar-inner">
	<!-- Main navbar header -->
	<div class="navbar-header">
		<!-- Logo -->
		<a href="/Morakot" class="navbar-brand">
			<div><img alt="Morakot Technology" src="{{ url_for('static', filename='images/logo.png') }}"></div>
			Morakot VB
		</a>
		<!-- Main navbar toggle -->
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
	</div> <!-- / .navbar-header -->
	<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
		<div>
			<script>

				init.push(function () {
					// Single select
					$("#jquery-select2-example").select2({
						allowClear: true,
						placeholder: "Select a Branch"
					});
				});
			</script>
			<ul class="nav navbar-nav">
				<li>
					<a href="#" data-toggle="modal" data-target="#getSwitchBranch">
						<b>Branch:</b> {{ Branch }}
					</a>
					<div class="dropdown-menu widget-notifications no-padding" style="width: 175px;">
					</div>
				</li>
				<li style="padding: 14px 15px;">
					<b>System Date:</b> {{ todaydate }}
				</li>
			</ul>
			<script>
				init.push(function () {
					// $('#main-navbar-notifications').slimScroll({ height: 250 });
				});
				
			</script>
			<div class="right clearfix">
				<input type="hidden" id="CurrentNotify" value="{{CurrentNotify}}"></input>
				<ul class="nav navbar-nav pull-right right-navbar-nav">
					<li class="nav-icon-btn nav-icon-btn-danger dropdown" id="notification">
						<a href="#notifications" class="dropdown-toggle" data-toggle="dropdown" >
							<i class="nav-icon fa fa-bell" style="font-size: 20px; color: #77b7c5;"></i>
							<span class="label" id="showNumberOfNotification" style="font-size: 12px; padding: 2px; margin-right: 8px; margin-top: 5px; padding: 2px; position: absolute; left: 25px !important; top: 0; text-align: left;"></span>
							<span class="small-screen-text">Notifications</span>
						</a>
						<script>
							init.push(function () {
								$('#main-navbar-notifications').slimScroll({ height: 350 });
							});
						</script>

						<div class="dropdown-menu widget-notifications no-padding" style="width: 300px">
							<div id="notificationLoading"> </div>
							<div class="notificationSlyleBox">&nbsp;</div>

							<div  id="switchers-colors-modern"  
							data-toggle="tooltip" data-original-title="Tooltip on bottom"
							style="padding:8px; 3px; border-bottom: 1px solid #EEE;">
								<div class="col-sm-6" style="padding-left:0px;padding-top:3px; font-size:11px;">
									<strong>Notifications</strong> 
								</div>
								<div class="col-sm-6 text-right tooltips-demo">
									<label class="tooltip-info"
									data-toggle="tooltip" data-placement="left" 
									title="Show pop-up">
									{%if not UserNotification or UserNotification == 'Y'%}
										<input name="Mute_Notification" type="checkbox"
										value="True"
										data-class="switcher-sm switcher-primary"
										checked="checked">
									{%else%}
										<input name="Mute_Notification" type="checkbox"
										value="False"
										data-class="switcher-sm switcher-primary"
										>
									{%endif%}
									</label>
								</div>
								<div class="clearfix"></div>
							</div>
							<script>

								init.push(function () {
									$('.tooltips-demo label').tooltip();
									$('#switchers-colors-modern > div > label > input').switcher({ theme: 'modern' });
								});

								$("input[name=Mute_Notification]").click(function(){
									var Check = $("input[name=Mute_Notification]").val()
									if (Check == 'True'){
										
										setMuteNotification("False");
										$("input[name=Mute_Notification]").val("False")
									}else{
										setMuteNotification("True");
										$("input[name=Mute_Notification]").val("True")
									}
								});
								function setMuteNotification(value){
			
									$.ajax({
										url: "/Morakot/NotificationMessageConfig/"+value,
										type: "GET",
										success: function(data){
											
										}
									});
								}
							</script>
							
							<div class="notifications-list" id="main-navbar-notifications">

							</div>

							<a id="notification-more" class="notifications-link link">MORE NOTIFICATIONS</a>
						</div>
					</li>

					<li class="nav-icon-btn nav-icon-btn-danger dropdown">
						<a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
							<i class="nav-icon fa fa-question-circle" style="font-size: 20px; color: #77b7c5;"></i>
							<span class="small-screen-text">Notifications</span>
						</a>
						<script>
							init.push(function () {
								$('#main-navbar-notifications').slimScroll({ height: 350 });
							});
						</script>
					</li>

					<li>
						<!-- <form class="navbar-form"> -->
							<!-- <div class="col-sm-2 input-group pull-right" style="margin-top: 8px;"> -->
								<!-- <span class="input-group-addon" style="border:none; background: #fff;background: rgba(0,0,0,.05); padding-top:8px; padding-bottom:8px; padding-right: 18px;"><i class="fa fa-search"></i></span> -->
								<!-- <input type="text" placeholder="Search..." class="form-control no-padding-hr" style="border:none;background: #fff; background: rgba(0,0,0,.05); margin-top: 0px !important;"> -->
							<!-- </div> -->
						<!-- </form> -->
						<form class="navbar-form pull-left">
							<input type="text" class="form-control" placeholder="Search..." style="border:none;background: #fff; background: rgba(0,0,0,.05); width: 100%;">
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div> <!-- / #main-navbar-collapse -->
</div> <!-- / .navbar-inner -->