{% extends "layout.html" %}

{% block css %}
    
    <style>
        @page {
            margin: 0.8cm 0.5cm;
        }
        @media print{
            body{
                font-size: 11px;
            }
        }
        h3.header-3{
            color: #888 !important;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px 18px 0;
        }
        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }
       
        .form-label{
            padding-top: 7px;
        }

        ul.pager{
            text-align: right !important;
        }
        .input-sm.form-control {

            width: 214px !important;
        }
        .modal-dialog{

            width: 428px !important;

        }
        #modaltable{
            line-height: 3.12857;
        }
        .modal-body {
            z-index: 99999 !important;
        }
        .modal{
            /*position: relative !important;*/
        }
    

    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
        <!-- action="/Morakot/AccountStatement" -->
        <form method="GET" id="frm" name="frm" role="form" >
            <div class="col-sm-7" style="margin-top: 8px;">
                
                    <div class="col-sm-4" style="padding-left: 0;">
                   
                        {{ form.ID(class="form-control" , style="width: 100%",value=ACC.ID,placeholder="Account ID") }}
                    </div>
             
                    <label  class="col-sm-1" style="padding:0px;" >
                        <button type="submit" id="Show" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
                            {{ getLanguage('Show') }}
                        </button>
                    </label>                     
                              
            </div>

            <div class="col-sm-5 text-right" style="margin-top: 8px; ">
                <button type="button" class="btn btn-flat btn-labeled btn-success" id="ViewToday" onclick="viewtodaytransaction('Account Statement','AccountStatement','{{ACC.ID}}')">
                   <span class="btn-label icon fa fa-eye"></span> Today Transactions 
                </button>

                <button type="button" class="btn btn-flat btn-labeled btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                    <span class="btn-label icon fa fa-gear"></span> {{ getLanguage('Custom') }} 
                </button>

                {% from "print.html" import exportButton %}
                {{exportButton()}}
            </div>   
    </div>
                      
        {##set default value to date##}
        {%set Start=''%}
        {%set End=''%}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">{{ getLanguage('Custom Range') }}</h4>
              </div>
              <div class="modal-body">
                    <table id="modaltable" cellspacing="0" width="100%">
                        {%if ListDate%}
                            {%set Start=ListDate[0]%}
                            {%set End=ListDate[1]%}
                        {%endif%}
                        <tr>
                            <td>{{ getLanguage('Start Date') }}:</td>
                            <td><input class="input-sm form-control" type="text" value="{{Start}}" placeholder="{{ getLanguage('Start Date') }}" name="Start" id="StartDate" > </td>
                        </tr>       
                        <tr>
                            <td>{{ getLanguage('End Date') }}:</td>
                            <td><input class="input-sm form-control" type="text" value="{{End}}" placeholder="{{ getLanguage('End Date') }}" name="End" id="EndDate" ></td>
                        </tr>
                    </table>                
                
              </div>
              <div class="modal-footer">
                <button type="submit" id="Apply" class="btn btn-primary">{{ getLanguage('Apply') }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ getLanguage('Cancel') }}</button>
                
              </div>      
            </div>
          </div>
        </div>

    </form>

    <!--  message  -->
    <div class="clearfix"></div>
    {% include 'msg_error.html' %}

    {% if ACC %}
        
        <div class="col-sm-12">
            <h3 class="header-3 text-center">{{Company.CompanyName}}</h3>
            <h4 class="header-4 text-center">{{ getLanguage('Account Statement') }}</h4> 
            
            {%if Start and End  %}
                
                {%if Start != End%}
                    <h4 class="header-4 text-center"><strong>From: </strong> {{ Start }} <strong>To: </strong>{{ End }}</h4>
                {%else%}
                    <h4 class="header-4 text-center"><strong>Date</strong>: {{ AsOfDate }}</h4>
                {%endif%}
            {%else%}
                <h4 class="header-4 text-center"><strong>{{ getLanguage('As of') }}</strong>: {{ AsOfDate }}</h4>
            {%endif%}
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="col-sm-12">
            <table width="100%">
                <tr>
                    <td width="150"><strong>{{ getLanguage('Account ID') }}</strong></td>
                    <td>: &nbsp  {{ ACC.ID }}</td>
                    <td class="text-right"><strong>Current Balance</strong></td>
                    <td class="text-right" width="150">: &nbsp  {{ toMoney(float(ACC.Balance), CurrencyObj,2) }}</td>

                </tr>
                <tr>
                    <td><strong>{{ getLanguage('Account Name') }}</strong></td>
                    <td>: &nbsp  {{ ACC.AccName }}</td>
                     <td class="text-right"><strong>Available Balance</strong></td>
                    <td class="text-right">: &nbsp  {{ toMoney(float(ACC.AvailableBal), CurrencyObj,2) }}</td>
                </tr>
                <tr>

                    <td width="150"><strong>Account Product</strong></td>
                    <td>: &nbsp {{ Description }}</td>
                </tr>
                <tr>
                    <td ><strong>{{ getLanguage('Currency') }}</strong></td>
                    <td>: &nbsp {{ ACC.Currency }}</td>
                </tr>
              

            </table>
        </div>

        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>

        <div class="panel panel-default">

                <table class="table table-striped" cellspacing="0" width="100%" id="mktlist">
                    <thead>
                        <tr>                            
                            <th><b>{{ getLanguage('Date') }}</b></th>
                            <th><b>Transation</b></th>
                            <th><b>{{ getLanguage('Note') }}</b></th>
                            <th><b>{{ getLanguage('Reference') }}</b></th>
                            <th class="text-right"><b>In</b></th>
                            <th class="text-right"><b>Out</b></th>
                            <th class="text-right" style="padding-right: 35px;"><b>{{ getLanguage('Balance') }}</b></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if AccStatement.first() %}
                        {% set TotalAmount = {"TotalIn":0, "TotalOut":0} %}
                        
                        <tr>
                            <td></td>
                            <td><b>000 - Begining Balance</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right" style="padding-right: 35px;"><b>
                              {{ toMoney(float(BeginingBalance), CurrencyObj) }}</b></td>
                        </tr>
                      
                        {% for row in AccStatement %}

                            
                            {%set InOutAmount = toMoney(float(row.Amount),CurrencyObj) %}
                            {% set Balance = float(row.Amount) %}
                            {% if BalanceType==row.DebitCredit %} 

                                {% set BeginingBalance =  BeginingBalance + Balance %}
                                {% if TotalAmount.update({'TotalIn': TotalAmount.TotalIn + Balance}) %}{%endif%}
                            {% else %}
                                {% set BeginingBalance = BeginingBalance - Balance %}
                                {% if TotalAmount.update({'TotalOut': TotalAmount.TotalOut + Balance}) %}{%endif%}
                            {% endif %}
                            
                            <tr>
                                <td >{{ row.TransactionDate }}</td>
                                <td >{{ row.Transaction }} - {{ row.Description}}</td>
                                <td >{{ row.Note}}</td>
                                <td title="View Detail">
                                    <a href="javascript:void(0)" onClick="ClickView('{{DicModule.get(row.Module)}}','{{DicModule.get(row.Module)}}','{{row.Reference}}')">
                                        {{ row.Reference }}
                                    </a>
                                </td>
                                <td class="text-right">
                                {%if BalanceType==row.DebitCredit%} 
                                    {{InOutAmount}}
                                {% endif %}  
                                    
                                </td>
                                <td class="text-right">
                                {%if BalanceType!=row.DebitCredit%} 
                                    {{InOutAmount}}
                                {% endif %}
                                </td>

                                <td class="text-right" style="padding-right: 35px;{% if loop.last %} font-weight:bold;{% endif %}">

                                    {{ toMoney(float(BeginingBalance),CurrencyObj) }}
                              
                                </td>
                            </tr>
                          
                         
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td><b>*** Total In/Out</b></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                                <b>
                                    {{ toMoney(float(TotalAmount.TotalIn), CurrencyObj)}}
                                </b>
                            </td>
                            <td class="text-right">
                                 <b>
                                    {{ toMoney(float(TotalAmount.TotalOut), CurrencyObj)}}
                                </b>
                            </td>
                            <td></td>

                        </tr>   
                    {%else%}
                        <tr>
                            <td colspan="7">You don't have any transaction yet.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            
        </div>

        
        
    {% endif %}

     
{% endblock %}

{% block js %}
 
    {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}
    <script type="text/javascript">
     function viewtodaytransaction(Title,Url,ID) {
            // you're in an iframe
            
        }
        $(document).ready(function() {
            function fn_fadeIn(){
                var $getParentEle = window.parent.$("#animated")
                $getParentEle.fadeIn("slow");
            }
            function fn_fadeOut(){
                var $getParentEle = window.parent.$("#animated")
                $getParentEle.fadeOut();
            }
            $('#Apply').on('click', function(event){
                    fn_fadeIn();
            });
            $('#Show').on('click', function(event){
                    fn_fadeIn();
            });
            $('#ViewToday').on('click', function(event){
                    fn_fadeIn();
                    if ( self !== top ) {
                        // Open URL with and not new tab
                        window.open("/Morakot/AccountStatement/?ID={{ACC.ID}}&Start={{BankDate}}&End={{BankDate}}","_self");
                    }else{
                        window.parent.location.href="/Morakot/AccountStatement/?ID={{ACC.ID}}&Start={{BankDate}}&End={{BankDate}}"
                    }
            });

            {% from "print.html" import exportTable %}
            {{exportTable('#mktlist','Account Statement')}}

            init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#StartDate').datepicker(options);
                });



             init.push(function () {
                var options = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format:"yyyy-mm-dd",
                autoclose:true
                }
                $('#EndDate').datepicker(options);
                });
        });
    </script>
    
{% endblock %}
