{% extends "layout.html" %}

{% block css %}
 <style type="text/css">
 	tr{
 		height:35px;
 	}
 </style>
{% endblock %}


{% block content %}

<!--  message  -->
<div class="clearfix"></div>
<div class="col-sm-12">
    {% for message in get_flashed_messages() %}
        {% if contain(message, "Error") %}
            <div class="clearfix">&nbsp;</div>
            <div class="alert alert-danger">
                <a href="{{ BackLink }}"><i class="fa fa-reply"></i> Go Back</a> &nbsp;
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% elif contain(message, "Warning") %}
            <div class="clearfix">&nbsp;</div>
            <div class="alert alert-warning">
                <a href="{{ BackLink }}"><i class="fa fa-reply"></i> Go Back</a> &nbsp;
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[9:] }}
            </div>
        {% else %}
            <div class="clearfix">&nbsp;</div>
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

</div>

<!--Content page -->
<!-- {% if query !="" %} --> <!-- if branch has been changed, return successful message-->
 
<!-- <div class="col-sm-12">
	<form action="/Morakot/ChangeBranch" class="form-horizontal" method="post" enctype="multipart/form-data" >
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Branch Name<span style="color:#d38e99">*</span></label>
    <div class="col-sm-10">
      <select class="form-control" id="Branch" name="Branch" style="width:30%">
				{% for item in query %}
				<option value={{item.ID}}> {{item.Description}} </option> 

				{% endfor %}           
			</select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type ="submit" class="btn btn-flat btn-labeled btn-primary" value="Change your branch" id="btnExport">
    </div>
  </div>
	
	</form>
</div> -->
<!-- {% else %}
    <script type="text/javascript">
     window.parent.location.reload()
    </script>
{% endif %} -->

 <!--end if -->
<!-- End -->
{% endblock %}