{% extends "layout.html" %}

{% block css %}
 <style type="text/css">
 	tr{
 		height:35px;
 	}
 #Tableselect::-ms-expand {
            width:12px;
            border:none;
            background:#fff;
        }


 </style>
{% endblock %}



{% block content %}
<!-- <script src="{{ url_for('static',filename='js/dropzone.js') }}"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"> -->
<div class="col-sm-12">
	<h2>Data Import (csv only)</h2>
</div>

<!--  message  -->
<div class="clearfix"></div>
<div class="col-sm-12">
    {% for message in get_flashed_messages() %}
        {% if contain(message, "Error") %}
            <div class="clearfix">&nbsp;</div>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% else %}
            <div class="clearfix">&nbsp;</div>
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% if FieldRequired %}
<div class="clearfix"></div>
<div class="col-sm-12">

	<div class="alert alert-danger" id="alert-danger">
		<ol>
			{% for message in FieldRequired %}
			<li id="lblTableName">
				<a class="error_pointer">
					<label for="TableName">
						{{message[0]}} <span style="color:#d38e99">*:</span>
					</label>
				</a> {{message[1]}}
			</li>		
			{% endfor %}
		</ol>
	</div>
</div>
{% endif %}

<div class="col-sm-12">
	<form action="/Morakot/DataImport" method="post" enctype="multipart/form-data" id="frmData" >
	<table class="col-sm-6">

	<tr>
		<td class="col-sm-2">
			<label for="TableName"> Table Name </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-4">
			<select class="form-control" id="Operation" name="Operation" style="width:60%">
				<option value="None"> --None-- </option>
				<optgroup label="Administrator">
					{%for table in ListAdministrator %}
					<option value="{{table}}"> {{table}} </option> 
					{%endfor%}
				 </optgroup>
 				<optgroup label="List of Values">
					{%for table in ListOfValues %}
					<option value="{{table}}"> {{table}} </option> 
					{%endfor%}
				 </optgroup>
			</select>
		</td>
	</tr>
	<tr>
		<td class="col-sm-2">
			<label for="Uploadfile"> Clear Table </label>
		</td>
		<td class="col-sm-4">
			<select class="form-control" id="ClearTable" name="ClearTable" style="width:20%">
				<option value="N"> NO </option>
				<option value="Y"> YES </option> 
			</select>
		</td>
	</tr>
	<tr>
		<td class="col-sm-2">
			<label for="Uploadfile"> File Upload </label> <span style="color:#d38e99">*</span>
		</td>
		<td class="col-sm-4">
			<input type="file" name="file" id="fileUpload">
		</td>
	</tr>
	<tr style="height:55px;">
		<td class="col-sm-2"></td>	
		<td class="col-sm-4">
			<input type ="submit" class="btn btn-flat btn-labeled btn-primary" value="Import" id="btnUpload">
		</td>	
	</tr>
	</table>

	</form>
</div>
	<!-- <div  class="col-sm-2"> -->
		<p style="padding-left:20px;">
			<b>**Notes: </b>   Clear Table, 'Yes' means the data in the table will be cleared before importing new data.
		</p>
	<!-- </div> -->


{% endblock %}



{% block js %}

<script type="text/javascript">
$(document).ready(function() {

	$('#btnUpload').on("click",function(event) 
	{
		var ClearTable = $('#ClearTable').val()
		if (ClearTable =='Y'){
			var r = confirm("The data in the table will be cleared before the import start. Are you sure?");
			if (r == true) {
				$("#animated").fadeIn("slow");
			} else {
				event.preventDefault();
			}
		}
	}); 
});

</script>
{% endblock %}