{% extends "master.html" %}
{% block content %}
	<div class="theme-default page-signin">
		<!-- Page background -->
		<div id="page-signin-bg">
			<!-- Background overlay -->
			<div class="overlay"></div>
			<!-- Replace this with your bg image -->
			<!-- <img src="/static/pictures/P1020900.jpg" alt=""> -->
			<div class="col-sm-4"></div>
			<div class="col-sm-4 text-center loginWrapper">
				{% for message in get_flashed_messages() %}
     				{% if contain(message,"Error") %}
	   					<div class="alert alert-danger">
		  					{{ message }}
	   					</div>
     				{% else %}
	     				<div class="alert alert-info">
	      					{{ message }}
	     				</div>
     				{% endif %}
	   			{% endfor %}
			</div>
			<div class="col-sm-4"></div>
		</div>
			<!-- Right side -->
		</div>
		<!-- / Container -->
	</div>
{% endblock %}
