{% extends "layout.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
		    font-size: 16px;
		    font-weight: bold;
		    margin: 5px 0 10px;
		    padding: 10px 18px 0;
        }

		.se-pre-con1 {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
			opacity: 0.4;
			display: none;
		}

		.form-label{
			padding-top: 7px;
		}

		table.borderless td, .borderless th {
		    border: none !important;
		}

    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-default navbar-static-top">
    	<form method="GET" id="frm" name="frm" role="form" action="/Morakot/Tool/ReverseTransaction/">
			<div class="col-sm-8">
				<div style="margin-top: 8px;">
		    		<div class="col-sm-3" style="padding-left: 0;">
		                <input type="text" name="Reference" class="form-control" value="{{ Reference }}" style="width: 100%;" placeholder="Reference *">
					</div>
					<!-- <div class="col-sm-3" style="padding-left: 0;">
		                <input type="text" name="AccountID" class="form-control" value="{{ AccountID }}" style="width: 100%;" placeholder="Account ID *">
					</div> -->
					<div class="col-sm-3" style="padding-left: 0;">
		                <input type="text" name="TransactionDate" class="form-control" value="{{ TransactionDate }}" style="width: 100%;" placeholder="Transaction Date *">
					</div>
					<label class="col-sm-1" style="padding:0px;">
		    			<button type="submit" class="btn btn-flat btn-labeled btn-primary" style="padding: 7px 25px;">
	                        {{ getLanguage('400001') }}
	                    </button>
		    		</label>
				</div>
			</div>
			<div class="col-sm-4">
				<!-- {% if Loan %}
					<div class="text-right" style="margin-top: 8px;">
						<a href="/Morakot/LoanAmendment/" class="btn btn-flat btn-labeled btn-success"><span class="btn-label icon fa fa-pencil"></span> Loan Amendment</a>
					</div>
				{% endif %} -->
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	{% include 'msg_error.html' %}

	<div id="Main">

		<div class="col-sm-12">
			{% if RecordObj %}
				<table class="table table-striped">
					<thead>
						<th>Transaction Date</th>
						<th>Category ID</th>
						<th>Description</th>
						<th>Currency</th>
						<th>Dr/Cr</th>
						<th>Amount</th>
						<th>GL Key</th>
						<th>Reference</th>
						<th>Action</th>
					</thead>
					<tbody>
						{% for item in RecordObj %}
							<tr>
								<td>{{ item.TransactionDate }}</td>
								<td>{{ item.CategoryID }}</td>
								<td>{{ item.Transaction }} - {{ item.Description }}</td>
								<td>{{ item.Currency }}</td>
								<td>{{ item.DebitCredit }}</td>
								<td>{{ toMoney(float(item.Amount), getCurrencyObj(item.Currency)) }}</td>
								<td>{{ item.GL_KEYS }}</td>
								<td>{{ item.Reference }}</td>
								<td>
									<a class="btn btn-xs btn-warning" href="/Morakot/Tool/ReverseTransaction/Post/?JN={{ item.ID }}&Date={{ TransactionDate }}">
										<i class="fa fa-reply"></i> Reverse Transaction
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>

	</div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $('#mktlist').dataTable({
               "lengthMenu": [[12,24, 36, 60,120, -1], [12,24, 36, 60,120, "All"]]
            });

            

        });

    </script>

{% endblock %}