
<script type="text/javascript">

$(window).on('beforeunload', function(){

	$.getJSON('/Morakot/deleteLock', {
		
		 ID:getParameterByName("ID")
	 
	 },function(data) {
			console.log("null")
				
	});
	return 
	//console.log("Bye now!");
});

{# end script #}
</script>


{# set disable for edit #}
{%if form.setDisableforEdit() %}
<script type="text/javascript">
localStorage.setItem("saveDisableField"+location.pathname.split('/')[2],JSON.stringify({{form.setDisableforEdit()|safe}}));

{% for f1 in form.setDisableforEdit() %}


		//console.log(location.pathname.split('/')[3])
	if (location.pathname.split('/')[3]=="Edit" || $("#Inputter").val()!=""){
		
		 $("select[id^='{{f1}}']").each(function (i, el) {
				 $('#'+el.id).attr('readonly','readonly')

		 });
		
		$("input[id^='{{f1}}']").each(function (i, el) {
				 $('#'+el.id).attr('readonly', 'readonly')

		 });
		init.push(function () {
			$('#{{f1}}').select2('readonly',true);
		});
	} 

{% endfor %}
</script>
{%endif%}

{# set disable #}
{%if form.setDisable() %}
<script type="text/javascript">
	{% for f1 in form.setDisable() %}

		$("select[id^='{{f1}}']").each(function (i, el) {
				 $('#'+el.id).attr('readonly', 'readonly')

		 });
		
		$("input[id^='{{f1}}']").each(function (i, el) {
				 $('#'+el.id).attr('readonly', 'readonly')
		 });

		init.push(function () {
			$('#{{f1}}').select2('readonly',true);
		});

	{% endfor %}
</script>
{%endif%}

{# set visible #}
{%if form.setVisible() %}
 <script type="text/javascript">
	{% for f1 in form.setVisible() %}

		$("select[id^='{{f1}}']").each(function (i, el) {
				 $('#'+el.id).parent().parent().css('display', 'none')

		 });
		
		$("input[id^='{{f1}}']").each(function (i, el) {
				$('#'+el.id).parent().parent().css('display', 'none')

		 });

	{% endfor %}
 </script>
{%endif%}

{# setwidth for control#}
{%if form.setWidth() %}
<script type="text/javascript">
{% for f1 in form.setWidth() %}
		$("select[id^='{{f1[0]}}']").each(function (i, el) {
				 $('#'+el.id).css('width','{{f1[1]}}')

		 });
		
		$("input[id^='{{f1[0]}}']").each(function (i, el) {
				 $('#'+el.id).css('width','{{f1[1]}}')

		 });

{% endfor %}
 </script>
{%endif%}


{# remove multi value from controls #}
{%if form.isMultiValue() %}
{% for f1 in form.isMultiValue() %}
		<script type="text/javascript">

		$('#container_tab li').find('[href]').each(function() { 
				//Perform the same replace as above
				
				var $th = $(this);
				if ("{{removestring(f1,'-')}}"==$th.html()){
					//add_button($th.attr('href').replace('#',''),$th.attr('href').replace('#','')+"_1",i)

					click_add($th.attr('href').replace('#',''),$th.attr('href').replace('#','')+"_1")
					click_remove($th.attr('href').replace('#',''),$th.attr('href').replace('#','')+"_1") //add multi value button
				}
				 
		});

		</script>
{% endfor %}
{%endif%}

{# loop hot field #}
{%if form.hotField() %}
<script type=text/javascript>

//save hot field info into client's temp storage

localStorage.setItem("multivalue"+location.pathname.split('/')[2],JSON.stringify({{form.hotField()|safe}}));

//console.log (fielddisplay)
{% for f in form.hotField() %}
	 var varname="{{f[1]}}".split(",")
	 //mvarname="LastName:"+ $('#LastName').val()

	 var fielddisplay="{{f[2]}}".split(":")
	 
	 //console.log($("input[id^='{{f[0]}}']"))

		$(function() {
			$('#{{f[0]}}').bind('{{f[4]}}', function() {
				$.getJSON('{{f[3]}}', {
		
							{{f[1]|safe}}
							
				}, function(data) {
					{{f[2]|safe}}

					/// fix for loan application only
					if ( {{f|count}} == "6") {
					
					$('#{{f[5]}}').trigger("change");
				} 
			}); 
				
			 

				return false;
			});
		});

// convert to JSON format
toJSON=JSON.stringify({{f|safe}}) ;
//Assign event to multi value
//declare k =2 
var k = 2 ; 
$("input[id^='{{f[0]}}']").each(function (i, el) {

	if (el.id.indexOf('_') >0){
		updateHotField_1(JSON.parse(toJSON),k)
 		k ++ ;
 	}
});

//reset k=2 because k changed regarding the multi value control
k = 2 ;
$("select[id^='{{f[0]}}']").each(function (i, el) {

	if (el.id.indexOf('_') >0){
		updateHotField_1(JSON.parse(toJSON),k)
 		k ++ ;
 	}
});

//end of code		
		 
{% endfor %}
</script>
{%endif%}
{# end loop hot field #}


{# hotSelectField for control #}
{%if form.hotSelectField() %}
<script type=text/javascript>
{% for f in form.hotSelectField() %}

		$(function() {


			$firstKey = "";
			$firstValue = "";

			$('#{{f[0]}}').bind('{{f[4]}}', function() {

				$.getJSON('{{f[3]}}', {
		
						{{f[1]|safe}}
						 
						
				}, function(data) {

					$('#{{f[2]}}').empty();
					var $option="<option value='__None'></option>"
					$.each(data.results, function(k,v){
					 /*
						if ($firstKey == "") {

							$firstKey = k;
							$firstValue = v;
						}*/
						$option +="<option value='"+k+"'>"+ v + "</option>"
					})
					$('#{{f[2]}}').append($option)
					
				}
				);

				return false;
			});
		});


		//filter

	
{% endfor %}
</script>
{%endif%}


{# set money field#}
{%if form.moneyField() %}
{% for f in form.moneyField() %}
	<script type="text/javascript">
	localStorage.setItem("moneyvalue"+location.pathname.split('/')[2],JSON.stringify({{form.moneyField()|safe}}));

		k=1
		$("input[id^='{{f[0]}}']").each(function (i, el) {
			if(k==1){

				toMoneyformat (k,'{{f[0]}}','{{f[1]}}','{{f[2]}}')
				toMoneyHotFieldforEdit (k,'{{f[0]}}','{{f[1]}}','{{f[2]}}')
				k++
			}else{

					var CurrencyValue = $('#'+ '{{f[1]}}_'+k.toString()).val();
					if(typeof CurrencyValue === 'undefined'){

							CurrencyValue = '{{f[1]}}';
					}
					else {
							CurrencyValue = '{{f[1]}}_'+k.toString();
					}

					toMoneyformat (k,'{{f[0]}}_'+k.toString(), CurrencyValue ,'{{f[2]}}')
					toMoneyHotFieldforEdit (k,'{{f[0]}}_'+k.toString(), CurrencyValue,'{{f[2]}}')
					k++
			}
		});
		
	</script>
{% endfor %}
{%endif%}

<script type="text/javascript">

//this will remove comma before passing to server
function removeComma(){

	{% for f in form.moneyField() %}
		$("input[id^='{{f[0]}}']").each(function (i, el) {
			$getValue=el.value
			$getValue=$getValue.replace(/[,]/g,"")
			$(this).val($getValue)

		});

		//repeat: remove comma from total field of money field
		$("input[id^='{{f[2]}}']").each(function (i, el) {
			$getValue=el.value
			$getValue=$getValue.replace(/[,]/g,"")
			$(this).val($getValue)

		});
		
	{% endfor %}
}
</script>


{# add remote control#}
<script type="text/javascript">

callremotedata()
</script>


<script type="text/javascript">
getID = $("#ID").val();
if (getID != ""){
	getID = getID.substring(getID.length-1,getID.length)
}
if ("{{formReadOnly}}"=="True"){
	$("#New").remove();$("#Edit").remove();$("#Delete").remove();$("#Authorize").remove();
 }
 else if ("{{formReadOnly}}"=="AUTH"){
 	
	if ($('#Status').val() =="AUTH"){
		$("#Save").remove();$("#Edit").remove();  
	}else if (getID =="R"){
		$("#Edit").remove();
	}
 }
</script>

