{% extends "layout.html" %}

{% block css %}
 <style type="text/css">
 	tr{
 		height:35px;
 	}
 

 </style>
{% endblock %}

{% block content %}

<div class="col-sm-12">
	<h2>Generate Line Value (csv only)</h2>
</div>

<!--  message  -->
<div class="clearfix"></div>
<div class="col-sm-12">
    {% for message in get_flashed_messages() %}
        {% if contain(message, "Error") %}
            <div class="clearfix">&nbsp;</div>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% else %}
            <div class="clearfix">&nbsp;</div>
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% if FieldRequired %}
<div class="clearfix"></div>
<div class="col-sm-12">

	<div class="alert alert-danger" id="alert-danger">
		<ol>
			{% for message in FieldRequired %}
			<li id="lblTableName">
				<a class="error_pointer">
					<label for="TableName">
						{{message[0]}} <span style="color:#d38e99">*:</span>
					</label>
				</a> {{message[1]}}
			</li>		
			{% endfor %}
		</ol>
	</div>
</div>
{% endif %}

<div class="col-sm-12">
	<form action="" method="post" enctype="multipart/form-data" id="frmData" >
	<table class="col-sm-8">
	<tr>
		<td class="col-sm-2">
			<label for="Currency">Currency </label> <span style="color:#d38e99">*</span>
		</td>

		<td class="col-sm-10">
				<div class="col-sm-3">
				<label class="checkbox-inline">
					<input id="Server" type="radio" name="GenerateMode" checked="checked" value="3" class="px">
					<span class="lbl">Only KHR </span>
				</label>
				</div>
				<div class="col-sm-3">
				<label class="checkbox-inline">
					<input id="Server" type="radio" name="GenerateMode" checked="checked" value="4" class="px">
					<span class="lbl">Only USD </span>
				</label>
				</div>
				<div class="col-sm-3">
				<label class="checkbox-inline">
					<input id="Server" type="radio" name="GenerateMode" checked="checked" value="2" class="px">
					<span class="lbl">KHR - USD</span>
				</label>
				</div>
				<div class="col-sm-3">
				<label class="checkbox-inline">
					<input id="Local" type="radio" name="GenerateMode" value="1" class="px" >
					<span class="lbl">KHR - USD - THB</span>
				</label>
				</div>
				
		</td>
	</tr>
	<tr>
		<td class="col-sm-2">
			<label for="Uploadfile"> File Upload </label> <span style="color:#d38e99">*</span>
		</td>

		<td class="col-sm-10">
			<input type="file" name="file" id="fileUpload" style="width:40% !important;">
							<!-- Javascript -->
				<script>
					init.push(function () {
						$('#fileUpload').pixelFileInput({ placeholder: 'No file selected...' });
					})
				</script>
				<!-- / Javascript -->
		</td>
	</tr>
	<tr style="height:55px;">
		<td class="col-sm-2"></td>	
		<td class="col-sm-10">
			<input type ="submit" class="btn btn-flat btn-labeled btn-primary" value="Generate" id="btnUpload">
		</td>	
	</tr>
	</table>

	</form>
</div>

{% endblock %}



{% block js %}

<script type="text/javascript">
$(document).ready(function() {

	$('#btnUpload').on("click",function(event) 
	{
		
	}); 
});

</script>
{% endblock %}