
{% extends "layout.html" %}
{% block css %}
<script type="text/javascript">

$(window).on('beforeunload', function(){

	$.getJSON('/Morakot/deleteLockbyuser', {
		
		 ID:'a'
	 
	 },function(data) {
			console.log("null")
				
	});
	return 
	//console.log("Bye now!");
});

{# end script #}
</script>
	<style type="text/css">
		.container {
		    margin-top: 10px;
		}

		.nav-tabs > li {
		    position:relative;    
		}

		.nav-tabs > li > a {
		    display:inline-block;
		}

		.nav-tabs > li > span {
		    cursor:pointer;
		    position:absolute;
		    right: 12px;
		    top: 8px;
		}

		.nav-tabs > li:hover > span {
		    display: inline-block;
		}

		#main-navbar .dropdown > a:hover
		{
			background: transparent !important;
		}

		.theme-default #main-navbar .navbar-nav > li.active > a, .theme-default #main-navbar .navbar-nav > li.dropdown.open > a, .theme-default #main-navbar .navbar-nav > li > a:hover
		{
			background: transparent !important;
		}

		.rmTap
		{
		    padding: 0px 5px;
		    margin: 0 4px 0 6px;
		}

		.rmTap:hover
		{
			background: none repeat scroll 0 0 #ccc;
		    border-radius: 2px;
		}

		.nav-tabs > li > a
		{
			padding: 8px 23px 8px 10px !important;
		}

		.nav-tabs > li
		{
			margin: 0 -6px 0 0;
		}

		.theme-default #main-navbar .right > .navbar-nav > li, .theme-default #main-navbar .navbar-collapse > div > .navbar-nav
		{
			border: none !important;
		}

	</style>
{% endblock %}

{% block content %}

<div id="main-wrapper">
	<!-- Starting Header Menu -->
	<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
		{% include '_temp_headermenu.html' %}
	</div>
	<!-- Ending Header Menu -->

	<!-- Starting Navigation Menu -->
	<div id="main-menu" role="navigation">
		{% include '_temp_navigation.html' %}
	</div> <!-- / #main-menu -->

	<!--right layout-->
	<div id="content-wrapper">
		<div class="page-header">
			<!--start-->
		    <ul class="nav nav-tabs" id="navtabs" style="position: fixed; background-color: #FFFFFF !important; width: 100%; margin-top: -2px; padding-top: 3px;">
		    	
		    </ul>
		    <div class="tab-content" id="tabcontent" style="margin-top: 38px;"></div>
		    
	  		<!--end-->
		</div>
		
	</div>
	</div> <!-- / #content-wrapper -->
	
	<div id="main-menu-bg"></div>

    <div  id="animated"></div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		

		hidul() //remove div and ul when document load ready
		//remove ul if no elements inside
		// $("#loaderMenu").click(function(){
		// 	$("#animated").fadeIn("slow");
		// });

		
		function hidul(){
			if ($('#navtabs li').length==0){
				$('#navtabs').css('visibility', 'hidden')
				$('.page-header').css('visibility', 'hidden')
			}else{
				$('#navtabs').css('visibility', '')
				$('.page-header').css('visibility', '')
			}
		}

		id=1
		function showtab(){
			$(".nav-tabs").on("click", "a", function(e){
		      //e.preventDefault();
		      $(this).tab('show');
		    	})
		    .on("click", "span", function () {
		    	var anchor = $(this).siblings('a');
		    	//console.log("frame"+anchor.attr('href'))
		    	closeWindow("frame"+anchor.attr('href'));
		        $(anchor.attr('href')).remove();
		        $(this).parent().remove();

		        
		       // $(".nav-tabs li").children('a').first().click();
		        var index = $(".nav-tabs").children().length;
		        $('.nav-tabs li:nth-child(' + index + ') a').click();
		        hidul()
		    });
		    //hid ul when having no child
		    hidul()
		}
	   

	    function closeWindow(frameid){
	    	var frame=frameid.replace("#","")
	    	$("#"+frame).contents().find("#ID").each(function(){

	    		//console.log($(this).val())
	    		if ($(this).val()!=null){
				//alert($iBody.val())
	    		$.getJSON('/Morakot/deleteLock', {
	    		ID:$(this).val()
   
  			 	},function(data) {
      			//console.log("null")
      			
  				});
	    		}

	    	 return false  
	    	});
//	    	console.log($iBody)	    	
  			return 
	    }


	   	function addTab(title,url){
	   		$('#animated').fadeOut('fast'); //disable in fast mode
			$('#animated').fadeIn('slow');  //enable in slow mode
	        var index = $(".nav-tabs").children().length+1; //think about it ;)
			frame="<iframe  src='"+url+"' width='100%' frameborder='0' height='1500px' id=frame"+id+"></iframe> " 
	        $(".nav-tabs").append("<li><a data-toggle='tab' href=#"+id+">"+title+'</a> <p style="display: none;">'+id+'</p> &nbsp;<span class="rmTap">x</span></li>'); 
	        $('#tabcontent').append("<div class='tab-pane' id="+id+">"+frame+'</div>')
	        showtab()
	        $('.nav-tabs li:nth-child(' + index + ') a').click();
	        id=id+1	
			$("html, body").animate({ scrollTop: 0 }, 1);
			//$('#animated').fadeOut('slow');
			//Close dropdown notification if open
			$(window).on('blur',function() { $('.dropdown-toggle').parent().removeClass('open'); } );
	   }		

		function getNotificationBox(){
			
			
			$.ajax({
				url: "/Morakot/NotificationMessageBox",
				type: "GET",
				beforeSend: function() {
				
				$('#notificationLoading').addClass('notify-loading');
				$("#notificationLoading").fadeOut("slow");
				},
				success: function(data){
					// alert(data);
					$("#notificationLoading").fadeOut("slow");
					$("#main-navbar-notifications").html(data);
					var chkNotification = $("#main-navbar-notifications .notification").length;
					if(chkNotification >="6"){
						$("#notification-more").show();
					}else{
						$("#notification-more").hide();
					}
				}
			});

			//update
			$.ajax({
				url: "/Morakot/NotificationMessageUpdateCount",
				type: "GET"
			});
		}
	
	   	addTab("Dashboard", "/Morakot/Dashboard");
	   	$("#showNumberOfNotification").hide();
		{%if SettingNotify == "TRUE"%}

		function setPushNumberOfNotify(){
			sse = new EventSource('/Morakot/Stream');
			sse.onmessage = function(e) {
				// alert(e.data)
				var strdata = JSON.stringify(eval('('+e.data+')'));
				var data = JSON.parse(strdata);

				if (data['Session']=="False"){
					window.location.href="/Morakot";
				}
				if(data.hasOwnProperty('Count')){
					if(data['Count'] == "0"){
					
						$("#showNumberOfNotification").hide();

					}else{
						
						$("#showNumberOfNotification").show();
						if (data['Count']>99){
							$("#showNumberOfNotification").text('99+');
						}else{
							$("#showNumberOfNotification").text(data['Count']);
						}
						
						if (data['Check']=='New')
						{  
							//$.growl.notice({ message: "You have new notification!" });
							if (data['Mute']=='Y'){
								$.growl({ title: "Notification", message: "You have new notification!" });
							}
							
						}
					}
				}
			}
		}
		setPushNumberOfNotify();
		{%endif%}
		
		$("#notification-more").hide();
		$("#notification").on("click",function(e){
			getNotificationBox();
		});
		$("#notification-more").on("click",function(e){

			addTab("Notification", "/Morakot/NotificationMessageMore");
		
		});
		// focus ID to active shortcut
		$("#navtabs").on("click",function(e){
			var id = $('.nav-tabs .active p').text();
			$("#frame"+id).contents().find("#ID").focus();
			// console.log("click tab"+id);
		
		});	
</script>
{% endblock %}
