<!DOCTYPE html>
<html class="gt-ie8 gt-ie9 not-ie pxajs">
	<head>
		<meta charset="UTF-8">
		<title>Morakot Village Bank</title>
		<link rel="icon" href="{{ url_for('static', filename='images/favo.ico') }}" sizes="16x16">
		<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css"> -->
		<link href="{{ url_for('static', filename='fonts/font.css') }}" rel="stylesheet" type="text/css">
		<script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/pixel-admin.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/rtl.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/themes.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/pages.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/widgets.min.css') }}">
		<script src="{{ url_for('static',filename='javascripts/dynamic_con.js') }}"></script>
		<script src="{{ url_for('static',filename='js/select2.js') }}"></script>
		<script src="{{ url_for('static',filename='js/bootstrap-datepicker.js') }}"></script>
		<script src="{{ url_for('static',filename='javascripts/toolbar.js') }}"></script>

		<style>
			/*Silver Background: linear-gradient(to bottom, #f6f6f6 0px, #ebebeb 100%)*/
			/* Paste this css to your style sheet file or under head tag */
			/* This only works with JavaScript, 
			if it's not present, don't show loader */
			.no-js #loader { display: none;  }
			.js #loader { display: block; position: absolute; left: 100px; top: 0; }
			.se-pre-con {
				position: fixed;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 70%;
				z-index: 9999;
				background: transparent url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
			}
			.notify-loading {
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 90%;
				z-index: 9999;
				background: transparent url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
			}
			.ReadNotify{
				background-color: #F5F5F5 !important;
			}
			.table-hover > tbody > tr:hover > td
			{
				background-color: #EBF3FA !important;

			}
			.link{
				cursor:pointer;
			}
			.link-color{
				cursor:pointer;
				color:#1d89cf;
			}
			.link-hover{
				cursor:pointer;
			}
			.link-hover:hover{
				background-color: #EBF3FA !important;
			}

			.theme-default #main-menu-bg, .theme-default #main-menu .mm-dropdown > ul, .theme-default #main-menu .mmc-dropdown-open-ul
			{
				background-color: #11202f;
			}

			.table > thead > tr > th, td
			{
				vertical-align: middle !important;
			}
		</style>
		<script>

			//alert('Hello')
			//$('#animated').removeClass('se-pre-con');
  			//$('#animated').addClass('se-pre-con');
  			
  			//$("#animated").css ('display','none')
			


			//paste this code under head tag or in a seperate js file.
			// Wait for window load
			$(window).load(function() {
				// Animate loader off screen
				//$(".se-pre-con").fadeOut("slow");
				var $getParentEle = window.parent.$("#animated")
				$getParentEle.addClass('se-pre-con');
				$getParentEle.fadeOut("slow");
				//window.parent.$("#animated").fadeOut("slow");
			});
		</script>
		{% block css %}

		{% endblock %}
		<style type="text/css">

			.theme-default #main-navbar .navbar-collapse
			{
				background: linear-gradient(to bottom, #f6f6f6 0px, #ebebeb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
				background-repeat: repeat-x;
			}

			.theme-default #main-navbar .navbar-header
			{
				background: linear-gradient(to bottom, #f6f6f6 0px, #ebebeb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			}

			.theme-default #main-navbar #main-menu-toggle
			{
				background: linear-gradient(to bottom, #f6f6f6 0px, #ebebeb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			}

			.theme-default #main-navbar
			{
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(0, 0, 0, 0.08);
			}

			.theme-default #main-navbar .navbar-nav > li
			{
				border-right: 0px;
			}

			.theme-default.main-menu-right #main-navbar .navbar-header, .theme-default.mmc #main-navbar .navbar-header
			{
				background: linear-gradient(to bottom, #f6f6f6 0px, #ebebeb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			}

			/* centered columns styles */
			.row-centered {
			    text-align:center;
			}

			.col-centered {
			    display:inline-block;
			    float:none;
			    /* reset the text-align */
			    text-align:left;
			    /* inline-block space fix */
			    margin-right:-4px;
			}

			.col-fixed {
			    /* custom width */
			    width:320px;
			}

			.col-min {
			    /* custom min width */
			    min-width:320px;
			}
			
			.col-max {
			    /* custom max width */
			    max-width:320px;
			}

			.widget-notifications .notification-ago, .widget-notifications .notification-description, .widget-notifications .notification-title
			{
				margin-right: 45px !important;
				top: 40% !important;
			}
			.Notification-img{
				width: 35px !important;
				height: 35px !important;
				border-radius: 50% !important;
				
			}
			.Notification-big-img{
				width: 48px !important;
				height: 48px !important;
				border-radius: 50% !important;
			}

			ul.navigation
			{
				padding: 0px !important;
				/*margin-top: 48px;*/
			}
		</style>
	</head>

	<!-- <body id='bodyform' class="theme-default main-menu-animated main-navbar-fixed main-menu-fixed dont-animate-mm-content-sm animate-mm-md animate-mm-lg"> -->
	<body id='bodyform' class="theme-default main-menu-animated main-navbar-fixed main-menu-fixed dont-animate-mm-content-sm animate-mm-md animate-mm-lg">
		<!-- Paste this code after body tag -->
		<!--<div  id="animated"></div>-->
		<!-- Ends -->
		<script>var init = [];</script>
		
		{% block content %}

		{% endblock %}
		<script src="{{ url_for('static',filename='javascripts/pixel-admin.min.js') }}"></script>
		<script type="text/javascript">
			init.push(function () {
				// Javascript code here
				// Call function shortcut
				setShortcutKey();
				$('#ID').focus();
			})
			window.PixelAdmin.start(init);
		</script>
		{% block js %}

		{% endblock %}
		<div class="modal fade" id="getSwitchBranch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 40%;">
			    <div class="modal-content">
			        <form class="form-horizontal" action="/Morakot/TrialBalance" method="GET">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			                <h4 class="modal-title" id="exampleModalLabel">Switch Branch</h4>
			            </div>
			            <div class="modal-body">
			                <div class="form-group">
			                    <label for="Branch" class="col-sm-3 control-label">Branch:</label>
			                    <div class="col-sm-9">
			                    	<select id="jquery-select2-example" class="form-control SwitchBranch">
										<option></option>
										{% if AccessBranch: %}
											{% for row in AccessBranch: %}
												{% if row.Description == Branch %}
													<option value="{{ row.ID }}" selected="">{{ row.ID }} - {{ row.Description }}</option>
												{% else %}
													<option value="{{ row.ID }}">{{ row.ID }} - {{ row.Description }}</option>
												{% endif %}
											{% endfor %}
										{% endif %}
									</select>
									<!-- <div class="clearfix">&nbsp;</div>
			                    	<div class="note note-danger" style="width: 89%">
			                    		Please save all data, Page will be re-load after branch changed.
			                    	</div> -->
			                    </div>
			                </div>
			            </div>
			        </form>
			    </div>
			</div>
		</div>


		<script type="text/javascript">
			$("select.SwitchBranch").change(function(){
				var BranchID = $("select.SwitchBranch").val();
				$.ajax({
					url: "/Morakot/ChangeBranch",
					type: "POST",
					data:{ Branch: BranchID },
					success: function(data) {
						window.location.reload()
					}
				});
			});
		</script>
	</body>
</html>






