{% extends "layout.html" %}

{% block css %}
<style type="text/css">
.table-borderless td,
        .table-borderless th
        {
            border: 0 !important;
            padding-top: 3px !important;
        }

        h4.header-4{
            color: #888 !important;
            font-size: 14px;
            font-weight: normal;
            margin: 5px 0 10px;
            padding: 0px 18px 0;
        }
        .modal-body {
            z-index: 99999 !important;
        }
</style>

<style type="text/css" media="print">
	body{
		font-size: 10px;
	}
</style>	
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%else%}
	

<div class="col-sm-12" >
	<form action="" method="POST" class="panel form-horizontal">
		<div class="panel-heading">
			<span class="panel-title">License Code</span>
		</div>
		<div class="panel-body">
			<!-- Import Message -->
			{%if message%}
			<div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {%endif%}
			<div class="row form-group">
				<label class="col-sm-4 control-label">Serial:</label>
				<div class="col-sm-8">
					<input type="text" name="Serial" value="{{Serial}}" placeholder="Serial Number" class="form-control">
				</div>
			</div>
			<div class="row form-group">
				<label class="col-sm-4 control-label"># of User:</label>
				<div class="col-sm-8">
					<input type="number" placeholder="Number Of User" value="{{NumberOfUser}}" name="NumberOfUser" class="form-control">
				</div>
			</div>
			<div class="row form-group">
				<label class="col-sm-4 control-label">Expiry Date:</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" value="{{ExpiryDate}}" placeholder="Expiry Date" name="ExpiryDate" id="ExpiryDate" >
				</div>
			</div>
		</div>
		<div class="panel-footer text-right">
			<button class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>

	
{%endif%}

{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		init.push(function () {
			var options = {
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
			format:"yyyy-mm-dd",
			autoclose:true
			}
			$('#ExpiryDate').datepicker(options);
		});
	});
    </script>
{% endblock %}