{% extends "layout.html" %}
{% block css %}

<style type="text/css">


</style>
{% endblock %}
{% block content %}

<script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/dataTables.tableTools.js') }}"></script>

<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
 --><link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/dataTables.tableTools.css') }}">

{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}
<script type="text/javascript">
$(document).ready(function() {
    //window.parent.$("#animated").attr("style","")
    $('#title').hide();
    $('#mktlist').dataTable({
        "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
        "aaSorting":[]
        //"sDom": '<"clear">lfrtipT',
        // "tableTools": {
        //     "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf"
        // }
    });
    $(".table-caption").prepend("<a title='Go Back' class='btn btn-primary pull-left' id='Back' href='javascript:void(0)' role='button'><i class='fa fa-reply'></i></a>")

    $("#Back").after("&nbsp;<a title='Advance Filter' class='btn btn-primary' id='Filter' data-toggle='collapse' href='#collapseExample' aria-expanded='true' aria-controls='collapseExample' ><i class='fa fa-filter'></i></a>&nbsp;&nbsp")

    $("#Filter").after("&nbsp;<a title='Refresh' class='btn btn-primary' id='Refresh' href=''><i class='fa fa-refresh'></i></a>&nbsp;&nbsp")
   
    $("#Refresh").after("&nbsp;&nbsp;&nbsp;&nbsp;<b>Also available in :</b><a id='csv' class='link' > <i class='fa fa-files-o'></i> CSV &nbsp;</a>|<a id='excel' class='link'> <i class='fa fa-file-excel-o'></i> Excel &nbsp;</a>|<a id='print' class='link'><i class='fa fa-print'></i>&nbsp;Print</a>")

    $(".DT-search").attr("style","Width:230px !important;")
    $(".DT-search input").attr("style","Width:230px !important;")
    $(".table-header").attr("style","padding:0 !important;border:0 !important;")
    $(".table-caption").attr("style","font-size: 13px !important;font-weight:normal !important;")

    {% from "print.html" import exportDataTable %}
    {{exportDataTable('#mktlist')}}  
  
    //insert style 
    $(".DTTT").before("<br/><br/>")
    $(".DTTT").css("margin-bottom","2px")
    $(".DTTT").css("float","right")

    $("#Back").on("click",function(e){
    fn_fadeIn(); // from toolbar js
    window.location.href="/"+location.pathname.split('/')[1]+"/"+location.pathname.split('/')[2]+"/";
    return 0;

    //clone object and then put under mktlist_paginate

    //
    
    //


  });

  //global parameter
  index=2
  //assign value to control
  function assignValue(j){
    $('#fieldname_'+j.toString()).val(getParameterByName("fieldname_"+j.toString()))
    $('#operator_'+j.toString()).val(getParameterByName("operator_"+j.toString()))
    $('#searchtext_'+j.toString()).val(getParameterByName("searchtext_"+j.toString()))
  }

  //add control when page load
  for (j=1;j<={{nfield}};j++){
      if (j==1){
        assignValue(j)
        index=2 //set index to 2
      }else{
        addControl();
        assignValue(j)
        index++;
      }
  }

  //add controls
  function addControl(){
    var $clone_obj=$('#container_1').clone();

         $($clone_obj).find('[id]').each(function(){
         $arrid=$(this).attr('id').split('_')
         $(this).attr('name',$arrid[0]+"_"+index)
         $(this).attr('id',$arrid[0]+"_"+index)
         
         //console.log($(this).attr('id'))
      });

      $('.form-inline').find('[id]').each(function(){
         //$arrid=$(this).attr('id').split('_')mcontainer
        if ($(this).hasClass('mcontainer')){
          $mcontainer=$(this).attr('id')
        }
         
         //console.log($(this).attr('id'))
      });

      $tempcontainer="container_"+index
      $clone_obj.attr('id',$tempcontainer)
      //console.log($tempcontainer)      
      $('#'+$mcontainer).after($clone_obj)
      
      
  }

  //update index
  var update_index=function(){
      index=1
         $('.form-inline').find('[id]').each(function(){
         if ($(this).hasClass('mcontainer')){ 
           $arrid=$(this).attr('id').split('_')
           $(this).attr('name',$arrid[0]+"_"+index)
           $(this).attr('id',$arrid[0]+"_"+index)
           index++
        }
        // console.log($(this).attr('id'))
      });

}


  $('#add').on("click",function(e){
      //console.log(index)
      addControl();
      index++;
  });

  //remove control
  $(".form-inline").on("click",".remove",function(e){
      if ($(this).parent().parent().attr("id")!="container_1"){
        $(this).parent().parent().remove();
        update_index();  
      }
      
    //  console.log($(this).parent().parent().attr("id"))
      
  });
  



//submit 
 $('#search').on("click",function(e){
   $querystring="?"
    $('#frm').find('[id]').each(function(){
         //$arrid=$(this).attr('id').split('_')mcontainer
          $mcontainer=$(this).attr('id')
          if ($(this).is("input") || $(this).is("select")){
            if ($querystring=="?")
              $querystring=$mcontainer+"="+$("#"+$mcontainer).val() 
            else
              $querystring+="&"+$mcontainer+"="+$("#"+$mcontainer).val()

          }
      });
    
    //$("#animated").fadeIn("slow"); //activate loading image
    fn_fadeIn();
    window.location.href=location.pathname+"?"+$querystring;

 });


});




//var prodId = humanizeNumber("456789000");
//alert(prodId)

</script>

<div>

<div class='collapse' id='collapseExample'>
<div class="well">
<form class="form-inline" id="frm">
      
      <div id="container_1" class="mcontainer" style="margin-bottom:5px">
      <div class="form-group">
        <button type="button" id="remove"  class="btn btn-primary remove"><i class='fa fa-minus'></i></button>
      </div>
      <div class="form-group">
         <select class="form-control" id="fieldname_1" name="a" style="width:200px">
                  {% for f in searchfields|sort %}
                  <option value={{f}}>{{f}}</option>
                  {% endfor %}
            </select>
      </div>
      <div class="form-group">

        <select class="form-control" id="operator_1" style="width:150px">
                  <option value="EQ">equal</option>
                  <option value="LK">contain</option>
                  <option value="BT">between</option>
                  <option value="GT">greater than</option>
                  <option value="GE">greater than equal</option>
                  <option value="LT">Less than</option>
                  <option value="LE">Less than equal</option>
                  <option value="NE">Not equal</option> 
        </select>
      </div>
      <div class="form-group">
        <input type="input" class="form-control" id="searchtext_1" placeholder="Text" style="width:250px">
      </div>
  </div>
    <div class="form-group" style="margin-top:-63px;margin-left:653px">
        <button type="button" id="add" class="btn btn-primary"><i class='fa fa-plus'></i></button>
        <button type="button" id="search" class="btn btn-primary"><i class='fa fa-filter'></i></button>
    </div>
</form>
</div>
</div>


{% for message in get_flashed_messages() %}
     {% if contain(message,"Error") %}
     <div class="alert alert-danger">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
     </div>
     {% else %}
     <div class="alert alert-info">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
     </div>
     {% endif %}
     {% endfor %}

<h3 id="title" class="header-3 text-center">Listing Details</h3>

<table id="mktlist" class="table table-hover table-striped panel" cellspacing="0" width="100%">
        <thead>
            <tr >
                {% for name in fields %}
                <th>{{name}}</th>
                {% endfor %}
                {% if hidEdit == False and formReadOnly != 'AUTH' %}
                  <th class="ActionHeader">Action</th>
                {% endif %}
               
            </tr>
        </thead>
        <tbody>
         <!-- style="cursor:pointer;" onclick="var ID=$(this).find('td:first').html();$('#animated').fadeIn('slow');window.location.href='/'+location.pathname.split('/')[1]+'/'+location.pathname.split('/')[2]+'/?ID='+ID"; -->
            {%for row in querys %}
            {%set ID = row.ID|replace('.', '_')|replace('@', '_') %}
            <tr>

                {% for name in fields %}
                  {%if name == "ID"%}
                    <td>{{row[name]}}</td>
                  {%else%}
                  {% if formatMoney|length >0 %}

                      {% if name in formatMoney %}
                       
                        <td  onClick="var Url=location.pathname.split('/')[2]; ClickView(Url,Url,'{{row.ID}}')" class="link text-right">{{ toMoney(float(row[name]),curobj(row[currencyField])) }}</td> {# call currency and money object #}
                      
                      {% else %}
                      
                        <td onClick="var Url=location.pathname.split('/')[2]; ClickView(Url,Url,'{{row.ID}}')" class="link">{{row[name]}}</td>
                      
                      {% endif %}

                  {% else %}

                    <td onClick="var Url=location.pathname.split('/')[2]; ClickView(Url,Url,'{{row.ID}}')" class="link">{{row[name]}}</td>

                  {% endif %} {# endif of formatMoney  #}
                  {%endif%}
                {% endfor %} {# endfor of  fields#}

                {% if hidEdit == False and formReadOnly != 'AUTH' %}
                 <td class="ActionFotter">
                    <a onClick="var Url=location.pathname.split('/')[2]; ClickEdit(Url,Url,'{{row.ID}}')" title="Edit" class="link">
                      <span class="label label-warning">Edit</span> 
                    </a>
                </td>
                
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}