{% extends "master.html" %}
{% block content %}
<script>
	//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		$("#LogInName").focus();
		$("#btnLogIn").hide();

		$("input[name=LogInName]").keypress(function(){
			var val = $("#LogInName").val();
			if(val != "")
			{
				$("#btnLogIn").show();
			}
			else
			{
				$("#btnLogIn").hide();
			}
		});
	});
</script>
<div class="theme-default page-signin">
	<!-- Page background -->
	<div id="page-signin-bg" style="background: #ffffff url('{{ Background }}') no-repeat fixed center center / cover ;">
		<div style="color: #FFF; position: absolute; bottom: 0; padding: 10px; text-align: right; width: 100%;">Morakot VB: {{ Version }} Build: {{ Build }}</div>
		<!-- Background overlay -->
		<div class="overlay"></div>
		<!-- Replace this with your bg image -->
		<!-- <img src="/static/pictures/P1020900.jpg" alt=""> -->
		<div class="col-sm-4"></div>
		<div class="col-sm-4 text-center loginWrapper">
			<form action="/Morakot/Login" method=post id="signin-form_id" autocomplete="off">
				<div class="col-sm-12">
					<div class="col-sm-10">
						<img src="{{ url_for('static', filename='images/logo.png') }}">
						<h3 class="loginTitle">Morakot VB <br><small style="color: #FFFFFF;">Simply Innovative</small></h3>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="col-sm-10" style="margin: 0px; padding: 0px;">
					<div class="form-group">
						{{ form.LogInName(class="loginForm", placeholder="Username", autocomplete="off") }}
					</div> <!-- / Username -->

					<div class="form-group">
						{{ form.Password(class="loginForm", placeholder="Password", autocomplete="off") }}
					</div> <!-- / Password -->
				</div>
				<div class="col-sm-2" style="padding:0px;">
					<button class="btnLogin" id="btnLogIn"><i class="fa fa-arrow-circle-right" style="font-size: 55px;"></i></button>
				</div>
				{% for message in get_flashed_messages() %}
					<div class="clearfix"></div>
				   	<div class="col-sm-10 text-danger text-center" style="padding: 5px 0;">
					  	{{ message }}
				   	</div>
				{% endfor %}
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>
		<!-- Right side -->
	</div>
	<!-- / Container -->

</div>

{% endblock %}
