{% extends "layout.html" %}

{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        {% for message in get_flashed_messages() %}
            {% if contain(message,"Error") %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <form method="post" action="/Morakot/MultiLogout">
    <table id="mktlist" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>User ID</th>
                <th>DisplayName</th>
                <th>Role</th>
                <th>Branch</th>
                <th>Login Date</th>
                <th>Login Time</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <td>{{ record.UserID }}</td>
                        <td>{{ record.DisplayName }}</td>
                        <td>{{ record.Role }}</td>
                        <td>{{ record.Branch }}</td>
                        <td>{{ record.LogInDate }}</td>
                        <td>{{ record.LogInTime }}</td>
                        <td>
                            <div class="btn-group">
                                {% if session['getLogInID'] != record.UserID %}
                                    <a href="/Morakot/LogOutUser?UserID={{ record.UserID }}" class="btn btn-xs btn-labeled btn-danger"><i class="fa fa-power-off"></i> LogOut</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#mktlist').dataTable();
            // $(".table-caption").append("<button class='btn btn-danger' type='submit' role='button'><i class='fa fa-power-off'></i> LogOut All</button>");
            $(".table-caption").append("<a class='btn btn-default' href='/Morakot/LoginUser' role='button' title='Refresh'><i class='fa fa-refresh'></i></a>");
           
            // $("#Back").on("click",function(e){
            //     window.location.href="/"+location.pathname.split('/')[1]+"/"+location.pathname.split('/')[2]+"/";
            //     return 0;
            // });
            $("input[name=checkedAll]").click(function(){
                if($("input[name=checkedAll]").is(":checked") == true)
                {
                    $("input.loginId").each(function(){
                        $(this).attr("checked", true);
                    });
                }
                else
                {
                    $("input.loginId").each(function(){
                        $(this).attr("checked", false);
                    });
                }
            });

        });
    </script>
{% endblock %}