<!doctype html>
<html>
<head>
	<title>Login to Morakot Village Bank System</title>
	<link rel="icon" href="{{ url_for('static', filename='images/favo.ico') }}" sizes="16x16">
	<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css"> -->
	<link href="{{ url_for('static', filename='fonts/font.css') }}" rel="stylesheet" type="text/css">
	<script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/pixel-admin.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/rtl.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/themes.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/pages.min.css') }}">
	<script src="{{ url_for('static',filename='javascripts/dynamic_con.js') }}"></script>
	<script src="{{ url_for('static',filename='js/select2.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static',filename='javascripts/toolbar.js') }}"></script>

	<style>
	/* Paste this css to your style sheet file or under head tag */
	/* This only works with JavaScript, 
	if it's not present, don't show loader */
	.no-js #loader { display: none;  }
	.js #loader { display: block; position: absolute; left: 100px; top: 0; }
	.se-pre-con {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 40%;
		z-index: 9999;
		background: transparent url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
	}
	body{
		width: 100%; 
	    height: 100%; 
	    position: fixed; 
	    left: 0px; 
	    top: 0px; 
	    z-index: -1;
	}

	#page-signin-bg
	{
		width:100%;
    	height:100%;
    	max-width: 100%;
		background: #FFFFFF url("{{ url_for('static', filename='images/loginbg.jpg') }}") no-repeat center center fixed;
		background-size: cover;
	}
	.loginWrapper
	{
		margin-top: 10%;
	}

	.loginForm
	{
		background: none repeat scroll 0 0 #FFFFFF;
	    border: medium none;
	    border-radius: 10px;
	    color: #999999;
	    font-size: 14px;
	    padding: 6px;
	    text-align: center;
	    width: 80%;
	}

	.btnLogin
	{
		font-size: 50px;
		background: transparent;
		border: none;
		color: #FFFFFF;
	}

	.loginTitle
	{
		color: #FFFFFF;
	}

	#page-signin-bg img
	{
		width: 60px !important;
	}

</style>

<script>
	//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");
	});
</script>

</head>
<body id='bodyform' class="">
<!-- Paste this code after body tag -->
	<div class="se-pre-con"></div>
<!-- Ends -->

<script>var init = [];</script>
	
{% block content %}

{% endblock %}
<script src="{{ url_for('static',filename='javascripts/pixel-admin.min.js') }}"></script>
<script type="text/javascript">
	init.push(function () {
		// Javascript code here
	})
	window.PixelAdmin.start(init);
</script>
</body>
</html>