<div class="col-sm-12">
    {% for message in get_flashed_messages() %}
        {% if contain(message, "Error") %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[6:] }}
            </div>
        {% elif contain(message, "Warning") %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[8:] }}
            </div>
        {% else %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>