{% extends "layout.html" %}

{% block css %}

{% endblock %}

{% block content %}

<div class="clearfix">&nbsp;</div>
<div style="padding: 10% 0;">
<div class="col-sm-12">
	<h1 class="header-3 text-center">This feature is not available at the moment. </h1>
</div>

<div class="col-sm-12" style="padding:20px 10px">
	<h4 class="header-3 text-center">Please contact your system administrator for more details. </h4>
</div>

</div>



{% endblock %}

{% block js %}

{% endblock %}