{% extends "layout.html" %}

{% block css %}
	
{% endblock %}

{% block content %}

{%if ErrorMsg %}
	<div class="col-sm-12" style="padding-top:5px;">
		<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{%for message in ErrorMsg %}
			{{ message }}
		{%endfor%}
		</div>
	</div>
{%endif%}

{% endblock %}