{% macro exportButtonLink() %}
	<div id="exportButton">
		<b>{{ getLanguage('Also available in') }} :</b>
		<a id="csv" style="cursor:pointer; color:#1d89cf;" > <i class='fa fa-files-o'></i> CSV &nbsp;</a>|
		<a id="excel" style="cursor:pointer; color:#1d89cf;"> <i class='fa fa-file-excel-o'></i> Excel &nbsp;</a>|
		<a id="print" style="cursor:pointer; color:#1d89cf;"><i class='fa fa-print'></i>&nbsp;Print</a>
	</div>
			
{% endmacro %}

{% macro headerCompany() %}
	<style type="text/css">

		@font-face {
		  	font-family: 'Moul';
		  	font-style: normal;
		  	font-weight: 400;
		  	src: local('Moul'), url(https://fonts.gstatic.com/s/moul/v8/9pP9Dsyzm8X_vCLNoMZkag.woff2) format('woff2');
		}

		.companyKh
		{
			font-family: 'Moul', cursive;
		}

	</style>
	<div class="col-sm-12">
		<table style="width: 100%" border="0">
			<tbody>
				<tr>
					<td class="text-center" width="20%" rowspan="3">
						<img src="{{ url_for('static', filename='company/logo.png') }}">
					</td>
					<td class="text-center"><h3 class="companyKh">{{ getCompany().LocalName }}</h3></td>
					<td></td>
				</tr>
				<tr>
					<td width="60%" class="text-center"><h3>{{ getCompany().CompanyName }}</h3></td>
					<td></td>
				</tr>
				
			</tbody>
		</table>
	</div>
{% endmacro %}
{% macro exportButton() %}
	<div class="btn-group" >

		<button type="button" class="btn btn-flat btn-primary dropdown-toggle" data-toggle="dropdown">
	 	<span class="btn-label icon fa fa-upload"></span> &nbsp;{{ getLanguage('Export') }}
		</button>

		<ul class="dropdown-menu text-left" style="min-width: 85px;">
			<li><a href="javascript:void(0)" id="csv"> <i class='fa fa-files-o'></i> CSV </a></li> 
			<li><a href="javascript:void(0)" id="excel"> <i class='fa fa-file-excel-o'></i> Excel </a></li>
			<li><a href="javascript:void(0)" id="print"><i class='fa fa-print'></i>&nbsp;Print</a></li>
		</ul>
	</div>

{% endmacro %}

{% macro exportIncludeJS()%}
<script type="text/javascript" src="{{ url_for('static',filename='report/tableExport.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static',filename='report/jquery.base64.js') }}"></script> -->
{%endmacro%}
<!-- Install -->



<!-- PNG -->
<!-- <script type="text/javascript" src="{{ url_for('static',filename='report/html2canvas.js') }}"></script> -->
<!-- PDF -->
<!-- <script type="text/javascript" src="{{ url_for('static',filename='report/jspdf/libs/sprintf.js') }}"></script>   -->
<!-- <script type="text/javascript" src="{{ url_for('static',filename='report/jspdf/jspdf.js') }}"></script>   -->
<!-- <script type="text/javascript" src="{{ url_for('static',filename='report/jspdf/libs/base64.js') }}"></script>   -->


{% macro exportDataTable(TableName,FileName="Morakot",Escape="false",PrintingDate=True) %}

		
		var table = $('{{TableName}}').DataTable();

		$( "#print").click(function() {

			table.destroy();
			$('#exportButton').hide();
			$('.ActionHeader').hide();
			$('.ActionFotter').hide();
			$('#title').show();
			var title = window.parent.$('.nav-tabs .active a').text(); //get Current Tab
			$('#title').text(title);
			{% if PrintingDate %}
			{% endif %}
			window.print();
			window.location.reload(true);

		});

		$( "#csv").click(function() {
			table.destroy();
			$('#exportButton').hide();
			$('.ActionHeader').hide();
			$('.ActionFotter').hide();
			$('{{TableName}}').tableExport({type:'csv',escape:'{{Escape}}',tableName:'{{FileName}}'});
			window.location.reload(true);

			
		});

		$( "#excel").click(function() {
			table.destroy();
			$('#exportButton').hide();
			$('.ActionHeader').hide();
			$('.ActionFotter').hide();
			$('{{TableName}}').tableExport({type:'excel',escape:'{{Escape}}',tableName:'{{FileName}}'});
			window.location.reload(true);

		});

{% endmacro %}

{% macro exportTable(TableName,FileName="Morakot",jsOnPrint="",jsOnCSV="",jsOnExcel="") %}
		

		$( "#print").click(function() {
			{{jsOnPrint}}
			$('#exportButton').hide();
			window.print();
			$('#exportButton').show();
			window.location.reload(true);
			
		});

		$( "#csv").click(function() {
			
			$('#exportButton').hide();
			{{jsOnCSV}}
			$('{{TableName}}').tableExport({type:'csv',escape:'false',tableName:'{{FileName}}'});
			$('#exportButton').show();
			window.location.reload(true);
		});

		$( "#excel").click(function() {
			
			$('#exportButton').hide();
			{{jsOnExcel}}
			$('{{TableName}}').tableExport({type:'excel',escape:'false',tableName:'{{FileName}}'});
			$('#exportButton').show();
			window.location.reload(true);
		});

{% endmacro %}


{% macro navbarDataTable(tablename) %}

<div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
	<div class="col-sm-12">

		<div style="margin-top: 8px;">

		</div> 
		<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

			{% from "print.html" import exportButtonLink %}
			{{exportButtonLink()}}

		</div>

		<!-- <button  type="button"  class="btn btn-flat btn-labeled btn-success pull-right" id="Show" >
		<span class="btn-label icon fa fa-gear"></span> Custom </button> -->
	</div> 

</div>

{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('{{tablename}}').dataTable({
			"lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],
			"bSort" : false,
			"bLengthChange" :false,
		});
		$('.table-header').hide()
		$('#users-url').addClass('active');

		{% from "print.html" import exportDataTable %}
		{{exportDataTable(tablename)}}
	});

</script>
{%endmacro%}

{% macro navbarTable(tablename,title) %}

<div class="navbar navbar-default navbar-static-top" id="CriteriaSetting" >
	<div class="col-sm-12">

		<div style="margin-top: 8px;">

		</div> 
		<div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

			{% from "print.html" import exportButtonLink %}
			{{exportButtonLink()}}

		</div>

		<!-- <button  type="button"  class="btn btn-flat btn-labeled btn-success pull-right" id="Show" >
		<span class="btn-label icon fa fa-gear"></span> Custom </button> -->
	</div> 

</div>


{% from "print.html" import exportIncludeJS %}
{{exportIncludeJS()}}

<script type="text/javascript">
	$(document).ready(function() {
		
		{% from "print.html" import exportDataTable %}
		{{exportTable(tablename,title)}}
	});

</script>
{%endmacro%}