{% extends "layout.html" %}

{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        .header-1,
        .header-1:hover,
        .header-2,
        .header-2:hover {
            text-align: none;
            cursor: pointer;
            text-decoration: none !important;
            display: block;
            z-index: 100000000;
            border-top: 1px solid #eee;
            margin: 0 -9px 0 -9px;
        }

        .header-1,
        .header-1:hover {
            color: #333 !important;
            font-size: 18px;
            font-weight: 300;
            padding: 30px 18px 15px 18px;
            background: #fafafa;
            background: rgba(0,0,0,.02);
            margin-bottom: -15px;
        }

        .header-2,
        .header-2:hover {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            color: #888 !important;
            padding: 10px 18px 0 18px;
            margin-bottom: 15px;
            margin-top: 0;
        }

        .header-1 + .header-2 {
            margin-top: 10px;
            margin-bottom: 0;
        }

        .header-1 + .col-sm-12 {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #eee;
            margin-left: -9px;
            margin-right: -9px;
            padding-left: 18px;
            padding-right: 18px;
            width: auto !important;
            float: none;
        }

        .row {
            margin-bottom: 15px;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .uidemo-note {
            margin: 0;
            border-top: 1px solid #eee !important;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="POST" action="/Morakot/Profile/" enctype="multipart/form-data">
        <div class="navbar navbar-default navbar-static-top">
                <div class="col-sm-6" style="margin-top: 15px;">

                </div>
                <div class="col-sm-6 text-right" style="margin-top: 8px;">
                    <button type="submit" class="btn btn-flat btn-labeled btn-primary">
                        <span class="btn-label icon fa fa-save"></span> Save Change
                    </button>
                </div>
        </div>

        <div class="clearfix"></div>
        {% include 'msg_error.html' %}
    
        <div class="col-sm-12">
            
                <div class="row">
                    <!-- <a id="uidemo-password" href="#uidemo-password" class="header-2">Profile Picture</a> -->
                    <div class="form-group" style="margin-top: 5px;">
                        <label class="col-sm-2 text-right" style="padding-top: 5px;">Login Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{ UserObj.LogInName }}" name="LogInName" id="LogInName" disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group" style="padding-top: 5px;">
                        <label class="col-sm-2 text-right" style="padding-top: 5px;">Display Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{ UserObj.DisplayName }}" name="DisplayName" id="DisplayName">
                        </div>
                    </div>

                    <div class="form-group" style="padding-top: 5px;">
                        <label class="col-sm-2 text-right" style="padding-top: 5px;">Current Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" value="" name="CurrentPassword" id="CurrentPassword">
                        </div>
                    </div>

                    <div class="form-group" style="padding-top: 5px;">
                        <label class="col-sm-2 text-right" style="padding-top: 5px;">New Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" value="" name="Password" id="Password">
                        </div>
                    </div>

                    <div class="form-group" style="padding-top: 5px;">
                        <label class="col-sm-2 text-right" style="padding-top: 5px;">Confirmation Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" value="" name="ConfirmationPassword" id="ConfirmationPassword">
                        </div>
                    </div>

                    <div class="form-group" style="padding-top: 5px;">
                        <label class="col-sm-2 text-right" style="padding-top: 5px;">Role</label>
                        <div class="col-sm-10">
                            <select name="Role" id="Role" disabled="disabled" class="form-control">
                                {% if RoleObj %}
                                    {% for item in RoleObj %}
                                        <option value="{{ item.ID }}">{{ item.Description }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <input type="hidden" value="{{ UserObj.Role }}" id="UserRole">
                        </div>
                    </div>

                    <div class="form-group" style="padding-top: 5px;">
                        <label class="col-sm-2 text-right" style="padding-top: 5px;">Branch</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" disabled="disabled" name="Branch" value="{{ UserObj.AccessBranch }}">
                        </div>
                    </div>

                    <div class="form-group" style="padding-top: 5px;">
                        <label class="col-sm-2 text-right"></label>
                        <div class="col-sm-10">
                            <div class="profile">

                                {% if UserObj.ProfilePicture %}
                                    <img id="ProfilePicture" src="{{ url_for('static', filename='avatars/' + UserObj.ProfilePicture) }}" alt="" class="" width="128">
                                {% else: %}
                                    <img id="ProfilePicture" src="{{ url_for('static', filename='avatars/default.jpg') }}" width="128" alt="" class="">
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 text-right" style="padding-top: 5px;">Browse Photo</label>
                        <div class="col-sm-10">
                            <input id="BrowseImage" type="file" name="file">
                        </div>
                    </div>
                </div>
            
        </div>
    </form>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {

            var Role = $("#UserRole").val();
            $("select#Role option").filter(function() {
                //may want to use $.trim in here
                return $(this).val() == Role; 
            }).prop('selected', true);

            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#ProfilePicture').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#BrowseImage").change(function(){
                readURL(this);
            });
        });
    </script>
{% endblock %}