{% extends "master.html" %}
{% block content %}
<script>
	//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		$("#Password").focus();

		$("#btnResetPassword").hide();

		$("input[name=Password]").keypress(function(){
			var val = $("#Password").val();
			if(val != "")
			{
				$("#btnResetPassword").show();
			}
			else
			{
				$("#btnResetPassword").hide();
			}
		});
	});
</script>
<div class="theme-default page-signin">
	<!-- Page background -->
	<div id="page-signin-bg">
		<!-- Background overlay -->
		<div class="overlay"></div>
		<!-- Replace this with your bg image -->
		<!-- <img src="/static/pictures/P1020900.jpg" alt=""> -->
		<div class="col-sm-4"></div>
		<div class="col-sm-4 text-center loginWrapper">
			<form action="/Morakot/ResetPassword" method="post" id="signin-form_id" autocomplete="off">
				<div class="col-sm-12">
					<div class="col-sm-10">
						<img src="{{ url_for('static', filename='images/logo.png') }}">
						<h3 class="loginTitle">Morakot VB <br><small style="color: #FFFFFF;">Simply Innovative</small></h3>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="col-sm-10" style="margin: 0px; padding: 0px;">
					<div class="form-group">
						<input type="password" name="Password" id="Password" class="loginForm" placeholder="New Password" autocomplete="off">
					</div> <!-- / Password -->

					<div class="form-group">
						<input type="password" name="ConfirmPassword" id="ConfirmPassword" class="loginForm" placeholder="Confirm Password" autocomplete="off">
					</div> <!-- / Password -->
				</div>
				<div class="col-sm-2" style="padding:0px;">
					<button class="btnLogin" id="btnResetPassword"><i class="fa fa-arrow-circle-right" style="font-size: 55px;"></i></button>
				</div>
				{% for message in get_flashed_messages() %}
					<div class="clearfix"></div>
				   	<div class="col-sm-10 text-danger text-center" style="padding: 5px 0;">
					  	{{ message }}
				   	</div>
				{% endfor %}
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>

</div>

{% endblock %}
