{% extends "layout.html" %}

{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style type="text/css">
        .form-control
        {
            width: 100% !important;
        }

        .se-pre-con1 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
            opacity: 0.4;
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<script type="text/javascript">
    init.push(function () {
            $(function() {
                $('#DisburseAmount').bind('blur', function() {
                    var Amount = $('#DisburseAmount').val();
                    var Currency = $('#Currency').val();
                    $.ajax({
                        url: "/Morakot/toMktmoney",
                        data:{Currency:Currency,Money:Amount},
                        type: "GET",
                        success: function(data){
                            $('#DisburseAmount').val(data['value']);
                        } 
                    });
                });
            });
    });
</script>
    <div class="se-pre-con1"></div>
    <div class="navbar navbar-default navbar-static-top ActionFotter" id="CriteriaSetting" >
        <div class="col-sm-12">

                <div style="margin-top: 8px;">

                </div> 
                <div class="col-sm-6" style="padding-top:10px; padding-left:0px;">

                    {% from "print.html" import exportButtonLink %}
                    {{exportButtonLink()}}

                </div>
               
                <button  type="button"  class="btn btn-flat btn-labeled btn-success pull-right ActionFotter" id="Show" >
                <span class="btn-label icon fa fa-gear"></span> Custom </button>
        </div> 
    </div>
 
    <div class="col-sm-12" id="navberCriteria">
        <button type="button" id="Hide" class="close" style="padding-right:10px;">&times;</button>        
        <div class="clearfix">&nbsp;</div> 

        <form action="" method="GET" role="FORM" id="generate_schedule">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3">Disbursed Amount :</label>
                    <div class="col-sm-4">
                        <input type="Text" id="DisburseAmount" name="DisburseAmount" value="{{ParameterList.DisburseAmount}}" class="form-control" required="required">
                    </div>
                    <span class="col-sm-5"> Enter any number here </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Currency :</label>
                    <div class="col-sm-4">
                        <input type="text" id="Currency" name="Currency" value="{{ParameterList.Currency}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> Example: USD, KHR, THB </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Value Date :</label>
                    <div class="col-sm-4">
                        <input type="text" name="ValueDate" value="{{ParameterList.ValueDate}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> Example: 2015-03-20 </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Interest Rate :</label>
                    <div class="col-sm-4">
                        <input type="text" name="Rate" value="{{ParameterList.Rate}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> Enter Rate per year Ex : 1% per month = 12% per year</span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Frequency Type :</label>
                    <div class="col-sm-4">
                        <input type="number" name="FrequencyType" value="{{ParameterList.FrequencyType}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> 1= Monthly ; 2= Weekly </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Frequency :</label>
                    <div class="col-sm-4">
                        <input type="number" name="Frequency" value="{{ParameterList.Frequency}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> Example: 1 means every month, 3 every 3 months </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Term :</label>
                    <div class="col-sm-4">
                        <input type="number" name="Term" value="{{ParameterList.Term}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> Example: 1, 2,...12,..24 </span>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">InterestDay Basis :</label>
                    <div class="col-sm-4">
                        <input type="number" name="InterestDayBasis" value="{{ParameterList.InterestDayBasis}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> 1 = 360/360 2=365/360 3=365/365 </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Fwd/Bwd Key :</label>
                    <div class="col-sm-4">
                        <input type="number" name="FwdBwdKey" value="{{ParameterList.FwdBwdKey}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> 1 = Backward within month 2=Forward within month 3=Always backward 4=Always Forward </span>
                </div>  

                <div class="form-group">
                    <label class="col-sm-3">First Collection Date:</label>
                    <div class="col-sm-4">
                        <input type="text" name="FirstDate" value="{{ParameterList.FirstDate}}" class="form-control">
                    </div>
                    <span class="col-sm-5">You can define first collection as want. YYYY-MM-DD </span>
                </div>

            </div>

            <div class="col-sm-6">

                 <div class="form-group">
                    <label class="col-sm-3">Holiday Option :</label>
                    <div class="col-sm-4">
                        <input type="number" name="HolidayOption" value="{{ParameterList.HolidayOption}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> 1 = Sat + Sun + Holiday; 2=Sun + Holiday; 3=Holiday Only; 4= No Holiday
                    </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Base Date Key :</label>
                    <div class="col-sm-4">
                        <input type="number" name="BaseDateKey" value="{{ParameterList.BaseDateKey}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> 1 = Follow value date 2= Follow previous date; 3 = First Date </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Principal Frequency :</label>
                    <div class="col-sm-4">
                        <input type="number" name="FrequencyP" value="{{ParameterList.FrequencyP}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> How often the principal is collected, Example: 1,3,6... 
                    </span>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">Interest Frequency :</label>
                    <div class="col-sm-4">
                        <input type="number" name="FrequencyI" value="{{ParameterList.FrequencyI}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> How often the Interest is collected, Example: 1,3,6... 
                    </span>
                </div>

                
                <div class="form-group">
                    <label class="col-sm-3">Repayment Mode :</label>
                    <div class="col-sm-4">
                        <input type="number" name="RepaymentMode" value="{{ParameterList.RepaymentMode}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> 1=Declining ; 2= Annuity ; 3=Flat  4=IRR</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Payment Holiday:</label>
                    <div class="col-sm-4">
                        <input type="number" name="PaymentHoliday" value="{{ParameterList.PaymentHoliday}}" class="form-control">
                    </div>
                    <span class="col-sm-5">0= Off ;1=P Only ; 2= I Only ; 3=Both P+I;</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">#Of Holiday Installment:</label>
                    <div class="col-sm-4">
                        <input type="number" name="NumOfHolidayInstallment" value="{{ParameterList.NumOfHolidayInstallment}}" class="form-control">
                    </div>
                    <span class="col-sm-5"> Ex: 1, 2, 3</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Waive Interest</label>
                    <div class="col-sm-4">
                        <select id="WaiveInterest" class="form-control" name="WaiveInterest" >
                            <option value=""></option>
                            <option value="Y" >Yes</option>
                            <option value="N" >No</option>
                        </select>
                        <script type="text/javascript">
                            init.push(function () {
                                // Single select
                                
                                $("#WaiveInterest").select2({
                                    allowClear: true,
                                    placeholder: "Waive Interest"
                                });
                            });
                        </script>
                       
                    </div>
                    <span class="col-sm-5"></span>
                </div>

            </div>

            <div class="col-sm-12 form-group text-center">
                <input type="submit" id="Generate" value="Generate Schedule" class="btn btn-primary">
            </div>

        </form>
    </div>
    <!--  message  -->
    <div class="clearfix">&nbsp;</div>
    {% include 'msg_error.html' %}

    <h3 class="text-center">Schedule Testing </h3>
    {% if DisburseAmount > 0 %}
        <table id="mktlist" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                	{%for item in HeaderTable %}
                    <th>{{item}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                    
                {% if Schedule %}

                    {% for row in Schedule %}
                        <tr>
                            
                            <td>{{ row.InstallmentNo }}</td>
                            <td>{{ row.CollectionDate }}</td>
                            <td>{{ row.Principal }}</td>
                            <td>{{ row.Interest }}</td>
                            <td>{{ row.TotalAmount }}</td>
                            <td>{{ row.Balance }}</td>
                            <td>{{ row.NumberOfDay }}</td>
                            
                        </tr>
                    {% endfor %}
                        
                  
                {% endif %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block js %}
 {% from "print.html" import exportIncludeJS %}
    {{exportIncludeJS()}}
    <script src="{{ url_for('static',filename='javascripts/jquery.datatables.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#WaiveInterest").val('{{ParameterList.WaiveInterest}}');
            // $("form#generate_schedule").submit(function(){
            //     $(".se-pre-con1").show();
            //     // return false;
            // });
            function fn_fadeIn(){
                if ( self !== top ) {
                    // you're in an iframe
                    var $getParentEle = window.parent.$("#animated")
                }else{
                    // var $getParentEle = window.parent.$("#animated")
                    var $getParentEle = $(".se-pre-con1")
                    $getParentEle.addClass('se-pre-con');
                    $getParentEle.fadeOut("slow");
                     
                }
                 $getParentEle.fadeIn("slow");
               
            }
            $('#Generate').on("click",function(event){
                fn_fadeIn();
            });
            $('#mktlist').dataTable({
               "lengthMenu": [[25,50,100,200, -1], [25,50,100,200, "All"]],

            });
            {% from "print.html" import exportDataTable %}
            {{exportDataTable('#mktlist', "Schedule Testing")}}
            var Amount = $('#DisburseAmount').val();
            var Currency = $('#Currency').val();
            $.ajax({
                url: "/Morakot/toMktmoney",
                data:{Currency:Currency,Money:Amount},
                type: "GET",
                success: function(data){
                    $('#DisburseAmount').val(data['value']);
                } 
            });
            $( "#Hide").click(function() {
                $('#navberCriteria').hide( );
                $( "#Show").show();
            });
            $( "#Show").click(function() {
                $('#navberCriteria').show();
                $( "#Show").hide();
            });
            {%if urlRequest%}
                $( "#Show").show();
                $('#navberCriteria').hide( );
            {%else%}
                $( "#Show").hide();
            {%endif%}
           
           
        });
    </script>
{% endblock %}