{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/jquery.datatables.css') }}">
    <style>
        h3.header-3{
            color: #888 !important;
		    font-size: 16px;
		    font-weight: bold;
		    margin: 20px 0;
		    padding: 10px 18px 0;
        }

		.se-pre-con1 {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: #FFF url("{{ url_for('static',filename='images/loading.gif') }}") center no-repeat;
			opacity: 0.4;
			display: none;
		}

		.form-label{
			padding-top: 7px;
		}

    </style>
{% endblock %}

{% block content %}
	<div class="col-sm-12">
        {% for message in get_flashed_messages() %}
            
        	<div class="clearfix">&nbsp;</div>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            
        {% endfor %}
    </div>
{% endblock %}
